[2015-07-14 15:54] mcmire commented on #758
I'm a bit stumped on this, but what if you try this?

[code]

[2015-07-14 16:19] jc00ke commented on #758
1) I think there was an issue with my env (Nix package manager was in the way)
2) after fixing that and making sure to use a Ruby managed by `chruby` I'm still getting strange errors

`Ruby 2.2.2`

[code]

`Ruby 2.1.5`

[code]

After I did `BUNDLE_GEMFILE=/home/jesse/projects/shoulda-matchers/gemfiles/4.2.gemfile bundle install` and then `bundle exec appraisal 4.2 rspec spec/unit/shoulda/matchers/

[2015-07-14 17:33] sergiopantoja commented on #459
+1

Seems like the issue might be with [this method](https://github.com/thoughtbot/shoulda-matchers/blob/a3fb06c369c2b5e96831cb2c6c8532de8e2f0e62/lib/shoulda/matchers/active_record/validate_uniqueness_of_matcher.rb#L352-L359) and [this method](https://github.com/thoughtbot/shoulda-matchers/blob/a3fb06c369c2b5e96831cb2c6c8532de8e2f0e62/lib/shoulda/matchers/active_record/validate_uniqueness_of_match

[2015-07-14 19:25] mcmire commented on #757
This makes me think that I should probably add a way to get around a CouldNotSetAttributeError if it's ever raised, perhaps as another qualifier to `allow_value`, such as `and_allow_value_to_be_changed_to` or something like that.

[2015-07-14 19:48] mcmire opened #760 "Tighten CouldNotSetAttributeError restriction on allow_value, but provide a way to get around it"
Right now we restrict `allow_value` such that if you're trying to set the attribute to a non-nil value, but it ends up being nil, *or* you're trying to set the attribute to nil but it ends up being non-nil, then you'll get a `CouldNotSetAttributeError`. We need to tighten this restriction so that if the before and after values are *completely* different then you get this error. (I got just bitten

[2015-07-15 17:30] sergiopantoja commented on #459
#535 looks like the same problem.

[2015-07-15 18:47] mcmire commented on #459
That's a good point. I'll close this issue in favor of that one.

[2015-07-15 18:47] #459 closed

[2015-07-16 03:40] ramontayag commented on #742
Ok cool thanks. :) I'll leave this up to you to close.

[2015-07-16 21:01] bvicenzo commented on #745
Hello Guys, I'm having the same problem. And I beleive i've found the cause.
[Here](https://github.com/thoughtbot/shoulda-matchers/blob/master/lib/shoulda/matchers/active_record/validate_uniqueness_of_matcher.rb#L325), when there is no database register, it tries to create the first one. However it tries to do this with [validate = false](https://github.com/thoughtbot/shoulda-matchers/blob/master/

[2015-07-21 14:03] mhuggins opened #761 "BOOLEAN_ALLOWS_BOOLEAN_MESSAGE warning is invalid"
I have a custom `ActiveModel::Model` in which I'm validating true/false inclusion:

[code]

This results in the `BOOLEAN_ALLOWS_BOOLEAN_MESSAGE` warning being output during my tests run:

The problem with this is that the warning is only valid for ActiveRecord, Mongoid, or other ORMs that translate values to true or false.  If just using an ActiveModel or other bare-bones model, this is not true.

[2015-07-21 23:38] mcmire commented on #761
You're right, and I didn't think about that.

I'm not sure when I'll be able to get to this, but I'll leave it open until then.

[2015-07-21 23:49] mhuggins commented on #761
I don't mind finding the time to get a PR together as well, happy to help!
On Jul 21, 2015 5:38 PM, "Elliot Winkler" <notifications@github.com> wrote:

[2015-07-22 05:02] Dbz commented on #745
Thank you for posting. I actually found the same solution!

[code]

[2015-07-22 05:38] jwgoh commented on #384
[code]
The above works for me. Funnily enough it has been working for other developers.

[2015-07-22 17:15] mcmire commented on #745
I'm going to close this. This is a [known issue](http://matchers.shoulda.io/docs/v2.8.0/Shoulda/Matchers/ActiveRecord.html#validate_uniqueness_of-instance_method) with `validate_uniqueness_of` and there isn't really a way around this other than to manually create the record.

[2015-07-22 17:15] #745 closed

[2015-07-22 22:19] zzeniou86 commented on #297
subject { LineItem.new } should fix this.

[2015-07-22 22:26] mcmire commented on #297
The default subject is `described_class.new`, so that wouldn't fix this.

Checking for `quantity` to be nil inside of `total_price` would, though.

[2015-07-24 18:58] ybur-yug opened #763 "Uninitialized constant ActiveSupport::TestCase"
When configuring shoulda-matchers in a small project I have, I have been unable to get things running at all. I am pointing to `3.0.0.rc1`.

This is my configuration:

[code]

It is a typical rails project, and this is included in `spec/rails_helper.rb`.

When guard runs (or if I run manually its identical) my specs I get:

[code]
(broke the lines and shortened path for readability)

I know its a

[2015-07-24 19:56] mcmire commented on #763
This seems odd to me... is there anything special about your setup? It shouldn't be looking for ActiveSupport::TestCase, but it shouldn't be failing to find it, either...

[2015-07-25 04:08] ybur-yug commented on #763
This is a pretty boilerplate rails app. Was making it for a tutorial I'm doing at a beginners meetup. I since deleted the project and just required `2.8` in a new one and it worked fine.

Might not be worth keeping open? I can try to replicate and send you a repository if you think it is actionable, though.

:confounded:

[2015-07-25 17:49] ybur-yug commented on #763
@mcmire I have done some research on this and put together a sample repository. So this is the exact setup I have in each situation:
`rspec 3.3.0`

`rspec-rails 3.3.3`

`shoulda-matchers 3.3.0.rc1`

Specific to these tests. The tests can be found in `spec/models/list_spec.rb` and `spec/models/task_spec.rb`. They are very simple:

[code]
In this repository I have 2 commits. One with shoulda `3.3.0.

[2015-07-25 23:40] mcmire commented on #763
What does your `rails_helper` looks like?

[2015-07-25 23:41] mcmire commented on #763
You shouldn't be requiring shoulda-matchers in your spec_helper. The gem relies on Rails to have been loaded. That hasn't happened yet when spec_helper is loaded. You need to require and configure the gem in rails_helper instead.

[2015-07-26 00:47] ybur-yug commented on #763
Ah, got it. Thanks.

[2015-07-26 04:24] #763 closed

[2015-07-28 05:51] christianrolle commented on #606
Before the DelegateMethodMatcher API is enhanced with DelegateMethodMatcher#with_arity, I'd like to discuss, if the feature is actually reasonable. Do we really need to test the delegation targets method arity? In my opinion the class under testing concern should only test, if the method is delegated to the right target. The expected arity should have been tested there already.
There is no doubt t

[2015-07-28 17:16] mcmire commented on #606
@christianrolle So you're saying just test that `amount=` is called at all, regardless of how many arguments it was given?

So here's a question: if you were to write this test in RSpec, what would you say? Would you say this:

[code]

or would you say this (`with` added to the expectation):

[code]

I would probably use the latter form, because I want to check that 1.23 is being sent to `amount=`

[2015-07-28 19:35] debajit opened #764 "Shoulda matcher does not work with attr_reader"
I would like to test a validation done on an attribute of the following class:

[code]

Now my test is like this:

[code]

But this results in an error:

[code]

If I change the attr_reader to an attr_accessor, then the test passes.

How can I leave the attr_reader as it is, and still get the test with the Shoulda matcher to pass?

[2015-07-28 20:05] christianrolle commented on #606
I'm not sure, if testing `with_arguments` is even necessary.
In my opinion message delegation is not about the method definition, but that the message is delegated to a certain object.
That object should have its receiver tested (including its parameter expectation).
Otherwise we double test the parameter expectation: in the delegating object and in the target object.
Or am I missing a point? Is m

[2015-07-28 21:28] mcmire commented on #606
If you never tested that the delegating method passed the arguments correctly on to the delegate method, then this method would pass such a test:

[code]

It's like if you had two people -- a navigator and a pilot -- and the job of the navigator was to take instructions from the ground and pass on those instructions to the pilot. Well, if the navigator tells the pilot to *go*, but doesn't tell her

[2015-07-28 21:30] mcmire commented on #764
Think about how you'd write a test for `validate_presence_of`. Wouldn't you try to do something like this?

[code]

If `attribute` can't be set, then why put a validation on it?

[2015-07-29 05:43] christianrolle commented on #606
At first I have to point out that this specific issue request made me think more about the sense of testing arguments for delegating methods.
You are right. the method:
[code]
will pass such a test. But is that method really delegating?
I also want the navigator (in navigator/pilot example) to tell the pilot *where* (target object) to go. I just think it's probably worthless telling the pilot *how

[2015-07-29 13:43] alexbrahastoll opened #765 "validate_presence_of does not work in an internal object association in 2.8.0"
Hello,

I have been trying to use the `validate_presence_of` to check for the presence of an association in an internal object (to whom the wrapping object delegates the get and set messages), but I keep getting a `NoMethodError: undefined method 'each' for nil:NilClass` error.

Here is what I have:

[code]

[code]

[code]

And here is the stack trace:

[code]

I can get and set students in a Proj

[2015-07-29 18:24] JasonBarnabe opened #766 ""can't dup Symbol" in active_model/helpers.rb:8"
Ruby 2.0.0-p643, Rails 4.0.13, shoulda-matchers 2.8.0.

I have a model that does this:

[code]

In the spec for the model I do this:

[code]

This results in:

[code]

[2015-07-29 20:30] mcmire commented on #766
First of all, it's probably better to assign errors in a validation rather than overriding #errors.

Secondly, ActiveModel::Errors is basically a hash of attribute names to string messages; a value cannot be another instance of Errors. You probably want something more like this instead:

[code]

[2015-07-29 20:38] mcmire commented on #765
In short, `validate_presence_of` doesn't support associations just yet.

`validate_presence_of` works by setting the attribute in question to nil. I don't think that an association can be set to nil. It can be set to an empty array or cleared, but not to nil. So that's why you're getting that error.

[2015-07-29 20:44] mcmire commented on #606
Yeah, my point is that it would be possible to write a method that would pass the test even though its intent no longer matches the intent of the test itself. The behaviors *are* different -- that's exactly the point -- but the test would still pass regardless.

(Side note: Personally, I don't find these delegation matchers to be that useful, because if your delegation methods aren't working proba

[2015-07-29 20:47] mcmire commented on #606
Also, I'm going to close this since #718 is open, so we don't need this lying around anymore. (I guess I'll have to figure out what to do with that PR, though.)

[2015-07-29 20:47] #606 closed

[2015-07-29 22:04] maurogeorge commented on #765
@mcmire @alexbrahastoll  I think we can close this in favor of https://github.com/thoughtbot/shoulda-matchers/issues/535 makes sense to you?

[2015-07-29 23:00] maurogeorge commented on #765
Sorry guys, the #535 is about `validates_uniqueness_of` and not `validate_presence_of`.

I take a look on the code and `validate_presence_of` handle presence of associations as you can see [here](https://github.com/thoughtbot/shoulda-matchers/blob/a3fb06c369c2b5e96831cb2c6c8532de8e2f0e62/spec/unit/shoulda/matchers/active_model/validate_presence_of_matcher_spec.rb#L42-L53).

I send a PR to fix this

[2015-07-30 03:07] JasonBarnabe commented on #766
Well, this is some code written by someone else and seemingly works with the views and everything else, and only became a problem after upgrading shoulda-matchers. I figured the scenario was a little weird, but also the fix seems like it'd be simple - don't `dup` if it's a symbol. I leave it up to you if you care to handle this.

[2015-07-30 16:55] mcmire commented on #766
Okay... after taking another look at ActiveModel::Errors, it does look like it technically allows another Errors object to be embedded like this. So to properly fix this issue, our `pretty_error_messages` method (which is our helper method that spits out the full error messages for a record) needs to be recursive.

I'll keep this open.

[2015-07-30 16:56] mcmire commented on #766
In the meantime, you can use `allow_value`:

[code]

[2015-07-31 22:13] sungthecoder commented on #679
I also encountered the same error.
Answers to the questions:
1. Yes, I use Spring, but I get the undefined error even when I turned off Spring.
2. I didn't try all the matchers, but 'validate_presence_of' matcher works
3. Yes

Here's one interesting thing:
I have two applications using should-matchers.  Both uses 2.8.0, but in one application it works fine, but on the other, it fails with 'undefin

[2015-08-01 05:19] mcmire commented on #679
@sungthecoder shoulda-matchers doesn't support Mongoid, only ActiveModel/ActiveRecord. Matchers such as `validate_presence_of` won't even be included into RSpec example groups if you don't have that loaded.

[2015-08-01 05:21] mcmire commented on #679
I'm actually going to close this issue. I'm going to chalk this one up to autoloading magic. That's going away in 3.0 so I don't anticipate this being an issue anymore.

[2015-08-01 05:21] #679 closed

[2015-08-04 14:11] aried3r commented on #477
Sorry for bringing this up again, but I wasn't able to find this in the current release or RC, is there a different way to test `has_many :things, -> { uniq }` other than manually?

[2015-08-04 14:23] maurogeorge commented on #477
@aried3r take a look on the [conditions of the have_many](http://matchers.shoulda.io/docs/v2.8.0/Shoulda/Matchers/ActiveRecord.html#have_many-instance_method).

Could you try something like this:

[code]

[2015-08-04 17:11] mcmire commented on #477
Unfortunately right now, there's not a way to do this, no. `conditions` won't work because `uniq` isn't a part of the WHERE clause. You'd have to write a custom test in that case.

[2015-08-04 19:30] aried3r commented on #477
Ok, thank you!

On Tue, 4 Aug 2015 at 19:11 Elliot Winkler <notifications@github.com> wrote:

[2015-08-05 04:22] osiro commented on #636
@mcmire you're right, `expect(response).to set_flash(...)` seems to work, thanks!

[2015-08-06 09:10] mikz commented on #633
Or if you don't want old test-unit, you can use https://github.com/iGEL/test-unit-minitest that actually ports the test-unit / minitest wrapper from Ruby 2.1.

[2015-08-11 09:13] Angelmmiguel opened #768 "Does exist a way to test ActiveRecord stores?"
Hello all!

I see there are a matcher for `serialize` macro, butI want to test `store` macro from [ActiveRecord::Store](http://api.rubyonrails.org/classes/ActiveRecord/Store.html).

Have the gem a method to test it or it's a planned functionality?

Thanks you!

[2015-08-11 17:12] mcmire commented on #768
We don't plan on adding matchers for Store at this time.

What would you want to test? I personally feel like there wouldn't be that much to test. Perhaps the accessors, but I feel like you could do that easily manually if you really wanted to:

[code]

Even so, I feel like these tests are bordering on testing Rails, and are probably not necessary, unless there was something custom going on.

[2015-08-12 07:28] Angelmmiguel commented on #768
Yes, you are right, I test accessors as you said. But the thing I want to test is `coder`. Thanks for your response!

[2015-08-14 16:45] sfcgeorge opened #769 "validate_inclusion_of allows values outside of array in validation"
In model:

[code]

Correct desired test:

[code]

That much is fine. But if the array used in the test is changed to `[0, 1]` it still passes! However if using `in_range` then it works as expected.

Test variations:

[code]

[2015-08-14 17:22] alejandrogutierrez commented on #769
I think It is working as expected.
[code]

This passes because all array elements are valid for your validation.

[2015-08-14 17:25] sfcgeorge commented on #769
But now my validation is inadvertently allowing in junk values. The point of adding the test is to make sure I haven't made a mistake in the validation and it does exactly what it's supposed to isn't it?

[2015-08-14 17:30] alejandrogutierrez commented on #769
[code]

This make sure that your validation accepts either 1 or 2 values for your section attribute what it is ok.
I don't know why your validation is inadvertently allowing junk values. What do you mean?

[2015-08-14 17:47] rickarubio commented on #730
Closing issue as there is not much interest for the proposed matcher.

[2015-08-14 17:47] #730 closed

[2015-08-14 17:52] sfcgeorge commented on #769
`section` field is an integer and should only ever be allowed to contain the values `1`, `2` or `3`. But lets say I decide later to change section to only allow `0` or `1`—I update my test to `in_array([0, 1])` and forget to change my validation; but the test still passes!

Am I totally misunderstanding what `in_array` is for? Those are the only values I want to be valid, no more, no less.

[2015-08-14 18:48] alejandrogutierrez commented on #769
Yes, your test is passing because 1 and 2 are still valid. I think there is not an assert that compare the array in test and the array in validation are the same.

Maybe if values that you allow are continuos (range) you can use `in_range`. Be careful using `in_range` cause it validates that minimum and maximum values are valid and minimum - 1 and maximum + 1 are invalid. It does not test all rang

[2015-08-14 19:59] sfcgeorge commented on #769
Hmm I see why it does this and I'd understand if you decided it's expected behaviour. It just feels like a bug if your test can be different from your validation yet everything still passes.

I guess apps usually grow in size rather than shrink so the case of removing an item from an array validation is uncommon. But it could happen if refactoring into smaller models, for example.

I previously wa

[2015-08-16 13:57] AlexVPopov opened #770 "How to set the class name of the intermediate association in has_many through?"
I need something like this:
[code]

however I get:

How can I specify the class names for both classes?

[2015-08-16 19:17] mcmire commented on #770
@AlexVPopov Hey sorry for not getting back to you sooner.

What does the association look like in your model?

[2015-08-16 19:19] mcmire commented on #768
If the thing you want to test is the coder, and you have a custom coder, then I feel like you should test that on its own. If coder works as `store` expects it to work, then `store` should work too.

[2015-08-16 19:19] #768 closed

[2015-08-16 19:26] AlexVPopov commented on #770
Hey, no problem, it's Sunday, after all :smile: Thank you for getting back at all.

So that's the thing - the association is made through a macro. I am using [acts-as-taggable-on](https://github.com/mbleigh/acts-as-taggable-on). In my `Expense` model I have included the line:

    acts_as_ordered_taggable

This gives the following associations:
[code]

However, the model definitions of `Tag` and `

[2015-08-16 21:13] mcmire commented on #770
@AlexVPopov Gotcha. In my opinion, you shouldn't *have* to test model behavior acquired through a gem if that gem is already tested. I realize that you have to test somehow that these associations exist, but I would think that this would be covered by a higher-level test somewhere.

But if you really want to test that the associations exist, it looks like the failure message that your'e getting is

[2015-08-16 22:29] AlexVPopov commented on #770
Thanks a lot, this really helped me, now my tests pass. :+1: I must have misinterpreted what the `class_name` option stands for. I thought that when the name of a model class cannot be inferred from the association name, one must specify the class explicitly. So in my case the name of the `taggings` class is `ActsAsTaggableOn::Tagging`. However, the following passes:
[code]
Logically, this now als

[2015-08-16 22:29] #770 closed

[2015-08-18 08:40] AlexVPopov opened #771 "Permit fails for :update on 3.0.rc1"
Hello, my setup is `shoulda-matchers` 3.0 rc1 and `rspec-rails` 3.3.3. The following test fails for me:
[code]
with

Here are the relevant controller methods:
[code]

Two things:

* a similar spec for the `create` action passes
[code]
* through `puts` statements in `update` and `expense_params` I determined, that in the failing spec the `update` action never gets called.

Could this be a bug?

[2015-08-18 12:21] maurogeorge commented on #771
What is the verb you are using on your update action? This update action has a before filter like a authentication required that maybe will be doing a redirect before the matcher reaches the action?

I send a PR with the updated docs to the 3.0 rc1 as you can see [here](https://github.com/thoughtbot/shoulda-matchers/pull/731/files#diff-9f1dcc7f5f00eb2ddda8e5344714083aL140) we can pass a explicity

[2015-08-18 12:36] AlexVPopov commented on #771
I am not sure exactly which verb it uses, but at least the error message reports, that it uses `PATCH`. Howevet, even if I set the verb to `PUT` the problem persists. I am using devise, but I have set it up correctly to log in a user before all the tests and this is the only test that fails, so I doubt that it is because of an authentication/redirection issue.

[2015-08-18 17:36] mcmire commented on #771
@AlexVPopov It doesn't look like you're hitting the action for this test. There are contexts inside of the describe block for this action that do hit the action, but you have the test outside of those contexts.

[2015-08-19 06:08] AlexVPopov commented on #771
@mcmire I may be misinterpreting how the `permit` matcher works, but doesn't it make a separate call to `:update` on its own? I mean in this:
[code]
isnt' the part within `for` responsible for making the request? I shouldn't be needing to make a separate request before the test like so:
[code]
Anyways, I tried this exact describe block that I posted and now I hit the `:update` action (when I put `

[2015-08-19 16:47] mcmire commented on #771
@AlexVPopov You're right, sorry. I forgot that the `permit` matcher does actually hit the action in question.

What happens if you run the test on its own? I'm wondering now if perhaps there's an issue where previous tests involving `permit` affect future tests -- we've had that issue before.

[2015-08-19 16:56] AlexVPopov commented on #771
@mcmire <https://github.com/mcmire> The test fails also when I run it on
its own - take a look at the snippet I posted. In this describe block it is
the only test and I run only the describe block without the other tests.

On Wednesday, August 19, 2015, Elliot Winkler <notifications@github.com>
wrote:

[2015-08-19 17:27] mcmire commented on #771
Lol okay, sorry. I'll take a closer look at your repo when I get a chance and see if I can track this down.

[2015-08-19 18:01] AlexVPopov commented on #771
Super, thanks a lot :)

On Wednesday, August 19, 2015, Elliot Winkler <notifications@github.com>
wrote:

[2015-08-28 07:51] jfragoulis opened #774 "Testing #has_many with multiple #order"
I have the following association:

[code]

I broke the order clauses into one for each column and consequently I also updated the spec into what I would expect to be the right way:

[code]

The above fails with the following message:

[code]

[2015-08-28 17:08] mcmire commented on #774
@jfragoulis This is one of those cases where I would honestly write a "real" test for this. That said, I suppose you're right that this should work. Actually, I just took another look at the association matchers and it appears that none of them support using a qualifier more than once, anyway -- if you repeat a qualifier, it `or`s the qualifiers together instead of overriding the previous usage of

[2015-08-28 18:17] fabn opened #775 "Feature request: allow_format matcher for controllers"
I've a lot of actions which uses `respond_to/respond_with` and every time I need to spec it in controller specs I have to do something like this:

[code]

I was looking to write a custom matcher for this behavior when I found out that current `permit` matcher can be adapted to handle this. Here's a quick and dirty matcher based on latest stable to implement that:

[code]

Would this be useful in s

[2015-08-28 22:21] mcmire commented on #775
As to a question of whether this would be necessary, I personally haven't found that testing that a controller only accepts certain formats and rejects other ones is necessary. Are you thinking that you'd want this from a security perspective?

As to the matcher you've made, the issue with that is that it's different from the manual test that you have at the top of your comment, although I underst

[2015-08-29 10:02] fabn commented on #775
As you probably know rails routes and controllers by default accept all formats so when you have any routes like this `resource :posts` you can access `posts/1`, `posts/1.json` and so on. Then if you use implicit render only and go live in the wild web you'll start to get lot of `ActionView::MissingTemplate` in your error reporting service caused by bots and other strange code that will access you

[2015-09-04 11:21] JuanitoFatas opened #776 "validate_uniqueness_of matcher failed for integer"
Hello!

I have a model,

[code]

In `spec/models/user_spec`:

[code]

This test failed because from [active_record/validate_uniqueness_of_matcher.rb#L298-L300](https://github.com/thoughtbot/shoulda-matchers/blob/v2.8.0/lib/shoulda/matchers/active_record/validate_uniqueness_of_matcher.rb#L298-L300):

[code]

it is calling `strip` on the integer, and integer does not have `strip` method:

[code]

Sh

[2015-09-08 16:29] mcmire commented on #776
Yeah, I think that definitely makes sense.

[2015-09-09 02:22] dwilkie opened #778 "Uniqueness matcher doesn't work when using `strict` on other attributes"
E.g.

[code]

[code]

The following fails because inside shoulda matchers `subject.class.new` is called. In this case `uuid` will be blank and the strict validation causes an error to be raised.

[2015-09-09 04:00] mcmire commented on #734
Hi @innhyu,

Sorry this is so late -- I must have completely missed this.

You might have already figured this out, but your `before_validation` callback needs to take into account the possibility that `name` could be nil (as this is a real possibility, both when using matchers in tests and in real life). So, you'd probably want something like:

[code]

Hope that helps!

[2015-09-09 04:00] #734 closed

[2015-09-09 04:10] mcmire commented on #778
Ah... this is interesting. This is generally not a problem without the use of `strict` because even if the `subject` is invalid all we care about is whether `email` is valid. With `strict` in place, `subject` must be valid.

I guess a naive solution to this would be to find an existing Account, duplicate it, and then attempt to validate it using the same value for email (asserting that it raises a

[2015-09-09 04:18] dwilkie commented on #778
Yeh I haven't tried yet, but if replacing `subject.class.new` with `subject.clone` on line https://github.com/thoughtbot/shoulda-matchers/blob/master/lib/shoulda/matchers/active_record/validate_uniqueness_of_matcher.rb#L258 solves the problem, and doesn't cause any tests to fail maybe that's the way to go

[2015-09-09 13:15] samstickland opened #779 "Monkey patch to allow use of validation_scopes"
Hi,

We use https://github.com/gtd/validation_scopes quite heavily and it would be useful to be able to use these matchers on the validation scopes it generates.

I initially thought that it might require quite some work, but I eventually settled on this which seems to do the job:

[code]

Here's an example. Say we want to test the validation in this ActiveRecord object

[code]

The test case woul

[2015-09-14 15:24] jordanmaguire commented on #649
Updated one of my company's old projects version of shoulda and ran into this issue. Since it took a couple seconds of thought to work out what was going on here - the error being reported is because the `set_flash` matcher is expecting the `subject` to have a `#flash` method implemented.

The solution is to test the controller object directly. In RSpec:

[code]

[2015-09-14 15:33] mecampbellsoup commented on #649
@jordanmaguire Can you just make assertions on the `response` object or na?

[2015-09-15 03:58] jordanmaguire commented on #649
@mecampbellsoup Nope:

[code]

[2015-09-15 05:32] kriskhaira commented on #384
Adding `require: false` to the Gemfile declaration and `require 'shoulda/matchers` to rails_helper.rb worked for me. I'm on shoulda-matchers 2.8.0, Rails 4.2.1, Ruby 2.1.2.

[2015-09-15 13:32] AlexVPopov opened #780 "When having named root routes redirect_to does not work"
I have different root paths for logged in and not logged in users:
[code]

Since I added these routes, the following test started failing:
[code]
with:
[code]
Why does it expect `http://test.host/` and not `http://test.host/expenses`?

P.S. I also have a problem with this test:
[code]
which fails with:
[code]
So again - why does the method `route` lead to '/'?

[2015-09-15 13:48] mecampbellsoup commented on #649
Cool, thanks @jordanmaguire :+1:

[2015-09-15 17:41] mcmire commented on #780
So first a little context here: the `route` matcher is actually a combination of `assert_generates` and `assert_recognizes`, which come included in Rails. `assert_generates` takes a method and path and asserts that the routing layer knows how to determine the correct controller and action. `assert_recognizes` goes the other way and asserts that the routing layer knows which method and path is asso

[2015-09-15 17:41] #780 closed

[2015-09-15 17:55] AlexVPopov commented on #780
Wow, thank you a lot Elliot, thank you for taking the time and explaining
that to me. I was suspecting it was something like that, but couldn't
understand the exact mechanism, which you described so well. You also
provided solutios, which is also very kind of you.
:)
On Tuesday, September 15, 2015, Elliot Winkler <notifications@github.com>
wrote:

[2015-09-18 00:17] mcmire commented on #780
Awesome, glad I could help!

[2015-09-22 15:48] mcmire commented on #779
Sorry for the late reply on this. While generally I feel like overriding core ActiveRecord methods, I don't see this as particularly egregious, since this is only relegated to the tests, and only done on demand.

Ideally, the matchers would expose some kind of option that would let you override the strategy for validating records and checking whether they're valid, but this would require some refa

[2015-09-22 15:50] mcmire commented on #764
I'm closing this issue since there hasn't been a response in a while but feel free to continue the discussion if need be.

[2015-09-22 15:51] mcmire commented on #758
Hi @jc00ke, did you ever have any luck with this?

[2015-09-22 16:08] mcmire commented on #753
@adilsoncarvalho Sorry, but I don't think this is something we're interested in adding to shoulda-matchers. If you'd like to create your own gem and release it yourself, we're all for that, but I don't think this is something that we'd personally use at thoughtbot. If it were me I'd probably make a matcher that would run the validation. Why? Well, that's the philosophy we follow for Rails' built-i

[2015-09-22 16:08] #753 closed

[2015-09-22 17:04] mcmire commented on #750
Closing this in favor of #755.

[2015-09-22 17:04] #750 closed

[2015-09-22 17:05] mcmire commented on #743
Closing this in favor of #762.

[2015-09-22 17:05] #743 closed

[2015-09-22 17:47] mcmire commented on #765
Closing this in favor of #767.

[2015-09-22 17:47] #765 closed

[2015-09-22 17:49] mcmire commented on #776
Closing this issue in favor of #781.

[2015-09-22 17:49] #776 closed

[2015-09-22 17:54] mcmire commented on #728
Closing this issue in favor of #732.

[2015-09-22 17:54] #728 closed

[2015-09-22 20:43] mcmire commented on #721
Closing this in favor of #722.

[2015-09-22 20:43] #721 closed

[2015-09-23 22:45] mcmire commented on #779
So I don't think this is something we can change in shoulda-matchers, but using that monkey patch in your own tests seems reasonable to me.

[2015-09-23 22:45] #779 closed

[2015-09-24 05:46] mcmire commented on #729
Closing since #731 addressed this.

[2015-09-24 05:46] #729 closed

[2015-09-24 09:29] samstickland commented on #779
OK cool :)

I can make this into a wiki page if you like?

2015-09-23 23:45 GMT+01:00 Elliot Winkler <notifications@github.com>:

[2015-09-24 14:31] mcmire commented on #779
@samstickland Sure! I just created a wiki and added a section to the home page. Create a new page that mentions this and then add it to the home page.

[2015-09-24 17:50] samstickland commented on #779
Done!

2015-09-24 15:31 GMT+01:00 Elliot Winkler <notifications@github.com>:

[2015-09-25 23:56] mcmire commented on #742
Okay, matchers are now only mixed into certain example groups, so if you have an example group that isn't in spec/models or spec/controllers and isn't tagged, then you are free to bring in whichever other matchers you like.

(af98a23091551fb40aded5a8d4f9e5be926f53a9, 8cf449b4ca37d0d7446d2cabbfa5a1582358256d)

[2015-09-25 23:56] #742 closed

[2015-09-27 21:01] mcmire commented on #760
This is now done in 9d9dc4e6b9cf2c19df66a1b4ba432ad8d3e5dded.

The qualifier we're adding is called `ignoring_interference_by_writer`:

[code]

[2015-09-27 21:01] #760 closed

[2015-09-28 00:45] saghaulor commented on #559
It's odd that this is acknowledged as a thing to do, and this issue was closed. Are there any recommended work arounds?

[2015-09-28 05:15] mcmire commented on #559
We prefer to close issues for feature requests if it's something that we know we won't get to soon. We don't want to clutter up the issues list with long-standing issues -- we already have plenty of issues open for bugs already. If it's something someone is interested in we are glad to take a PR. Regardless, we have a note of it internally, so it's recorded somewhere at least.

As for a workaround

[2015-09-29 16:31] mcmire commented on #771
@AlexVPopov So it turns out that using the permit matcher along with the `on` qualifier didn't actually work, and wasn't being properly tested. This should now be fixed in 0d43835b615f379f069c7d2c2264a80332510778. Can you bump your project to use shoulda-matchers master and try running your test again?

[2015-09-29 17:15] jc00ke commented on #758
Looks like it works on `master` now. Not sure what changed, but glad to see it's "fixed".

[2015-09-29 17:15] #758 closed

[2015-09-29 17:19] mcmire commented on #758
Okay... strange!

[2015-09-30 04:53] mcmire commented on #757
@jc00ke This should now be fixed in 4b941254fb32840eaabaec68d41e939fe26fce04. Would you mind switching your project to use shoulda-matchers master and let me know if that fixes your test?

[2015-09-30 14:55] rickyc commented on #771
Updated to the latest and previously failed permit specs work for me now :+1:

[2015-09-30 16:26] jc00ke commented on #757
Nice work @mcmire, it works!

[2015-09-30 16:26] #757 closed

[2015-09-30 17:48] mcmire commented on #771
Awesome, glad to hear!

[2015-09-30 17:48] #771 closed

[2015-09-30 19:22] #726 closed

[2015-09-30 19:22] mcmire commented on #726
Done.

[2015-10-01 21:37] jasnow opened #783 "spec involving validate_inclusion_of fails after upgrading to shoulda-matchers 3.0"
* Given you start with my https://github.com/jasnow/24pullrequests repo
 * And you run "rake" before changes and you see all pass
 * Then you upgrade to "3.0" by removing this string **", '2.8.0' # 3.0.0 BREAK TEST RUN"** from my Gemfile
 * And you rebuild Gemfile.lock file using "bundle"
 * And you add a few (6) lines to spec/rails_helper.rb file
 * And run "unset GITHUB_KEY ; rake"
 * Travis Log

[2015-10-01 21:47] jasnow commented on #783
Travis log: https://travis-ci.org/jasnow/24pullrequests/builds/83204027

[2015-10-01 22:41] mcmire commented on #579
I'm going to close this in favor of the PRs listed above ^

[2015-10-01 22:41] #579 closed

[2015-10-01 22:45] mcmire commented on #783
* The failure involving `validate_inclusion_of` looks like a legitimate bug, can you file an issue?
* The failure involving `validate_uniqueness_of` is due to the fact that the uniqueness matcher didn't properly default to case-sensitive. See 57a19228b6a85f12ba7a79a26dae5869c1499c6d.

[2015-10-01 23:37] greysteil commented on #783
If the first of those spec failures is a bug then it looks like it's affecting other matchers, too. We're seeing all of our `validate_numericality_of` spec fail because Rails casts string like `"abcd"` to `0.0` for numeric fields, and `ValidateNumericalityOfMatcher` delegates to `DisallowValueMatcher`, which in turn delegates to `AllowValueMatcher`. :cry:

[2015-10-02 14:47] firedev commented on #783
Same here but in another way added both to `rails_helper.rb`:
[code]
and
[code]
Yet passing test fails now:

[code]

[2015-10-02 17:42] mcmire commented on #783
@firedev You're missing this line within the configuration block:

[code]

Also technically you no longer need the `require 'shoulda/matchers'` line.

[2015-10-02 17:47] mcmire commented on #783
@greysteil Do you need to add a numericality validation for a numeric attribute, though? If the attribute is always typecast to a number, then it will never be a string, so the validation will never fail. Right?

[2015-10-02 17:51] oniofchaos opened #784 "validate_numericality_of matcher trying to set a string value in 3.0"
I'm trying to upgrade to version 3.0 and am running into this issue in one of my model specs. The `validate_numericality_of` matcher is trying to set a float field to a string, and erroring it out when that doesn't work. I would think that it would be expected for that assignment to fail. :confused:

[code]

[2015-10-02 18:09] greysteil commented on #783
@mcmire - I do if I want to use `validate_numericality_of(:amount).is_greater_than(0)` etc.

[2015-10-02 18:43] chrisjoywebb commented on #784
We're receiving the same error.

[2015-10-02 19:45] mcmire commented on #783
@greysteil Gotcha, that's a good point. I'll think about a good solution for this.

[2015-10-02 20:05] baburdick opened #785 "Association matchers broken in 3.0.0"
Downgrading to 2.8.0 fixes these:
[code]
[code]
[code]

[2015-10-02 20:19] chrisjoywebb commented on #785
Try adding the configuration setup [here](https://github.com/thoughtbot/shoulda-matchers#configuration). It fixed most of our tests, although some are still having issues.

[2015-10-02 20:50] baburdick commented on #785
Thanks @chrisjoywebb! That fixed it.

[2015-10-02 20:58] maurogeorge commented on #785
@baburdick could you please close this issue, if this is fixed. Thanks :heart:

[2015-10-02 21:00] brunoocasali commented on #784
:+1:

[2015-10-02 21:09] mcmire commented on #784
This was a conscious decision to ensure that people are writing tests that are true.

`validate_numericality_of` makes the assumption that if your attribute is set to a non-numeric value, then it will cause your model to be invalid. But this isn't actually happening: since your column is numeric itself, it will typecast any value to a numeric (in this case a float). So your validation won't ever f

[2015-10-02 21:10] baburdick commented on #785
@maurogeorge: Absolutely.

[2015-10-02 21:10] #785 closed

[2015-10-02 21:12] maurogeorge commented on #785
Thanks :smile:

[2015-10-02 21:39] oniofchaos commented on #784
Yes, that makes sense now that you've explained it. Thanks! Definitely agree on seeing an improved message :+1:

[2015-10-02 21:47] sunderwood commented on #784
I use `validate_numericality_of` to validate that the number is within a certain range of values (given that I know the field is numeric).  Using `validate_numericality_of` provides better default error messages and options than `validate_inclusion_of`.

I can understand the desire to ensure that people are not adding superfluous validations to the model. Your test, and error are fine if someone d

[2015-10-03 03:37] cofiem commented on #784
I understand and appreciate the rationale behind setting a numerical field to a string as a test. Similar to what @sunderwood says, I can not work out how to get Rails' built-in  `numericality` validation to actually pass the `validate_numericality_of` test.

For example, I would expect this test to pass, but it does not:

[code]

Can you clarify how this is intended to work? Should the `validate_

[2015-10-03 04:59] celsoMartins opened #786 "Getting CouldNotSetAttributeError to validate_uniqueness_of for postgres in 3.0"
I searched in issues and noticed that a recent commit could solve it. But no lucky here. I have a special set method to configure the name as we want. I still getting the following error:

**Error:**
![image](https://cloud.githubusercontent.com/assets/214322/10261507/ee63848a-6971-11e5-85eb-d75524eed43f.png)

**set on the model:**
![image](https://cloud.githubusercontent.com/assets/214322/10261510

[2015-10-03 13:02] jasnow commented on #786
Try "is_expected.to validate_uniqueness_of(:name).case_insensitive" in the spec.

[2015-10-03 13:31] AlexVPopov commented on #771
@mcmire sorry for responding so late. I can confirm, that the test now works. Thanks a lot! :+1:

[2015-10-03 15:36] jasnow commented on #783
**Note that Gift.giftable_dates is expanded, but not :date** given the input is
[code]
you get this:
[code]

[2015-10-03 15:48] celsoMartins commented on #786
No lucky.

![image](https://cloud.githubusercontent.com/assets/214322/10263649/2ac6feca-69cc-11e5-8a19-420722cbe676.png)

![image](https://cloud.githubusercontent.com/assets/214322/10263652/3d0cd226-69cc-11e5-9582-b7ee9500691d.png)

BTW, I'm also getting errors on validate_numericality_of.

![image](https://cloud.githubusercontent.com/assets/214322/10263676/00c83be2-69cd-11e5-99e2-c6325d2b1d31.png

[2015-10-03 18:45] jasnow commented on #786
Try "capitalize" method as in your model. The BTW example problem is documented in #784

[2015-10-03 18:48] jasnow commented on #783
FYI: This spec broke between release 2.8.0 and release 3.0.0.rc1.

[2015-10-03 19:03] celsoMartins commented on #786
Like this?

```it { is_expected.to validate_uniqueness_of(:nome).capitalize }```

It even was recognized.

![image](https://cloud.githubusercontent.com/assets/214322/10264626/0b3e0d3e-69e8-11e5-8703-96e55e8e8aae.png)

And I understood correctly the other issue? I need to get rid of my spec? With shoulda I cannot test validate_numericality_of anymore? Really? If it is true, I do prefer still with 2

[2015-10-03 19:32] celsoMartins commented on #784
I'm getting this error too.

And so, if I understood well, I'll need to get rid of shoulda and I need to use pure rspec to test two words (greather_than) on my model.

My new specs:

[code]

instead of

```it { expect(workforce).to validate_numericality_of(:amount_centavos).is_greater_than(0) }```

Am I right? If it is correct, I choose to keep the 2.8 version until we have an option or shoulda re

[2015-10-03 20:29] jasnow commented on #786
Let me regroup.

Is your code public? If so, I will prove it privately before any more "TRY" statements.

[2015-10-03 20:33] celsoMartins commented on #786
Unfortunately not. =(

But I can share some pieces in code format. But we have some sensitive informations on our repo.

And you can simulate it easily.

[code]

The spec with our last try.

[code]

Thanks

[2015-10-03 20:47] jasnow commented on #786
Probably need more model and migration code associated with **nome*.
I added the above two code pieces into existing app and got:
[code]

[2015-10-03 20:58] celsoMartins commented on #786
Thanks for the prompt attention.

I'll show the migration related to "nome". Sry for the pt-br in code. We started with pt-br in 2013, but now we are migrating to en.

[code]

On model, we have:

[code]

I think that now you have all relevant informations.

Thanks.

[2015-10-03 21:39] mcmire commented on #784
Yes, the bug where the numericality matcher raises an error when using comparison qualifiers (`greater_than`, `less_than`, etc.) is a known issue (raised in another issue recently) and I'll put out a fix for that soon. I'd stay at 2.8.0 until that's fixed.

[2015-10-03 22:26] jasnow commented on #786
Not the solution but hint so far.

Found out that if I comment out "..try(:squish).try(:mb_chars).try(:capitalize).try(:to_s)" in app/models file then my spec is green else I get this:
[code]

[2015-10-03 22:47] celsoMartins commented on #786
Yes... it is exactly my problem.

I'll not comment this line and spread out this logic in all files that is important, because shoulda can not deal with setters anymore. =S

My hint now: In 2.8 everything works fine.

Have you tried (maybe with some specs) to define a setter (whatever what it does) and check the behaviour?

Thanks.

[2015-10-03 22:48] celsoMartins commented on #784
thanks.

[2015-10-03 23:13] jasnow commented on #786
Just a FYI. If you set shoulda-matchers to release 3.0.0.rc1, you get a different error:
[code]

No

[2015-10-04 00:11] tovodeverett commented on #786
I'm running into similar failures after converting from 2.8.0 to 3.0.0.  I'm using https://github.com/mdeering/attribute_normalizer extensively, and it seems that the use of automatic case normalization on the setters confuses `shoulda-matchers` in the new version because it first verifies that it can successfully set the value, but when you change the value it throws an error.

I just found that

[2015-10-04 00:32] tovodeverett commented on #786
I'm trying to work my way through the Shoulda-Matchers code to figure out how to get `ignoring_interference_by_writer` working with `validate_uniqueness_of`.

[2015-10-04 00:39] celsoMartins commented on #786
@jasnow crazy things. =S

@tovodeverett I've tried it since 10pm to 3am, last night. But unsuccessfully. Please let me know if you have a better luck.

Thanks

[2015-10-04 00:49] tovodeverett commented on #786
Here's my monkey patch for 3.0.0 - stick this in `spec_helper.rb` until the powers that be implement it (or something similar).

[code]

This allows any matcher based on `ActiveModel::ValidationMatcher` to take advantage of `ignoring_interference_by_writer`.  That means you can now stick that on the end of your `validate_uniqueness_of` call and be in business.

[2015-10-04 01:05] tovodeverett opened #787 "Case-sensitive uniqueness validation fails if default value lacks alpha characters"
I've run into a fairly unique situation, but I thought I'd bring it up in case someone wants to defend against it.

If your factory for generating objects uses a string that does not have change with `swapcase` (i.e. something like `'%-1-%'`), and you're doing a `validate_uniqueness_of` test without specifying `case_insensitive`, then you will get a rather confusing error message.

Perhaps it migh

[2015-10-04 11:03] badaiaqrandista opened #788 "named routes are not available when using with Minitest"
Hi,

Thanks for the gem. I hope you guys can help me with this issue.

I'm using Rails 4.2.4. I can't use named routes when using shoulda matchers in my test. But if I convert the test to the normal Minitest syntax, the named route is available.

Route:

[code]

Controller:

[code]

Test:

[code]

When I executed the test:

[code]

Gemfile.lock:

[code]

[2015-10-04 16:31] tovodeverett opened #790 "Possible documentation error in NEWS.md"
In [NEWS.md#L153-L155](https://github.com/thoughtbot/shoulda-matchers/blame/master/NEWS.md#L153-L155), it reads "`validate_uniqueness_of` is now properly case-insensitive by default . . ."  I'm confused by this line - as far as I can tell, the new behavior is to be case-sensitive by default, and one must call `case_insensitive` to get case-insensitive behavior.  Am I confused or is this a mistake

[2015-10-04 20:05] mcmire commented on #790
Yup, you're right, that should have read "case-sensitive by default". This is now fixed.

[2015-10-04 20:05] #790 closed

[2015-10-04 20:25] mcmire commented on #788
You don't have a route with a name of `new_account_session`, shouldn't you add that first?

[2015-10-04 20:47] mcmire commented on #786
Hey @celsoMartins. Sorry that 3.0 has been a little painful for you.

Basically, the matcher is attempting to set "a" on the attribute you're testing, but you're intercepting this in the model and converting that "a" to "A", and so the matcher is confused and isn't smart enough to know that's what should be happening. This is part of an overall change to the `allow_value` matcher and I'm afraid th

[2015-10-04 21:35] mcmire commented on #786
Actually, I just read @jasnow's comment about how you'd get a different failure message under 3.0.0.rc1 (and, thus, 3.0.0) even if you used `ignoring_interference_by_writer`. I believe you'd get that because of [this change](https://github.com/thoughtbot/shoulda-matchers/commit/57a19228b6a85f12ba7a79a26dae5869c1499c6d) to `validate_uniqueness_of`.

But I think this raises a larger point. Since you

[2015-10-04 21:53] mcmire commented on #787
Moving discussion to #789.

[2015-10-04 21:53] #787 closed

[2015-10-04 22:05] badaiaqrandista commented on #788
Ah sorry, that route is created by devise. But the same error came up with ```admin_root``` route:
[code]

[2015-10-04 22:41] mcmire commented on #788
Oh... gotcha.

FYI, this is related to `shoulda-context` and not `shoulda-matchers`. But the problem is that route helpers are available on the instance level, and when you're using `should some_matcher` you're on the class level.

`redirect_to` [happens to take a block form](http://matchers.shoulda.io/docs/v3.0.0/Shoulda/Matchers/ActionController.html#redirect_to-instance_method) for cases like t

[2015-10-04 22:56] mcmire commented on #783
The issue with `validate_inclusion_of` is now fixed in 8fa97b4ff33b57ce16dfb96be1ec892502f2aa9e.

[2015-10-05 06:54] badaiaqrandista commented on #788
Ah thank you...

I tried ```should redirect_to { new_account_session_path }``` but I got this error:
[code]

I had to change it to ```should redirect_to(nil) { new_account_session_path }``` to make the test succeed.

[2015-10-05 07:25] zerocool4u2 commented on #784
the problem it's actually not a cast, for example i did this on the console for an attribute that must be greater than 0
2.2.0 :001 > Item.new
 => #<Item id: nil, pickup_id: nil, rut: nil, messure: nil, weight: nil, lat: nil, lon: nil, created_at: nil, updated_at: nil>
2.2.0 :002 > a = Item.new
 => #<Item id: nil, pickup_id: nil, rut: nil, messure: nil, weight: nil, lat: nil, lon: nil, created_at:

[2015-10-05 09:52] karimmortabit opened #791 "Shoulda matchers 3.0 not required in rspec with ruby 2.2.3"
Upgrading to ruby 2.2.3 also upgraded to shoulda-matchers 3.0.0. My tests then couldn't use shoulda-matchers helpers / methods. Seems like I can't require 'shoulda-matchers' anymore. Downgraded to 2.8.0 and now it works.

My `Gemfile.lock` :
[code]

[2015-10-05 13:06] jasnow commented on #783
THANKS.

When is your plan to release this to rubygem.org?

[2015-10-05 13:10] jasnow commented on #783
Verified that 8fa97b4 does fix my issue when I use the edge version of shoulda-matchers gem.

[2015-10-05 16:33] mcmire commented on #783
Cool, thanks for confirming.

I plan on releasing a 3.0.1 version after fixing the issue with the uniqueness matcher which is happening in #789. There may be other issues that arise while that PR is ongoing so if that happens I'll include fixes for those too.

[2015-10-05 16:47] mcmire commented on #791
The instructions to set up shoulda-matchers changed in 3.0.0. [Here's](https://github.com/thoughtbot/shoulda-matchers#rspec) the new instructions. This change was also detailed in the [NEWS](https://github.com/thoughtbot/shoulda-matchers/blob/master/NEWS.md#backward-incompatible-changes) file, and in our [blog post](https://robots.thoughtbot.com/shoulda-matchers-3-0) a while back.

If I may offer

[2015-10-05 16:47] #791 closed

[2015-10-05 16:53] mcmire commented on #788
Hmm... I took another look at `redirect_to` and it looks like that argument is meant to be the human-readable representation of the route so that when your test is printed out as they are being run it looks correct. So I think you'd want to say:

[code]

or whatever the URL for that route would be.

This is a documentation bug so I'll leave this issue open.

[2015-10-07 13:45] QuotableWater7 commented on #784
:+1:

[2015-10-07 15:39] arronmabrey commented on #784
I ran into this issue as well, but before looking for it in github issues I made a small focused reproduction script. I figure I will add it here if it helps anyone.

[code]

Running the above script fails with:
[code]

[2015-10-07 16:00] mcmire commented on #784
Yup, I'm working on this :)

[2015-10-07 16:08] arronmabrey commented on #784
@mcmire thanks so much :tada: :balloon:

[2015-10-07 18:18] CharlesJQuarra commented on #684
"instead of both development and test. It works after its added to both groups."

why should a rspec matcher be added to development group? that doesn't make any sense, it should be test only. Also I'm having this issue with rails 4.2.0 and adding to both groups does NOT solve it

[2015-10-07 18:27] CharlesJQuarra opened #795 "Undefined method respond_with for namespaced controller spec"
I have a namespaced controller for an Api, and when i use the should `respond_with` matcher in the spec for the same , i get the message undefined method `respond_with` for `#<RSpec::ExampleGroups::ApiV1UsersController::GETShow:0x007fd30e4a5c20>`

The spec i have is as follows :

[code]

I have added the rspec-rails gem before the shoulda-matchers gem in my Gemfile. Also, my users controller is lo

[2015-10-07 18:57] betesh commented on #763
I'm using shoulda-matchers outside of Rails, in a standalone ActiveRecord environment.  I need to configure the test environment before loading my application code.  Here's what worked for me:

    require "shoulda-matchers"
    Shoulda::Matchers.configure do |config|
      config.integrate do |with|
        with.test_framework :rspec

       # This require statement solves the LoadError
        r

[2015-10-07 18:57] mcmire commented on #795
@CharlesJQuarra Which version are you using?

[2015-10-07 19:00] mcmire commented on #763
Yup! shoulda-matchers makes the assumption you've already required ActiveRecord. It doesn't make that require on its own anymore.

That would be a good error message to have.

[2015-10-07 19:01] mcmire opened #796 "Raise an error if requested libraries are not available"
This is in reference to #763.

If you're configuring shoulda-matchers and have specified a library, and that library is not available, then the gem should raise a helpful error message asking you to require the library first.

[2015-10-08 01:16] baburdick opened #797 "validate_presence_of broken in 3.0.0"
Downgrading to 2.8.0 fixes this:
[code]
I have the recommended configuration in `spec/spec_helper.rb`:
[code]

[2015-10-08 02:48] ajohns13 commented on #684
I'm having the same error with rails 4.2.4 as well

[2015-10-08 03:34] mcmire commented on #797
In 3.0, matchers are now mixed into specific example groups tagged with `:model`, `:controller`, or `:routing`. If your example group isn't tagged with this or isn't in any of the standard locations, then you'll need to mix a module into your example group, in this case the Shoulda::Matchers::ActiveModel module.

[2015-10-09 05:37] #784 closed

[2015-10-09 05:38] mcmire commented on #784
This is fixed in 18b2859d2522a4866c398b9a32ebc3de4ec79389.

[2015-10-09 05:47] mcmire commented on #783
I'll close this since all of the issues mentioned in this issue are fixed on master.

[2015-10-09 05:47] #783 closed

[2015-10-09 06:07] mcmire commented on #786
@tovodeverett Can you open a new issue with some of the matchers that failed for you?

[2015-10-09 06:16] itsmechlark commented on #682
It is a bug in shoulda-matchers, since it assign an id not in the database. If not, what causes this error?

[code]

[2015-10-09 07:44] zerocool4u2 commented on #784
Hi, really appreciate your work, I'm having a couple of troubles like this, specifically with decimals attributes an integers, with decimals I'm getting "abcd" type casted to BigDecimals in any type of range limit and with the integer typecast floats to integers(0.1 to 0) when check only_integer, i get the message for submitting an issue, but it's looks like that is the same problem of typecast(th

[2015-10-09 16:08] mcmire commented on #784
@zerocool4u2 Sorry about that. What you're seeing may be fixed by the commit I just made. Can you try pointing to master temporarily and seeing if that resolves the issues?

[2015-10-09 16:10] mcmire commented on #682
@itsmechlark What's the error message you're getting?

[2015-10-09 17:43] zerocool4u2 commented on #784
@mcmire nope, there are still there, here are the failures I'm getting

[code]

Decimal
[code]
Integer
[code]

I hope you find them useful, regards

[2015-10-09 18:14] zerocool4u2 commented on #784
Tracking the file
[shoulda-matchers/lib/shoulda/matchers/active_model/allow_value_matcher.rb](https://github.com/thoughtbot/shoulda-matchers/blob/master/lib/shoulda/matchers/active_model/allow_value_matcher.rb)
i find out that until the commit 73cf275d104f62b32eb80b4e72577bd56ebdd730 all my test works, they break at 9d9dc4e6b9cf2c19df66a1b4ba432ad8d3e5dded, regards

[2015-10-09 21:37] jasnow commented on #783
When is 3.1.0 release date? I see that the milestone was changed 4 days ago.

[2015-10-10 16:18] wellsonjain commented on #784
@zerocool4u2 I have the same problem as well. thank you for reporting this issue, I git stuck on this problem for a few days.
@mcmire  I've set the version to be the specific commit 18b2859d2522a4866c398b9a32ebc3de4ec79389 and I still got error, Here is my model, rspec and error msg.

[code]

[2015-10-10 19:10] ArturT opened #799 "ignoring_interference_by_writer for validate_numericality_of"
I'm using shoulda-matchers 3.0.0. It would be cool if `validate_numericality_of` could take `ignoring_interference_by_writer`.

I have validator class and it runs validation on ModelEntity which is created by virtus gem. Virtus does type casting to keep my field as Integer and that's why validate_numericality_of fails.

[code]

[2015-10-10 23:09] mcmire commented on #784
@zerocool4u2

In the case of the decimal, that's a bug -- I'm taking floats and integers into account but I forgot decimal.

In the case of the integer column, you don't actually need the validation or test at all -- an integer column already typecasts any incoming value to an integer, so there's no need for the validation, as it will always pass.

[2015-10-10 23:10] mcmire commented on #784
@wellsonjain Same problem as @zerocool4u2 -- I'm guessing that that column is a decimal, and I forgot about that one. I'll work on that next.

[2015-10-10 23:27] mcmire commented on #799
Ah. That's a good point. If you have a plain Ruby class, there's no way for `validate_numericality_of` to know what to do.

I hesitate to add this qualifier since it means that people could blindly apply it. I'm wondering if I could add an `cast_to` qualifier that lets you specify the type of values that the attribute hold. So in this case you might say:

[code]

Essentially, what this qualifier w

[2015-10-10 23:34] mcmire commented on #783
Originally 3.1.0 was the next version, but given these bug fixes, 3.0.1 is coming out next. There's no release date for 3.1.0 (as I need to work out what to put in it exactly) but I'm shooting for two months.

[2015-10-11 00:07] ArturT commented on #799
@mcmire Sounds good. Thanks!

[2015-10-11 02:22] jasnow commented on #783
Looking forward for 3.0.1 then. Thanks.

[2015-10-11 05:47] lowjoel opened #801 "validates_numericality_of with only_integer: true raises CouldNotSetAttributeError"
My spec, from Coursemology/coursemology2, spec/models/course/experience_points_record_spec.rb
[code]

This used to pass with 2.x, upgrading to 3.0 gives me this:
[code]

Any ideas? Thanks!

[2015-10-11 05:53] mcmire commented on #801
Yup, this will be fixed in 3.0.1 (the fix was made in 18b2859d2522a4866c398b9a32ebc3de4ec79389).

[2015-10-11 05:53] #801 closed

[2015-10-11 05:54] lowjoel commented on #801
Thanks!

[2015-10-11 15:19] jipiboily commented on #785
Hey, for future reference, I had the same problem, only for one spec...I've setup the proper configuration for 3.0. What was wrong?

Before:

[code]

After:
[code]

In my case, it's just the `type: :model` was missing in one model.

Hope that can help someone. Cheers.

[2015-10-11 18:59] edwardloveall opened #802 "undefined method `validate_presence_of'"
In the process of upgrading to 3.0, I'm getting an error with the `validate_presence_of` matcher. As far as I can tell I've set up everything correctly:

* The test_framework is set
* The library is set
* The tests are in the standard `spec/models` folder

But these two tests fail:

https://github.com/jneen/rouge.jneen.net/blob/20aaf0edcd2b671d75e6f3345ffa3033439aa41e/spec/models/paste_spec.rb#L5-

[2015-10-11 20:03] edwardloveall commented on #802
Turns out, my [configuration](https://github.com/thoughtbot/shoulda-matchers#configuration) was wrong. I was just using the `:active_record` library instead of `:rails`.

[2015-10-11 20:03] #802 closed

[2015-10-12 07:50] edwinlunando opened #803 "Broken Rspec Integration 3.0.0"
Hi, I just installed this gem and following the readme, but. it gives this error while running rspec. `uninitialized constant Shoulda (NameError)`

This is my `rails_helper.rb`

[code]

Any idea?

[2015-10-12 08:30] ZhangHanDong opened #804 "3.0 Bug? when use validate_numericality_of"
model:

[code]

rspec :

[code]

rspec output ( gem "shoulda-matchers", '~> 3.0') :

[code]

but shoulda-matchers 3.0.0.rc1  is ok.

is it a bug?

[2015-10-12 16:30] mcmire commented on #804
Yup, it's a bug and it was fixed in this commit: 18b2859d2522a4866c398b9a32ebc3de4ec79389. This will be included in the next version (coming out soon).

[2015-10-12 16:30] #804 closed

[2015-10-12 16:31] mcmire commented on #803
I'm not sure why you'd be getting that error. I'm assuming you have `shoulda-matchers` in your Gemfile?

[2015-10-12 16:33] mcmire commented on #802
Gotcha. Glad you got it working.

[2015-10-12 17:05] edwinlunando commented on #803
Yes. It is a fresh install.

[code]

[2015-10-12 19:10] mcmire commented on #803
Is there a way you can share the repo or re-create this in a repo?

I'm also assuming that there are other things in your rails_helper than just the shoulda-matchers configuration -- you didn't replace the entire file?

[2015-10-13 02:39] edwinlunando commented on #803
You can see it here https://github.com/edwinlunando/bitubi. I hope it helps.

[2015-10-13 03:01] edwinlunando commented on #803
Sorry for wasting your time. Now, it worked. :)).

[2015-10-13 03:01] #803 closed

[2015-10-13 03:21] wgc-as opened #805 "validate_presence_of says "Failure message is nil" when attribute is serialized"
This is my model:

[code]

This is the spec:

[code]

It throws this error:

[code]

In my opinion this should pass as I don't have to assign any value to `settings` to produce a valid entity. But even if it fails, it should give a better error message.

This worked before I upgraded to shoulda 3.0.0.

rails (4.2.4)
rspec-core (3.3.2)
rspec-expectations (3.3.1)
rspec-mocks (3.3.2)
rspec-rails (3.3

[2015-10-13 08:40] ZhangHanDong commented on #804
good job!

[2015-10-13 10:33] zekefast commented on #797
@mcmire it would be good to add that somewhere to documentation. Because if  `shoulda-matchers` is used without `rspec-rails`, but with `activerecord` `:model` tag does not mixed automatically to model tests.

@baburdick ;)

[2015-10-13 16:24] mcmire opened #807 "Add documentation for change in how matchers are mixed in"
Add a new "Getting Started" guide that goes into more detail about this.

Refs #797.

[2015-10-13 16:25] mcmire commented on #797
Great, I added a new issue for this above. Closing this one now.

[2015-10-13 16:25] #797 closed

[2015-10-13 16:26] mcmire commented on #805
I don't know why you'd be getting this, but have you tried putting parentheses around `:settings`?

[2015-10-13 16:27] mcmire commented on #803
Cool, glad you got it working.

[2015-10-13 18:52] masterkain commented on #786
[code]

no particular setter, just the `default` value in database column, using postgres 9.4

[2015-10-14 00:55] BenMorganIO opened #808 "Add `have_foreign_key` spec"
While doing my specs, there's not much for me to make sure that I did my foreign keys up right. I absolutely love shoulda for its ability to make sure I didn't make a typo when setting up a relationship or a join table.

While creating foreign keys such as:

[code]

Now this is fun and amazing, except there's this call to `dependent(:destroy)` in the model. This shouldn't be there. Also, what if y

[2015-10-14 01:05] wgc-as commented on #805
It does not help. I created a repository which reproduces the issue:
https://github.com/wgc-as/shoulda_validate_presence_of

I forgot to commit the initial state after rails new separately, but the only addition is the "rspec-rails" and "shoulda-matchers" gems in the Gemfile, the migration file and the User model.

[2015-10-14 06:43] mcmire commented on #805
Thanks, I'll take a closer look at it.

[2015-10-14 17:15] chrisokamoto commented on #801
This error is happening with me but I couldn't file version 3.0.1 in Gem. I'm using 3.0.0

[2015-10-15 16:25] jetaggart commented on #799
I'm seeing a similar issue with rails 4.2.4. It seems their casting logic has changed and a string gets casted to a numeric based on the column (I'm failing to find this in the changelog, so I could be mistaken). For example:

[code]

[2015-10-15 17:31] mcmire commented on #799
@jetaggart Sorry Jeff. Yup, you're right that it isn't in the changelog, but it's directly due to the work on all the new typecasting stuff that @sgrif did in Rails 4.2.

[2015-10-15 18:00] jetaggart commented on #799
It's a good change, even if @sgrif is making my life difficult (:heart:). I'd be happy to help get things working with the new casting. What do you think the best solution is? Just produce values for that type?

[2015-10-15 20:56] mcmire commented on #799
Well, there are actually two things happening here:

* The `"abcd"` value you're seeing in the error message is actually being provided by the matcher itself. Right now the `validate_numericality_of` matcher assumes that your column is a string, so it tries to set the attribute to a string. Prior to Rails 4.2 this wouldn't be a problem, but due to the new typecasting behavior, that string will get

[2015-10-15 22:16] jetaggart commented on #799
No worries, thanks for letting me know. I'll check out that PR.

[2015-10-15 23:46] aried3r opened #809 "Using the route matcher with 'format' can lead to failing specs, while everything is correct"
When having a route, or namespace like this:

[code]

and trying to assert this behavior using the `route` shoulda-matcher

[code]

the spec will fail with something like:

[code]

because the matcher will try to match the symbol (spec) against a string (`route.rb`).

See https://github.com/thoughtbot/shoulda-matchers/pull/693 for more details.

[2015-10-16 11:32] Oladele commented on #803
I hate to do this but I've been stumped on this for some days. I created a brand new project to demonstrate. Thanks much for any help.

https://github.com/Oladele/sample-shoulda-app/commits/master

The commit history message summarizes the commands used to generate each commit per the install docs of Rails, Rspec and Shoulda/Matchers:

1. rails new skip tests, javascript
2. rspec gem, rails g rspe

[2015-10-16 22:40] mcmire commented on #803
The shoulda-matchers configuration should not be added to spec_helper, but to rails_helper.

When you run the `rspec` executable, because you have `--require spec_helper` in `.rspec`, RSpec will load `spec_helper` first before it tries to run any files. The goal of `spec_helper` is to set up any tests that don't need Rails to run; therefore, it will not load your Rails environment or automatically

[2015-10-17 10:36] edwinlunando commented on #803
Ah yes. I think my problem is I added the configuration at `spec_helper.rb`

[2015-10-17 15:27] Oladele commented on #803
@mcmire Thanks so much. This was exactly the issue. Thanks for the quick and super-clear and instructive response.

[2015-10-18 20:04] graygilmore commented on #784
I'm getting a similar error:

**product.rb**
[code]

**product_spec.rb**
[code]

**Failure**
[code]

Looks like it's trying to set the value to `0.1` which is not an integer.

[2015-10-19 17:55] erikjenks commented on #795
I am receiving the same issue actually. I am using Rspec-rails 3.0 and shoulda-matchers 3.0 same error and everything.

[2015-10-19 21:31] mcmire commented on #795
This may be due to this change: af98a23091551fb40aded5a8d4f9e5be926f53a9

Are any of the other controller matchers available to you?

[2015-10-20 10:34] greysteil commented on #801
@mcmire - any chance of a 3.0.1 soon? Keen to move to 3.0, but this is blocking us.

[2015-10-20 13:36] fake-or-dead commented on #684
I have found this error before

and found this one about configure (that I thinks newly add in new versions)
https://github.com/thoughtbot/shoulda-matchers#configuration

so I add this to spec_helper.rb
[code]

hope this help

[2015-10-20 14:56] abitdodgy opened #810 "[question] How to test where.not conditions on associations?"
I looked through the source code, but I found nothing.

[code]

How do I test the condition on the `has_one :subscription` association?

[code]

Easy enough to write a custom test, but I thought I'd check before reinventing the wheel.

Ideally, maybe something like...

[code]

[2015-10-20 16:27] mcmire commented on #810
Yeah, there isn't a way to do that right now, so you'd have to write something custom.

I think really what we should do is deprecate `conditions` and `order` in favor of another qualifier. Then you could write something like:

[code]

or perhaps even:

[code]

The way this would work is that it would evaluate the block in the context of the associated model and compare it to the Relation that you

[2015-10-20 16:39] abitdodgy commented on #810
@mcmire how difficult is it to do this, assuming I'm not familiar with the internals of shoulda?

[2015-10-20 19:09] brianjlandau commented on #797
This should be reopened IMO.

I'm running

Ruby: 2.2.3
Rails: 4.2.4
rspec: 3.3.0
rspec-rails: 3.3.3
shoulda-matcher: 3.0.0

`Gemfile`:

[code]

`spec/rails_helper.rb`:

[code]

Model file (`app/models/foo.rb`):

[code]

Model spec (`spec/models/foo_spec.rb`):

[code]

Output from running `bundle exec rake spec`:

[code]

Adding `require: false` to the `Gemfile` did not help. I am not using TestUni

[2015-10-20 20:59] mcmire commented on #797
Requiring shoulda-matchers manually in `rails_helper` and adding `require: false` to the Gemfile is no longer needed. The gem now requires a configuration block in `rails_helper` in order to properly set it up. Please read [NEWS.md](https://github.com/thoughtbot/shoulda-matchers/blob/master/NEWS.md#300) for more details, as well as information on other backward-incompatible changes.

[2015-10-20 21:52] brianjlandau commented on #797
@mcmire Got it, thanks! Surprised auto-configuring has caused so much trouble, I always found it worked perfectly. But thanks for pointing me in the way of documentation for this.

[2015-10-21 15:20] vfonic commented on #807
+1

I've just reached this page as I was trying to use shoulda-matchers in shared examples in a rails engine gem that I'm working on. It wasn't working without having specified `type: :model`.

@mcmire in the other issue, you said:

However, it didn't work for me when I added:
[code]

Did you think of some other way of mixing in the matchers?

[2015-10-21 16:30] mcmire commented on #807
@vfonic Which matchers are you trying to use?

[2015-10-21 16:44] vfonic commented on #807
The one that was failing was `have_one` matcher:
[code]

Error:
[code]

The ones that are failing now (if I remove `type: :model`):
[code]

Here are the full errors now:
[code]

I've changed the class names to dummy ones, but I hope it's still understandable.

[2015-10-21 17:05] mcmire commented on #807
The association matchers, as well as the `accept_nested_attributes_for` matcher, are Active*Record* matchers, not Active*Model* ones.

They should get mixed in automatically when you use `type: :model`. If that doesn't work for some reason, then add this to your example group:

[code]

(you shouldn't need to `extend` the example group, they don't need to be available as class methods)

[2015-10-21 21:28] vfonic commented on #807
That works! Thanks @mcmire!

`type: :model` works, but I prefer having the matchers included in shared examples, just in case if someone forgets to add `type: :model`, so that his tests don't fail.

[2015-10-22 11:36] gmmcal opened #814 "undefined method `type' for nil:NilClass when using validate_uniqueness_of(...).scoped_to(AnArray)"
When using a validation like

`validates :a_field, uniqueness: { scope: [:an_association, :another_association]`

and running the test as

`it { should validate_uniqueness_of(:a_field).scoped_to([:an_association, :another_association]) }`

produces an error

[code]

[2015-10-23 10:51] andreydeineko opened #816 "Undefined methods from shoulda-matchers on Rails upgrade"
I hav upgraded Rails from 4.0.x to Rails 4.2.4. I was having rspec-rails 2.x.x, and shoulda-matchers 2.x.x. At this point my tests broke, and tons of errors occurred saying

[code]
and so on (pointing to methods from shoulda-matchers).

I've updated rspec-rails to 3.3.1 and shoulda-matchers to 3.0.0 to no avail.

I have asked a [question on StackOverflow](http://stackoverflow.com/questions/3328073

[2015-10-23 11:01] andreydeineko commented on #816
Ok, I think the issue is not with shoulda-matchers, but with [active_attr gem](https://github.com/cgriego/active_attr), because tests only fails in api/composition folder, where I use the gem.

[2015-10-23 13:28] franciscomxs commented on #816
Take a look here: http://matchers.shoulda.io/docs/v3.0.0/#configuration

[code]

[2015-10-23 13:32] franciscomxs opened #817 "Something wrong with `validate_numericality_of`?"
[code]

Since i'm validating numericality, the class should be expected to *not* be able to set quantity to "abcd", right? This error did appear after running `bundle update`.

[2015-10-23 13:57] andreydeineko commented on #816
@franciscomxs I am grateful for your input, but documentation is the first place I resort when experiencing errors. In my SO question I've added in the issue description you can see that this config is added to ```rails_helper.rb```.

Nonetheless thanks a lot for the reply!

[2015-10-23 13:59] franciscomxs commented on #816
Sorry if it was not usefull. It did solve the problem to me.

[2015-10-23 14:49] durhamka commented on #804
Is there a work around for this until the next version is released? Thanks, Elliot!

[2015-10-23 16:03] cgriego commented on #816
shoulda-matchers 3.0 selectively makes its matchers available. You're using ActiveModel matchers which are only mixed into model specs. https://github.com/thoughtbot/shoulda-matchers/commit/af98a23091551fb40aded5a8d4f9e5be926f53a9

You can either place your model specs in spec/models or try adding `:type => :model` to the top-level `describe` block for each class.

[2015-10-23 16:49] josephbridgwaterrowe commented on #785
Thanks @chrisjoywebb, amazing what one can accomplish when they read the docs. :smile:

[2015-10-23 18:40] tobiasfeistmantl commented on #817
+1

[2015-10-23 20:01] mcmire commented on #817
Yes, it's a known issue with the current release. It'll be fixed in the next release (hopefully coming soon).

[2015-10-23 20:01] #817 closed

[2015-10-23 20:03] mcmire commented on #816
What @cgriego said is likely the problem here. I'm closing this, but feel free to ask for more help if you need it.

[2015-10-23 20:03] #816 closed

[2015-10-23 20:06] mcmire commented on #804
There isn't... I'm trying to throw another change in before I release but now I'm thinking I should release something now. Okay... I'll see if I can do that.

[2015-10-23 20:10] mcmire commented on #814
The uniqueness matcher doesn't support using associations as scopes. I'm not really sure this is what you want to do, anyway -- don't you want to use id columns instead?

[2015-10-23 20:38] gmmcal commented on #814
Hi @mcmire,

this validation is when a field has to be unique, but not related to the model itself, but the other models

i.e.: **User** has many **Profiles** and **Profile** has an attribute **name**. Name has to be unique for a user, but another user can have the same name.

In this particular error, the uniqueness of the scope is related to two models, not only one, as my example says.

[2015-10-23 20:49] mcmire commented on #814
Okay, I didn't know the uniqueness validation could be used this way, so this is definitely a bug.

[This is related to (but not quite the same as) #535.]

[2015-10-23 20:51] mcmire commented on #804
@durhamka I just released 3.0.1. Not every issue with 3.0.0 is fixed, so just be aware of that, but this particular issue should be fixed.

[2015-10-23 20:51] mcmire commented on #817
@franciscomxs @tobiasfeistmantl This should be fixed in 3.0.1, can you give it another try?

[2015-10-23 20:52] mcmire commented on #801
@greysteil I just released 3.0.1 which should fix this particular issue.

[2015-10-23 20:54] mcmire commented on #783
@jasnow 3.0.1 is now released with this particular fix included.

[2015-10-23 21:19] mcmire commented on #808
Hey @BenMorganIO I haven't forgotten you -- it's just that I've been a little preoccupied with some bugfixes lately.

We've talked about this before -- see #730. You can read the feedback there, but since we tend to create tools that we ourselves will use, I also shopped the idea around internally to see how what my teammates there thought. Here was some of the initial feedback I got:

* "that fee

[2015-10-24 05:51] BenMorganIO commented on #808
I remember thinking the same line of thought as your colleagues with `have_db_index`. I used to agree with them, until I wrote this spec:

[code]

Since a _every_ query to the table is going to have `WHERE deleted_at IS NULL` then you're going to want that indexed. However, I wouldn't remember to add that all of the time. Since I added that to the shared example, I could just do:

[code]

And then

[2015-10-24 23:56] jasnow commented on #783
Thanks for the new gem version.

Our example App: https://travis-ci.org/24pullrequests/24pullrequests/builds/87257312 is green and waiting for PR https://github.com/24pullrequests/24pullrequests/pull/942 to be accepted.

[2015-10-25 06:14] jsvelasquezv commented on #684
I was having the same problem and solve it using your method. Thank you

[2015-10-25 09:09] andreydeineko commented on #816
@cgriego Adding ```type: :model``` did the trick, thanks so much!

[2015-10-26 00:35] philliplongman commented on #535
Just ran into this myself. Since no one has explicitly said it yet: the solution was (for me and the op) to test `:user_id` instead of `:user`.

[2015-10-26 06:21] ZhangHanDong commented on #804
@macmire  thanks

[2015-10-26 13:04] thalesfp commented on #809
:+1:

[2015-10-26 14:19] durhamka commented on #804
Thanks @mcmire!

[2015-10-26 14:47] joshteng commented on #784
I'm getting an unexpected error message.

I have in my model

[code]

and this as my spec

[code]

I would expect this to pass but I'm getting an error message:

[code]

It says it tried to set the value to 0.1 but it had stored 0. That's correct because I'm restricting to integer. Why is that a false validation? Just checking to see if I'm missing something.

I'm using `shoulda-matchers 3.0.1`.

[2015-10-26 14:56] betesh commented on #784
Because when you set it to 0.1, ActiveRecord will automatically cast it as an integer, i.e. 0.1.to_i => 0, so it's impossible to set an invalid value.

[2015-10-26 16:08] joshteng commented on #784
Thx @betesh

It makes sense, but wouldn't that be making assumption about my database's data type? I know it probably doesn't make sense to hv integer validation and have the database data type to be a float/decimal. What if I want to assert integer validation in situations like these?

[2015-10-26 16:18] betesh commented on #784
shoulda-matchers detects the data type.  If you change your database column to a float, this test will start passing.  But you're better off relying on built-in ActiveRecord features to keep invalid data out of your database than writing additional validations.

[2015-10-26 16:19] mcmire commented on #784
@joshteng No assumption is being made about your database's data type here. Because you qualified the matcher with `only_integer`, it's going to perform its subtests using floats instead of integers (which is what it normally uses). The idea is that since you're saying that the values this attribute is storing must be integers, if floats are used instead, then the record should fail validation. Ho

[2015-10-26 16:27] mcmire commented on #810
I don't think it'd be terribly difficult, but I guess that's because I have some idea of what I'd want to do here already. I'll try to explain it anyway...

Whenever you use an association matcher like `have_one`, it creates an instance of [Shoulda::Matchers::ActiveRecord::AssociationMatcher]. The logic for most of the qualifiers here actually live in separate *Matcher files, so you'd probably wan

[2015-10-27 12:32] istana commented on #809
I have the same problem. I thought I can fix it with `format: 'json'` instead of `format: :json` in the spec, but no - it is still treated as symbol.

[2015-10-27 17:18] karimmortabit commented on #791
Ok I didn't see the update .. Thanks for the tip !

[2015-10-28 01:07] itsmechlark commented on #682
Hopefully this stack-trace will help you. Thanks.

[code]

[2015-10-28 02:32] wgc-as commented on #805
After some debugging, it turns out that an error is swallowed in `ValidatePresenceOfMatcher#disallows_original_or_typecast_value?` method:
[code]

So the root of the problem is that the `ValidatePresenceOfMatcher#blank_value` thinks that the empty value for a serialised Hash attribute is `nil`. If I modify `blank_value` to return `{}` instead of `nil` then the test passes. Here is the modified `bl

[2015-10-28 03:28] mcmire commented on #805
Cool, thanks for tracking this down.

It's interesting that 1) the failure message wasn't properly reported before and 2) the test didn't pass, since `[]` is an acceptable value that is "blank". So I'll have to look into this further.

[2015-10-28 03:58] mcmire commented on #682
@itsmechlark So here's what the matcher is doing (or supposed to do anyway):

1. The matcher takes a new instance of DocumentPublishingStage with `document_id` pointing to a real Document
2. The matcher takes this instance and [sets `document_id` to some default value](https://github.com/thoughtbot/shoulda-matchers/blob/master/lib/shoulda/matchers/active_record/validate_uniqueness_of_matcher.rb#L3

[2015-10-28 07:48] itsmechlark commented on #682
I tried:

``

[2015-10-28 07:53] itsmechlark commented on #682
I tried:

[code]

[code]

still not working. I was thinking during validation:
[code]

1. The matcher creates new instance of DocumentPublishingStage with `:document_id` plus the scope `:publishing_stage_id` and `ref_id` from the `subject`
2. The matcher should asserts that it fails the uniqueness validation.

[2015-10-28 16:24] mcmire commented on #682
Yeah, the values of scopes are copied from the subject, but for some reason the value of the attribute (`document_id`) isn't.

So you're saying that if you create the record instead of building it you get the exact same error?

[2015-10-29 00:54] itsmechlark commented on #682
No, it didn't copy values from scope. I found out this when one of my custom attribute was assign with `nil` value, `ref_id`. We should add test regarding foreign key constraint.

[2015-10-29 13:37] olimart opened #825 "Dependence issue with shoulda-matchers 3 and should 3.5"
Following installation instructions and since I'm using Minitest I've added both shoulda and shoulda-matchers to Gemfile.

[code]

[2015-10-29 14:43] chrisokamoto commented on #801
It seems that there are bugs yet with "only_integer" validation... In shoulda-matchers 2.8.0 all tests were passing.. now, with 3.0.0 and even with 3.0.1 I keep getting the error above:

"Failure/Error: it { is_expected.to validate_numericality_of(:tamanho).only_integer }
     Shoulda::Matchers::ActiveModel::AllowValueMatcher::CouldNotSetAttributeError:
       The allow_value matcher attempted to

[2015-10-29 15:58] mcmire commented on #825
Yes, shoulda needs to be updated to support shoulda-matchers 3.x. I'll submit a PR over there. Thanks for reminding.

[2015-10-29 16:01] mcmire commented on #682
Okay. I'm not sure when I'll be able to get to this, but in the meantime do you think it's possible for you to write a failing test for this and submit that as a PR?

[2015-10-29 16:05] mcmire commented on #801
@chrisokamoto Integer columns, by definition, typecast all of their incoming values to integers. By using `only_integer`, you're telling the matcher, "if this attribute is set a float, then it should be invalid". But this test is impossible to write, because as soon as you set the attribute to a float, it turns into an integer. What this means is that using a numericality validation with `only_int

[2015-10-29 16:10] chrisokamoto commented on #801
Yes, it does.. Thanks!!

[2015-10-29 17:47] serixscorpio commented on #763
Thanks @betesh! I'm using shoulda-matchers outside of rails as well, using only ActiveModel.  Based on your feedback, I have this which worked:
[code]
@mcmire Is this the recommended way?

[2015-10-29 18:30] mcmire commented on #763
@serixscorpio Yup, that would work. You could put the require at the top so it doesn't get lost, but that's just a suggestion. (Also, FYI, you don't need to explicitly require shoulda-matchers anymore.)

[2015-10-29 21:26] geoffharcourt opened #827 "`should define_enum_for` should validate column is an integer"
While converting a column from being a string to an enum, I found that the enum matcher spec for my model passed, but every time I assigned a value to the field it came back as `nil`.

[2015-10-29 21:59] mcmire commented on #827
Okay -- I'm not sure I understand exactly what's happening here, can you provide an example?

[2015-10-30 04:02] geoffharcourt commented on #827
I'm working on a spec and test now. If your column for the enum isn't an
integer (mine was a string), ActiveRecord will save your model, but
checking the attribute later will return `nil` rather than the mapped
value.

On Thu, Oct 29, 2015, 5:59 PM Elliot Winkler <notifications@github.com>
wrote:

[2015-10-30 15:11] geoffharcourt commented on #827
cc: @mcmire

[2015-10-30 15:13] geoffharcourt commented on #827
Here's what happened:

[code]

The matcher passes, but this enum is actually broken in a subtle but very bad way:

[code]

When the column is a string, AR will allow you to save values, but after save, the strings don't get recast as integers, and any lookup against enum values fails.

What I'm struggling with is that right now the specs for the most part don't rely on a database table being creat

[2015-10-30 16:29] luismaia opened #830 "validate_uniqueness_of validation fails when having more than one validates to the same field"
I have the following validations in one of my models:

[code]

And my RSpec is:

[code]

When upgrading from version 2.8.0 to 3.0.1 I start having this error:

[code]

If I exchange the validates order, in the model I got this error:

[code]

My conclusion is that shoulda-matchers (in version 3) is only executing the first validates definition per field. Is this conclusion correct?

I tested again

[2015-10-30 16:44] mcmire commented on #830
Yes, starting in version 3, the matcher will look at the existing uniqueness validation that is on the attribute in question and will compare the scopes defined there with the scopes you are passing to the
matcher. To be specific, it looks for the *first* existing uniqueness validation on the attribute. So this obviously assumes that there is only one.

So you've definitely found a bug :beetle:

[2015-10-30 16:47] mcmire commented on #827
Okay, I'll keep an eye on that issue.

[2015-11-02 18:56] durhamka commented on #830
+1 to this issue

[2015-11-02 18:56] durhamka commented on #830
@luismaia did you find a work around by chance?

[2015-11-03 14:45] luismaia commented on #830
@durhamka I decide to stay (for now) with version 2.8.0. Anyway I guess that if you create a custom validator (containing the logic of your multiple validators) it will work.

[2015-11-03 16:25] durhamka commented on #830
Thanks! @luismaia

[2015-11-03 17:44] yogodoshi commented on #625
I'm  getting a strange error, it may be related. If you don't think so I can open another issue:

[code]

Error:
[code]

Using version 3.0.1

[2015-11-03 18:48] mcmire commented on #625
Obvious question, but just to be sure -- I'm assuming that `course_categories` *does* exist?

[2015-11-03 19:39] yogodoshi commented on #625
@mcmire yup! its in the schema and I've tried dropping the db, creating again, checked for typos and all that :)

[2015-11-03 22:27] nathanhamilton commented on #785
Thanks @chrisjoywebb & @jipiboily.

[2015-11-03 22:54] mcmire commented on #625
@yogodoshi Okay, weird. This *may* be related, but go ahead and make a new issue for this.

If you can re-create this bug in a fresh Rails app and then post it up in a repo, that'll help me zero in on what the deal is here.

[2015-11-04 12:57] giedriusr commented on #797
@mcmire thanks. Your info helped!

[2015-11-05 10:51] ksol opened #831 "numericality matcher can only handle column-backed attributes"
Hello,

Since upgrading to 3.0.1 some of my `validate_numericality_of` are failing with this error :

[code]

After a little bit of research, this is because the attribute I'm not validating is not (directly) backed by a column. In my case, the attribute is a "shortcut" accessor for data nested in a json column (in postgre), so there is no column-type associated.

I don't know how this should be h

[2015-11-05 18:52] ineu opened #832 "numericality matcher should not raise an IneffectiveTestError"
`validates_numericality` matchers was changed with assumption that validations are there for data consistency only. But for data consistency one uses proper database column types and DB-level constraints. Validations are perfect for users.

For example, I use validates_numericality on all my columns that can be updated from forms. I want my users to see 'not a number' when they type non-number in

[2015-11-05 19:01] Draiken opened #833 "It's not mentioned anywhere that the matchers are only included based on meta-tags"
I use shoulda on a gem that uses active_record and active_model. After upgrading from 2.8 and adding the configuration for those libraries and framework on the spec helper, I still got undefined method errors.

Only after digging through the source code I found that the matchers were only included based on the meta tags, like `model: true`.

I thought about just adding this information in the READ

[2015-11-05 19:17] mcmire commented on #831
You're in luck, because there's already a PR open to fix this issue: #822 :)

I've been a little short on time lately, but I will try to merge it in soon.

[2015-11-05 19:32] mcmire commented on #832
Thanks for the feedback.

A simple fix for this might be to revert [this change](18b2859d2522a4866c398b9a32ebc3de4ec79389), and so instead of raising an IneffectiveTestError, tack `ignoring_interference_by_writer` on the end of the DisallowValueMatcher [here](https://github.com/thoughtbot/shoulda-matchers/blob/master/lib/shoulda/matchers/active_model/validate_numericality_of_matcher.rb#L447). If w

[2015-11-05 19:37] mcmire commented on #833
You're right, it's not -- I'm trying to keep the README slim and I didn't want to over-complicate the instructions lest new users think that the gem is difficult to use. I'm working on adding a Getting Started guide that explains this in more detail. Someone else actually made an issue about that in #807, mind if I close this one?

[2015-11-05 20:35] ClayShentrup commented on #833
Why isn't there awareness of `infer_spec_type_from_file_location!`?

[2015-11-05 20:36] ClayShentrup commented on #833
Not adding those instructions..made the gem more difficult to use.

[2015-11-05 21:55] ksol commented on #831
eh, my bad. I only checked for issues, not PRs. Thanks for the update !

[2015-11-05 22:22] #831 closed

[2015-11-05 22:23] ClayShentrup commented on #807
This makes it very challenging to test if you're not loading Rails. :(

[2015-11-05 22:29] mcmire commented on #833
Sorry, I misunderstood the issue being raised here.

The gem does honor `infer_spec_type_from_file_location!`, but if you look at [how RSpec implements that option](https://github.com/rspec/rspec-rails/blob/master/lib/rspec/rails/configuration.rb#L84), it does so via tags. In other words, an example group defined in a file located in `spec/models` will be automatically tagged with `type: :model`.

[2015-11-05 22:50] ClayShentrup commented on #833
Since our ActiveRecord specs don't load Rails (because tests should be fast), we just do this:

[code]

Then just manually specify the type in the model class. E.g.

[code]

[2015-11-05 22:58] mcmire commented on #833
@ClayShentrup Ah I see. Since it's `rspec-rails` that automatically tags example groups, if you're not using that, then the logic that shoulda-matchers follows doesn't work so well, I guess. I apologize -- that was an oversight on my part.

Do [these instructions](https://github.com/thoughtbot/shoulda-matchers/tree/ew-document-availability-of-matchers#availability-of-matchers-in-various-example-gr

[2015-11-06 00:09] mcmire opened #834 "have_many matcher may not give the reason for failure"
Scenario:

[code]

Expected failure message:

[code]

Actual failure message:

[code]

[2015-11-06 09:07] Draiken commented on #833
For me that is more than enough.

The whole trouble I had was just because I am not using the standard rails setup, so I had to discover the hard way why the matchers were not being included.

If I'm not mistaken, the gem already includes itself based on those tags @ClayShentrup as long as you configure it with the proper libraries, all that was missing was the information that the tags are needed

[2015-11-06 09:15] Draiken commented on #833
Just to clarify, if you use the shoulda configuration for libraries like

[code]

You won't need to manually include the matchers, since the [integrations will do that for you](https://github.com/thoughtbot/shoulda-matchers/blob/master/lib/shoulda/matchers/integrations/libraries/active_record.rb#L13), with the proper tags.

[2015-11-06 15:34] ClayShentrup commented on #833
Yes, @mcmire, those instructions are good. I actually just ended up unconditionally including them, since I'm not using anything else that will conflict with your method definitions.

[2015-11-06 17:44] mcmire commented on #833
:star2:

[2015-11-08 20:27] tamatsyk commented on #682
I am not familiar neither with shoulda-matchers nor with rspec however the issue has gone away when I've rewritten the test in the next way
[code]
hope it helps someone at least as a workaround.

[2015-11-09 03:29] mcmire commented on #682
@tamatsyk Ah, interesting. You could also try creating the record in question beforehand; that might be more straightforward than setting `subject.document`.

[2015-11-10 14:47] dgmstuart opened #836 "`validates_uniqueness_of` with custom setter fails with "should require case sensitive unique value for email""
On upgrading from 2.x to 3.0.1 I get the following error:

[code]

This seems to be because shoulda-matchers now cares about case-sensitivity when checking for uniqueness, and we have a custom setter which is downcasing values before saving:

[code]

[code]

I don't know if this custom setter is a good or bad idea - happy to take advice on that. My guess is that shoulda-matchers possibly can't dea

[2015-11-10 16:57] ambirag opened #837 "f"

[2015-11-10 16:57] #837 closed

[2015-11-10 17:51] mcmire commented on #836
Yup, you hit the nail on the head -- it's due to the behavior of `email=`.

The `case_insensitive` qualifier tests that if two records have the same email where one email is uppercase and the second is lowercase, then the second record should be invalid. The reason why it doesn't work here is that since the email gets downcased, that's the same test that gets run if you don't use `case_insensitive

[2015-11-11 14:09] vfonic commented on #133
:+1:

I think it's pretty common to keep the issue open until it's resolved. Also, someone searching for an answer, can see that this issue is still open. It saves time.

[2015-11-11 16:55] dgmstuart commented on #836
Ah thanks so much - sorry I didn't find the previous issue. Glad it's being looked into :)

Our factory is creating lowercase emails:
[code]

Based on what you've described, the default case (where `@options[:case_insensitive]` is nil or false) is actively doing a check that the uniqueness isn't case sensitive right? (i.e. that "TEST1@FOO.COM" and "test1@foo.com" _can_ both be persisted). Would a

[2015-11-11 17:20] mcmire commented on #836
Yes, that's what what happens. Basically it says, if you have a record with "TEST1@FOO.COM", then a second record with "TEST1@FOO.COM" isn't okay, but a record with "test1@foo.com" is okay. I think in your case that's actually being reversed ("test1@foo.com" + "test1@foo.com", then "test1@foo.com" + "TEST1@FOO.COM"). So the matcher is producing a record with "TEST1@FOO.COM", which ends up getting

[2015-11-11 21:14] mcmire opened #838 "allow_value should detect if values are changed post-validation"
A colleague at work just ran into #836, except the scenario is different. Basically, Devise adds a `before_validation` on whatever field you're using for authentication (let's say `username`) so that the value this is set to will be downcased. So this screws up the uniqueness matcher in a similar manner to what's posted in that issue.

Unfortunately, the matcher isn't detecting this and so you get

[2015-11-11 21:14] mcmire commented on #836
A colleague just ran into this same issue at work, except the scenario is different. Basically, Devise adds a `before_validation` on whatever field you're using for authentication (let's say `username`) so that the value this is set to will be downcased. So this screws up the uniqueness matcher in a similar manner to what was posted above.

[2015-11-12 12:21] dgmstuart commented on #838
Perhaps I've misunderstood, but for me, whether the values pre- and post-validation are the same isn't something I care about when validating uniqueness: in some cases I'll explicitly want to change values as part of validation, so I _want_ them to be different but it may not be a property of my code that I'm interested in making assertions about.

Of course, in some situations I may want to expli

[2015-11-12 17:44] mcmire commented on #838
The goal I am trying to achieve is to provide more informative and helpful error messages, and to eliminate confusion when a matcher fails.

Currently, `allow_value` will raise an exception if the value that the matcher puts into the attribute under test isn't the same as the value coming out of the attribute. This behavior may be intentional, but it changes the test being run, and can lead to uni

[2015-11-12 18:36] dgmstuart commented on #838
I _had_ indeed misunderstood: if we are indeed going to implement `:ignoring_case_sensitivity` then it makes a lot of sense to have this sort of message :)

This is great - it reminds me of the sort of "did you mean" features that Matz is talking about for Ruby 3.

Are you already implementing `ignoring_case_sensitivity`, or is that something I can take off your plate?

[2015-11-12 18:37] dgmstuart commented on #838
My concern was because I thought you were saying that we should ONLY give you the error message (and no way to deal with it).

[2015-11-12 19:05] mcmire commented on #838
Yup, that's a good point.

I haven't started implementing `ignoring_case_sensitivity`, so if you want to get started on it, that would be great :)

[2015-11-12 19:17] dgmstuart commented on #838
Consider me on it

[2015-11-12 19:40] mntj commented on #814
+1

[2015-11-12 19:51] mntj commented on #814
@mcmire I am receiving this same error with the following
[code]
with test:
[code]

[2015-11-12 22:56] dgmstuart commented on #838
@mcmire So I've made a good start and seems to me like there are a few distinct steps:
1. Add specs covering the e.g. "override setter to upcase the value" cases, asserting that the current behaviour happens
2. Refactor the existing code to take symbols instead of booleans (e.g. `options[:case] = :sensitive` instead of `options[:case_insensitive] = false`)
3. Add the new behaviour (A method: `igno

[2015-11-13 12:16] bdewater commented on #799
@jetaggart slightly offtopic but I was bitten by that change as well on a project, I believe this is the commit: https://github.com/rails/rails/commit/d8e710410ea300ec4626250c0b35946cb52bc38c

[2015-11-13 20:37] axlekb commented on #832
I just tried upgrading and came across this message as well.  Completely agree with @ineu as this makes v3.0 unusable for my projects (want the nice validation messages).

btw, your `this change` link above is broken (issue vs commit directory).

[2015-11-13 20:48] axlekb commented on #832
Should also point out that other case that I encountered is setting a decimal value to an integer database column, which the validation successfully enforces and messages.  Looks like that is also included in the [commit](https://github.com/thoughtbot/shoulda-matchers/commit/18b2859d2522a4866c398b9a32ebc3de4ec79389) you mentioned above.

[2015-11-14 16:37] agrobbin opened #841 "`validate_numericality_of` doesn't work with PG `money` column type"
From the looks of it, the fix implemented in 3.0.1 (via 18b2859d2522a4866c398b9a32ebc3de4ec79389 and a0f12216fd12627c2545b082f5e463a712ba75e5) did not resolve the issue for the PG `money` column type.

[2015-11-16 04:42] harshs08 commented on #836
I have also got the same issue while writing test for a model created using `FFaker` gem. I guess as already mentioned Devise `before_validation` is downcasing the email id created using `FFaker`.
So until this patch is released how can I fix this issue.

[2015-11-16 14:28] dgmstuart commented on #836
@harshs08 I don't think it's possible to test this scenario through shoulda-matchers until this PR is merged and released. Either:
  1. Use an older version of the gem
  1. Use the gem from the PR branch on my fork (probably not advisable!!)
  2. Add your own specs for uniqueness (maybe by copying some of the internals of the gem?)
  3. Don't test this for now, e.g:

[code]
As I understand it, thi

[2015-11-16 18:10] harshs08 commented on #836
@dgmstuart, great suggestions. I guess right now I am gonna go with some custom validations (2).

[2015-11-16 21:05] bakku opened #844 "Using Shoulda Matchers with Minitest"
I'm trying to make shoulda-matchers work with minitest for a while now.

I added

`gem 'shoulda', '~> 3.5'`

to my Gemfile and configured my test_helper.rb like this:

`Shoulda::Matchers.configure do |config|`
    `config.integrate do |with|`
     `with.test_framework :minitest`
      `with.library :rails`
    `end`
`end`

But this way I get the following error when starting a test:

`undefined me

[2015-11-18 00:30] backus commented on #761
+1

[2015-11-18 00:31] DelmerGA commented on #761
+1

[2015-11-18 03:41] backus opened #845 "allow_values not properly checking each value?"
The `allow_values` matcher seems to not fail if it is given multiple values when the first is valid.  I believe this reproduces on master:

[code]

produces

[code]

gist you can clone and run: https://gist.github.com/backus/254d29794f1efad11c13

[2015-11-18 17:43] bakku commented on #844
I made it work by

`require 'shoulda'`

in `test_helper.rb`

and removing all

`Shoulda::Matchers.configure`

stuff

[2015-11-18 17:43] #844 closed

[2015-11-18 19:23] backus commented on #845
Bisecting this behavior points to https://github.com/thoughtbot/shoulda-matchers/commit/19c38a642a2ae1316ef12540a0185cd026901e74. Would be interesting to get your input @mcmire.  I'm still not 100% clear on whether I am encountering a bug or if this is expected behavior

[2015-11-18 21:14] backus opened #846 "Add a caveat for inclusion matcher?"
We ran into a subtle case where a field with an inclusion validator, along with a length validator, led to us almost not realizing that shoulda isn't *really* testing the inclusion validator.  Here is the simplified example:

[code]

Looking at the `ValidateInclusionOfMatcher` it is pretty clear that all values will be rejected by the length validator:

[code]

I do not think this is a bug in shou

[2015-11-18 22:18] mcmire commented on #845
@backus This is definitely a mystery for me too.

Taking a look at the validation, shouldn't it be this?

[code]

Alternatively, what happens if you use this instead?

[code]

[2015-11-18 22:19] backus commented on #845
Taking a look now!

[2015-11-18 22:23] backus commented on #845
@mcmire Each case seems to yield the same output.  I can create a gist if you would like

[2015-11-18 22:41] mcmire commented on #845
It's fine. I'm traveling right now, but I'll take a closer look at this later.

[2015-11-18 22:44] mcmire commented on #846
That's not true -- if you look at [what the inclusion matcher is doing](https://github.com/thoughtbot/shoulda-matchers/blob/master/lib/shoulda/matchers/active_model/validate_inclusion_of_matcher.rb#L366), you'll see that it performs two tests:

1. that the attribute allows all of the given values
2. that the attribute does not allow a value that is not any of the values

[2015-11-18 22:48] mcmire commented on #846
I see what you're saying though -- in this case, the length validation is probably failing first before the inclusion validation is even getting run.

The caveat you named applies to any of the matchers -- a matcher designed to test a particular validation has no knowledge of any other validations and therefore any usage of that matcher is really an integration test in the context of your model's

[2015-11-18 22:48] #846 closed

[2015-11-18 22:48] backus commented on #846
Sorry, what isn't true? In this case I'm not saying there is a bug with the matcher or anything.  I'm just saying that it would be helpful to document that, in this case, the `values_outside_of_array` ends up being `[ARBITRARY_OUTSIDE_STRING]` which the length validator will add an error message for.

This means I can remove `inclusion: STATES` from above and the test should still pass.

[2015-11-18 22:55] mcmire commented on #846
If you want to document this on the wiki that's fine, but it seems like a minor detail that wouldn't provide that much value if an extra section were created for this in the documentation. I agree about the redundancy, but it doesn't seem like something that would trip someone up. Was there any confusion when you ran that test, or was it just something you noticed?

[2015-11-18 22:58] backus commented on #846
We run our tests through [mutant](https://github.com/mbj/mutant) which showed that it could completely remove our model validations without breaking tests.

[2015-11-18 23:01] mcmire commented on #841
Ah. It doesn't seem like there was an issue open for the `money` type, so I neglected to add support for that, it seems.

While we're at it, are there any other Postgres types you use that we should be supporting as well?

[2015-11-18 23:02] backus commented on #846
Just thinking out loud here: if shoulda could instead do something like this for the validation specific matchers then it could avoid this issue:

[code]

I'm not saying this is better but in this case at least you are only running validations relevant to the test in question.

[2015-11-18 23:09] mcmire commented on #846
Hmm, I see. I think the only problem with this approach is that it isn't indicative of how models are used in Real Code™ -- when you save a model you're running *all* the validations, not just a select few.

Sorry for closing the issue so quickly by the way -- I realize that came off as a rejection, it's really more an attempt to stay at inbox zero... or inbox closer-to-zero :)

If there's a way t

[2015-11-18 23:19] backus commented on #846
Not offended by the issue closing don't worry about it.

Well I don't think activemodel ever short circuits validations.  For example, using the same instance as before:

[code]

With that said you might know more than me here so correct me if I'm wrong.

[2015-11-19 09:56] tobiasfeistmantl commented on #844
Thanks this works! Maybe the shoulda-matchers version should be updated in the shoulda.gemspec. It's still version 2.8.0. Or else a correct documentation.

[2015-11-19 15:16] agrobbin commented on #841
There's a [variety of them](http://api.rubyonrails.org/v4.2.5/classes/ActiveRecord/ConnectionAdapters/PostgreSQL/ColumnMethods.html) available in ActiveRecord, but the only one I've personally run into issues testing is the `money` type. I think that's one of the only additional ones that really makes sense when using the `NumericallyValidator`.

[2015-11-19 19:39] mcmire commented on #841
Alright. We haven't ever explicitly supported more than the ones that we test against currently, so I'll just add a fix for `money` now and if there bugs with other columns later we can cross those bridges then.

[2015-11-20 05:57] #833 closed

[2015-11-20 06:00] mcmire commented on #827
I'm going to close this issue in favor of the PR (#829).

[2015-11-20 06:00] #827 closed

[2015-11-20 06:08] mcmire commented on #807
I ended up adding another section to the README about this, so this issue isn't as important. I still think a Getting Started guide would be nice so we can add more words without cluttering up the README.

[2015-11-20 12:54] pixeltrix commented on #801
@mcmire I think you're misunderstanding the point of `validates_numericality_of only_integer: true`. The validation is there to provide feedback to the user that fractional values are invalid and won't work rather than just blindly converting to an integer and saving. The validator itself works on the raw value and not the type casted value. I suspect this will be biting a lot of people when they

[2015-11-20 17:13] vinisdl opened #848 "Failure/Error: it { is_expected.not_to allow_value("110.708.744-94").for(:cpf) }"
Hi,
I have a problem when upgrading to version 2.8.0 of the gem to 3.0.1 on my app , this error appears when I try to run the tests after upgrade

 Failure/Error: it { is_expected.not_to allow_value("110.708.744-94").for(:cpf) }

test
it { is_expected.to allow_value('110.708.744-93').for(:cpf)  }

[2015-11-20 21:54] mcmire commented on #848
What error message are you getting?

[2015-11-20 21:59] mcmire commented on #801
Right, I had no clue this was the case until I started looking into this issue, I assumed it wasn't smart enough to do that. This is definitely an oversight on my part. I'll fix it in the next imminent release.

[2015-11-21 17:44] rilian commented on #832
also getting this issue for

[code]

[code]

and getting

[code]

[2015-11-21 19:45] mcmire commented on #832
@rilian That's a CouldNotSetAttributeError, which has already been mentioned in past issues and isn't directly related to this issue, but thank you for the report.

[2015-11-21 19:51] rilian commented on #832
@mcmire thank you! I've already subscribed to this thread https://github.com/thoughtbot/shoulda-matchers/pull/800 which is devoted to solving the issue.

[2015-11-23 11:25] vinisdl commented on #848
Failure/Error: it { is_expected.to allow_value("110.708.744-93").for(:cpf)  }
      Shoulda::Matchers::ActiveModel::AllowValueMatcher::CouldNotSetAttributeError:
        The allow_value matcher attempted to set :cpf on Deployer to
        "110.708.744-93", but when the attribute was read back, it had stored
        "11070874493" instead.

        This creates a problem because it means that the mo

[2015-11-23 18:09] mcmire commented on #848
Judging by the error message, I'm guessing that you've overridden the attribute to strip away any non-numeric characters upon being set.

Since this seems harmless, I would use `ignoring_inteference_by_writer` in this case to tell `allow_value` that it's okay that the value is getting changed. That should make the test pass.

[2015-11-24 11:59] pixeltrix commented on #801
@mcmire thanks

[2015-11-24 19:18] anthonator opened #849 "The allow_value matcher attempted to set :price on DeviceType to 0.1, but when the attribute was read back, it had stored 0 instead"
[code]

**Model**

[code]

**Spec**

[code]

[2015-11-24 20:13] mcmire commented on #849
Hey @anthonator,

Which version of shoulda-matchers are you using? This was a problem on 3.0.0, but you shouldn't be getting this exception on 3.0.1.

[2015-11-24 20:15] anthonator commented on #849
I'm on 3.0.1.

[2015-11-24 21:42] mcmire commented on #849
Alright. Regardless, it's definitely a bug. I'm working on a fix for this, so stay tuned. Sorry for the inconvenience.

[2015-11-24 21:43] anthonator commented on #849
Thanks!

[2015-11-25 19:10] murkey commented on #849
Also seeing this on 3.0.1, happy to provide more info if it'd be helpful. Thanks for looking into it :)

[2015-11-25 19:13] mcmire commented on #848
I'm going to close this issue since there's a built-in way to get around this one case.

[2015-11-25 19:13] #848 closed

[2015-11-25 19:24] mcmire commented on #849
@murkey Thanks. I know exactly why this is happening, it's just due to some recent changes I made. This issue picks up where #801 left off -- you can read some of the comments there, but I'm essentially trying to work out a way to remove this exception.

[2015-11-25 19:59] murkey commented on #849
Cool, sounds good. Thanks for the info

[2015-11-26 09:22] denispeplin commented on #640
I'm trying to test unique scoped attributes conditionaly:

[code]

[code]

[2015-11-26 15:33] ehannes commented on #784
Any news on this?

[2015-11-27 13:28] BrunoQuaresma opened #850 "Undefined method `has_many' for #<RSpec::ExampleGroups"
Something strange is going on. The belongs_to and has_one methods work well but has_many not.

This error is displayed when I run the tests.
[code]

[code]

Config
[code]

[2015-11-27 21:01] mcmire commented on #850
This is because it's `have_many`, not `has_many` :)

[2015-11-27 21:03] mcmire commented on #850
And just FYI, you probably should call the association `pages` (plural) and not `page` (singular). So grammatically, a user has many pages, and it should have many pages. Does that make sense?

[2015-11-27 21:14] mcmire commented on #640
@denispeplin Your workaround is really just saying the same thing, isn't it? Do you actually want saving the subject to raise an error?

[2015-11-27 21:20] mcmire commented on #784
@ehannes I'm working on fixing the additional issues with the numericality matcher right now, it's a little slow going but I *am* working on it. Sorry I don't have anything else.

[2015-11-27 21:27] BrunoQuaresma commented on #850
I agree. Sorry for the stupid question :P and thanks for the anwser

[2015-11-28 04:19] #850 closed

[2015-11-28 06:12] denispeplin commented on #640
@mcmire, I believe I'm actually saving a duplicate inside the block and then testing for the error using the `raise_error` matcher. Am I wrong?

[2015-11-29 03:04] betesh commented on #784
@mcmire What was incorrect about your original comment?

[2015-11-29 08:49] mcmire commented on #640
@denispeplin Oh, I see what you're doing. Yup, that makes sense.

[2015-11-30 15:49] dolzenko commented on #809
This seems to be introduced by https://github.com/thoughtbot/shoulda-matchers/commit/15359eb6ec4f99acd9b970d7129edc641ad68b57. I can't see where the format being a symbol requirement is documented, should we revert that commit? /cc @maurogeorge

[2015-11-30 18:13] thomastran opened #852 "Issue when upgrade to 3.0.1 from 2.8.0 version"
When i upgraded the version to 3.0.1 i got this issue, seem that shoulda-matcher was not loaded.  And rspec worked when i rolled-back the gem to 2.8.0

[code]

=================================
Here is my environment
- Ruby 2.2
- Rails 4
- rspec-rails (3.4.0)

[2015-11-30 22:08] mcmire commented on #852
I'm not certain, but I'm guessing this has to do with where your test file is located. Have you seen [this section in the README](https://github.com/thoughtbot/shoulda-matchers#availability-of-matchers-in-various-example-groups)?

[2015-11-30 22:10] mcmire commented on #809
I think you're right, and I would agree that we should not be symbolizing the `format` -- in fact, we shouldn't even be changing it in any way.

[2015-12-01 08:06] jiggneshhgohel opened #853 "Uniqueness validation spec examples started failing after upgrading from 2.8.0 to 3.0.1"
I have updated shoulda-matchers from 2.8.0 to 3.0.1 and suddenly the uniqueness validation spec examples in few of my model specs have started failing. Showing below details for one of such model:

**Versions**

Rails 4.2.0
ruby-2.2.1 [ x86_64 ]
gem 'shoulda-matchers', '~> 3.0'

**Model**

[code]

**Model spec**

[code]

**Factory definition**

[code]

**Spec run output**

[code]

The strange thin

[2015-12-01 17:27] mcmire commented on #853
The way the matcher works is that it takes the subject, ensures it's saved, and then makes a new record from the model you're using and makes assertions on that new record. `manufacturer` will not be set on this new record.

It's a bug, and we've run into it before, although I can't find the exact issue. Related issues are #778 and #567.

[2015-12-02 14:45] lenart commented on #845
Got to the same problem using different validation. Here's my test code:

### Model

[code]

### Spec

[code]

For debugging purposes here are some gem versions:

[code]

[2015-12-02 15:20] fabn opened #854 "Issue with Shoulda::Matchers::ActiveRecord::Uniqueness::TestModels"
I've just upgraded aasm gem to latest version and now I have a failing shoulda matcher (version 2.8.0) spec. The code is pretty standard, I have a `Bookmark` model which belongs to a user and a bookmarkable (polymorphic) item. A given user can only bookmark items once thus I have this spec:

[code]

Running this spec with latest aasm code raises an error. I tracked the error to [this line](https:/

[2015-12-02 15:21] fabn commented on #854
For the record I temporarily fixed the issue by adding this code in spec setup.

[code]

[2015-12-02 17:54] mcmire commented on #854
Can you post the exception that was raised along with the backtrace?

[2015-12-02 18:02] mcmire commented on #845
I don't know this for sure, but I believe what may be happening is that the results of running the validation for the first value you're passing are [getting cached](https://github.com/thoughtbot/shoulda-matchers/blob/master/lib/shoulda/matchers/active_model/validator.rb#L35). Unfortunately, the `allow_value` matcher is highly stateful and objects are being reused while the matcher is iterating ov

[2015-12-02 18:22] fabn commented on #854
Of course, here it is

[code]

Is caused by [this line](https://github.com/aasm/aasm/blob/64a133407d271d66462082622b67017f60a72374/lib/aasm/persistence/active_record_persistence.rb#L138) triggered in an after_initialize callback because it uses object class as key.

And here's a minimal AR class to reproduce this error

[code]

However notice that AASM is not used in `Bookmark` class but is used i

[2015-12-02 18:53] jwhitley commented on #849
I'm seeing this as well.  Thanks to @anthonator for reporting w/ a tight repro case.

[2015-12-02 22:18] aripollak commented on #852
Or possibly [this section](https://github.com/thoughtbot/shoulda-matchers/blob/master/NEWS.md#300) of NEWS?

[2015-12-02 23:50] mcmire commented on #854
Okay, thanks for that.

What the uniqueness matcher is doing is this:

1. Ensures that a Bookmark exists in the database based on a record you provide
1. Build a new record, copies over all of the attributes involved in the test (including the attributes you're passing to `scoped_to`) and then asserts that this new record is not valid (because it fails the uniqueness check)
1. Goes through the sco

[2015-12-03 12:28] fabn commented on #854
By looking at your explanation and at the code I think there's nothing more that you can do in matcher code. The class has to be different to correctly specs uniqueness constraint.

Maybe it's an issue in aasm itself (I have to try if it works with STI, I don't use it), however I think that shoulda-matchers code is fine as is, thus this issue can be closed if you agree.

For my specific issue, I c

[2015-12-03 17:42] mcmire commented on #854
Alright, sounds good. If you play around with it some more and figure out a fix then let me know and I can revisit this.

[2015-12-03 17:42] #854 closed

[2015-12-03 18:06] fabn commented on #854
For the record I found out that [aasm works with STI](https://github.com/aasm/aasm/blob/64a133407d271d66462082622b67017f60a72374/lib/aasm/aasm.rb#L18) so maybe a little improvement you can do in your code is to create the test model as subclass of original class, but as I said before it's an edge case that you can probably ignore.

[2015-12-03 23:07] thomastran commented on #852
@aripollak yeahh it is.   I guess it's compatibility issue but don't see that on the latest README. Thx

[2015-12-03 23:07] #852 closed

[2015-12-04 00:19] mcmire commented on #852
What did you end up finding out? If it's not in the README, I'm happy to add it.

[2015-12-06 14:11] wjdhamilton commented on #133
:+1: Agreed

[2015-12-07 23:09] turboladen commented on #769
I kinda agree with @sfcgeorge --the matcher seems misleading if the test still passes despite the array you specify in the test doesn't match what's in your code. I understand the procedure behind the matcher (checking inclusion), but that just doesn't seem right. The matcher implies to me that it checks that the arrays are equal, not just that the `in_array` values are in the model's `inclusion:`

[2015-12-07 23:27] mcmire commented on #769
Okay, that's a fair point.

I'll reopen this issue to remind myself to fix this.

[2015-12-07 23:29] turboladen commented on #769
:+1:

[2015-12-08 14:32] ckib16 commented on #849
+1 on this as well. The exact same issue. Happy to help if needed!

[2015-12-08 17:01] aried3r commented on #477
Can we re-open this issue?

[2015-12-08 17:24] mcmire commented on #477
I don't plan on working on this any time soon. What would opening the issue provide?

[2015-12-08 17:28] aried3r commented on #477
Depends, do you see open issues as a TODO list, even for possible future features?

[2015-12-09 05:10] mcmire commented on #477
Sort of. I tend to leave an issue open if it's a bug, because those take priority over features, and I feel like it's important to indicate that I am definitely working on them. I'm really the only maintainer of this gem, and as it turns out, I don't have much time to work on anything but bugs these days, so leaving feature issues open would convey somewhat of a false hope. There are already plent

[2015-12-09 16:27] gmile opened #856 "validates_numericality_of fails when given the number"
Here's a minimal reproduction case the fails for me:
[code]

With the following error:
[code]

I'm running on:
* `shoulda_matchers` 3.0.1
* `rspec` 3.3.1
* `rails` 4.2.4

Is this a bug in `shoulda_matchers`, or am I doing something wrong?

[2015-12-09 17:36] mcmire commented on #856
It looks like you've merely got a typo -- I think you want to pass `greater_than_or_equal_to` to your validation rather than `greater_or_equal_to`.

[2015-12-09 17:42] #856 closed

[2015-12-09 17:42] gmile commented on #856
@mcmire should have payed more attention... thanks!

[2015-12-09 21:59] coneybeare opened #857 "set_flash not detecting values despite them being there"
Using a `set_flash` matcher in this test

[code]

I get an error saying:

[code]

But when I check the flash in a puts statement right before the failed `set_flash` call, it logs

[code]

So why isn't `set_flash` detecting this flash correctly in `flash["notice"]`?

[2015-12-09 22:40] mcmire commented on #857
I'm actually not sure. There's a [test](https://github.com/thoughtbot/shoulda-matchers/blob/master/spec/support/unit/shared_examples/set_session_or_flash.rb#L114) for this, so I'm not sure what to tell you. Is there a way you can reproduce this in a fresh Rails app?

[2015-12-10 00:51] coneybeare commented on #857
I'll try. Though it isn't fresh, I am using Clearance, and other thoughtbot gems.

[2015-12-10 00:55] coneybeare commented on #857
Another example:

[code]

[2015-12-10 17:27] OfTheDelmer opened #858 "Value not translated in validate_length_of_matcher"
The [translate_messages!](https://github.com/thoughtbot/shoulda-matchers/blob/master/lib/shoulda/matchers/active_model/validate_length_of_matcher.rb#L301) method in `ValidateLengthOfMatcher` does not include the `value` in the options passed to  `default_error_message`. This showed up for me when I changed the I18n message to include the value and my tests could not generate a correct expected mes

[2015-12-11 13:36] weppos commented on #836
Same issue here and the reason is exactly the same. We override `email=` to force lower case.

[2015-12-11 13:43] weppos opened #860 "3.x no longer properly checks multiple scope in uniqueness"
We have the following code in a model

[code]

And the following spec

[code]

With 2.x the spec was passing. With 3.x the spec is no longer passing with this error

[code]

It looks like 3.x doesn't properly understand multiple uniqueness with different scopes on the same attribute.

[2015-12-11 18:22] rennanoliveira opened #861 "[Question] Working with belongs_to :relation, required: true"
If you have something like

[code]

Currently, what I can do on my specs is:

[code]

Which does cover it for me, but I'm curious as to ideas on having something in the likes of:

[code]

If it's in the docs, I apologize, I couldn't find it

[2015-12-14 08:41] kimegede opened #862 "belong_to doesn't work in 3.x"
`belong_to` doesn't work for me, with the newest version of `shoulda-matchers` (3.0.0 / 3.0.1).
Downgraded to `2.8.0` and it works.

## Script
[code]

## Error
[code]

[2015-12-14 17:21] mcmire commented on #862
Did you add a `Shoulda::Matchers.configure` block to your rails_helper?

[2015-12-14 17:24] mcmire commented on #861
I believe this may be a newer option that we haven't added yet (I haven't heard of it).

That would be a good idea to add (although I'd have the qualifier be `required(true)` instead of `with_required(true)`).

[2015-12-14 17:25] mcmire commented on #860
Yes, this is a known issue with 3.0. It was already filed as #830, so I'll keep the discussion there.

[2015-12-14 17:25] #860 closed

[2015-12-14 17:28] mcmire commented on #858
Thanks for the report. Not sure when I can get to this, but I'll leave this open in the meantime.

[2015-12-14 17:29] mcmire commented on #857
Ok. Let's tone it down a bit, huh?

[2015-12-14 17:34] coneybeare commented on #857
haha, that wasn't directed at you, I tend to write tests like a f***ing boss. Usually I censor out when posting publicly but forgot to do so here. Sorry for the vulgarity

[2015-12-14 17:38] mcmire commented on #857
Haha, alright :)

[2015-12-16 16:25] Bartuz opened #863 "chain use_before_filter with options"
you can pass options to before_filter `before_filter :authorize, :only => :delete` but there is no matcher for it.

`it { is_expected.to use_before_filter(:authorize).only_on([:delete]) }`

[2015-12-16 19:12] cank commented on #803
I ran into this too. I think the confusion might be because the shoulda README.md contain this:

@mcmire Any chance we can get this clarified in the README? I'd be happy to submit a merge request with some changes too.

[2015-12-16 20:39] lfzawacki commented on #809
+1 I'm affected by the same problem. Tests are being skipped while waiting for a solution.

[2015-12-16 20:49] lfzawacki commented on #836
Affected by this issue as well.

[2015-12-16 20:50] mcmire commented on #803
Sure, that'd be fine.

Would something like this help?

[2015-12-16 21:11] BitPuncher opened #864 "CouldNotSetAttributeError for decimal attribute with non-standard precision"
[code]

Rate is a column created with the sql: `'rate' decimal(8,2) NOT NULL,` which gives it a precision of just 2 decimal places.

The error looks like its attempting to set the value to 0.123456789 but then complains when it gets back 0.12. There's no application code intercepting this its just ActiveRecord truncating the value based on the table definition (I presume).

The test its failing in

[2015-12-16 22:56] mcmire commented on #864
Cool, thanks for the report. It sounds like what we need to do is change the inclusion matcher to use a value that's equal to the length of the decimal column. There are a number of issues that are related to this exception that I am working my way through right now but hopefully I can get to this relatively soon.

[2015-12-16 22:57] mcmire commented on #863
You're right, we don't support that option. We are happy to take a pull request to fix this issue, however.

[2015-12-16 22:57] #863 closed

[2015-12-17 08:33] dolzenko commented on #809
For those waiting for fix - just put this

[code]

into `spec_helper.rb`. That worked for me.

[2015-12-17 17:08] aried3r commented on #809
If that works, would that be sufficient for a pull request?

[2015-12-17 17:27] dolzenko commented on #809
@aried3r no, the whole thing is useless then https://github.com/thoughtbot/shoulda-matchers/blob/8253d4b4c9b5489ea003784e638e04db353f6250/lib/shoulda/matchers/action_controller/route_params.rb#L6

[2015-12-17 17:32] aried3r commented on #809
That's what I meant, can we remove it and be good?

[2015-12-17 23:39] oniofchaos opened #865 "validate_confirmation_of does not work for integer columns"
When using the confirmation validation on an integer value, the `validate_confirmation_of` matcher does not work as it appears to use string values.

[2015-12-18 03:20] mcmire commented on #865
Thanks for the report. I'm not sure when I'll get to this (a PR is encouraged), so I'll keep this open in the meantime.

[2015-12-18 03:26] mcmire commented on #809
You might try:

[code]

[2015-12-18 22:02] brunoocasali commented on #849
:+1: just waiting @mcmire :DD

[2015-12-22 18:22] stephanngamedev opened #867 "DEPRECATION WARNING: request methods will accept only keyword arguments in future Rails versions."
[code]

I'm using Rails 5 alpha.
Instead of:

[code]

Rails 5 will accept only:

[code]

Warning called from:

[code]

My spec:

[code]

My "solution" for now is
change:

[code]

to:

[code]

[2015-12-23 03:14] mcmire commented on #867
Okay! Thanks for the report. I've got a backlog right now of stuff to work through right now, but hopefully I can get to this before Rails 5 ships. PR appreciated. :)

[2015-12-23 12:23] gmmcal commented on #834
+1

[2015-12-24 00:31] oniofchaos commented on #814
@mntj I'm having the same error you are with a single association.

[2015-12-25 13:34] ojab commented on #845
Tried to use shoulda-matchers for the first time, hit it :(.

[2015-12-25 16:12] mcmire commented on #845
@ojab Yes, it's likely that that commit ended up fixing this issue. I never confirmed that though. Since a bug is present in the current version, we probably have a test that's missing. I would be grateful if someone could go in and write a failing test for this -- otherwise, I'll go in after I'm done with the PR (#866) I'm currently working on.

[2015-12-26 16:54] ojab commented on #845
Actually the test [was added](https://github.com/thoughtbot/shoulda-matchers/commit/583be384c359f4cc37968c1905382cb4807df11e#diff-0340393bbed1d14d1761fded1ab3cd0cR95) in 583be38.

[2015-12-27 00:50] KeirSurvival commented on #814
+1

Just run into this after upgrading to v3.

[2015-12-27 01:16] KeirSurvival commented on #832
+1. I'm also using the numericality matches for form error messages.

[2015-12-27 05:01] stephanngamedev opened #870 "Rails 5: belongs_to :class, optional: true"
`belongs_to` will now trigger a validation error by default if the association is not present.
We can turn this off on a per-association basis with `optional: true`.
https://github.com/rails/rails/pull/18937

We will need a qualifier for this.

[2015-12-27 05:13] mcmire commented on #870
Okay -- do you plan on using `optional: true`? We tend to add qualifiers on an as-needed basis.

[2015-12-27 05:16] mcmire commented on #814
Ah, I didn't realize this was a regression. I'll bump up the priority on this.

[2015-12-27 12:13] stephanngamedev commented on #870
Yes. I'm developing a app where a Amiibo may or may not to belongs to Series. ex.: Sonic amiibo belongs to Smash Bros. Series, but Wolf Link amiibo belongs to none.

[2015-12-27 19:16] mcmire commented on #870
Cool. I'm not sure when I'll be able to get to this, as I am working on resolving some regressions with the 3.0 release right now, but I would happily take a PR, otherwise I'll get to it at some point down the line. I'll leave this open in the meantime since it's related to Rails 5.

[2015-12-29 15:03] mareczek opened #872 "validate_numericality_of only_integer with Postgresql Integer column type"
Model:
[code]

RSpec:
[code]

RSpec output:
[code]

[2015-12-29 15:48] angela4713 opened #873 "`validate_numericality_of.only_integer` fails with `only_integer` option and integer DB type"
Hello! I'm using Ruby 2.2.3 and Rails 4.2.5 and I've got the following problem:

Migration:

```t.integer :estimated_hours, null: false```

Model:

```validates :estimated_hours, numericality: { only_integer: true }```

Spec:

```it { should validate_numericality_of(:estimated_hours).only_integer }```

Failure:

[code]

I wonder if this behaviour is intended or a bug

[2015-12-30 10:45] mareczek commented on #873
@angela4713 just yesterday I submitted #872 :-)

[2015-12-30 11:01] mareczek opened #874 "shoulda matchers do not play nicely with normalized values / setters"
Model:
[code]

RSpec:
[code]

RSpec output:
[code]

Is there a way to tell a shoulda_matchers that the attribute is in some way normalized so it doesn't raise these notifications?

[2015-12-30 18:18] mcmire commented on #874
Yes, there will be a way to get around this in the next immediate release by using an additional qualifier, so you'll be able to say:

[code]

(refs #866)

[2015-12-30 18:22] mcmire commented on #872
Thanks. This is a change that was introduced in 3.0, and I'm working on a way to revert it. Unfortunately, there isn't a workaround right now, aside from not using `only_integer`.

[2015-12-30 18:23] mcmire commented on #873
Yup, as I indicated in that PR, this isn't really intentional, and I'm working on a way to fix it.

[2015-12-30 19:01] mareczek commented on #874
Very cool! Thanks!!!

[2015-12-30 19:04] mareczek commented on #872
Cool thanks, at the moment I'm just skipping this example and have another one without 'only_integer'

[2015-12-31 02:26] cfsbsi opened #875 "Use "rails_helper" in README, not "spec_helper""
Hi, on this the github.com/thoughtbot/shoulda-matchers the configuration said:

Place the following in your test or spec helper:

but it can't work, I had to put it on rails helper, if it was correct would be better, because I am new on rails and I lost a lot of time with that, thanks, sorry about something.

[2015-12-31 10:56] cfsbsi commented on #875
sorry, I had a problem with configuration and I don't know the correct place. I am looking for a solution yet.

[2015-12-31 19:38] mcmire commented on #875
Really sorry that this was confusing for you. I still colloquially refer to the `rails_helper` file as the "spec helper" (I should have said "whatever helper file is appropriate to your test framework" but that's too long to say). I'll correct this soon.

[2016-01-01 13:22] cfsbsi commented on #875
Thanks about the feedback.

[2016-01-01 20:59] TurtleShip commented on #875
I was on the same boat with @cfsbsi ...
I kept getting ```spec_helper.rb:94:in `<top (required)>': uninitialized constant Shoulda (NameError)``` when I put on the configuration to ```spec_helper.rb```

Moving the configuration to ```rails_helper.rb``` solved it though.

[2016-01-01 22:23] lucascaton commented on #849
Any news on this one?

[2016-01-04 18:02] mcmire commented on #849
I am wrapping up adding `ignoring_interference_by_writer` to all matchers. I will most likely release a new version once that is merged. It'll probably happen this week.

[2016-01-04 18:29] mcmire commented on #875
This is now fixed in 80b791d34b7af186493cb6ecc6717cfb6b46083c.

[2016-01-04 18:29] #875 closed

[2016-01-05 18:42] camullen commented on #849
+1 on this issue

[2016-01-06 04:55] mcmire commented on #799
@ArturT @jetaggart @bdewater There's now a fix for this in master. Would you be willing to point to the GitHub repo in your Gemfile and let me know if that resolves this issue?

[2016-01-06 05:00] mcmire commented on #832
This has now been removed in 5ed03624197314865ff5463e473e5e84bb91d9ea. Cheers.

[2016-01-06 05:00] #832 closed

[2016-01-06 06:05] ineu commented on #832
Awesome, thank you!

[2016-01-07 10:38] usamanoman commented on #384
version 2.8.0 solved my problem.

[2016-01-07 21:03] mcmire commented on #836
I'm going to close this in favor of #840 to clean things up a bit.

[2016-01-07 21:03] #836 closed

[2016-01-07 23:23] mcmire commented on #872
@mareczek This should now be fixed. Would you be willing to point to master in your app's Gemfile and see if that fixes the tests that were failing?

[2016-01-07 23:24] mcmire commented on #874
@mareczek This should now be fixed. Would you be willing to point to master in your app's Gemfile and see if that fixes the tests that were failing?

[2016-01-07 23:24] mcmire commented on #873
@angela4713 This should now be fixed. Would you be willing to point to master in your app's Gemfile and see if that fixes the tests that were failing for you?

[2016-01-08 09:19] mareczek commented on #874
Of course! Will let you know in a sec

[2016-01-08 09:30] mareczek commented on #874
The cases that I showed in the issue work but a different case remains broken:
Model:
[code]

RSpec
[code]

RSpec output:
[code]

[2016-01-08 09:34] mareczek commented on #874
Will this be release to a specific version any time soon?

[2016-01-08 09:36] mareczek commented on #872
@mcmire yup, confirmed. Works

[2016-01-08 09:36] #874 closed

[2016-01-08 09:37] #872 closed

[2016-01-08 16:58] mcmire commented on #874
Yeah, I still need to finish #841 and #864, but those should be simple, and then I'll release 3.0.2.

[2016-01-08 21:58] mareczek commented on #841
Does array of ints count as type?

[2016-01-09 15:26] rilian commented on #873
for me v 3.0.1 is also failing and
[code]

takes forever to do `bundle install`

are there any faster ways to download this commit ?

[2016-01-09 15:34] rilian commented on #873
update: for today it worked with `gem 'shoulda-matchers', github: 'thoughtbot/shoulda-matchers'`

for me issue is resolved :tada:

[2016-01-10 05:24] mcmire commented on #873
@rilian Good to hear! Just to make sure, was your test pretty similar to what @angela4713 posted up above?

[2016-01-10 05:26] mcmire commented on #841
Does the numericality validation make sense with an array of integer?

[2016-01-10 05:54] mcmire commented on #825
I'm delaying this until we get all of the 3.0.0 regressions under control.

[2016-01-10 06:00] mcmire commented on #825
In the meantime, I've [updated the README](e2fc1595627dfcb629cb6cb0bd534fd4852e65b9) to suggest that shoulda users use shoulda-matchers 2.8.0.

[2016-01-10 07:14] mcmire commented on #841
Since [`allow_value` no longer raises a CouldNotSetAttributeError](5532f4359aa332b10de7d46f876eaffd4a95b5b6), this issue is basically resolved. However, I added an explicit test [here](a559713f96303414551c0bc1767fb11eb19bcc5d), so this issue is *really* resolved.

[2016-01-10 07:14] #841 closed

[2016-01-10 07:16] mcmire commented on #864
@BitPuncher I believe with some of the new changes I have been making, this issue is effectively resolved -- would you be willing to bump to the shoulda-matchers github repo in your Gemfile and re-run the test that was failing for you?

[2016-01-10 08:30] mcmire commented on #845
I've [added some tests](https://github.com/thoughtbot/shoulda-matchers/commit/2aee2f4168d3e639d9d88e691e2944c0ad0e50bb) to prevent this from happening again in the future. They all pass, so I'm closing this issue now.

[2016-01-10 08:30] #845 closed

[2016-01-10 09:23] rilian commented on #873
yes, i had the same test with one more validation (greater than 0). i can try to run the spec without it but it feels that it will run well

[2016-01-10 11:59] backus commented on #845
Thanks!

[2016-01-10 17:10] mcmire commented on #873
Okay, great! I'll consider this fixed, then, and close this.

[2016-01-10 17:10] #873 closed

[2016-01-10 17:16] rilian commented on #873
thanks! do you plan to release 3.0.2 soon?

[2016-01-11 01:27] oogali opened #877 "Hidden dependency on active_support"
**TL;DR version: Consider changing references from the active_support-specific ```in?``` to the pure Ruby form: ```include?```**

I have a project that uses Sinatra and ActiveRecord, but not Rails. For testing, I'm using RSpec, Factory Girl, and shoulda-matchers.

I'm attempting to write a test to validate the uniqueness of a column with a scope:
[code]

but running into an exception on each run:

[2016-01-11 03:20] mcmire commented on #877
Sure, I would be okay with that.

To be fair, ActiveRecord does depend on ActiveSupport internally, and shoulda-matchers also depends explicitly on ActiveSupport 4 too (see the [gemspec](https://github.com/thoughtbot/shoulda-matchers/blob/master/shoulda-matchers.gemspec#L22)). The thing is, of course, that just because you're requiring the active_support gem doesn't mean you're requiring *all* of

[2016-01-11 06:25] mcmire commented on #873
@rilian Just released a new version. It's 3.1.0, since we added a new feature, but there you go!

[2016-01-11 06:28] mcmire commented on #786
3.1.0 is now released with a proper fix for this.

[2016-01-11 06:28] #786 closed

[2016-01-11 06:28] mcmire commented on #799
3.1.0 is now released with the aforementioned fix.

[2016-01-11 06:28] #799 closed

[2016-01-11 06:29] mcmire commented on #864
3.1.0 is now released and it should fix this.

[2016-01-11 06:29] #864 closed

[2016-01-11 10:44] rilian commented on #873
:sparkles:

[2016-01-11 12:35] oogali commented on #877
That's true, I overlooked that dependency, thanks for pointing that out.

I'll put together a PR this morning.

[2016-01-11 13:31] sylvinho81 commented on #384
version 2.8.0 solved my problem.

[2016-01-11 18:45] BitPuncher commented on #864
Indeed it does, thank you very much.

[2016-01-11 20:34] #877 closed

[2016-01-12 08:52] lucascaton commented on #849
`shoulda-matchers` 3.1.0 has been released and this issue is fixed now.

Thanks! :smile:

[2016-01-12 10:24] ojab commented on #861
In rails 5 `required: true` will be default option for `belongs_to`, so it makes sense to make it default in shoulda-matchers too.
See also #870.

[2016-01-12 15:39] brandonweiss opened #880 "Validating uniqueness on an association column seems to fail with a presence validation on the association"
[code]

[code]

[code]

[2016-01-12 16:45] j15e commented on #880
I also found this issue with `3.1.0` (I updated to get the #849 fix).

I guess I could use a model instance with values rather than the class to work around issue this, but the specs won't be as isolated and as fast as they are.

[2016-01-12 16:54] angela4713 commented on #873
Hi @mcmire sorry for the delay but is confirmed. It works, thanks.

[2016-01-12 17:01] mcmire commented on #873
Cool, good to hear, thanks for getting back to me.

[2016-01-12 17:06] mcmire commented on #880
Ah, I was a little overzealous in providing some more checks that I thought would be useful. You're right that this won't work. I'll remove that check.

[2016-01-12 17:07] #849 closed

[2016-01-12 19:27] brandonweiss commented on #880
Thanks!

[2016-01-12 20:42] jasnow commented on #880
Wow - just finished writing the issue up:

Appears that the shoulda-matcher(3.1.0)'s validate_uniqueness_of  can not support "can't be blank"

Steps to reproduce:

 1. Clone this repo locally: https://github.com/24pullrequests/24pullrequests

 2. Remove the "skip"s in these two files: spec/models/project_label_spec.rb, spec/models/project_spec.rb

 3. Ran "rake" and you get output similar to this

[2016-01-13 00:29] mcmire commented on #880
Sorry... just a oversight on my part. Amazing how one little change can break everything.

I'll try to get another release out soon with a fix for this.

[2016-01-13 00:50] ArturT commented on #799
@mcmire Thanks for fix. It works now.

I had tiny problem because I'm testing `BuildValidator` class instead of active model. `BuildValidator` was using `method_missing` to pass call to underling entity (I'm using virtus gem). Method `attribute_exists?` in https://github.com/thoughtbot/shoulda-matchers/commit/296211211497e624dde87adae68b385ad4cdae3a/lib/shoulda/matchers/active_model/allow_value_ma

[2016-01-13 17:51] jetaggart commented on #799
@mcmire sorry for the delay, this is working for our simple cases. Thanks for the fix!

[2016-01-13 17:54] mcmire commented on #799
@jetaggart Awesome! Glad to hear.

[2016-01-13 18:46] hugocorbucci commented on #880
:+1: Hitting this issue too.
Thanks @mcmire for looking into it and fixing it this quickly!

[2016-01-13 19:12] kchandrasekera commented on #862
Thanks, adding this to `rails_helper.rb` worked for me:

Shoulda::Matchers.configure do |config|
 config.integrate do |with|
   with.test_framework :rspec
   with.library :rails
 end
end

[2016-01-13 20:28] 8vius opened #881 "undefined method `validate_numericality_of'"
I'm getting this error when running some specs

[code]

My shoulda-matchers version is 3.1.0. Any idea what might be the issue?

[2016-01-13 22:11] BitPuncher commented on #880
I presume this is the same problem but just in case its not, I have a bunch of uniqueness validation expectations, not just on association columns, that fail due to every other validation failing on the object.

As an example:
[code]

With the following specs:
[code]
Gives the following failure:
[code]

[2016-01-13 22:57] mcmire commented on #880
Yeah, it's likely the same problem. Sorry about that.

[2016-01-13 22:58] mcmire commented on #881
Did you follow the [instructions in the README](https://github.com/thoughtbot/shoulda-matchers#configuration) to configure the gem?

[2016-01-13 23:09] 8vius commented on #881
Yeah, I found the error. The test was defined as a `feature` spec and from what I saw that method only works in model specs. Thanks!

[2016-01-14 09:10] kimegede commented on #862
@kchandrasekera I will need to test that out! :)

[2016-01-14 18:46] Szeliga opened #882 "RSpec compound matchers"
Hello,

I was playing around with compound matchers in RSpec (https://relishapp.com/rspec/rspec-expectations/v/3-4/docs/compound-expectations) and noticed that shoulda-matchers don't support them:

[code]

results in

[code]

I was wondering about implementing this feature and creating a PR, is it something you would like to have in shoulda-matchers?

Best regards,
Szymon

[2016-01-15 16:04] yalmasri opened #883 "The record you provided could not be created, as it failed with the following validation errors"
Hi.

I'm trying to validate an attribute 'name' of the class Category:

app/models/category.rb:
[code]

spec/models/category_spec.rb:
[code]

when I run `rspec`, it gives me this error:
[code]

what is the wrong of my code?

[2016-01-15 16:40] lucianosousa commented on #862
also, add: `require 'shoulda/matchers'` on `rails_helper.rb`

[2016-01-15 17:07] nkchouhan commented on #384
It is working for me
[code]

[2016-01-15 17:51] mcmire commented on #883
It's nothing you did, this is a regression introduced in 3.1.0. A related issue was raised in #880, so I'll keep that open and close this. I'll have a release out very soon that will fix this.

[2016-01-15 17:51] #883 closed

[2016-01-15 17:52] mcmire commented on #862
Yup, although, it isn't necessary to require shoulda-matchers manually anymore, just fyi.

[2016-01-15 17:55] yalmasri commented on #883
ok thank you so much.

[2016-01-15 17:57] mcmire commented on #882
Someone else made a request for this a while back: #645.

Personally, I don't know if I'd use this. I feel like this would lead to long lines, and we like to keep lines under 80 characters.

That said, I am open to adding this if it makes writing tests easier or improves error messages. Is there a reason why you'd want to do this specifically?

[2016-01-15 17:58] mcmire commented on #881
That makes sense. Glad you figured it out :)

[2016-01-15 17:58] #881 closed

[2016-01-16 16:58] mcmire commented on #880
@BitPuncher Actually, I don't know if that test would have passed even on 3.0.1. The matcher requires a record to be in the database, and there's not one, it'll take the record you provide and try to save it. So that probably would have failed validation. Do you think you can confirm that on 3.0.1?

[2016-01-16 22:18] psantos10 opened #884 "validate_uniqueness_of fail when it should pass"
I have this model:

[code]

And this spec:

[code]

I expected this test to pass, but it still falling with following error:

`
1) User validations should validate that :email is case-insensitively unique
     Failure/Error: it { should validate_uniqueness_of(:email).case_insensitive }

       User did not properly validate that :email is case-insensitively unique.
         The record you provided

[2016-01-17 15:46] obfuscoder opened #885 "Since 3.1.0 matcher validate_uniqueness_of fails for integer fields"
I have the following model:

[code]

After I updated from 3.0.1 to 3.1.0 The following expectation started to fail:

[code]

With the following error:

[code]

Adding option **ignoring_case_sensitivity** does not help.

[2016-01-18 16:29] mcmire commented on #885
This is related to #880 (although not quite the same) and I'll have a fix for this soon.

[2016-01-18 16:30] mcmire commented on #884
It's a bug, yes. This is the same issue as #880 (so I'll close this). I'll have a fix out for this very soon.

[2016-01-18 16:30] #884 closed

[2016-01-18 20:58] lolgear commented on #830
the same, but for my cases 3.0.1 works pretty well

[2016-01-18 22:44] mcmire commented on #830
@lolgear Can you elaborate how 3.0.1 was an improvement?

[2016-01-19 10:02] lolgear commented on #830
[code]

[2016-01-19 17:12] mcmire commented on #830
@lolgear Oh okay. That's actually a different bug than the one presented here -- see #880 -- but it will be fixed in the next release along with this one.

[2016-01-19 19:07] jeremyf opened #887 "shoulda-matchers fails with private attributes"
From version 3.0.1 to version 3.1.0 private attribute setting can no longer be validated via Should::Matchers. Consider the following PORO.

[code]

The following commit broke the validation, https://github.com/thoughtbot/shoulda-matchers/commit/296211211497e624dde87adae68b385ad4cdae3a, changed the attribute tests from `__send__` to `public_send`

I believe if the following changes will resolve th

[2016-01-19 20:12] mcmire commented on #887
I'm going to close this since you made a PR for this and all the information is there too.

P.S. see my comment there about this.

[2016-01-19 20:12] #887 closed

[2016-01-19 21:29] jeremyf commented on #887
:+1:

[2016-01-19 21:49] BitPuncher commented on #880
Sorry I had to fix something else in my factory that was causing a break to make sure it was unrelated. It passes when I revert to 3.0.1 and in 3.1.0 it continues to break. I changed the factory to be a `{ create :group_action }` and it fails the same way while passing in the former version.

[2016-01-19 22:55] jpkeane commented on #880
Thanks for the quick response! Falling back to 3.0.1 until 3.1.1 released.

Just to confirm, for me, all validate_uniqueness_of fails for me whilst I have a Postgres DB constraint for NOT NULL on the value being checked.

[2016-01-19 22:58] jpkeane commented on #880
Can see how it slipped the net, cant recreate without the NOT NULL constraint on the DB. Anyone with better TDD skills than me now a way to spec that out?

[2016-01-19 23:45] mcmire commented on #880
A fix for this is now in master: 45de8698487d57f559c5bf35818d1c1ee82b0e77

[2016-01-20 01:08] jpkeane commented on #880
Tested fix on the above use case, work with patch 45de8698487d57f559c5bf35818d1c1ee82b0e77

[2016-01-22 00:07] brandonweiss commented on #880
Thanks so much! Release plz :grin:

[2016-01-22 03:01] stevenspiel opened #889 "delegate_method to instance variable raising error"
I have a test:

[code]

which is throwing the error:

[code]

This is what my class looks like:

[code]

If I add an `attr_reader` for `@directive` and test with `delegate_method(:revision).to(:directive)`, it works fine. Is there something I'm missing?

The full spec file is below:

[code]

[2016-01-22 05:27] mcmire commented on #889
The `delegate_method` matcher doesn't support using an instance variable as the target -- it only supports using a method right now, unfortunately. A PR to add this is welcome, though.

[2016-01-22 15:57] CUnknown commented on #384
Make sure you have `type: :model` as argument of the describe call in the model spec files.

[2016-01-23 17:57] oseifrimpong commented on #684
I added this and it worked!

    Shoulda::Matchers.configure do |config|
       config.integrate do |with|
       # Choose a test framework:
       with.test_framework :rspec
      with.library :rails
       end
  end

[2016-01-24 00:31] #889 closed

[2016-01-24 17:35] vinhnglx commented on #880
Thanks :) I'm waiting for this release :smiley:

[2016-01-25 05:52] mcmire commented on #814
I just reproduced this and this doesn't appear to be a regression -- I encountered the same issue on 2.8.0.

I'm working on a fix for this, but I'm going to hold off on including it in the next release.

[2016-01-25 12:44] damienh opened #890 "Rails 3.2 to respond to `has_many?`"
Hi,

I am using `2.8.0` within a Rails `3.2.21` and Ruby `2.1.3`. I am using rspec-rails `3.1.0`. I would use `3.0` but I dont have activesupport `4.0`.

I am experiencing the following error:

[code]

when running a spec with this code:

[code]

within my `rails_helper.rb` I have:

`require 'shoulda/matchers'`

within my `user.rb` I have the following:

`has_many :messages`

I have `it { should v

[2016-01-25 13:12] damienh commented on #890
also I am using `mongoid` `2.5.2`

[2016-01-25 19:11] mcmire commented on #890
shoulda-matchers doesn't explicitly support Mongoid. It was designed for ActiveRecord, and the gem will make ActiveRecord-specific matchers (such as `have_many`, `belong_to`, `validate_uniqueness_of`, etc.) available for use in example groups automatically [only if ActiveRecord is loaded](https://github.com/thoughtbot/shoulda-matchers/blob/v2.8.0/lib/shoulda/matchers/integrations/rspec.rb).

You c

[2016-01-25 19:11] #890 closed

[2016-01-26 00:37] jipiboily commented on #890
Btw, I'm using ActiveRecord but today while upgrading Rails and every other gem in one app I'm maintaining, it broke for me too (no Mongoig)...and this worked for me:

[code]

I have no idea which gem upgrade broke it for me, but thought I would still share that this workaround worked like a charm. Cheers

[2016-01-26 09:07] acandael commented on #880
Having this issue too. Waiting for the next release

[2016-01-26 12:34] sonalkr132 opened #891 "undefined method `validate_*' with 3.1.0"
Hi, I recently updated to rails 4.2.5.1 and shoulda-matchers to 3.1.0 (from 2.8.0). My tests which use:
* validate_presence_of
* validate_length_of

have started failing. I suspect failure is more general than just those two methods. Error log doesn't really say much:

[code]

If you help you investigate this I can send PR. This issue doesn't exist on `shoulda-matchers 2.8.0`.
I have pushed an exa

[2016-01-26 18:38] mcmire commented on #891
shoulda-matchers no longer automatically mixes itself into your test framework -- you need to use a configuration block to manually tell the gem which test framework you're using. See the [relevant part of the README](https://github.com/thoughtbot/shoulda-matchers#rspec) for more.

[2016-01-27 11:17] sonalkr132 commented on #891
Thanks @mcmire :heart:

[2016-01-27 11:17] #891 closed

[2016-01-28 07:06] mcmire commented on #830
@luismaia

I've got a partial fix for the original issue mentioned at the very top here: 28bd9a10c71af4d541b692d6204163c394ebd33c.

The reason why it's a partial fix is because the matcher now knows about multiple uniqueness validations that are on the same attribute, so you won't get the exact failure you got again.

But there's still an issue lurking here, and this happens to be one of those iss

[2016-01-28 07:23] mcmire commented on #885
This should be fixed in 3.1.1.

[2016-01-28 07:23] #885 closed

[2016-01-28 07:23] mcmire commented on #880
3.1.1 is now available!

[2016-01-28 07:23] #880 closed

[2016-01-29 04:52] matrinox commented on #384
:+1: Add `require: false` to `gem 'shoulda-matchers', require: false` worked for me

Moving the gems around didn't, same with the requires. Thanks!

[2016-01-30 23:18] coneybeare opened #893 "Basic validates_uniqueness_of test fails"
Using a `User` model with `case_sensitive` validation on username:

[code]

...and a `user_spec` with the following shoulda-matcher:

[code]

...the test fails complaining about username uniqueness problems. I cannot recreate the issue using the console, all validations work properly.

[code]

I see that you have changed the way this matcher works in recent weeks... so I ask is this a bug, or am I

[2016-01-31 10:17] Uysim commented on #862
Get the same problem

[2016-01-31 10:18] Uysim commented on #834
+1

[2016-01-31 16:11] artdias90 commented on #684
+1 for the fix

[2016-02-02 00:55] SupremeA commented on #684
+1 for that fix Thanks!

[2016-02-02 05:08] dogweather opened #894 "Question: How do the validation matchers actually work?"
I'm asking because in my own tests, I literally instantiate a new ActiveRecord model with the attribute in question set to `nil`. And then I test if it's `valid?`. I feel like this is the most robust way to test validations. How does shoulda-matchers do it?

I tried tracing through the code to learn how `validate_presence_of` does its test, but I couldn't find the actual test itself. I.e., for thi

[2016-02-03 00:08] leesmith commented on #893
Your error is referencing `slug`...is that a copy/paste mistake?

[2016-02-03 17:03] coneybeare commented on #893
Yes, copy paste error sorry. I also validate uniqueness of `:slug`

[2016-02-03 17:12] coneybeare commented on #893
I'm going to close this... sorry. It's stemming from an issue with my `friendly_id` setup changing the slug and username to something different before validation if conflict is detected.

[2016-02-03 17:12] #893 closed

[2016-02-03 23:46] RyanNaughton commented on #764
I think this issue should be re-opened.

A presence check should not rely upon the ability to use a setter method. There are many legitimate cases where you don't want to expose a setter, but you still need to ensure that the attribute is present.

My suggestion is that shoulda should stub the attribute getter method to return nil to check that the validation fails and stub it to return a non-nil

[2016-02-03 23:56] RyanNaughton opened #895 "Shoulda matcher does not work with attr_reader"
I think this issue should be re-opened: https://github.com/thoughtbot/shoulda-matchers/issues/764

A presence check should not rely upon the ability to use a setter method. There are many legitimate cases where you don't want to expose a setter, but you still need to ensure that the attribute is present.

My suggestion is that shoulda should stub the attribute getter method to return nil to check

[2016-02-08 05:55] chrisccerami opened #896 "Missing dependency for `test-unit` with Ruby 2.3/Rails 3.x"
Our app is on Rails `3.2.22` and we recently looked into upgrading our Ruby version to `2.3.0`. Because `test-unit` is no longer included with Ruby in `2.3.0`, we can no longer use `shoulda-matchers` without separately adding `test-unit` to our Gemfile. I was wondering if there's any interest in still patching older versions, like creating a `2.8.1` of `shoulda-matchers` that includes `test-unit`,

[2016-02-08 19:09] Zensaburou opened #898 "`validate_presence_of` method undefined when running `rspec`"
When running rspec spec, shoulda gem version >= 3.0.1

Reverting to 2.8.0 fixes this. Gemfile copied below:

[code]

[2016-02-10 06:09] jerryjohnjacob opened #900 "undefined method `permit' when running controller specs"
I've updated shoulda-matchers from version 2.8.0 to 3.1.1.

Getting the following error now for specs which were **previously passing**:

     AdjustmentsController#create
     Failure/Error:
       is_expected.to permit(
         :amount,
         :time_of_transaction,
         :description,
         :type).for :create, params: { loan_id: loan.id }

     NoMethodError:
       undefined method `pe

[2016-02-10 06:37] jerryjohnjacob commented on #900
Actually, just managed to fix it. Looks like there are configurations required for the new version. Adding the following to `rails_helper` helped resolve the issue:

    Shoulda::Matchers.configure do |config|
      config.integrate do |with|
        with.test_framework :rspec
        with.library :rails
      end
    end

[2016-02-10 06:37] #900 closed

[2016-02-10 06:54] jerryjohnjacob commented on #900
In case anyone else faced the issue and is wondering, [here's why](https://robots.thoughtbot.com/shoulda-matchers-3-0#an-aside-why-did-the-installation-instructions-change).

[2016-02-10 17:30] fidalgo opened #901 "undefined method `arity' for nil:NilClass on an have_db_index with unique option"
When I have an unique option in a index I have the following message:

[code]

I have provided an  sample application where you can find this behaviour:
https://github.com/fidalgo/shoulda_bug_unique_index

just run `rake spec` and you'll get:

[2016-02-12 01:39] dchersey commented on #763
I'm running with shoulda-matchers 3.1.1 and also getting this reference.
My rails_helper has
[code]

I am getting

[code]

[2016-02-12 14:41] fidalgo commented on #901
Sorry my mistake to not keep a close eye on [documentation](http://matchers.shoulda.io/docs/v3.1.1/Shoulda/Matchers/ActiveRecord.html#have_db_index-instance_method):

[code]

[2016-02-12 14:41] #901 closed

[2016-02-16 18:44] dideler opened #903 "undefined local variable or method `set_flash'"
Here are some simplified snippets of my test environment:

[code]

[code]

But I get the error

[code]

It works when I include the module in the spec file
[code]

[2016-02-17 17:51] DexterTheDragon commented on #857
This appears to be a problem with Rails 4.0. The problem code is [this line](https://github.com/thoughtbot/shoulda-matchers/blob/master/lib/shoulda/matchers/action_controller/flash_store.rb#L29). Starting in Rails 4.1 the flash keys are normalized to a string. In Rails < 4.1 if you set a flash as `flash[:notice] = "message"` then the key is kept as a symbol and since the matcher only checks for st

[2016-02-18 10:28] lucasgomide commented on #682
I have the same problem, and any solution worked for me ):

[2016-02-18 22:37] perryqh commented on #384
@CUnknown suggestion of ```type: :model``` worked for me in an engine-gem.

[2016-02-19 08:25] gamov commented on #825
Is it possible, in the meantime, to use shoulda-matchers and minitest without shoulda-context (which provides the 'should' keyword?)? For example, calling them in some fashion in a regular test?

[2016-02-19 21:05] olimart commented on #825
@gamov I've tried a bunch of things but all failed so I gave up and now waiting for the release (not sure what's holding on though).

[2016-02-20 10:28] Draiken opened #904 "undefined method `attribute_setter' for nil:NilClass"
Hello!

I'm receiving an error when a validation fails with the `validates_inclusion_of` matcher. If the validation is present, everything is fine, but without it when building the failure message you get this error:

[code]

My class and spec look close to this:

[code]

I am using active model outside of rails, configuring `Shoulda` to integrate with `RSpec` and `ActiveModel`. Ruby version is 2.

[2016-02-21 00:39] mutant-city opened #905 "Two conflicting shoulda matchers allow_value expressions are both passing"
`:speed`is simply a numeric model attribute.

Both of these are passing:

[code]

With a minor change, the second one is not passing:

[code]

Apparently, if there's a single passing value in the `not_to allow_value` expression the whole list of values passes.

I'm not quite understanding if it's working as intended and I'm doing it wrong, or if it's a bug.

It seems like it's a bug according to h

[2016-02-21 01:15] nkiermaier commented on #905
It almost seems like the boolean logic is such that it reverses the entire statement instead of just the return value.
So that while ```expected.to allow_value``` FAILS if one value in the list fails.... ```expected.not_to allow_value``` PASSES as long as one value passes.

[2016-02-21 01:25] nkiermaier commented on #905
Also, I'm on Sinatra.

[2016-02-22 12:44] eccyan commented on #895
I have the same problem. I use this workaround:

[code]

Rails can use validations for virtual attributes, so I think I want a method does not use the Setter as @RyanNaughton  says.

[2016-02-22 21:43] variousred commented on #763
@dchersey  I'm getting the exact same thing.

[2016-02-23 16:12] aried3r commented on #682
I solved it the same way @tarasmatsyk solved it.
[code]

Funnily enough, this didn't happen before, only after refactoring the my specs which contained a subtle error in my factories.

[2016-02-23 19:39] dchersey commented on #763
I went back to 3.1.1 and added require: false to my gemfile and it resolved
my original issue of the matchers not being picked up. I am not sure what
is up with this latest release; it seems shoulda does not support it
(perhaps for this reason).

My gemfile now has:

 gem "shoulda", require: false
  gem 'shoulda-matchers', require: false

This gives me

  * shoulda (2.11.3)
  * shoulda-kept-assign

[2016-02-25 09:35] agbodike commented on #857
Looks like you now know the problem, but I have the same issue in rails 4.0.13.

Of the following two tests:

[code]
The first works fine, but the second fails with the following error:

[code]

[2016-02-26 08:14] ajvondrak opened #906 "NoMethodError: undefined method negative_failure_message for Shoulda::Matchers::ActiveModel::AllowValueMatcher"
Using Minitest 5.8.4, shoulda-context 1.2.1, and shoulda-matchers 3.1.1 with an assertion like

[code]

When there's a logical failure in the test, we try to show a negated failure message. However, it seems like shoulda-context and/or shoulda-matchers winds up trying to call `negative_failure_message`, which raises ```NoMethodError: undefined method `negative_failure_message' for #<Shoulda::Match

[2016-02-27 00:36] olliebennett commented on #894
Hey @dogweather - be careful if your approach is only checking the record is valid overall.

Rather than doing something like this:

[code]

you must ensure you check the specific attribute under test:

[code]

To see why, suppose that after adding this test, a new required attribute is defined (and validated), but then the `email` validation is accidentally removed again. Test 1 will continue to

[2016-02-27 00:42] olliebennett commented on #903
Hi @dideler,

Perhaps you've not configured `Shoulda` correctly? Have you added the following in your `spec/rails_helper.rb`, for example?

[code]

The [Getting Started Guide](https://github.com/thoughtbot/shoulda-matchers#getting-started) has more info.

Do other shoulda-matchers fail to work too, or is it just `set_flash`?

[2016-02-27 00:45] olliebennett commented on #898
Hey @Zensaburou,

As documented in [NEWS.md](https://github.com/thoughtbot/shoulda-matchers/blob/master/NEWS.md#300), there was a breaking change which means we needed to change the way we configure `shoulda` after the update.

See [Getting Started](https://github.com/thoughtbot/shoulda-matchers#getting-started) for more info.

[2016-02-27 00:54] olliebennett commented on #862
For any others with this problem, it's worth linking to the [changelog entry](https://github.com/thoughtbot/shoulda-matchers/blob/master/NEWS.md#300) about the backwards-incompatible change at `v3.0.0`; we need to update the way we configure Shoulda, as described in the [Getting Started Guide](https://github.com/thoughtbot/shoulda-matchers#getting-started).

[2016-02-27 01:25] dideler commented on #903
That solves it, thanks. Missed that step somehow.

[2016-02-27 01:25] #903 closed

[2016-02-27 02:57] zavan commented on #861
I'm using Rals 5.0.0.beta3 with RSpec 3.5.0.beta1 and shoulda-matchers 3.1.1

Consider:

[code]

Rails changed the "required" balongs_to validation message.
The ` it { is_expected.to validate_presence_of :user }` assertion fails:

[code]

[2016-02-27 17:49] ajvondrak opened #907 "JoinTableMatcher false negatives on symbol vs string join_table_name"
With an association on my model like

[code]

the test

[code]

fails with a message that the join table "doesn't exist", which is checked by this line: https://github.com/thoughtbot/shoulda-matchers/blob/26a35978f635c2068ada2ab9d7f21fd228a205b4/lib/shoulda/matchers/active_record/association_matchers/join_table_matcher.rb#L27

The table actually does exist, but setting up breakpoints I noticed why

[2016-02-27 20:44] otavioschwanck opened #908 "undefined method `scoped_to' for :login:Symbol"
When i try to validate uniqueness i get the error:

undefined method `scoped_to' for :login:Symbol

I have the follow code:
`      it { is_expected.to validate_uniqueness_of (:name).scoped_to(:login)}
      it { is_expected.to validate_uniqueness_of (:login).scoped_to(:login)}`

in model class:

	validates_uniqueness_of :login, :name, scope: :login

Shoulda Matcher version: 2.8.0

[2016-02-28 23:47] halilim commented on #904
I'm getting the same error with a regular Active Record association:

[code]
And similarly, it's gone when the validation is in place.

[2016-03-01 15:58] kdmcclin commented on #384
I'm on Rails 4.1.6 and shoulda-matchers 3.1.1 and I had to do the new configuration as described in the [official documentation](http://matchers.shoulda.io/docs/v3.1.1/) and the `describe Category, type: :model do` bit mentioned above.

[2016-03-01 20:44] vinsy commented on #684
+1

[2016-03-02 04:02] kvokka opened #909 "2 way dependency bug"
I have 2 tables

[code]

before adding logo field all was perfect, after a had to add to specs

[code]

And tests fails with message

[code]

[2016-03-02 20:17] adinsley commented on #684
I needed this fix to get shoulda-matcher working with rspec as well

[2016-03-03 05:26] lifeiscontent commented on #133
@mcmire any updates here?

[2016-03-06 15:09] daltondiaz commented on #684
Thanks, fix the problem with **respond_with** o/

[2016-03-09 14:00] begedin opened #912 "PR #829 breaks "define_enum_for" matcher for enums that do not actually use integer columns"
Say we want a status enum that looks like

[code]

With the changes made in PR #829, we can no longer spec for that enum with

[code]

Are active record enums with strings as underlying column types not allowed? I couldn't find any information that would explicitly make it so.

I believe the matcher should only enforce integer type if the provided expected enum value is an array, or if it's a hash

[2016-03-09 23:20] adammcfadden opened #913 "`cast_type` use in rails_shim causes a problem with the serialize matcher - Rails 5"
I have seen this issue in Rails 5, and shoulda-matchers 3.1.1 (along with pulling shoulda-matchers directly from master).

[code]

This cast_type attribute has been removed from ActiveRecord::ConnectionAdapters::MySQL::Column per [this commit](https://github.com/rails/rails/commit/158c7eb1d61a28452e0aafd1e05314352eea2749#diff-ece1d9e4cf3db41b2c394e2acfcc2330)

The cast_type attribute is called fro

[2016-03-09 23:42] adammcfadden commented on #913
As another note, the serialized_attributes method has been [removed from Rails 5](https://github.com/rails/rails/pull/15704) which will cause issues within the [same method on the rails_shim](https://github.com/thoughtbot/shoulda-matchers/blob/master/lib/shoulda/matchers/rails_shim.rb#L32)

[2016-03-10 15:05] Arpsara opened #914 "have_and_belongs_to_many and inherited models?"
Hi!

First of all, thank you for providing this great gem! :)

It seems I have an issue when I try to use a "have_and_belongs_to_many" matcher in an inherited model.

My models:
[code]

My rspec tests:
[code]

The it { should have_and_belongs_to_many(:partners) } raise me that failure:
`expected #<Customer:0x00000006278818> to respond to `has_and_belongs_to_many?`

I have the same failure when try

[2016-03-11 21:03] adammcfadden commented on #913
I have a possible solution that is using similar logic as a [fix in rails_admin](https://github.com/iwz/rails_admin/commit/698f06a8f45c7c56038e9f6d442c9cbfb4065dfe)

/shoulda-matchers/lib/shoulda/matchers/rails_shim.rb:22
[code]

I have tested this against the rails 5 app that I originally discovered the issue with, and the above solution seems to be working. I will work on adding more holistic te

[2016-03-11 21:09] adammcfadden commented on #914
@Arpsara  - Try dropping the "s". It looks like you have **have_and_belongs_to_many**, the method you want is **have_and_belong_to_many**

http://matchers.shoulda.io/docs/v3.1.1/Shoulda/Matchers/ActiveRecord.html#have_and_belong_to_many-instance_method

[2016-03-12 05:23] joshuarh commented on #904
Encountering the same issue.

**Model:**
[code]

**Schema**:
[code]

**Error**:
[code]

[2016-03-12 06:00] joshuarh commented on #904
This validation also cannot be used at all if the validation is on an abstract parent:

**Shared Examples**:
[code]

**Spec**:
[code]

**Models**:

[code]

[code]

**Error**:

[code]

[2016-03-14 10:09] Arpsara commented on #914
Oh, thank you Adam, that was the problem! :Thanks a lot for your help!

[2016-03-14 10:09] #914 closed

[2016-03-15 23:04] maxcodes commented on #814
Any updates on this?

[2016-03-16 16:52] rlugge commented on #814
I'm running into this same bug with a validation intended to prevent accidentally creating two identical relationships.  Wound up just checking the IDs rather than the related object to work around.

[2016-03-16 22:40] ecdfernandes commented on #684
+1 😎

[2016-03-22 02:45] mutant-city opened #916 "Sill getting the 'abcd' error for validate numericality of. Gemfile.lock says using 3.1.1. Wat do?"
[code]

[2016-03-27 04:46] harshal2802 commented on #684
I also had same problem.. and solved it by adding

Shoulda::Matchers.configure do |config|
  config.integrate do |with|
    # Choose a test framework:
    with.test_framework :rspec
    with.library :rails
  end
end

to spec_helper.rb

thanks for the fix :)

[2016-04-05 18:10] engineersmnky commented on #913
@adammcfadden  `model.type_for_attribute(column.name).coder.name.split("::").last.constantize` seems like it could be `model.type_for_attribute(column.name).coder.demodulize.constantize` more or less the same thing under the covers but reads a little nicer.

[2016-04-08 21:23] guilhermearaujo commented on #912
I agree. There is absolutely no reason to enforce integers.

It started with #827, but in the author's example, he is storing an `:integer` in a column of type `:string`, and his enum maps the keys to integers. If he wanted to use integers, he could just use an array of symbols.

Had he done that, than yes, the matcher could enforce integer type in case of array, or enforce nothing otherwise.

[2016-04-11 08:26] marcamillion commented on #290
Not sure what's happening, but I am getting the same issue.

This my `Gemfile.lock`

    shoulda (3.5.0)
      shoulda-context (~> 1.0, >= 1.0.1)
      shoulda-matchers (>= 1.4.1, < 3.0)
    shoulda-context (1.2.1)
    shoulda-matchers (2.8.0)
      activesupport (>= 3.0.0)

I am running Rails 5.0.0.beta3 & ruby 2.3.0p0, along with the master branch of Devise.

This is my spec:

    it { should va

[2016-04-11 09:36] meoooh commented on #904
I have same issue. I'm using shoulda-matcher 3.1.1

[2016-04-13 04:57] JohnBDonner commented on #684
Thanks! @fake-or-dead

[2016-04-15 10:09] jiggneshhgohel commented on #904
I am facing the same error when specifying `with_message` qualifier with a regex containing wildcard character matcher or an interpolation:

[code]

Details below:

[code]

[code]

[code]

I have confirmed that using the regex without any wildcard matcher or interpolation the spec passes.

[code]

[2016-04-15 13:49] ybart commented on #535
As a workaround, one can define subject with a valid persisted object :

[code]

[2016-04-19 11:30] johncarney commented on #882
I've just run into the same thing. I'm refactoring some legacy shared examples and the specific thing I was hoping to do was this:

[code]

Now generally I prefer to stick to one assertion per example, but for something like format validation testing only allowed values doesn't make sense, nor does testing only disallowed values. So you either write two examples, which is needlessly inefficient, o

[2016-04-19 21:15] aripollak opened #919 "negative allow_value matcher incorrectly fails when validation message is custom but not passed to matcher"
If I have a validation like this in a model Customer:
`validate -> { errors.add(:base, 'cannot modify') }`

and then I test it with this:
`is_expected.not_to allow_value(1).for(:some_attribute)`

then I get this error:

[code]

However, the record is not valid, it's just that `.with_message('cannot modify', against: :base)` should have been passed to the matcher.

[2016-04-20 20:19] jererutter commented on #764
@mcmire I have classes that can only have attributes set through instantiation, which disallows me from using this gem without adding fake attr_accessor methods in my testing.

e.g.

[code]

In the case of this class type, I know I'll always have the attributes I need when it comes time to instantiate this class, so it seems unnecessary to add setters.

[2016-04-22 09:57] lubekpl opened #922 "ActiveRecord::Store, a field with a false value and validates_inclusion_of warning"
Hello!

I'm implementing a model with a serialized field (ActiveRecord::Store).

[code]

Since the `send_notification` is an accessor I can't really say that it's a boolean field.

Testing it with `validates_inclusion_of` produces a warning

I can't seem to be able to disable the warning and IMHO it's not an expected behaviour in this case. Can you suggest a workaround for this case? Maybe I shoul

[2016-04-24 14:01] GabrielCabrera commented on #684
Had the same problem, but following the tip from @fake-or-dead it was solved.

[code]

But according to the link https://github.com/thoughtbot/shoulda-matchers#rspec it must go in `rails_helper.rb`

[2016-05-03 00:32] fubarius commented on #913
Any update on this?

[2016-05-05 23:19] adammcfadden commented on #913
@fubarius I haven't put in any more work on this issue. I'm assuming that Rails 5 issues are waiting until rails 5 at least has a release candidate. @engineersmnky - nice, much cleaner!

[2016-05-06 02:00] fubarius commented on #913
@adammcfadden with your fix in place I hit another issue that's possibly in -context. I'll try to get the test suite passing against Rails 5 and start opening pull requests, though who knows when they'll get accepted thanks to the rather vague "changing of the guard" notice on the shoulda* projects.

[2016-05-06 17:21] softwaregravy opened #923 "Revisit spring 'incompatibility' issue"
Just coming back to this since I hit the same issue again recently.

Spring issue: https://github.com/rails/spring/issues/209
Previous shoulda-matchers issue: https://github.com/thoughtbot/shoulda-matchers/issues/382

Spring is in the default Gemfile created by rails. The Getting Started section of your readme advises a way to set up shoulda-matchers which will cause errors when used with spring.

[2016-05-12 17:37] dabrorius commented on #904
I'm having the same issue, did anyone ever figure out what's wrong here?

[2016-05-14 00:07] bsodmike commented on #913
@adammcfadden I had to make a small change with respect to shoulda master, and it works a treat. Thanks!

[code]

[2016-05-16 15:22] nicolas-besnard opened #925 "Permit with nested attributes"
I've the following controller:

[code]

with the following spec:

[code]

But it seems like the spec is passing anyway.

Am I doing something wrong ?

[2016-05-17 15:51] brightchimp commented on #814
Same here... we had worked around this in 2.x by using association**_id**:

`it { is_expected.to validate_uniqueness_of(:a_field).scoped_to(:association_id).case_insensitive}`

However, moving to 3.1.1 just now has removed that:

[2016-05-19 21:06] birhanuh commented on #880
I have updated to 3.1.1. And still have the issue. Is there coming a new release with this issue fixed?

[2016-05-20 11:00] jasnow commented on #880
@birhanuh - Is your repo public? If so, I will try to help understand the issue.

[2016-05-20 11:05] birhanuh commented on #880
Hi @jasnow
Yes, it is public. I just merged my branch to master.
Here: [https://github.com/toolsio-com/toolsio](url)

Thanks for the help in advance.

[2016-05-25 12:58] lucasgomide commented on #912
cc: @mcmire

can you review this ?

[2016-05-25 20:38] bsodmike commented on #808
+1 to @BenMorganIO for `it_behaves_like 'acts_as_paranoid`.  It would be nice to have the matcher for fk's in Shoulda too.

[2016-05-25 20:44] BenMorganIO commented on #808
Yep agreed. Would be great for the `belong_to` matcher too.

[2016-05-26 03:37] festime opened #927 "[Advice] Add more information or comments to define_enum_for_matcher.rb?"
Hello, everyone. In my team's project, I called `define_enum_for` to validate the presence of some `enum`. I followed the style of code in comments of `define_enum_for_matcher.rb`, but I encountered some errors like this:

[code]

My test code:

[code]

My `Order` model

[code]

I read the source code of `DefineEnumForMatcher` and found that I can write:

[code]

to make tests pass.

Maybe I can a

[2016-05-30 22:05] danlaffan commented on #904
+1

[2016-05-31 08:57] AlexVPopov opened #928 "Possible bug in route matcher"
Given the spec:

[code]

I get the following error:

[code]

As far as I can see, the only difference is that is expects the value of `format` as a string (`"json"`), but gets it as a symbol (`:json`). The strange thing, though, is I have a couple of other routing specs, which work as expected:

[code]

so this happens only with patch.

If I remove the json constraint from my routes and from the s

[2016-05-31 09:06] AlexVPopov commented on #928
Somehow the problem disappeared.

[2016-05-31 09:06] #928 closed

[2016-05-31 09:26] AlexVPopov opened #929 "Permit fails in 3.1.1"
There have been [problems](https://github.com/thoughtbot/shoulda-matchers/issues/771) with `permit` in the past. Currently I encounter the following problem:

Given the specs:

[code]

I get the following failure:

[code]

Do I use the `permit` matcher wrong?

[2016-06-01 16:22] fcarrega commented on #904
+1

[2016-06-02 14:31] asfarto commented on #904
+1

[2016-06-05 03:36] ArielAleksandrus opened #930 "undefined method 'belong_to'"
When I use "belong_to", it gives me this error:

If I use have_many, have_one, etc, it works (of course, I'm getting an error as this relationship does not exist in my model, but at least it does not give me "undefined method" error):

And in my **rails_helper.rb** file, just before `Rspec.configure do |config` line, I have

[code]

What could be the problem? Might be that I didn't include the `wi

[2016-06-05 18:32] samstickland opened #931 "Help needed with using matchers manually"
Hi,

I'm trying to call the ActiveModel matchers manually*, but I get a weird error on the `failure_message_when_negated` method.

This is attempting a manual invoking of `.to_not validate_presence_of(:name)` when name's presence is actually validated on the model.

[code]

If I simulate the alternative situation, i.e. checking for the presence of :bank_name (who's presence isn't validated), then

[2016-06-06 16:44] mcmire commented on #931
Can you paste the backtrace you're getting?

[2016-06-10 11:12] Fedcomp commented on #133
:+1:

[2016-06-10 23:36] mcmire commented on #825
Sorry to keep you waiting. I've created https://github.com/thoughtbot/shoulda/pull/261 to address this.

[2016-06-12 12:18] NrBT opened #933 "DEPRECATION WARNING: #tables currently returns both tables and views."
With a spec

`it { is_expected.to have_and_belong_to_many :teams }`

The following deprecation warning is issued with Rails 5.0.0.RC1

[2016-06-14 00:05] mcmire commented on #896
I don't think having to add `test-unit` to your Gemfile is unexpected. `shoulda-matchers` doesn't use or tie into any part of Test::Unit -- in fact, it's designed specifically for RSpec (although there is some bridge code in `shoulda-context` so you can use RSpec matchers there, but that's different). So it wouldn't make sense for us to include `test-unit` in the gemspec. Sorry.

[2016-06-14 00:05] #896 closed

[2016-06-14 00:11] mcmire commented on #895
@RyanNaughton @eccyan Sorry for the late reply on this, I've been out. Can you give me an example of a read-only attribute that you want to check for the presence of?

[2016-06-14 00:20] mcmire commented on #906
Yeah, I think a better place for the fix would be in shoulda-context. I'll file a bug over there, and close this.

[2016-06-14 00:20] #906 closed

[2016-06-14 00:30] mcmire commented on #894
Yup, @olliebennett basically answered the question. The code itself is complicated, but the procedure is simple:

1. Receive an instance of the model
2. Set the attribute in question on that record to `nil`
3. Call `valid?`
4. If a custom validation message was specified on the matcher with `with_message`, then check for the presence of that message within the list of validation errors on the attr

[2016-06-14 00:30] #894 closed

[2016-06-14 00:30] mcmire commented on #898
Thanks @olliebennett for the help.

I'll close this now, since there hasn't been a response.

[2016-06-14 00:30] #898 closed

[2016-06-14 00:31] #862 closed

[2016-06-14 00:33] mcmire commented on #908
Sorry for the late reply on this, but you have an unnecessary space after `validate_uniqueness_of`, and Ruby is interpreting the code you've written differently. Instead of saying:

[code]

you need to say:

[code]

[2016-06-14 00:33] #908 closed

[2016-06-14 00:37] mcmire commented on #909
Sorry for the late reply on this, I've been out.

You can't have two associations with the same name. That just simply won't work in Rails. (Although I haven't tried this myself, your second association will most likely, in some fashion, override your first one.)

[2016-06-14 00:37] #909 closed

[2016-06-14 00:50] mcmire commented on #290
@marcamillion Sorry for the late reply on this. If you're using RSpec, you don't want to depend on `shoulda`, you want to depend on `shoulda-matchers` instead. `shoulda` brings in shoulda-matchers 2.x, which contains this bug (it was fixed in 3.x).

[2016-06-14 00:56] mcmire commented on #882
@johncarney

Sorry for the late reply on this, I was out.

That's an interesting use case. I don't completely disagree with you, but two thoughts: 1) If you get an error message from something like that, what does it look like? Is it helpful? 2) Couldn't you just as easily break up those two assertions into two lines? Or would you really prefer the second assertion to continue running if the first

[2016-06-14 00:58] mcmire commented on #919
Hmm, I agree that something fishy is going on there. I'll have to investigate that.

[2016-06-14 01:01] mcmire commented on #922
Hey, sorry for the late reply on this, I was out.

You're right; you shouldn't be getting a warning in this case.

You could try being explicit:

[code]

[2016-06-14 01:26] mcmire commented on #923
Since that issue was posted, we made two changes to shoulda-matchers that were designed to help annihilate this bug.

First, the gem no longer auto-requires RSpec; it expects that to be present ahead of time. Second, and most importantly, it no longer automatically tries to mix all of its matchers into your test framework as soon as it's loaded; that will happen manually, at the request of the use

[2016-06-14 01:37] johncarney commented on #882
Thanks for getting back to me @mcmire. I've since discovered RSpec`s `aggregate_failures` feature, which let's me do what I want, so the answer to question 2 is yes I can if I aggregate failures, and yes I do want the second assertion to continue even if the first fails. For question one, aggregating failures gives separate error messages for each failed assertion.

I still think the ability to co

[2016-06-14 01:40] mcmire commented on #880
@birhanuh I can't seem to access your repo.

Could you create a new issue and post a snippet of the code that doesn't work for you and the errors you're getting? That would help me look into it further. Thanks!

[2016-06-14 01:44] mcmire commented on #912
Sorry for the lack of reply on this, I've been out.

I agree that this is a bug. I'm not sure why we had the matcher assume integers except that that was the original use case.

I can't say when I'll get to this, but I've at least seen it. :)

[2016-06-14 01:47] mcmire commented on #927
Sure, we can include an example of using `enum` with a hash of values in the documentation. We'd gladly accept a PR, too :)

[2016-06-14 01:49] mcmire commented on #928
This has been reported before, so I don't think you were crazy: #928

[2016-06-14 01:51] mcmire commented on #929
Could this be related to #902? In other words, when `create` or `update` is called, is `params` being called twice? It'd be nice to know what your controller looks like.

[2016-06-14 01:54] mcmire commented on #904
Hey, sorry everyone, I haven't had a chance to look at this yet, as I've been out. Thanks for your patience.

[2016-06-14 01:56] mcmire commented on #930
shoulda-matchers isn't compatible with Mongoid, sorry. We welcome PRs to add support, but in the meantime, you might try using [mongoid-rspec](https://github.com/mongoid-rspec/mongoid-rspec).

[2016-06-14 01:56] #930 closed

[2016-06-14 02:21] mcmire commented on #882
@johncarney Cool.

@Szeliga Sorry, I just realized I never responded to your original post. I am trying to keep an open mind about this stuff -- I understand why you'd want that. At the same time, I can imagine it getting potentially hairy. What happens if you have five attributes and you want to ensure they're tested for presence? Do you end up writing this...?

[code]

That feels ugly to *me*, a

[2016-06-14 03:08] johncarney commented on #882
I don't think I would generally want to test validation on multiple attributes at once. I agree that not every validation matcher would be amenable to compounding this way - in much the same way as some matchers don't negate well, some won't compound well. I was thinking specifically about things like `allows_value` which isn't on it's own a great assertion because the values that a validation doe

[2016-06-14 06:38] AlexVPopov commented on #929
This is the controller:
[code]
If in `note_params` I put `binding.pry`
[code]
the execution doesn't stop, so that means `note_params` doesn't get called at all and respectively `permit` doesn't get called.

As for #902 I cannot determine if its related or not, but it possibly is.

[2016-06-14 15:26] mcmire commented on #882
Okay, sure. You've convinced me about `allow_value`, at least. I would gladly take a PR that would make it compound.

[2016-06-14 16:18] softwaregravy commented on #923
The commit I referenced on my personal project, I've actually reversed. After having other, unrelated trouble with spring, I stripped it out of my project and added back shoulda-matchers. Everything works fine without spring.

I'll make a TODO for myself to try and recreate this issue. Realistically, I may never get to it.

[2016-06-14 16:18] #923 closed

[2016-06-14 19:44] romariolopezc opened #935 "Failing validate_uniqueness_of(:email)"
I'm validating the email is unique, however the test should pass, but the message is incoherent and the error too.

My test:
`  subject { build(:user) }

  it { should validate_uniqueness_of(:email) }`

`
  1) User should validate that :email is case-sensitively unique
     Failure/Error: it { should validate_uniqueness_of(:email) }

[code]

`
The translation is in spanish, in english should be

[2016-06-15 19:14] mcmire commented on #935
The matcher is describing the steps it took to run the test. What part of it is confusing?

Does your User model have a uniqueness validation on `:email`?

[2016-06-15 19:27] RomarioLopezC commented on #935
Yes my User model has this
`validates_uniqueness_of :email`

And I'm using User model with Devise.

@mcmire

[2016-06-15 19:55] mcmire commented on #935
Okay. The reason why this is happening is that Devise overrides `#email=` to ensure that all emails are stored as lowercase in the database.

The matcher wants to create two records, one with an email address of "josiah_koelpin@wiegand.biz", the other with an email of "JOSIAH_KOELPIN@WIEGAND.BIZ". It expects this to work, because if it works, then it means your uniqueness validation is in place. H

[2016-06-15 20:00] RomarioLopezC commented on #935
Thanks for the information, and it's working now!. I used this.

`it { should validate_uniqueness_of(:email).ignoring_case_sensitivity }`

[2016-06-16 00:04] mcmire commented on #935
Okay. I'm going to keep this open to remind myself that we should make the user experience here better.

[2016-06-16 13:36] johncarney commented on #882
Sweet. I'll give it a go, but may take me a couple of weeks to get started - currently busy packing for a 3-month stint overseas :)

[2016-06-16 16:07] mcmire commented on #882
Oh, awesome, sounds like fun! No worries.

[2016-06-17 09:12] lubekpl commented on #922
Thanks a lot! 👍

[2016-06-17 16:11] mcmire commented on #922
I'm actually going to keep this open since it's a legitimate bug and we should definitely fix this.

[2016-06-18 10:27] Drenmi opened #936 "ActiveModel matchers on Ruby objects don't work with inferred spec type"
We're using `ActiveModel::Model` and `ActiveModel::Validation` to create some basic form objects in our applications. In order to add matchers to these objects, we use the following configuration (taken from the `README`):

[code]

This works well as long as you use an explicit `type: :form` in your spec file, e.g.:

[code]

but together with `#infer_spec_type_from_file_location!`, this spec will

[2016-06-20 07:54] bucket-sven opened #937 "validate_numericality_of will raise error when compared two columns"
Hello,

I have model like this:

[code]

In my spec/models/edu_spec.rb, I wrote:

[code]

It will raise the error:

[code]

But, if I delete the code `greater_than_or_equal_to: :start_year`, it won't raise the error again.

By the way, it can't support the validation below:

[code]

It will raise the error:

[code]

I use rspec, is this not be realized? Or it isn't written in the document?

Thanks

[2016-06-20 16:06] mcmire commented on #936
Unfortunately, using `#infer_spec_type_from_file_location!` doesn't mean that you can put your tests in any arbitrary directory underneath `spec`. There are only [certain directories]((https://github.com/rspec/rspec-rails/blob/master/lib/rspec/rails/configuration.rb#L27)) that RSpec knows about, and `spec/forms` isn't one of them.

[2016-06-20 16:44] Drenmi commented on #936
Thanks for the pointer @mcmire. I just found [this](https://github.com/rspec/rspec-rails/blob/5612e0d45ac4994fa72db41e611b4c6cbc2a33b6/lib/rspec/rails/configuration.rb#L27).

I guess not much to do here, then, as this is more of a potential feature request to `rspec-rails`. 😀

[2016-06-20 16:46] mcmire commented on #937
You're probably getting `comparison of Float with nil failed` because your model is trying to access `start_year` in the process of running the validation and it is nil. So if you give `validate_numericality_of` an instance of Edu where `start_year` is filled in with something then it may work.

Unfortunately, none of the qualifiers on `validate_numericality_of` (`greater_than`, `less_than`, `grea

[2016-06-20 18:57] #936 closed

[2016-06-22 05:54] jameslafa opened #938 "permit do not restrict parameters"
I'm using the following gems:
[code]
I have the following controller

[code]

I added `:user_id` on purpose to generate an error. This params shouldn't be permitted.

I have the following test:
[code]

The test pass:
[code]

My understand was that it should trigger an error because it also permits `:user_id`.
Am I misunderstanding this matcher or is there an issue here?

[2016-06-22 09:53] gmmcal opened #939 "Weird error message on should_not validate_inclusion_of(:attribute)"
Scenario

And on test file

After I run the test, it passes, but I get a weird output on console using doc format

For me, looks like a simple fix, but I couldn't find the proper place for the fix. If you could guide me to it, I can send a PR for this too.

[2016-06-22 14:25] mcmire commented on #938
Well, you can view this two ways. The goal of strong parameters is to let you establish a whitelist of parameters, not a strict list of required parameters. In your case `:user_id` isn't a required parameter. If the controller does not receive this parameter, then nothing bad will happen. Now if it receives something different than `:title`, `:description`, `:url`, or `:user_id`, _then_ something

[2016-06-22 14:28] mcmire commented on #939
You might be simply missing the `in_range` qualifier:

[code]

[Here's](https://github.com/thoughtbot/shoulda-matchers/blob/master/lib/shoulda/matchers/active_model/validate_inclusion_of_matcher.rb#L375) the relevant code for the `validate_inclusion_of` matcher. There should probably be something in `#matches?` that confirms that either `@array` or `@range` is set, and asks the user to use `in_arr

[2016-06-22 14:52] gmmcal commented on #939
@mcmire do you think that making the test fail for my case with an else on L389 would be a good solution?