[2020-11-20 14:52] orenyk commented on #1374
Awesome, thanks! I meant to take a look myself but ran out of time 😄. Appreciate the heads up too, thanks again!

[2020-11-21 14:11] VSPPedro commented on #1337
Hi, @afdev82, are you working on this? If not can I start working on it? Thanks! :smile:

[2020-11-22 18:10] mcmire opened #1380 "shoulda-matchers 5.0.0"
I know we've been talking about this lately so I figured that it would be better to talk about it in one place.

What do we want to include in 5.0.0? We know that we want to remove support for old Rubies and Rails. So minimally we have:

* Remove support for Rails 4.2
* Remove support for Ruby 2.4
* Remove any code that is specifically aimed for compatibility with these things (code in RailsShim,

[2020-11-23 00:53] VSPPedro commented on #1380
I agree with those thoughts!

It would be nice to get some feedback from the community to answer some of those questions:

- Which matchers have you used the most?
- Which matches have you used the least?
- Which matchers have you never used?

I think that asking for the job of the developer would be a good idea. Ask if he used it as a Fullstack or a Backend developer. Or had experience in both ca

[2020-11-23 07:51] afdev82 commented on #1337
Hi @VSPPedro, no I'm not working on this issue.
Thank you for having a look at it! :smile:

[2020-11-26 15:57] Burgestrand opened #1382 "`with_arguments` adds non-documented arguments to delegate method call"
Sorry about raising an issue without a PR, I had `bin/setup` issues with Puma/bundler.

The attached code, [more or less copied from the documentation](https://github.com/thoughtbot/shoulda-matchers/blob/64376a0bcd696ba359aa3fa26d6ac18a01820091/lib/shoulda/matchers/independent/delegate_method_matcher.rb#L113-L150) does not run successfully. It fails with an error.

It's not clear to me if the docu

[2020-11-27 18:34] mcmire commented on #1382
Hey @Burgestrand, thanks for raising this issue. I think the intent here to be able to test that if you have a situation where you are manually delegating to another object, if arguments are passed to the delegating method, they get successfully passed on to the target method. So I think the documentation is incorrect. As for the tests, I checked the history and they are very old. So it's very pos

[2020-11-28 19:06] mcmire commented on #1380
@VSPPedro I think making a Google Form makes sense. Going off of your questions, maybe we list each matcher and offer a 0-5 scale (0 means "I've never heard of this matcher", 1 means "I've heard of this matcher but have never used it or would not use it", 5 means "I use it all the time")? Also maybe while we are asking that, we can ask people for some general feedback, i.e., "Is there anything you

[2020-11-29 01:56] VSPPedro commented on #1380
Sounds like a plan!

As soon as I have some time I will create this form with the questions we talked about and I will share it with your email.

[2020-11-29 02:01] VSPPedro commented on #1382
Hi, @Burgestrand, I'm sorry to hear that. Can you give me more details about the problem, please? I'll take a look later.

When you have time, please take a look at this PR and see if it solves the problem you faced: https://github.com/thoughtbot/shoulda-matchers/pull/1373

[2020-12-02 03:35] thealiilman commented on #1240
I would like to pick this up. 🤚

[2020-12-02 11:46] Burgestrand commented on #1382
I don't have a strong opinion. I can see both being useful, but given this issue hasn't been raised before that's an argument against it 😄

---

When I came across this I was trying to use it as documented. Here's roughly what I intended to test:

[code]

I expected it to be testable as such:

[code]

[2020-12-02 12:12] Burgestrand commented on #1382
@VSPPedro I tried master now, fresh install of Ruby 2.7.2 with asdf.

- I ran into an issue due to bundler version mismatch. It appears it does `gem install bundler` which for me installs `2.1.4`. It later fails the `bundle check/install` due to the `Gemfile.lock` using version `1.17.3` and I don't have that installed.
- I manually install bundler `gem install bundler -v 1.17.3`
- Re-run `bin/setu

[2020-12-02 23:10] VSPPedro commented on #1382
Thanks for trying again!

So, we need to update some dependencies so that it doesn't happen again! :smile:

Thanks!

[2020-12-02 23:47] VSPPedro commented on #1240
I accidentally hit the "assign yourself" button! My bad! :sweat_smile:

[2020-12-03 00:09] VSPPedro commented on #1337
Hi, @afdev82, can you help me create a simple rails app with this problem, please? (Or tell me what should I do.) I'm really sorry, but I'm not sure how to replicate this problem locally.

[2020-12-03 03:49] thealiilman commented on #1240
No worries! 😁

[2020-12-03 08:32] Burgestrand commented on #1382
Happy to help 😊

[2020-12-03 11:41] afdev82 commented on #1337
The problem is when I use PostgreSQL as DBMS, because then I have the possibility to use different schemas inside the same database. To reproduce I've done the following steps.

- create a rails app with `rails new .` inside an empty folder
- add the `pg`, `rspec-rails`, `shoulda-matchers` gems to the Gemfile:
[code]
- configure the database in `config/database.yml`:
[code]
- add the 'should-match

[2020-12-03 16:20] #1240 closed

[2020-12-05 21:54] VSPPedro commented on #1337
Thank you very much for all this information! I will try to find a solution.

[2020-12-24 06:35] helmiItsavirus opened #1388 "Wrong touch Class for STI test"
I found an issue when I use the STI model on my apps

`class ApplicationRecord < ActiveRecord::Base
  self.abstract_class = true
end`

`class ContentSource < ApplicationRecord
end`

`class Facebook < ApplicationRecord
end`

`RSpec.describe SocialMediaContentSource::Facebook, type: :model do
    it { should allow_values("https://facebook.com/admin").for(:url) }
end`

**expected the ContentSource to

[2020-12-28 14:52] VSPPedro commented on #1388
Hi, @helmiItsavirus, thank you for opening this issue.

For anyone finding this, we already have discussed a problem with the allow_values matcher in this PR #1381.

For now, I'll add the label `Need to investigate`, and as soon I have the time I'll take a look.

[2020-12-28 17:52] mcmire commented on #1388
@helmiItsavirus I'm having trouble understanding why this is happening given your example. I cleaned up the formatting of your code so it's easier to read, but in your example both of your ContentSource and Facebook classes inherit from ApplicationRecord. You say that this involves STI, but neither of those are using STI. Are you sure that's accurate?

[2020-12-30 09:01] helmiItsavirus commented on #1388
@mcmire The example has been updated, sorry I'm wrong, Facebook should inherent to ContentSource

The error message still touch ContentSource instead of Facebook

[2021-01-11 11:33] mohsen-alizadeh-clark2 commented on #784
any update?

[2021-01-11 16:12] mcmire commented on #784
@mohsen-alizadeh-clark2 The original issue was fixed in https://github.com/thoughtbot/shoulda-matchers/commit/18b2859d2522a4866c398b9a32ebc3de4ec79389 and https://github.com/thoughtbot/shoulda-matchers/commit/a0f12216fd12627c2545b082f5e463a712ba75e5. If you are still having a problem, please make a new issue with an example of your database schema, code, and tests so I can track it better!

[2021-01-12 16:50] natematykiewicz opened #1392 "v4.5.0 breaks Composite Primary Keys"
We use [composite primary keys](https://github.com/composite-primary-keys/composite_primary_keys). I believe this PR has caused an incompatibility https://github.com/thoughtbot/shoulda-matchers/pull/1376.

# Spec
[code]

# Model
[code]

With v4.4.1 this spec would succeed.
With v4.5.0 it fails with:

As a test of v4.4.1 I tried removing the foreign key from the model, and also changing one of the

[2021-01-12 17:00] VSPPedro commented on #1392
Thank you for all the details. I'll take a look at that as soon as possible.

[2021-01-12 17:08] natematykiewicz commented on #1392
@VSPPedro I think I see the problem. With v4.4.1, if we were providing a `:foreign_key` option, it would only run the `option_verifier.correct_for_string?`. The result of that determined whether the test passes.

With v4.5.0 it runs `options.key?(:foreign_key) && !foreign_key_correct?`. Since we have a `options.key?(:foreign_key)`, it then checks `foreign_key_correct?`. Since `foreign_key_correct?

[2021-01-13 00:49] VSPPedro commented on #1392
Nice!

Good point! I think we just need to adapt the error message for when it fails because more than one foreing_key is missing.

What do you think?

Would you like to make this contribution?

I'm sorry, I should have asked before. I was in a hurry.

[2021-01-13 02:32] VSPPedro opened #1394 "Switch to Github Actions or Buildkite"
I think we need to change the CI before this happens: `Please be aware travis-ci.org will be shutting down in several weeks, with all accounts migrating to travis-ci.com. Please stay tuned here for more information.`

You can see this warning at the header on their site: https://travis-ci.org/

I'm creating this issue so I don't forget that detail.

[2021-01-13 02:32] VSPPedro opened #1395 "Switch to Github Actions or Buildkite"
I think we need to change the CI before this happens: `Please be aware travis-ci.org will be shutting down in several weeks, with all accounts migrating to travis-ci.com. Please stay tuned here for more information.`

You can see this warning at the header on their site: https://travis-ci.org/

I'm creating this issue so I don't forget that detail.

[2021-01-13 06:46] mcmire commented on #1395
Oops, sorry, I just realized I never responded to your message. I have tried to set up [another project](https://github.com/mcmire/super_diff) with GitHub Actions and while it kind of works, [I've been having issues lately](https://github.com/mcmire/super_diff/runs/1660642270?check_suite_focus=true). Then again, maybe it's specific to this project. You could try borrowing the workflow if you want

[2021-01-13 12:14] #1394 closed

[2021-01-13 12:15] VSPPedro commented on #1394
Somehow this issue got duplicated. I'm closing this because there is another one: #1395.

[2021-01-13 12:22] VSPPedro commented on #1395
Thank you for sharing this file! I'll give it a try!

[2021-01-18 00:09] VSPPedro opened #1402 "Remove support for Rails 4.2 and Ruby 2.4"
First step to the next version: [shoulda-matchers 5.0.0](#1380)!

Besides that, I think we need to add ruby 3.0 and ruby-head - as suggested in this PR - https://github.com/thoughtbot/shoulda-matchers/pull/1398.

😄

[2021-01-18 00:11] VSPPedro commented on #1392
I think we can close this.

Thanks again!

[2021-01-18 00:11] #1392 closed

[2021-01-18 00:21] natematykiewicz commented on #1392
Sounds good to me. No problem!

[2021-01-18 01:35] maknz commented on #1198
We've fixed the issue in our project, it was technically an issue with our code even though it was exposed by shoulda-matchers 4.x. I wanted to explain how we encountered this for anyone else who might stumble upon it.

Consider a model such as:

[code]

On the face of it, the condition on the presence validation seems fine because `car` should always be present because the association is required

[2021-01-22 14:31] ollie-nye opened #1403 "`validate_numericality_of` with `ActiveModel::Attributes` fails validation"
When including `ActiveModel::Attributes` in a form object and trying to validate a typed attribute, the attribute seems to cause the validation test to fail with
[code]

Using `attr_accessor` instead of `attribute` seems to work, but then we lose the type-ness of the field

Working:
[code]

Not working:
[code]

Test:
[code]

Do shoulda-matchers not support ActiveModel `attribute`s, or am I doing s

[2021-01-22 18:04] mcmire commented on #1403
This is a known issue with `validates_numericality_of`. It was originally written to work with string columns, not integer columns. I believe it may work with ActiveRecord columns now, I'd have to check, but I don't believe we explicitly support ActiveModel attributes like that. Not saying it's not possible, I just don't think it's something we've addressed yet. So you may have to manually write t

[2021-01-23 16:49] ollie-nye commented on #1403
Ah ok, that's good to know, thanks!

[2021-01-23 16:49] #1403 closed

[2021-01-25 21:57] #1395 closed

[2021-01-25 22:26] VSPPedro opened #1404 "Update CI to work with setup-ruby"
Saving this PR for future references: https://github.com/thoughtbot/shoulda-matchers/pull/1397

[2021-01-26 02:14] VSPPedro commented on #1402
We already have a PR for this: #1379

[2021-01-29 23:24] sshaw opened #1407 "Add `allow_blank` for `validate_presence_of`"
Hi, sounds odd but all validators support `:allow_nil` and `:allow_blank` and there are cases where the column is not null but empty strings are fine.

Also when one has not null `hstore` or `jsonb` column (PostgreSQL) with a default value of `'{}'::jsonb`, one must set `:allow_blank => true` otherwise these saving will fail since `{}.present?` is `false`.

Thoughts?

[2021-01-29 23:40] mcmire commented on #1407
Sounds reasonable. I think it is so rare that it hasn't come up yet, so that is why we don't support it, but we would gladly take a PR :) If you want to take this on and need help let me know.

[2021-01-31 11:59] Merovex opened #1408 "Uninitialized Constant Rspec"
I am only using minitest, not Rspec. However, I get the following error message:

`/shoulda-matchers-4.5.0/lib/shoulda/matchers/integrations/test_frameworks/rspec.rb:13:in include': uninitialized constant RSpec (NameError)`

Given there are instructions for using Minitest, is there a way to solve this without resorting to adding Rspec?

[2021-01-31 12:05] Merovex commented on #1408
Solved my own problem. The README says to add the following to the bottom of the `test_helper.rb`:

[code]

But it should be
[code]

[2021-01-31 12:05] #1408 closed

[2021-02-01 16:10] mcmire commented on #1408
Did you see the Minitest section? :) https://github.com/thoughtbot/shoulda-matchers#minitest

[2021-02-03 21:54] Fornacula commented on #194
For the record: I started having this issue right after changing my column's default value in DB from `''` to `nil`. Seems empty string default value is more edible to this system.

[2021-02-12 03:03] sshaw commented on #1407
Yeah I can do something but was on the Rails 5.2.X codebase in question a few days ago and the use of `:allow_blank` + `:allow_nil` did not work. Maybe this is why it does not exist here.

I will check on a later version of Rails and get to you (but feel free to harass me if I don't!)

PS SuperDiff 💪

[2021-02-12 20:36] lifeiscontent opened #1414 "have_db_column refactor from #1358 broke tests"
I have a test:

[code]

which is now not possible due to the refactor of #1358 because it doesn't have foreign_key in its list of options.

[2021-02-16 18:05] dawidof opened #1416 "Polymorphic association and uniqueness"
I've got model
[code]

and test

[code]

Fails with error
[code]

[2021-02-16 18:49] mcmire commented on #1416
This is a common issue with `validate_uniqueness_of`. If you don't provide a `subject` in a top-level `describe` block, then RSpec will assume you want an instance of the class you're testing. `validate_uniqueness_of` then tries to save this instance (because it needs an existing version of Expiration to test uniqueness against). `Expiration.new.save!` isn't going to work since there are columns t

[2021-02-17 06:13] dawidof commented on #1416
@mcmire Thanks for explanation, it works

[2021-02-17 06:13] #1416 closed

[2021-02-23 02:28] lifeiscontent commented on #1414
CC: @rodriggochaves @mcmire

[2021-02-23 02:29] lifeiscontent commented on #1414
example usage here: https://github.com/lifeiscontent/realworld/pull/662

[2021-02-23 02:41] mcmire commented on #1414
@lifeiscontent We have never officially supported checking for `foreign_key` so far, so presently your test is equivalent to:

[code]

We will happily take a PR to add this.

[2021-02-27 12:15] jonspalmer commented on #1380
It would be great to see allow_value to be improved. The proposed API elsewhere is:

[code]

I'd propose a few other additions to this API:
1. Allows asserting the type 'invalid' vs the string message, or both
2. Allows asserting the existing value - `set_to` is optional

so these combos would be possible

[code]

Note also that the ActiveModel::Errors api changed with Rails 6.1 and currently has

[2021-03-01 20:24] mcmire commented on #1380
@jonspalmer We are working on fixing integration with Rails 6.1 so hopefully we can address that last issue you mentioned at least.

@VSPPedro What are your ideas on the remainder of the next release? I don't want to get into a place where it takes a year to finish it and we're holding up other PRs that people are submitting, so I'm wondering if it makes sense to just stick to removing support for

[2021-03-02 00:17] VSPPedro commented on #1380
For ruby:

- remove support for 2.5 (support will end this month)
- add support for 3.0
- add support for ruby-head

For rails:

- remove support for 4.2
- remove support for 5.0
- remove support for 5.1
- add support for 6.1
- add support for rails-head

That is what I would like to achieve.

Yes, I know this is going to take a long time. If you want, I will concentrate only in removing, and in t

[2021-03-02 00:48] mcmire commented on #1380
@VSPPedro That sounds good. No, I think it's okay to add support for Ruby 3.0 and Rails 6.1 and 7.0 now. I feel like people are going to be asking for it and based on what I've seen so far, I feel like it may involve making breaking changes to add that support, so I feel like it's worth working through all of that now vs. later.

[2021-03-02 00:53] mcmire commented on #1380
@jonspalmer I don't think we'll be able to get to changing `allow_value` right now due to the items mentioned above. However, what we could do, after we release 5.0, is introduce `validate_attribute` (or whatever the final API ends up being) as an alternative to `allow_value` and then slowly phase out `allow_value` and eventually drop it in the next major release. How does that sound?

[2021-03-02 03:16] jonspalmer commented on #1380
@mcmire Sounds very reasonable. Rails 6.x, 7.0 and Ruby 3 would be huge wins and should take priority. Phasing out `allow_value` with deprecation warnings etc. once there is a replacement sounds perfect. Let me know if there are contributions I could make there.

[2021-03-08 11:12] Shaglock commented on #1407
Hello @sshaw! I have the same issue as you, do you have any news\progress on PR maybe?

[2021-03-17 01:41] VSPPedro commented on #1402
We can close this! :tada:

[2021-03-17 01:41] #1402 closed

[2021-03-21 20:53] LyleDavis opened #1432 "sql_type check in have_db_column"
Would you guys be open to a PR to add a method into the `have_db_column` chain that checks the `sql_type` of the column? Currently there is only one for `type` which I think is insufficient when dealing with certain column types.

For instance, say you are storing guids in a `char(36)` column, rails will interpret that as `:string`. In this case it is quite important that the column is actually a

[2021-03-22 15:35] mcmire commented on #1432
On the surface it seems like a small change, but I'm curious, are you worried that Rails will do the wrong thing here and not assign the correct SQL type? I have been increasingly questioning the value of `have_db_column` as it seems to be testing configuration more than logic. But I first want to make sure there is not something I'm missing about how the matcher is getting used.

[2021-03-22 17:14] LyleDavis commented on #1432
I suppose it is more testing configuration than logic when you think hard about it, but given that Rails models are so inherently tied to the database it seems sensible to me to have a buffer between changes.

When you have migrations being picked up from so many different engines like we do it makes sense to have the engine that requires the presence of a particular field also validate that the f

[2021-03-22 18:13] mcmire commented on #1432
Ah, engines, okay. I can see how that could end up creating potentially confusing situations. And my second question was going to be about whether you are using `t.column :some_guid_column, 'char(36)'` or `t.string :some_guid_column, :string, limit: 36`, but looks like you already answered that question.

Okay, I can see the use case behind this. Send a PR over and we will be happy to merge this.

[2021-03-23 17:05] mcmire commented on #1414
Closing this since #1421 was closed.

[2021-03-23 17:05] #1414 closed

[2021-03-23 17:07] mcmire commented on #1281
Closing this since #1358 was merged.

[2021-03-23 17:07] #1281 closed

[2021-03-23 17:09] mcmire commented on #1317
I'm going to close this issue. It seems like this is a relatively minor pain point and is actually more complicated than I thought it would be.

[2021-03-23 17:09] #1317 closed

[2021-03-24 15:27] runephilosof-abtion opened #1433 "Confusing error message from inclusion_of"
In the below case, the odd error message appears, when the subject is a new record with the id set to something.

[code]
Results in
[code]

[2021-03-24 16:08] mcmire commented on #1433
Hi @runephilosof-abtion,

`severity_type` looks to be a "magic" polymorphic column. Therefore, I believe you are getting this error because ActiveRecord (and we) are expecting `severity_type` to be a reference to a model. What are the possible models that `severity` could refer to? Perhaps you want to use that set in the array rather than a set of severity levels?

[2021-03-25 11:51] runephilosof-abtion commented on #1433
@mcmire  That is exactly what I meant. I have updated the first comment to reflect that.
I want to test that the type is only set to the class names in the validation.

[2021-03-28 18:14] mecampbellsoup commented on #1380
Is it correct to say that Ruby 3 is not currently supported?

[code]
Believe this is related to https://www.ruby-lang.org/en/news/2019/12/12/separation-of-positional-and-keyword-arguments-in-ruby-3-0/.

[2021-03-29 01:39] VSPPedro commented on #1380
I'm sorry, we are not supporting ruby 3.0.0 for now. We will be only in on the next version.

These warnings that you're pointing out was solved in this PR: https://github.com/thoughtbot/shoulda-matchers/pull/1409.

Unfortunelly, the CI don't work with Ruby 3.0.0 because of this bug: https://bugs.ruby-lang.org/issues/17536.

We are waiting for a new realese with this commit: https://github.com/rub

[2021-03-31 00:23] aesyondu commented on #803
Nice, thanks for the clue! I have a `docker-compose.yml` file with:

[code]

When I `docker-composer exec app bash` and `echo $RAILS_ENV` the terminal shows `development`. I suspect that only when `$RAILS_ENV` is empty that rspec (or bundle?) provides the default `test` environment.

[2021-03-31 10:45] brett-puddick opened #1435 "validate_uniqueness_of does not account for reliance on other records in other validations"
So, let's say we have:

[code]
 and then we want to test the uniqueness validation:
[code]

The observed behaviour of what happens in this test is that the matcher takes the first record in the DB (not necessarily the one you provided), builds a new instance of it (without saving) and then goes about its checks manipulating attribute values and asserting if it's valid.

This approach does not take

[2021-03-31 23:23] mcmire commented on #1435
Hi @brett-puddick,

In general shoulda-matchers does not do anything to fill in attributes on records, so whenever working with validation matchers it works a lot better if you always use a record that satisfies all of the validations. That said, the uniqueness matcher is a weird case, and I agree that it would make more sense to prefer making use of the given record rather than always relying on

[2021-04-14 23:15] marcelolx commented on #1330
@mcmire I'll close this issue, since we haven't seen any other problem related aliased attribute in our project. If such problem happens in the future then we take a better look and see what could be the causes.

[2021-04-14 23:15] #1330 closed

[2021-04-15 02:39] mcmire commented on #1330
@marcelolx Great! Thanks for the update!

[2021-04-16 18:46] LucasCarrias commented on #574
Any update regarding this issue?

[2021-04-16 21:07] mcmire commented on #574
No update, but if you can come up with a fix for this then we'd be happy to merge it in!

[2021-04-19 16:18] nickbayley opened #1439 "validate_absence_of an enum attribute error"
I stumbled across this closed issue #1327 and it seems to me that the question was never properly understood. I hope you don't mind me submitting a new issue on it.

Take the following setup:

Model:
[code]

Model Spec:
[code]

Spec results:
[code]

I understand the error and where it comes from. But my question is:

* Is it not possible to choose what value to set the attribute under test? My `:m

[2021-04-19 18:41] mcmire commented on #1439
Hi @nickbayley. It seems like this issue is a bit different than the one you linked to, since there is no condition. My question to you is, if your attribute can't be set to anything, then does it make sense to be an enum?

[2021-04-19 19:13] nickbayley commented on #1439
Hi @mcmire! You are right that this example is pointless and silly :) I was trying to make it as simple as possible to illustrate the problem I am having.

My actual use case is something like this:

Model:
[code]

Spec:
[code]

[2021-05-13 23:19] mcmire commented on #682
@jcraigk Have you tried this fix? https://github.com/thoughtbot/shoulda-matchers/issues/682#issuecomment-151715507

[2021-05-14 02:59] jcraigk commented on #682
@mcmire thanks for re-opening this issue.

I did try the fix mentioned and it does work, with the caveat that I need to change the order of the `validates` call in the model to accommodate. This does not read well on polymorphic models. For example the `validates` call in this example class

[code]

needs to become

[code]

and then of course the extra line in the RSpec example to create the neces

[2021-06-05 14:48] VSPPedro commented on #1380
I would love to hear any feedback from anyone using the 5.0.0.rc1. Thanks!

[2021-06-21 07:54] scharbau opened #1446 "HABTM with composite keys"
Hello,

I'm trying to validate the existence of a HABTM relationship on my models, having one of the models defining is primary key as a composite key (using `rails_composite_keys`).

My models are set up as follows

[code]

[code]

The database table is created as
[code]

Running a rails console, I can verify that the HABTM works as expected. However, when trying to run my spec to verify that the

[2021-06-21 08:07] scharbau commented on #1446
I tested in my private fork, and it seems that if you flatten the array of the expected columns in the `JoinTableMatcher` it works just fine, but it was just a quick test and I did not verify that this change does not break any existing functionality.

However, if it helps, I'd make a PR for this patch

[2021-06-21 15:57] mcmire commented on #1446
Yeah, if you've figured out a fix, a PR would be appreciated!

[2021-06-22 00:19] scharbau commented on #1446
@mcmire
Added PR #1448

[2021-07-25 04:05] Kutomore opened #1457 "Can't test enums which aren't backed by a column"
Due to how the code on `https://github.com/thoughtbot/shoulda-matchers/blob/c934d7534520d90cf9d17f0cd1745bf95d38cf41/lib/shoulda/matchers/active_record/define_enum_for_matcher.rb#L234` is implemented, if you have a enum which is not backed by a column in your database you'll get an error when trying to run the test.

I've ran into this when creating a enum to match a field I added to my query thro

[2021-08-17 15:14] sagzy commented on #512
Additionally to @thadeu's solution:

[code]

[2021-08-20 17:39] danderozier commented on #574
If you're testing a lot of models with polymorphic associations, you can use [rspec helpers](https://relishapp.com/rspec/rspec-core/docs/helper-methods/define-helper-methods-in-a-module) to DRY things up a bit:

[code]

[2021-08-31 22:16] VSPPedro commented on #1380
It seems to me that we can close this issue and maybe start a new discussion for the next version release. 🎉

[2021-08-31 22:47] mcmire commented on #1380
That's fine with me :)

[2021-08-31 22:59] #1380 closed

[2021-09-04 11:24] VSPPedro commented on #1346
Closing this issue because the allow_mass_assignment_of matcher was already removed. 🎉

[2021-09-04 11:24] #1346 closed

[2021-09-16 15:47] billr578 commented on #1407
It looks to me like the validation_matcher class has support for `allow_blank`, however, rspec raises an error from line 28:

`NoMethodError:
       undefined method `[]=' for nil:NilClass`

I think that's because `options` never gets initialized and we're trying to set a hash value on a nil object.  I'm happy to be wrong though and I'm just not using this matcher properly.  :)

[2021-09-17 00:41] rubendinho opened #1460 "allow_value not handling aliased attributes"
I am running into problems using `allow_value` with an alias attribute.

This is my model, which has a column called `custom_data`, aliased as `metadata`.

[code]

In my tests, using the `allow_value` is not working as expected with the original column name `custom_data`.

✅ `expect(Widget.new).not_to allow_value("").for(:metadata)` passes as expected.
🔴 `expect(Widget.new).not_to allow_value("").

[2021-09-17 12:28] lioneldebauge opened #1461 "`belong_to` matcher doesn't allow using association in model's public methods"
Hello 👋

I encountered a strange behavior while using your gem. Basically I have this model

[code]

I test its belongs_to association with shoulda-matchers

[code]

Everything should be fine however when I execute the test I get this error

[code]

After digging a little bit it seems that should-matchers executes all public methods of the model in different state including one when `lease_documen

[2021-09-17 15:37] mcmire commented on #1461
Hi @lioneldebauge ,

Yes, this is expected behavior. By default `belongs_to` will add a presence validation to the association. That means that there is a possibility that the association is nil. Because of this the matcher tests what happens if indeed it is nil. The error could be better but the fact that it happens is revealing a missing check in your code. I would go with the first option you f

[2021-09-17 16:09] lioneldebauge commented on #1461
@mcmire thanks a lot for your clarification :)

In our context we can safely rely on the fact that we will always have this association so we will go for the second solution. I understand however why you would recommend the first one !

Closing this issue now. Thanks again !

[2021-09-17 16:09] #1461 closed

[2021-09-21 04:09] cbortz commented on #761
I'd love to see this come back. I've hit the same issue where a pure ActiveModel (i.e. non-persisted model class) sets this validation. We'd love to clean up our test suite output to not complain about this valid (in our case and others) implementation.

I'd be happy to open up a PR! Please let me know, and thank you for your consideration 🙏

[2021-09-21 16:53] cbortz commented on #761
@mcmire Will do! Would y'all prefer this to be:

- Automatically disabled based on the class ancestry?
- Configurable via `Shoulda::Matchers.configure`?
- Both?
- Something else?

I will go ahead and get started on something today regardless. But if there are any preferences or requirements, please let me know! 🙏

[2021-09-21 17:07] mcmire commented on #761
@cbortz I think it should be based on class ancestry. I doubt that most people use the Attributes API in ActiveModel models, so it is very rare that boolean values will be converted in such a way that the error message indicates. I'll repeat what I said up earlier:

[2021-10-01 17:35] VSPPedro opened #1462 "Remove the `with` qualifier on define_enum_for matcher"
I'm creating this issue as a reminder to remove this deprecated method.

https://github.com/thoughtbot/shoulda-matchers/blob/3e9d69ba7b6cc37251deb08f1a8866c97cf2bc0c/lib/shoulda/matchers/active_record/define_enum_for_matcher.rb#L206-L212

[2021-12-15 13:01] VSPPedro opened #1469 "Add Appraisal for Rails 7.0.0"
TODO

[2021-12-20 15:33] #1457 closed

[2021-12-22 12:40] AlfonsoUceda commented on #1433
Hey folks, after updating to rails 7, this error happens in my test suite, is there a workaround to fix this?

[2021-12-22 13:18] VSPPedro commented on #1433
Unfortunately, I'm working on adding support for Rails 7 at the moment. Thank you for sharing this problem with us, I'll take a look ASAP.

[2021-12-28 15:56] yboulkaid commented on #1433
We're also seeing the same error in conjunction with the Rails 7 upgrade. I believe that this is because Rails is trying to `constantize` the passed string to check if it's a valid model, but is running into a invalid name for a constant here:
https://github.com/thoughtbot/shoulda-matchers/blob/main/lib/shoulda/matchers/active_model/validate_inclusion_of_matcher.rb#L272

Which explains the cryptic

[2022-01-19 08:40] martingregoire opened #1480 "Inflected table name wrong for very long model names"
When having two models with very long model names, and creating a HABTM relation between them, the join table name inflected by Rails is shortened (depending on the underlying database). For PostgreSQL the table name has a maximum length of 63 characters.

For Rails this join table name is shortened automatically. For shoulda-matchers we have to explicitly define the `join_table` option on the rel

[2022-01-19 19:46] sirwolfgang opened #1481 "`validate!` support?"
Is there a way to use the validation matches for hard validations, ie `validate!`?

This has been [supported by rails](https://apidock.com/rails/ActiveModel/Validations/validate%21) for a long while, and generally seems like the preferable choice for code paths that are the result of developer error and not user input error.

[code]

[2022-01-19 21:50] mcmire commented on #1481
There is! Unfortunately this isn't documented anywhere — probably just an oversight — but if you tack on `.strict`, then it will test your validations via `.validate!` instead of `.validate`. For example:

[code]

[2022-01-21 02:10] mathieujobin commented on #1469
Started getting this error with Rails 7

`wrong constant name shoulda-matchers test string`

I do not know yet why, just started investigating

[2022-01-21 16:48] mcmire commented on #1469
@mathieujobin Would you mind posting a new issue for that? I think that would be easier to track. I think this issue is just intended to be a marker for adding the appraisal, not for addressing any Rails 7 issues necessarily.

[2022-01-24 08:55] mathieujobin commented on #1469
@mcmire I believe this is exactly https://github.com/thoughtbot/shoulda-matchers/issues/1433
my test isn't instantiating the model, but still fail with that error.

[2022-01-25 03:53] technicalpickles commented on #1433
I ran into this testing Rails 7, and was able to track it down to this change: https://github.com/rails/rails/pull/42124

I haven't dug into it much yet, but the first fix that comes to mind is to add some logic `rescue NameError` if it's a polymorphic type column.

[2022-01-25 13:41] technicalpickles opened #1482 "bin/setup fails with "/usr/local/share/chruby/chruby.sh: No such file or directory""
I'm following the CONTRIBUTING.md, and tried running setup:

[code]

The code in question is https://github.com/thoughtbot/shoulda-matchers/blob/4eb5bb0b350bb75b3c298f8e4acd1fc362f889ab/bin/setup#L231

I'm not sure if there's an expectation of where chruby is installed, but I'm on macOS on an M1 which keeps homebrew-installed stuff in /opt/homebrew instead of /usr/local

[2022-01-25 16:52] mcmire commented on #1482
Fixed by #1483, I'm assuming?

[2022-01-25 18:23] technicalpickles commented on #1482
That's right, thanks for merging!

[2022-01-25 18:23] #1482 closed

[2022-01-28 12:59] zernie commented on #716
@mcmire hey, but can we at least add some method that assures some scope was called? e.g.

`it { is_expected.to have_many(:fresh_posts).through(:comments).with_scope(:fresh) }`

[2022-01-31 15:28] technicalpickles commented on #1404
What is this referring to exactly? It seems to be using setup-ruby, but is there something specific from that issue?

[2022-01-31 23:04] VSPPedro commented on #1404
Oh, sorry, my bad. It should be `Update CI to work with bundler-cache`.

Take a look at this PR: https://github.com/thoughtbot/shoulda-matchers/pull/1467

[2022-02-16 16:06] josemigallas opened #1489 "`route` throws TypeError instead of Minitest::Assertion"
I'm upgrading `shoulda-matchers` to `4.5.1` and the following test:
[code]
returns the following output:
[code]

After some debugging it seems that `route_recognized?` is throwing the assertion error but not rescuing properly:
[code]

Is this something already known? If so, I would gladly submit a PR to fix it.

[2022-02-16 17:06] mcmire commented on #1489
Most people use `shoulda-matchers` with RSpec these days, so if there's an issue with Minitest then it's possible that there's a bug that we haven't patched yet. Feel free to submit a PR!

[2022-02-21 13:46] gruschis opened #1490 "Confusion about error message when using 'validate_numericality_of'"
I have a class that includes a number of ActiveModel modules. I removed the (hopefully unnecessary) rest of the code for clarity.
Using RSpec and FactoryBot.

[code]

[code]

The second example fails with `ArgumentError: wrong number of arguments (given 1, expected 0)`.
After removing the qualifiers `is_greater_than_or_equal_to` and `is_less_than_or_equal_to`, the test passes.

Just for fun, I lef

[2022-02-24 16:07] delneet commented on #682
I appreciate the effort put into this.
I see the issue is still open.

For me a solution to this problem is very welcome in case related models depend on related models, depending on related models...

Example:
Assuming the `belongs_to` relations have foreign_key constraints in the db.

[code]

What was supposed to be a simple (unit-)test now requires a relatively large setup with several other re

[2022-03-01 22:08] mcmire commented on #1490
Hi @gruschis, I suspect this error is coming from deeper in the stack. Would you be willing to paste a backtrace?

[2022-03-05 15:03] burkematthew opened #1491 "When associating Namespaced Models, `has_many` RSpec Test fails"
Here are some specifics about my situation:

* Model `Budget` lives in `app/models/budget.rb`
* Model `Budget` belongs_to :category
* Model `Budget::Category` lives in `app/models/budget/category.rb`
* Model `Budget::Category` has_many :budgets, class_name: "Budget", foreign_key: :budget_category_id, dependent: :restrict_with_error, inverse_of: :category
* I use RSpec

However, when I write any va

[2022-03-05 15:10] burkematthew commented on #1491
Okay, of course after digging a little more, I figured out what was missing.

My `Budget` Model's association needed to also specify the foreign key:

[code]

Once I fixed this association, my spec passes as expected.

[2022-03-05 15:10] #1491 closed

[2022-05-10 05:07] Mekajiki opened #1492 "Indifference to I18n "errors.format" translation"
# Problem
When "errors.format" translation is defined differently than  "%{attribute} %{message}", a test using `validate_presence_of` with `strict` seems not to be proved.

## Example
If the translations are defined as;
[code]

And if you write a test as below;
[code]

The test above isn't proved with message like;
[code]
The matcher seems to expect a space exists between attribute and message, b

[2022-05-14 16:34] nbibler opened #1493 "Missing Support for the numericality `in:` Range Validation"
There doesn't appear to be direct support for [ActiveRecord's "new" numericality `in:` range](https://guides.rubyonrails.org/active_record_validations.html#numericality) check:

[code]

Attempting to use shoulda-matcher's `validate_numericality_of` seems to only expose upper and lower bound checks:

[code]

One might think doing something like the above would work, but it doesn't because the new f

[2022-05-16 16:47] mcmire commented on #1493
Thanks for the report! Yes, we don't currently handle this right now. PR welcome :)

[2022-06-01 03:39] voraciousdev commented on #1185
For others that land on this thread, you can also use the [`without_validating_presence`](https://github.com/thoughtbot/shoulda-matchers/blob/206d2dae4c3bad8b6450a1762d06d315c35801aa/lib/shoulda/matchers/active_record/association_matcher.rb#L275-L302) modifier to prevent the `nil` check from running when you know it won't be `nil`.

[code]

[2022-06-05 14:34] fakefarm commented on #1116
Adding `.ignoring_case_sensitivity` worked for me.

[code]

[2022-06-16 18:31] s2t2 opened #1494 "Shoulda Matchers for Python"
Hi, I loved using shoulda matchers in my rails apps, but have been using flask apps in Python more recently, and testing them with pytest.

Are you aware of any current python ports of the shoulda matchers functionality? Or are there potentially any plans to create one?

Thanks!

[2022-06-21 16:26] mcmire commented on #1494
Hi @s2t2, we have no plans to create a version of shoulda-matchers that is suited for Flask. I am not a Pythonista, but I believe that pytest works differently than RSpec and is closer to Minitest than RSpec, so I expect you might be looking for a set of assertions? I don't know if Flask has built-in test assertions but I see that Django has some [here](https://docs.djangoproject.com/en/4.0/topics

[2022-07-27 13:49] jasonsof opened #1496 "should permit(...).for with Ruby 3 - "wrong number of arguments (given 2, expected 1)""
Using shoulda 4.0.0 and Ruby 3.0.2 and Rails 6.1.4.4

This was previously fine with Ruby 2.7.4 but upgrading to 3.0.2 produces the following error:

[code]

Error:
[code]

Is this a bug? Does permit for need to be able to handle deprecations in Ruby 3? (https://www.ruby-lang.org/en/news/2019/12/12/separation-of-positional-and-keyword-arguments-in-ruby-3-0/)

[2022-07-27 15:05] VSPPedro commented on #1496
Would it be possible to update the soulda-mathers gem to the latest version, 5.1.0, and try again?

[2022-07-27 15:29] jasonsof commented on #1496
That was it 🤦 thank you @VSPPedro !

[2022-07-27 15:29] #1496 closed

[2022-07-27 20:09] VSPPedro commented on #1496
No problem! Thank you!

[2022-07-31 06:44] prashantham opened #1497 "Spelling error in documantion of validate_absence_of_matcher"
https://github.com/thoughtbot/shoulda-matchers/blob/main/lib/shoulda/matchers/active_model/validate_absence_of_matcher.rb - lists "validate_absence_of" as "validates_absence_of" i.e validates instead of validate.

[2022-07-31 18:43] mcmire commented on #1497
Ah, sorry about that. Would you mind submitting a PR?

[2022-08-01 04:29] prashantham commented on #1497
Ok. Sure.

On Mon, 1 Aug 2022, 00:13 Elliot Winkler, ***@***.***> wrote:

[2022-08-02 13:04] andreLumor commented on #1493
Hi, I'm interested in start contributing to your project.
Would you know if someone is working on this issue?

[2022-08-02 13:17] nbibler commented on #1493
As far as I'm aware, no one on our side (at @envylabs) is working on it, yet.

[2022-08-03 18:18] andreLumor commented on #1493
Hi!
I noticed that the "numericality in: range" check was added on rails 7.
I don't know if resolving this issue is currently possible since shoulda-matchers still don't have rails 7 support.
Any thoughts on how to solve it?
Thanks.

[2022-08-03 18:39] VSPPedro commented on #1493
Hi, @andreLumor, unfortunately, we are not supporting rails 7 at the moment. PR Welcome.

For now, I suggest creating a custom matcher and as soon as the support it's added you could create a PR with your custom matcher.

[2022-08-04 14:12] andreLumor commented on #1493
Hi, @VSPPedro.
Thanks for the reply! I think that starting contributing to an issue that complex would be inefficient, but I'm interested in working on it sometime soon.
Would you be able to point me to a good first issue here?
Thanks, and sorry for the inconvenience!

[2022-08-04 16:19] Jonathandeveloper19 opened #1498 "I don't understand the error message in validate_length_of"
I have the following model with the following validation

`validates :cellphone,
            presence: {
              message: "can't be blank"
            },
            length: {
              minimum: 10
            }`

by running the following test

`it 'ensures cellphone lenght min 10' do
      should validate_length_of(:cellphone).is_at_least(10)
    end`

I get the following error

`Failur

[2022-08-04 20:40] mcmire commented on #1498
It looks like your `cellphone` column is a numeric column. Unfortunately `validate_length_of` doesn't work with numeric columns, only string ones, so it's not able to test this. This was tracked in https://github.com/thoughtbot/shoulda-matchers/issues/1094 (which was closed for being stale). You may wish to manually test this for the time being.

[2022-08-04 21:08] Jonathandeveloper19 commented on #1498
@mcmire Thank you very much, I will leave it running manually, I will close this topic as it is something that has been discussed before.

[2022-08-04 21:08] #1498 closed

[2022-08-05 02:20] VSPPedro commented on #1493
Hi, @andreLumor, relax, no inconvience at all.

To be honest, I don't have one in mind at the moment. I'll try to add a tag for that.

I saw that you found one. Thank you for your contribution.

[2022-08-05 17:02] #1407 closed

[2022-08-08 23:13] Exterm1nate opened #1500 "`validate_uniqueness_of` doesn't work with STI in some cases"
Consider we have a parent model with uniqueness validation with scope:

[code]

If we try to validate the uniqueness of column `column_1` scoped to `column_2` an example always fails, because in Rails (v7) child model doesn't return parent model's validations info on `validators_on` call.

[code]

Maybe this should be changed in Rails itself, but for now it is better to fix this bug here.

[2022-08-25 16:25] ajalvarez89 commented on #133
Hello team, this issue still open, i'd like to help.

[2022-08-31 02:14] jasonkarns commented on #882
Just came across this when I discovered that I can't use the `.or` compound matcher.

My scenario is a polymorphic association. The model `has_one :agent` or `has_one :manager` (with :through, :source, and :source_type). Since the has_one associations are through a polymorphic association, only _one_ of the two will be populated (which one depends on the value of the `entity_type`).

I was hoping

[2022-09-01 19:24] mcmire commented on #882
@jasonkarns My suspicion is that testing such a case would not be as easy as using `.or`, but it's entirely possible I'm wrong. Typically changes to this gem have been extracted from real-world use cases, so if you can write a series of tests for this (not using `have_one`, just manually) and share what you came up with, then that would help in trying to figure out how we could use `.or` to accomp

[2022-09-02 18:32] matsales28 commented on #1500
Hello! Thanks for reporting this issue.
@bigchickenwings and I planned to work on this issue, but we couldn't reproduce the behaviour you mentioned.

We used `rails 7.0.3.1` with the following script:

[code]

[code]

Are we doing something different than the example that you provided?

[2022-09-03 14:49] Exterm1nate commented on #1500
Seems like a Rails issue.

Delegated to Rails project (https://github.com/rails/rails/issues/45939), so think we can close this issue.

[2022-09-21 21:59] ostigley opened #1508 "Version 5.2.0 using define_enum_for causes error"
Hey 👋
We upgraded to version 5.2.0, and started seeing errors in our build.

This test:
[code]

use to pass, but now throws:
[code]

Code being tested:
[code]

Is something wrong with our code, or the update? The test passes 5.1.0

[2022-09-21 22:38] VSPPedro commented on #1508
Ops, sorry about that. Thank you for your report. I don't think there is any problem with your code. I'll take a look at it ASAP this weekend.

[2022-09-21 22:46] VSPPedro commented on #1508
@ostigley, one question, would it be possible to tell me which version of Ruby and Rails you are using? Thank you!

[2022-09-21 22:47] ostigley commented on #1508
Thanks!
ruby: 2.7.6
rails: 6.1.7

[2022-09-26 17:50] matsales28 commented on #1493
Hello everyone, I'm planning to work on this next Friday, as now we have the support for Rails 7, and it'll be used on one of the projects I work on to simplify some specs.

Did anyone already start to work on this? If not, could I add a label to say this issue has a PR in progress?

Thanks for y'all attention.

[2022-09-26 20:20] VSPPedro commented on #1493
Hi, @matsales28, hope you're doing great. I don't think anyone started working on this. I added the label that you suggested. If you think I can help you with anything let me know. Thank you!

[2022-09-28 03:40] ostigley commented on #1508
Hey @VSPPedro we think this is actually on our side. You're in the clear!

[2022-09-28 03:40] #1508 closed

[2022-09-28 12:55] VSPPedro commented on #1508
@ostigley,  thank you for the update. I tried to replicate the problem, but with no luck. I noticed that the ShouldaMatchers is using older versions of ruby and rails - 2.7.6 and 6.0.4.4. Now I'm working on updating everything before trying to replicate the error again. Anyway, if later on you think the issue it's in the ShouldaMatchers, please, let me know. Thanks again.

[2022-09-28 12:57] VSPPedro commented on #1433
@krzysztofjablonski, sorry about that. To be honest, I forgot about this error. This issue will be my priority at the moment. Thank you for your report.

[2022-09-29 02:04] VSPPedro opened #1511 "Drop support for Ruby 2.6"
status: eol

See https://www.ruby-lang.org/en/downloads/branches/

[2022-09-29 23:23] ostigley commented on #1508
For posterity, the ugrade broke our test because we have this in our model:

[code]

When we removed that, 5.2.0 worked fine.

We are going to update our code.

We think the problem is that should-matchers changed how to check the enum is configured from singleton checks to instance method checks, and since we’re removing one set of instance methods, it’s now failing.

[2022-10-01 14:37] VSPPedro opened #1513 "Drop support for Rails 5.2"
status: eol

See https://guides.rubyonrails.org/maintenance_policy.html

[2022-10-04 02:46] fabriciobonjorno opened #1514 "Testing with validates_comparison_of or comparison"
Guys, how are you? Has anyone implemented testing using these new Rails 7 validates? If yes, could you give me a hint?

First validate
`validates :start_date, comparison: { greater_than_or_equal_to: Date.today }`

Second validate
`validates :end_date, comparison: { greater_than: :start_date }`

Tutorial link:
https://www.bigbinary.com/blog/rails-7-adds-comparison-validator-to-active-record

[2022-10-04 12:37] matsales28 commented on #1514
Hello, I'm fine, thanks for asking!

I'd say that currently, `shoulda-matchers` does not have an option to test this new feature of Rails 7.
While we don't implement this on `shoulda-matchers` you can test this validation using this logic (just an example, you don't need to follow this pattern)

[code]

I can probably work on implementing this in the next weeks, but we are happy to receive new con

[2022-10-05 02:39] #1469 closed

[2022-10-20 10:06] myxoh commented on #1435
The workaround fails if your scope includes the model.

For example this fails for me:

[code]

[code]
as the matcher is setting (on one of the runs) an invalid `organization_id` and hence the conditional check on `payment_account` is failing.

Debugging what the matcher was doing - it run perform_validation 5 times - the last time the `record` had an `organization_id` but it did not reference a v

[2022-10-24 14:29] rasmar opened #1516 "validate_uniqueness_of in polymorphic scope with AASM gem in Ruby 3.0+ fails"
In one of our projects we've faced issue with the gem, while using `validate_uniqueness_of` in scope of polymorphic attribute with associated model using AASM. Shoulda engine creates TestModel (via Mutex) that is symlinked to the root one. This doesn't work for models using AASM gem - the state machine definition is missing in cache. This works in Ruby 2.7+ but not 3.0+.

Possible reason: https://

[2022-10-29 11:17] #1493 closed

[2022-11-14 20:21] christhomson commented on #1433
We ran into this issue as well when upgrading to Rails 7 as well.

Another way we could get around this is to change [`ARBITRARY_OUTSIDE_STRING = 'shoulda-matchers test string'.freeze`](https://github.com/thoughtbot/shoulda-matchers/blob/481712b4d062b81a15d8bc3517818c230d1ccea8/lib/shoulda/matchers/active_model/validate_inclusion_of_matcher.rb#L272) to be a string that refers to a class that we kn

[2022-11-24 13:54] guppy0356 opened #1524 "How to prevent NoMethodError in validation which have an if statement ?"
I saw #1198 and I faced same issue too. Do we really have to use early return in the method? This is depends on shouda-matcher not depends on its spec.

Even if I set up the association correctly using subject, it is still nil in the test. How to prevent NoMethodError in testing. Is there nothing I can do? Early return is NOT good method to avoid this.

[code]

Appendix

[code]

[2022-11-24 22:38] mcmire commented on #1524
Hi @guppy0356,

The short answer is yes, you still have to check for the presence of `car`.

You can think about this two ways. First, `belongs_to` implicitly places a validation on the association. So it's like your model has `validates_presence_of :car` on it. Because of this, the `belong_to` matcher double-checks this validation. It does this by setting `car` to nil and confirming that your mod

[2022-11-25 01:08] guppy0356 commented on #1524
Thank you for your respond @mcmire,

Hmm, your answer is my sample code is prefer to early return, isn't it?

[2022-11-25 03:41] mcmire commented on #1524
@guppy0356 Yeah -- or some kind of logic at least. You could also use the `&.` operator if you want to shorten it.

[2022-11-25 03:53] guppy0356 commented on #1524
@mcmire
Okay, I understand very well. How about pinning this issue? I think people would be interested.

[2022-11-25 16:39] alfredo-pl opened #1525 "Pasar las ControldocForm::TemplateSystemVar atraves de props al componente"
Para que al momento de cambiar o agregar una nueva variable de sistema, no tengamos que estar agregando el caso en el componente
![image](https://user-images.githubusercontent.com/62043971/204023654-41995e57-fe44-48b6-9ca3-f4d956ab592a.png)

[2022-11-25 16:41] #1525 closed

[2022-11-27 23:37] Kutomore opened #1526 "No source_type matcher for has_many?"
Pretty much checking docs source code there isn't a matcher for the scenario:

has_many :products, through: :add_ons, source_type: 'Product'

Where add_ons is polymorphic so source_type is required.

[2022-11-29 18:14] mcmire commented on #1526
If you have a polymorphic association then shoulda-matchers will test it automatically — no need for any extra qualifiers like `.source_type` or anything! Here's a test in our test suite which verifies that polymorphic associations work: https://github.com/thoughtbot/shoulda-matchers/blob/481712b4d062b81a15d8bc3517818c230d1ccea8/spec/unit/shoulda/matchers/active_record/association_matcher_spec.rb#

[2022-11-29 19:37] #1526 closed