[2016-06-22 15:26] mcmire commented on #939
Yup, that makes sense to me.

Don't worry about the tests, I can fill that in. Thanks!

[2016-06-23 05:05] jameslafa commented on #938
Thanks for your answer. It does make sense and I actually found a simple way to do exactly what I wanted:

[code]

This test that the right params are allowed and also test that no one, by mistake, add later :user_id, which could lead to a security problem.

So everything is perfect. Thanks again for this great gem!

[2016-06-23 05:05] #938 closed

[2016-06-28 13:28] tejasbubane opened #942 "doc formatter not to use should with rspec 3+"
With `rspec 3` and using the new `expect` syntax:

[code]

Results in the following output for `rspec -f doc`:

[code]

I expect the messages to not use `should` and be something like this instead:

[code]

We can provide a config option for those who prefer this style of documentation.

[2016-06-28 15:14] Zensaburou commented on #898
Late to the party on this, but thanks @olliebennett!

[2016-06-28 15:53] mcmire commented on #942
RSpec uses a matcher's #description method to print out those lines for the `documentation` formatter. [We don't put "should" in the string that #description returns](https://github.com/thoughtbot/shoulda-matchers/blob/master/lib/shoulda/matchers/active_record/association_matcher.rb#L955), so my assumption was that this comes from RSpec, although I'm not able to find that code at the moment.

[2016-06-28 16:12] mcmire commented on #942
Okay, I believe this has to do with the one-liner syntax specifically. [Here's the Relish docs](https://relishapp.com/rspec/rspec-core/v/3-4/docs/subject/one-liner-syntax) that talk about that; it shows that the lines which the documentation formatter prints out start with `should` or `should not`. It looks like that is coming from [here](https://github.com/rspec/rspec-expectations/blob/master/lib

[2016-07-02 10:31] wintersolutions opened #944 "have_db_column of_type can't compare types with activerecord-jdbc-adapter/rails 5"
When I run the following spec in MRI everything works:

`it { is_expected.to have_db_column(:example).of_type(:string) }`

When I run it on JRuby 9.1.2 and with activerecord-jdbc-adapter (github: 'jruby/activerecord-jdbc-adapter', branch: 'rails-5') I get:

This seems to be the case for all types of attributes, not only strings. A possible workaround, i.e. comparing to `ActiveModel::Type::String`

[2016-07-02 11:18] wintersolutions commented on #944
Found similar issues with `have_db_column(:example).with_options(limit: 42)` and `enum_for` matchers. I wrote the following monkeypatch to get my specs running again:

[code]

[2016-07-05 08:41] dniman opened #945 "have_db_index: normalize_columns_to_array is always an array"
In activerecord-5.0.0\lib\active_record\connection_adapter\postgresql\schema_statements.rb **columns** variable(in code below)  can be string or [].

[code]

In shoulda-matchers-3.1.1\lib\shoulda\matchers\active_record\have_db_index_matchar.rb
   @columns is always an [] after normalize_columns_to_array method.

[code]

Therefore we cannot use functional indexes like lower((code)::text) with have_

[2016-07-05 08:43] majioa opened #946 "is_expected.to validate_inclusion_of(:role).in_array(%w(user blocked) raises ArgumentError"
I have the following matcher:

    it { is_expected.to validate_inclusion_of(:role).in_array(%w(user blocked))

when I run it to test I get strange error:

    ArgumentError:
      '123456789' is not a valid role

The model code is:

    enum role: [:user, :blocked]

    validates :role, inclusion: { in: %w(user blocked) }

What is wrong here?

[2016-07-05 10:06] tejasbubane commented on #946
If I am not wrong, that error is thrown by Rails enum when `shoulda` matchers tries to assign an arbitrary value to check for inclusion (expecting it to be false).

Enums will make sure any value apart from the enum values will not be assigned. Hence you don't need to have the inclusion validation for enum, rails implicilty does that for you.

What you need to do is check if an enum is defined. Yo

[2016-07-05 10:12] tejasbubane commented on #945
Could you use markdown code highlighting with proper indentation?
Refer: https://guides.github.com/features/mastering-markdown/ At the moment, it is difficult to make out what your code is doing.

If you can create a [gist](https://gist.github.com/) and share the link here, that would be even better.

[2016-07-05 15:14] batshoes commented on #935
Hi,
I am getting a similar error, (devise setup, uniqueness invalidation) but with a user_id on my "Applicant" Model. I have tried a few variations, but still seem to get the same error. Can't seem to isolate the issue.
### Applicants Model Validations
[code]
### Test Variations
[code]
[code]
### Exact error

[code]

[2016-07-06 05:37] majioa commented on #946
thanx

[2016-07-06 05:37] #946 closed

[2016-07-07 01:31] mcmire commented on #935
@batshoes This may not be it, but you have a validation on `:user` while your test is using `:user_id`. Try changing the validation to match?

[2016-07-07 09:04] Ruff9 commented on #904
+1

[2016-07-07 18:03] batshoes commented on #935
Yikes.
That's embarrassing. Thank you for proof reading my code. Next time I'll send it it directly to you, instead of posting it publicly on github for everyone to see.

[2016-07-08 00:05] mneumark commented on #814
+1 Having the exact same issue as the others. I had a Active Record 5 related issue so I thought this might be related to using Active Record 5, but it seems that this is not the case.

Any chance of a release soon? Been about a half a year since the last update....

[2016-07-08 12:07] aried3r commented on #913
Any news on this?

[2016-07-08 23:20] mcmire commented on #942
Does that make sense?

[2016-07-10 11:04] michaeldever commented on #814
Having the same issue here.

[2016-07-11 18:01] anthonator commented on #913
I'm seeing this as well

[2016-07-12 22:47] mcmire commented on #942
(I'm going to close this issue just to keep things tidy.)

[2016-07-12 22:47] #942 closed

[2016-07-12 22:50] mcmire commented on #764
Alright, I'll reopen this issue.

[2016-07-12 22:51] mcmire commented on #895
I've reopened the issue you mentioned, so I'm closing this one.

[2016-07-12 22:51] #895 closed

[2016-07-12 22:57] mcmire commented on #838
Fixed by #840.

[2016-07-12 22:57] #838 closed

[2016-07-13 22:00] elbartostrikesagain opened #949 "rails 5 depreciation warning validate_uniqueness_of for multiple scopes"
rails: 4.2.6
should-matchers: 3.1.1
(postgres if that matters)

I'm trying to use validate_uniqueness_of for something that is scoped to 2 things(note `default` is a boolean that defaults to false if that matters):

[code]

the test I'm using is:

[code]

The test passes but raises a depreciation warning for rails 5 😟 :

[code]

[2016-07-14 11:49] tiii commented on #912
I don't think this is a bug. Using strings as keys is not the way to go with ActiveRecord::Enum. There is no mention about using something else than integer columns and integer values in the official documentation (4.1.8: http://apidock.com/rails/ActiveRecord/Enum | 5.0.0: http://api.rubyonrails.org/classes/ActiveRecord/Enum.html ).

If you use a string type column and non string enum values (inte

[2016-07-18 00:10] guilhermearaujo commented on #912
(@tiii I suppose that by 'key' in your message you mean 'value', as in the value held by the key being a string, and not the key itself. Is that correct?)

I have to disagree. If your database has a `varchar` column to store your enum data and your enum maps a `symbol` to an `integer`, IMHO you are doing it wrong.
On the other hand, if your column is of type `integer` and your enum maps a `symbol`

[2016-07-18 00:44] mwenger1 commented on #904
👍

[2016-07-18 13:16] leifg commented on #913
Is there any particular problem with applying the mentioned monkey_patch of @bsodmike to RailsShim?

[2016-07-18 15:25] devmarwen commented on #904
+1

[2016-07-18 15:37] tiii commented on #912
@guilhermearaujo yeah, that's what i meant, sorry for that.

Going through the commit history for the enum module, i finally found a test for strings as enum values. (https://github.com/rails/rails/commit/67c1719012506c3387df067961252b5df50a97ce)

Since there was never any mention about using string as values in the documentation I assumed that the behaviour of using strings for values is rather a

[2016-07-19 01:30] brielov opened #950 "Rails 5 has_secure_token matcher"
It would be nice to have a similar behaviour like has_secure_password, but for token (has_secure_token).

[2016-07-19 02:29] rramsden opened #951 "Rails 5 undefined method `validate_presence_of`"
I'm upgrading to from Rails 4.2.6 to 5.0.0 and receiving undefined method
errors for all shoulda matchers. I'm using shoulda-matchers (3.1.1).

[code]
### Edit

I managed to fix the error using the following. However,
this should be handled automatically by the gem:

[code]

[2016-07-21 16:34] l3x commented on #935
@batshoes Thank you for posting this.  It helps other imperfect programmers, like me.

[2016-07-22 22:04] mrodrigues commented on #814
+1

[2016-07-24 13:59] SicutDominus commented on #867
So I don't need to make any changes to my RSpec, I can wait for the patch to save myself a bunch of trouble?

[2016-07-24 20:37] mcmire commented on #867
If you're still using Rails 4, yeah -- I know the warnings are annoying, but it's okay for right now. If you're using Rails 5 then there isn't a fix for this yet, unfortunately.

[2016-07-25 00:00] sshaw commented on #951
I'm having this problem with Rails 4.2.6. Explicitly including them solves it.

Could be due to the new way of configuring things in 3.X. I have a Rails 4.2.2 app using 2.8, no problem.

[2016-07-25 08:15] SicutDominus commented on #867
No worries. Is there going to be eventually?  I'll keep an eye on this and leave it be if it will be fixed eventually, it's not actually causing a failed case yet.

[2016-07-25 13:20] foucist commented on #912
Just chiming in, we're using a legacy database with a variety of enumerable-like columns based on varchar strings rather than integers.  It works fine in rails 4.2 & 5, and I was successfully using define_enum_for with shoulda-matcher 2.8.0, but it seems it's been broken since then.

[2016-07-25 15:35] mcmire commented on #950
Unfortunately I don't have much time these days to add any new features but if this is something that you personally want then feel free to submit a PR and we will certainly merge it in.

I'm going to close this since we don't tend to keep feature requests open (to keep the list clean).

[2016-07-25 15:35] #950 closed

[2016-07-29 03:38] phthhieu commented on #904
+1

[2016-08-02 04:38] thomascarterx commented on #684
Same thing here. Like @GabrielCabrera said it has to go in rails_helper.rb

[2016-08-05 14:22] AlexVPopov opened #952 "Conditions qualifier, when association owner is part of the condition"
How do you validate the conditions for a `has_one`/`has_many` association, if the association owner is part of the condition? Example:

[code]

I tried both `conditions(where(baz_id: foo.default_baz_id)` and `conditions(-> (foo) { where(baz_id: foo.default_baz_id })`, but I get:

[code]

[2016-08-05 16:04] mcmire commented on #952
Hmm... would something like this work?

[code]

[2016-08-05 23:49] mockdeep commented on #683
Just came across this. Would love to have this matcher. We want to have values be either `nil` or anything that's not an empty string.

[2016-08-06 02:53] zw963 opened #953 "Rails 5.0.0, Get `undefined method `configure' for Shoulda::Matchers:Module' error."
Rails 5.0.0, config with following process:
1.  Add following config to Gemfile

[code]
1.  run  bundle install
2.  Add following code to test/test_helper

[code]
1. Run rake test. Got

[code]

Thanks

[2016-08-06 05:00] thewatts commented on #935
So - interestingly enough, I'm having this exact issue.

##### Spec:
[code]

##### Model:
[code]

<details>
  <summary>Failed Spec Error</summary>
Failure/Error: it { should validate_uniqueness_of :title }

       Course did not properly validate that :title is case-sensitively unique.
         After taking the given Course, setting its :title to ‹"an arbitrary
         value"›, and saving it as t

[2016-08-06 05:51] mcmire commented on #953
`shoulda` still brings in `shoulda-matchers` 2.x, it doesn't bring in 3.x yet. So you don't need the `configure` block.

More info: <https://github.com/thoughtbot/shoulda-matchers#minitest>

[2016-08-06 06:03] mcmire commented on #683
I'm going to reopen this for now. If someone could re-create the PR but provide a better use case than combining`validate_presence_of` with `belongs_to`, then that would be a good start.

[2016-08-06 08:02] zw963 commented on #953
Thanks for reply, I tried the example in README for minitest with add same configure to test/test-helper, it not worked, So I create issue here.

If without configure, will get another error..
e.g.

[code]

Get following error:

[code]

[2016-08-06 08:10] zw963 commented on #953
this file location is: ``/Project/test/controllers/api/v1/test_controller_test.rb``

[2016-08-06 08:20] zw963 commented on #953
Sorry, Is there exist a clean guide for minitest worked with shoulda-matcher?

I use matchers for years, but just with Rspec, it basically no problem.
now, I swtich to rails default minitest,  with config or without config,
could not make `should` or `route` worked for me.

If i need use `shoulda-context` gems?

[2016-08-06 08:28] zw963 commented on #953
I notice following code PersonTest is inhered from `ActiveSupport::TestCase`

[code]

Current, my code is inhered from `ActionDispatch::IntegrationTest`

Which is default generated code by rails 5.

[2016-08-06 13:35] mminsaus commented on #935
Try changing

    { subject build(:course) }

To

    { subject create(:course) }

Validations work on creation, like you are doing in the console, but FactoryGirl.build (which is what I am assuming you are using) is making a new unsaved instance
Alternatively try doing

    subject.save

Before running the validations.

[2016-08-06 16:29] thewatts commented on #935
@mminsaus definitely a good thought! It looks like the result is the same.

Based on the error message when changing to `create` vs `build` -  It looks like `shoulda/matchers` is responding to the objects differently.

When the subject is already created - `shoulda/matchers` will just create a new object and validate, whereas if the subject is a new record, `shoulda/matchers` will _first save it_

[2016-08-07 16:44] aprescott commented on #683
I've encountered this a few times, for cases where I have an attribute that should either be `nil` or a non-`blank?` string:

[code]

The work-around has been to manually cover a few cases:

[code]

I imagine, like the opening description, that this could instead be something like `validate_presence_of(:reason).allow_nil`. It could test the right cases without having to copy-paste this for any att

[2016-08-07 17:01] mockdeep commented on #683
Being that we are receiving user input from client-side, which comes back as empty string rather than `null`, we ended up opting for a setter method instead of the validation:

[code]

[2016-08-08 03:09] zw963 commented on #953
Any advice ?

Thanks.

[2016-08-08 14:41] philtr commented on #935
I'm having the exact issue described above by @thewatts.

I'm running Rails 5, Ruby 2.3.1, PostgreSQL.

[2016-08-08 15:09] AlexVPopov commented on #952
Thank you for your prompt response! :+1: Unfortunately this doesn't work, because I get an error

[code]

I think that without the `conditions` method call, the lambda is not evaluated at all. if I add the proposed conditions call, than the lambda is evaluated. However, inside of it:

[code]

foo is not an instance of the class, but the actual class and hence the error.

[2016-08-08 15:49] mcmire commented on #935
@thewatts I'm not sure why you would be seeing that. However, that seems like a different issue than this issue. Can you copy that to a new one so I can mark it appropriately as a Rails 5 issue? Thank you.

[2016-08-08 15:54] mcmire commented on #952
Can you re-run that test with `--backtrace`? I'm curious as to where that error is appearing.

[2016-08-08 15:59] AlexVPopov commented on #952
Sure, there you go:

[code]

[2016-08-08 16:02] mcmire commented on #953
Okay, that's definitely a bug. It looks like [here](https://github.com/thoughtbot/shoulda-matchers/blob/master/lib/shoulda/matchers/integrations/libraries/routing.rb#L15) we need to not only include the routing matchers into ActionController::TestCase but also ActionDispatch::IntegrationTest.

You can fix this in the meantime by adding this to the top of your test class:

[code]

[2016-08-08 16:12] mcmire commented on #952
Ah, okay... I see what you're saying.

The gem ends up comparing what you pass to `conditions` with the scope (lambda) that the association is defined with by manually calling that lambda. If you look [here](https://github.com/thoughtbot/shoulda-matchers/blob/master/lib/shoulda/matchers/active_record/association_matchers/model_reflection.rb#L43), we try to emulate what ActiveRecord is doing and we

[2016-08-08 16:39] AlexVPopov commented on #952
As always - an outstanding response - fast, kind and insightful. Thank you very much for the help!

[2016-08-08 19:30] mcmire commented on #952
Yeah, no problem! And I'm going to keep this open since this is definitely something that should be fixed.

[2016-08-08 19:31] AlexVPopov commented on #952
:+1:

[2016-08-08 21:28] thewatts commented on #935
@mcmire the issue on our end (both @philtr and myself) was due to a third party gem, [challah](https://github.com/jdtornow/challah/issues/28).

Challah has been fixed - so this is no longer an issue for us! 🎉

[2016-08-09 04:37] zw963 opened #954 "Support env named parameter to import SERVER_PORT header."
Rails 5 could not get @request object in ActionDispatch::IntegrationTest,
But it support a env name args to support import SERVER_PORT header.

[code]

How to do this in should-matcher ?

Thanks.

[2016-08-09 07:48] zw963 commented on #953
Hi, I have tried with following:

1. add following into gemfile
[code]

2.  run `bundle install`

3.  add test to `Project/test/integration/routes_test.rb`
[code]

4. Get following error

`uninitialized constant Shoulda::Matchers::Routing`

Thanks

[2016-08-09 07:54] zw963 commented on #953
I notice route method should be:

```Shoulda::Matchers::ActionController#route```

I have confused about which version should-matcher I need to use??

[2016-08-09 08:19] zw963 commented on #954
I have test like this, it told me no should method exist.

[code]

If change to this:
[code]

should exist, but `request.env` is not valid.

[2016-08-09 09:38] zw963 commented on #953
[code]

This still worked for rails 5.0.0.

[2016-08-09 09:43] zw963 commented on #953
Following not worked for me neigher 2.x or 3.x.

[code]

[code]

[2016-08-09 15:50] mcmire commented on #954
It looks like the `env` argument that `get`, `post`, etc. takes refers to the Rack environment hash. Setting `SERVER_PORT` doesn't actually change the Rack env, however -- [it gets used to build the URL](https://github.com/rails/rails/blob/3e45dd988cad539fe2cbc79b505fde99a44472e8/actionpack/lib/action_dispatch/testing/integration.rb#L396).

That said -- `route` doesn't actually hit a URL, it only

[2016-08-09 15:54] mcmire commented on #953
Oh, I forgot I moved the `route` matcher to a separate module in shoulda-matchers 3. In 2.x, it was still located in Shoulda::Matchers::ActionController.

Are you sure this doesn't work in 2.x?

[code]

[2016-08-09 16:37] zw963 commented on #954
because i need test route which use constraint to limit only special port can be access。

[2016-08-09 16:58] mcmire commented on #954
Oh, interesting. I didn't know you could do that.

[Under the hood]](https://github.com/thoughtbot/shoulda-matchers/blob/master/lib/shoulda/matchers/action_controller/route_matcher.rb#L131) the `route` matcher actually uses Rails' [`assert_routing`](http://api.rubyonrails.org/classes/ActionDispatch/Assertions/RoutingAssertions.html#method-i-assert_routing) test helper under the hood. There doesn't

[2016-08-09 20:03] Shomari commented on #913
any update on this being patched?

[2016-08-10 10:33] zw963 commented on #953
I try again,

Hi, I have tried with following:

1. add following into gemfile
[code]

2.  run `bundle install`

3.  add test to `Project/test/integration/routes_test.rb`
[code]

4. Get following error

NoMethodError: undefined method `route' for RoutesTest:Class

Thanks

[2016-08-10 17:23] mcmire commented on #953
Oops! I forgot that using `shoulda`, the matchers are defined as class methods, not instance methods. Try:

[code]

[2016-08-10 18:29] zw963 commented on #953
Not.

```NameError: uninitialized constant Routes```

[2016-08-10 19:26] mcmire commented on #953
Backtrace, please?

[2016-08-11 03:18] zw963 commented on #953
[code]

[2016-08-11 09:18] hiendinhngoc opened #955 "User should require case sensitive unique value for auth_token"
I got error with `validate_uniqueness_of`, this is my test:
`it { should validate_uniqueness_of(:auth_token)}`
this is my validation in Model:
`validates :auth_token, uniqueness: true`
and here is the error:

[code]

[2016-08-11 11:07] zw963 commented on #954
I just tried it. It worked!

[code]

[2016-08-11 11:10] zw963 commented on #954
And, following is worked too.

[code]

Thanks.

[2016-08-11 11:13] zw963 commented on #954
Maybe should close by you.

Rails 5 current exist `headers: {...}` and `env: {...}` named argument
which I don't know support by shoulda-matcher.

Anywhy, port problem is resolved.

[2016-08-11 12:13] Sheval commented on #814
+1

[2016-08-11 20:53] DexterTheDragon commented on #904
Problem appears to come from this commit https://github.com/thoughtbot/shoulda-matchers/commit/296211211497e624dde87adae68b385ad4cdae3a. Specifically, it seems `matches?` and `does_not_match?` of `AllowValueMatcher` can set `@result` to nil, but `failure_message` and `failure_message_when_negated` call `result.attribute_setter` which causes the undefined method on nil error. Hopefully this helps n

[2016-08-13 14:13] beslnet commented on #951
look, you can fix it with this link https://www.sitepoint.com/learn-the-first-best-practices-for-rails-and-rspec/

[2016-08-14 22:05] trushkevich commented on #881
I face this error after upgrading to 3.1.1, but when I downgrade  back to 2.8.0 the error goes away.

[2016-08-16 01:22] mcmire commented on #953
Is that constant really defined?

[2016-08-16 01:23] mcmire commented on #955
Based on the error message, it looks like you're using an older version of shoulda-matchers. What happens if you try updating?

[2016-08-16 01:28] mcmire commented on #954
Glad you got it working!

I'm not sure what all of the possible values of `env` can be, so perhaps it's worth it to only support `SERVER_PORT`. Then again, the `route` matcher isn't intended to completely emulate `get`, `post`, etc., so perhaps we just add a `port` option, such as:

[code]

We'll have to come to some kind of decision on this.

[2016-08-20 09:17] zw963 commented on #954
Cool, maybe `format` and `port` is the most useful arguments for route test.

for me, I only occur those two case in recent project.

Thanks.

[2016-08-20 09:22] zw963 commented on #953
Yes, as you can see, `Api` is a controller module name, which auto create by rails framework.

I prefer create a new controller like this:

[code]

Not like this.

[code]

[2016-08-28 03:47] hiendinhngoc commented on #955
The problem come out when I add `gem "shoulda-matchers", "~>2.5"`, thanks @mcmire

[2016-08-29 01:43] mcmire commented on #955
@hiendinhngoc Why aren't you using the latest version?

[2016-08-29 03:38] mcmire commented on #904
I just got this error as well when saying `should_not validate_confirmation_of(:some_attribute)`. It doesn't matter if the test actually passes or not, it will still crash.

[2016-08-29 06:44] dissident opened #958 "Rails 5.0.0.1, error with 'validate_inclusion_of'"
Hello, after upgrade my Rails to 5.0.0.1 and shoulda-matchers to last version, I got an error in my spec.

[my spec](https://github.com/metastudio/cashbox/blob/master/spec/models/bank_account_spec.rb)
`30.    it { expect(subject).to validate_inclusion_of(:currency).in_array(%w(USD RUB)) }`

[my model](https://github.com/metastudio/cashbox/blob/master/app/models/bank_account.rb)

error:
![image](ht

[2016-08-29 16:19] mikemerritt commented on #814
+1

[2016-08-29 22:21] mcmire commented on #958
@dissident I would check the backtrace. I don't think this is anything shoulda-matchers is doing -- it looks like something in your model is trying to access or set a `residue_cents` attribute as a part of validation, and this attribute does not exist.

[2016-08-30 14:07] dissident commented on #958
backtrace
[code]

[2016-08-30 14:12] dissident commented on #958
This occurs only with this matcher, two matchers before work correctly.

[2016-08-30 19:48] mcmire commented on #958
Okay, try writing the following in a test. Does this raise an error as well?

[code]

[2016-08-31 05:06] dissident commented on #958
No, the code works, returns false.

[2016-08-31 13:40] aried3r opened #959 "`route` matcher ignoring HTTP headers?"
I'm currently adding another version of our API in our product. All tests seem to run fine and get the correct controller/views except for the `route` matcher.

Here's my code:

[code]

This fails with:

[code]

Here's `./lib/api_constraints.rb`:

[code]

As mentioned in the beginning, all other specs seem to be working fine, getting the right views and hitting the correct controllers.
#### Edit

[2016-08-31 16:21] mcmire commented on #958
@dissident Okay. Do you think you could create a fresh Rails app and try to reproduce it there? I am thinking this has to do with the fact that you're using the `money-rails` gem, and it may require that certain attributes be set.

[2016-08-31 16:40] mcmire commented on #959
The `route` matcher (as well as `assert_generates` and `assert_recognizes`, the built-in Rails assertion helpers that `route` depends on) doesn't actually hit the controller -- it merely exercises Rails' routing logic. So unfortunately setting a header or modifying the request object in some way doesn't have any effect.

You would think there would be *some* way to do this, because at some point d

[2016-09-01 05:11] dissident commented on #958
@mcmire Okay.I am creating a fresh app and check the behavior of matcher with money-rails gem and without them. After that write here about my observations. Thanks for direction.

[2016-09-02 08:35] aried3r commented on #959
I took a look at the code you mentioned and I also don't see a way to facilitate this. That kinda sucks :\

Tried to take another approach, but so far I had no luck.

[code]

I don't know why I can't seem to make it mock the `.headers` call. There _is_ a `ActionDispatch::Request` instance being passed to `ApiConstraints`, but I had no luck mocking it or otherwise.

Thanks for your reply and pointi

[2016-09-09 18:01] gkop commented on #946
`define_enum_for` doesn't permit checking for conditional validations on the allowed values.

@tejasbubane any reason we couldn't catch the `ArgumentError` in shoulda-matchers and treat it as a positive assertion?

[2016-09-09 19:17] tejasbubane commented on #946
@gkop Not sure I get what you mean by `conditional validations`. Could you share and example?

I think doing this is not a good idea since `validate_inclusion_of`is a generic matcher and not specific to enums. But this is just my opinion.

Also, I came across this discussion in rails issues on using validations with enums: https://github.com/rails/rails/issues/13971#issuecomment-34530922. Might be

[2016-09-09 19:42] gkop commented on #946
Thanks for the quick reply! ActiveRecord validations support the options `:if` and `:unless` to scope validations to certain conditions. Generally, shoulda-matchers has good support for testing validations under different conditions. But in this case of enums shoulda-matchers does not work.

We can support enums better in shoulda-matchers...

Ideas

1) We could suppress the assignment of an arbitr

[2016-09-09 19:51] tejasbubane commented on #946
This sounds like a good idea. @mcmire What do you think?

[2016-09-10 16:35] tejasbubane opened #961 "Enum matcher should check for _prefix and _suffix"
`define_enum_for` matcher should also have an option to check for `_prefix` and `_suffix`. Something like this:

**conversation.rb**

[code]

**conversation_spec.rb**

[code]

[2016-09-11 18:16] mcmire commented on #946
I think that's a good idea, although it seems like the real issue here is that people are adding an inclusion validation to their model as extra support behind an enum. So if I were to add a warning message, it would be fairly prescriptive:

Would anyone be opposed to me adding a message like this?

[2016-09-11 20:13] mcmire commented on #961
Wow. What did they do to that API?

Well... anyway... I think in order to test that option, I'll have to reimplement how `define_enum_for` works. ActiveRecord keeps track of which columns are enum columns by storing them in a class-level `defined_enums` hash. Each key is the column and each value is an array of possible values that the column takes. In this case, `_prefix` and `_suffix` change whi

[2016-09-12 15:15] gkop commented on #946
To be clear, my primary interest is gaining the ability to use `validate_inclusion_of` on enums so I can test my validation that only subsets of the enum values are allowed under different conditions. The warning message strikes me as a good idea - since I am intending to use `validate_inclusion_of` on enums, it'd be nice to have an option to suppress the message though ;)

[2016-09-13 21:57] mcmire commented on #946
@gkop Okay, gotcha. Well, that's why I asked first :)

The ArgumentError that was mentioned above is definitely coming from Rails: https://github.com/rails/rails/blob/master/activerecord/lib/active_record/enum.rb#L139

So, in that case, I think the only course of action here would be to modify `define_enum_for` to rescue the ArgumentError, and if the error message matches `/is not a valid #{attrib

[2016-09-14 15:12] Mange commented on #904
What's the status on this one? Has anyone come up with a solution?

[2016-09-17 21:40] anthonator opened #962 "Validating uniqueness on UUID fields"
It looks like when validating uniqueness you just upcase the value to produce a new value that. That doesn't work with UUID fields since they are case insensitive. If you use `case_insensitive` it seems to work. This may be intended behavior but I found it confusing and might be worth some documentation.

[code]

produces

[code]

[2016-09-18 16:33] molfar opened #963 "Test the model to validate attribute ONLY on specific context, except default ones"
I need to write failing test for activerecord model. It ensures, that a validation runs ONLY on specific context, and not on default ones. I wrote:

[code]

But it throws me an error:

[code]

How to figure out this situation?

[2016-09-19 17:46] mcmire commented on #963
This may be related to #904 -- I'll have to investigate this for sure.

Regardless, though, the matcher is failing for some reason. Perhaps your model doesn't have the presence validation in question?

[2016-09-19 18:00] molfar commented on #963
Model has validation

`
validates :address, presence: true
`

[2016-09-23 16:21] dsgn1graphics commented on #814
+1

[2016-09-26 06:38] mikes01 commented on #814
+1

[2016-09-26 18:28] elisoncampos commented on #814
+1

[2016-10-04 09:14] electricdrop commented on #814
+1

[2016-10-04 17:14] maxcodes commented on #814
How can I help to get this resolved? There seems to be enough interest in this.

[2016-10-04 20:57] mcmire commented on #814
@maxcodes If you can fork this repo, open up `spec/unit/shoulda/matchers/active_record/validate_uniqueness_of_matcher.rb`, and write a failing test, then you'll at least be able to reproduce this behavior and isolate the problem. This should also lead you to why this error is happening in the first place, and what a potential fix for this could be.

[2016-10-08 10:42] murbanski commented on #861
Just FYI, try `.with_message(:required)` to shorten it a little bit:)

[2016-10-13 15:35] BaneOfSerenity commented on #912
with what @foucist said, we have a similar issue where when we created the database we intended a field to be a string but instead decided to use it as an enum. This has worked til recently. Luckily we have a small database so it won't require any downtime to run a migration for it but I can see the need to still support this kind of functionality.

[2016-10-17 22:09] n-rodriguez commented on #913
Hi! I confirm that @bsodmike's patch works :)

[2016-10-18 00:06] bsodmike commented on #913
Thanks @leifg @n-rodriguez - I've just posted a PR for this patch.

[2016-10-18 10:47] odedmagger opened #966 "validate_numericality_of().is_greater_than fails for integers"
Model code:

[code]

RSpec code:

Tried both:
`it { should validate_numericality_of(:payment_n).is_greater_than(0) }`
and
`it { should validate_numericality_of(:payment_n).is_greater_than(0).only_integer }`

In both cases, running the test yields the following error:

I am using version **3.1.1**

Note: when payment_n is decimal and not integer, the test passes.

It sounds somewhat similar to http

[2016-10-18 15:48] mcmire commented on #966
@odedmagger That's interesting. Can you a provide a backtrace for this?

[2016-10-18 20:06] Carlos-Montiel commented on #951
Try this:
Open your spec/rails_helper.rb file and configure shoulda-matchers to work with RSpec by pasting in the following:

require 'shoulda/matchers'

Shoulda::Matchers.configure do |config|
  config.integrate do |with|
    with.test_framework :rspec
    with.library :rails
  end
end

source: https://www.sitepoint.com/learn-the-first-best-practices-for-rails-and-rspec/

[2016-10-19 02:02] mcmire commented on #761
I think we should probably remove this warning in the following cases:

* If the model is not an ActiveRecord model
* If the model is an ActiveRecord model, but the column is nullable

The Rails documentation has this to say under `validates_presence_of`:

This is technically true, but it will have no effect if either of the conditions above are false.

[2016-10-19 17:05] samuelpismel commented on #825
Any news on this? It would be nice to use pure minitest with shoulda matchers.

[2016-10-21 03:53] mcmire opened #967 "Improve ExistingRecordInvalid message"
The ExistingRecordInvalid exception (Shoulda::Matchers::ActiveRecord::ValidateUniquenessOfMatcher::ExistingRecordInvalid is the full name) is really awesome! However, we can do better than this. It says this...

...but doesn't give an example of how to do this. We should either give such an example, or link to an explicit doc page on http://matchers.shoulda.io/docs/.

[2016-10-21 03:58] mcmire opened #968 "Expand the max line length provided by the word wrap utility"
All of the failure or error messages that shoulda-matchers prints out are wrapped thanks to the [`word_wrap` method](https://github.com/thoughtbot/shoulda-matchers/blob/master/lib/shoulda/matchers/util/word_wrap.rb). However, the line length is super short; if the failure message involves class names then that can cause the output to look kind of stilted:

[code]

The line length is [here](https:/

[2016-10-21 15:18] grammakov commented on #880
Facing the same problem over here.

[2016-10-21 19:53] mcmire commented on #880
@grammakov Since this one is closed, can you post a new issue with the shoulda-matchers version you're using and the Rails version you're using?

[2016-10-22 09:10] grammakov opened #969 "Validating uniqueness fails with Rails helper present"
Getting the validation test fail on Rails 5 with shoulda 3.1.1:

[code]

[code]

`Algorithm did not properly validate that :slug is case-sensitively unique.`

[2016-10-22 09:11] grammakov commented on #880
@mcmire absolutely. Done. Thanks!

[2016-10-24 00:32] mcmire commented on #969
Unless the code you gave above was just an example, you have a uniqueness validation on `:name`, but you're testing that the validation is on `:slug`.

[2016-10-24 03:08] mcmire opened #970 "Fix `validate_length_of` when used in combination with numericality validation"
It's very common to use a combination of the numericality and length validations to validate an attribute such as a telephone number or postal code (which are usually stored as string columns).

Unfortunately, the `validate_length_of` matcher uses the string `"x"` to test the length validation. When combined with the numericality validation, the matcher can never pass. Example:

[code]

In this ca

[2016-10-27 03:12] yogodoshi commented on #970
I've created an app to try to replicate this issue but wasnt able to. The specs passed successfully:

schema.db
[code]

user.rb
[code]

user_spec.rb
[code]

I tried replicating it after I saw [this spec](https://github.com/thoughtbot/shoulda-matchers/blob/master/spec/unit/shoulda/matchers/active_model/validate_length_of_matcher_spec.rb#L180) that seems to be testing exactly what you said.

Is it a

[2016-10-27 08:22] jonathanpa commented on #814
+1

[2016-10-27 13:10] Amincd commented on #290
I am getting this error as well:

[code]

I'm running Ruby 2.3.1p112 and Rails 5.0.0.1

My GemFile:

[code]

My spec:

[code]

[2016-10-27 13:16] lucianosousa commented on #290
@Amincd as @mcmire said above, change this line:
`    gem 'shoulda', "~> 3.5.0"`

to this:
`gem 'shoulda-matchers'`

[2016-10-28 03:53] Amincd commented on #290
Hi @lucianosousa

I tried this, but I got the same error.

[2016-10-29 19:57] LegaTux commented on #803
I was having same issues. Solution: I had a group "test" in the Gemfile for which the shoulda-matcher was defined, but was working all the time on development environment. Just changed the gem definition to :development, :test group and bundle install again. Worked like a charm.

[2016-11-01 16:02] Shoroh opened #972 "Validation numericality with condition raise an exception"
Rails 5, minitest, model test:

[code]
Message:

[code]
[code]

model:
[code]

P.S.
validate_presence_of works well!
[code]

[2016-11-01 18:55] calazans10 commented on #290
Hey @Amincd

I got the same error too.

[2016-11-01 22:03] mcmire commented on #290
Hmm, okay. I'm wondering if the validation got moved around again in Rails 5?

[2016-11-01 22:08] mcmire commented on #290
In any case, this issue has been solved for Rails 4 which was the original use case, so if you are experiencing this error and can reproduce it in a Rails app, please create a new issue and link to your app.

[2016-11-02 22:54] monfresh commented on #951
I'm seeing this as well after upgrading from 2.8.0 to 3.1.1, even when I configure RSpec with the aforementioned configs. The failing tests are all for Form Objects that include `ActiveModel::Model`. Any idea how to make those tests work?

[2016-11-02 23:07] monfresh commented on #951
Never mind. Just found the documentation: https://github.com/thoughtbot/shoulda-matchers#availability-of-matchers-in-various-example-groups

[2016-11-02 23:48] mcmire commented on #951
I'm closing this as I haven't been able to reproduce this in a Rails 5 app and everything works fine for me.

If anyone encounters this again, please see if you can reproduce this in a fresh Rails app and post a link to the repo so I can check it out. Thanks!

[2016-11-02 23:48] #951 closed

[2016-11-04 16:47] samstickland opened #973 "Message matching is wrong for strict matchers"
Hi,

The strict tests don't seem to take into account that the Exception message includes the field name.

Given this validation:

`validates :username, length: { minimum: 3 }, strict: true`

And this test:

`it { is_expected.to validate_length_of(:username).is_at_least(3).strict }`

I get the following test failure:

[code]

This is with shoulda-matchers 3.1.1 and Rails 4.2.7

[2016-11-05 19:22] creatyvtype commented on #951
I am encountering this problem without adding the above proposed solution, since you wanted to see it. https://github.com/UpStage-Community/upstage-api. Check out the devise-auth branch, run bundle, run rspec, and validate_uniqueness_of will fail.

[2016-11-05 19:23] creatyvtype commented on #951
@rramsden's solution worked perfectly.

[2016-11-05 20:43] rui-ribeiro commented on #570
Hi!

If anyone is searching for the solution, where it is: https://gist.github.com/rui-ribeiro/21108feecd0c3e85d32415eb2f1e1adf

[2016-11-06 21:41] mcmire commented on #951
@creatyvtype How by chance are you running your tests? Are you using Spring to do so?

[2016-11-07 07:49] creatyvtype commented on #951
@mcmire just running "rspec". Nothin' fancy.

[2016-11-07 19:57] edwardmp opened #974 "set_flash and redirect_to do not work as expected"
Thanks for publishing this, its very convenient.

However, I am stumbling upon two issues:
[code]

Am I doing something wrong? I use it with minitest 5

[2016-11-07 20:29] mcmire commented on #974
Hey there. Two things:

* When passing a block to `redirect_to`, the matcher still requires a non-block argument. This is a string and describes the path you're redirecting to. It's used to print something meaningful to stdout when the tests are being run (and you're using a formatter that prints names of tests). So in your case, you could use `should redirect_to("/") { root_path }`.
* The error y

[2016-11-07 21:21] edwardmp commented on #974
Thanks for the quick response, awesome.

Regarding redirect_to that makes sense. The documentation is not correct in this regard. I'll submit a pull request to fix this.

Here's a full stack trace for the `set_flash` issue:

Module::DelegationError: ActionController::Base#flash delegated to request.flash, but request is nil: ```
#<CompaniesController:0x00556d1192b778 @_action_has_layout=true, @_ro

[2016-11-07 22:27] edwardmp commented on #974
I've opened a pull request to tackle the documentation issue: https://github.com/thoughtbot/shoulda-matchers/pull/975

Not sure if this extra parameter is also required in the RSpec case?

[2016-11-07 22:46] mcmire commented on #974
@edwardmp Yup, as it turns out, it is required in the RSpec case too.

[2016-11-07 22:50] edwardmp commented on #974
@mcmire cool, added a commit for that as well. I do have to say, wouldn't it be better to derive this description from the passed path directly so there is no need for such an extra parameter?

[2016-11-08 13:01] jonnyjava commented on #970
I have a similar problem: the matcher expects the numericality error message but obviously rails gives the constraint one.
My case is this:

[code]
The schema.rb has the following
[code]
And the failure I receive is this
[code]
It seems that the matcher doesn't know that if I do `'a'.to_i` it can never give an error as 'is not a number' because is converted to 0. In fact if I remove the constraint

[2016-11-08 17:50] mcmire commented on #970
@jonnyjava This is a bug with the numericality matcher. Because your column is a decimal column, it will convert all given values to decimals (`"abcd"` becomes `0.0`). Thus when the matcher reads your attribute, it's already a number, so it's confused.

Do you mind making a new issue for this so I can track it better?

[2016-11-09 10:14] jonnyjava opened #976 "Numericality matcher does not work correctly with decimals."
Issue created after this https://github.com/thoughtbot/shoulda-matchers/issues/970#issuecomment-259208361
Actually found using shoulda-matchers-3.1.1, rspec-3.4.0 and rails-4.2.5
How to reproduce it
[code]
Raised error
[code]
It seems that the matcher doesn't know that if I do `'a'.to_i` it can never give an error as 'is not a number' because is converted to `0.0`

[2016-11-09 10:22] jonnyjava commented on #970
Here it is https://github.com/thoughtbot/shoulda-matchers/issues/976

[2016-11-10 02:19] tjjjwxzq commented on #976
Similar error encountered with shoulda-matchers-3.1.1 when trying to run numericality validations on a monetized field (money-rails 1.7.0)

My form object, which accesses the monetized fields on the model it's wrapping, has the following validations
[code]
The errors raised:

[code]

and likewise for the other two validated attributes.

Not sure why it's trying to set the attributes to string valu

[2016-11-10 23:30] casiodk commented on #904
+1

[2016-11-11 03:10] mcmire opened #977 "`have_one` doesn't do a full check on `through` associations"
Setup:

[code]

Even if the Subscription model does not have an `:active_service_package` association, this test will pass; only if you actually use the association will you get:

The `have_one` matcher should exercise the association somehow and rescue this exception, causing the test to fail.

[2016-11-15 23:49] anthony-robin opened #978 "Globalize compatibility ?"
I am using `Globalize` gem to my project and can't figured out how to test presence of translated attributes. Is there a way to do it or is it a bug from this gem ?

Here is what I tried:

[code]

- Rails 5.0.0.1
- ActiveAdmin 1.0.0pre4
- Minitest 5.9.1
- Shoulda-matchers 2.8.0

[2016-11-16 07:42] usamagoldev opened #979 "undefined local variable or method `set_flash' for #<RSpec::ExampleGroups::TeachersCanScheduleSmsToTheirStudents:0x007fa939b157f8>"

[2016-11-16 19:06] mcmire commented on #978
@anthony-robin I didn't know what Globalize was, so I just looked it up. If I understand correctly, it can be used to translate values of attributes in your model, is that correct? If that's true, it seems to me that validations would work exactly the same way as they do without Globalize. Does this work?

[code]

[2016-11-16 19:08] mcmire commented on #979
Can you give me a little more context here? When you say `describe ... do` at the top of your test file, what's in between `describe` and `do`, is it a class or a string?

[2016-11-16 21:24] anthony-robin commented on #978
@mcmire Thanks !  Yes, Globalize is used to translate columns from a model: it stores translations in a second table for each model (not the original model) but the things is that `title` column is **only** set in the `translations table`.

I tried your code and it give me the following error:
[code]

Usually Globalize use `translations.title` key to store values so I'm surprised that my first try

[2016-11-17 03:52] mcmire commented on #978
Ah, I gotcha.

shoulda-matchers doesn't know about Globalize. If you give the `validate_presence_of` matcher an argument, it'll assume that you're referring to an attribute. That's why you're getting the `undefined method `translations.title='` error above.

However, if you translate that attribute first, then it should know what you mean:

[code]

[2016-11-18 06:01] usamagoldev commented on #979
it’s a string ,flash alert message .

[2016-11-18 16:53] mcmire commented on #979
The `set_flash` matcher is designed to work inside of a controller test. A controller test looks like this:

[code]

If you don't do this, then `set_flash` and other controller-related matchers will not be available in your example group, and you will have to tell RSpec that this is a controller test:

[code]

[2016-11-19 19:02] myronmarston commented on #882
FWIW, if you want to support this, you merely need to include `RSpec::Matchers::Composable` in your custom matcher classes:

https://github.com/rspec/rspec-expectations/blob/master/lib/rspec/matchers/composable.rb

[2016-11-22 15:36] jedi1156 commented on #904
+1

[2016-11-23 02:52] Zsheng commented on #904
+1
NoMethodError:
       undefined method `validate_inclusion_of' for #<RSpec::ExampleGroups::RetailerRegistry::Validations:0x007fc4a360e978>
       Did you mean?  validate_numericality_of

[2016-11-24 07:05] NamrataSoni20 commented on #574
Try this , It works for me
it do
    should validate_inclusion_of(:resource_type)
              .in_array(Rolify.resource_types)
              .allow_nil(true)
  end

[2016-11-28 12:44] thomasbiddle commented on #870
I have a use-case for this as well.

[2016-11-28 17:40] mcmire opened #981 "Deprecate `order` and `conditions` qualifiers on association matchers"
Historically, the association matchers have had `order` and `conditions` qualifiers for testing associations with custom relations. These qualifiers stem from old-style ActiveRecord associations where you could specify `order` or `conditions` options to fine-tune the results you'd get back when querying for the association. These have long been replaced with an argument that takes an ActiveRecord:

[2016-11-29 09:00] MarkMekhaiel commented on #890
Had same issue - @jipiboily's solution fixed it for me.

[2016-11-29 19:12] leoebrown commented on #870
I also have a use case for this. A food database where most of the foods are not created by users, but users can create foods and 'own' the foods that they create. Workaround: the admin user profile will own foods by default. Please correct me if there's a better workaround or existing solution.

[2016-11-29 19:35] stephanngamedev commented on #870
You can use ` belongs_to :user, optional: true` for specific case or just put on application.rb `config.active_record.belongs_to_required_by_default = false` to config all application

[2016-11-29 19:38] leoebrown commented on #870
@stephanngamedev I did neither of those things and it seems like I can create foods with user_id: nil no problem--am I missing something? My migration:

[code]

[2016-11-29 19:40] stephanngamedev commented on #870
Are you using Rails 5?

[2016-11-29 19:41] leoebrown commented on #870
I am using Rails 4. Sorry, I see this thread is labeled Rails 5. Would your recommendations be necessary in Rails 5?

[2016-11-29 19:45] stephanngamedev commented on #870
Yes. My recomendations is to make rails 5 belongs_to behavior like rails 4 belongs_to

[2016-11-29 23:48] mcmire commented on #870
@leoebrown Rails 5 changed the behavior of `belongs_to` so that it implicitly adds a presence validation for the association; `optional: true` disables that behavior. But in Rails 4 you don't really have to worry about this. If I remember correctly, if you leave your `*_id` column blank then your association will return nil (this works for both Rails 4 and 5). So you can use the `belongs_to` match

[2016-12-06 12:50] milmih opened #982 "Testing validates_uniqueness_of with scopes and conditional 'if' clause"
How to test this with shoulda-matchers?

[code]

How should I change this test in order for it to verify the above validation?

[code]

Thanks!

EDIT: Is [this](http://stackoverflow.com/questions/13812717/shoulda-rspec-matchers-conditional-validation) the best solution?

[2016-12-06 16:29] mcmire commented on #982
@milmih Good find, but unfortunately that solution won't work for `validate_uniqueness_of`. See #640 for more information and a possible solution. (I'm going to close this since it's a duplicate.)

[2016-12-06 16:29] #982 closed

[2016-12-09 10:22] ain opened #983 "validates_associated matcher"
Would be nice to add [validates_associated](http://edgeguides.rubyonrails.org/active_record_validations.html#validates-associated) matcher as well so one could go with

[code]

[2016-12-09 14:34] arty88 commented on #682
@tarasmatsyk Thank you!

[2016-12-09 15:58] mcmire commented on #983
Yup, this has been mentioned before (#133). Personally, I don't use this validation because it produces a validation error that I wouldn't ever want to show a user (a simple `validates_presence_of(:association)` works fine for me). But if you're interested in this then feel free to submit a PR.

I'm going to go ahead and close this PR so we don't leave this hanging out there.

[2016-12-09 15:58] #983 closed

[2016-12-21 04:32] jemagee opened #984 "validates_uniquness_of.scoped doesn't work with two foreign keys?"
Perhaps I am just trying to push the shoulda-matcher too far, but I've run into a problem.

A participant
[code]

A team must be unique within the confines of the team

`it {should validate_uniqueness_of(:team).scoped_to(:game)`

The model reflects
`validates :team, uniqueness: {scope: :game}`

The shoulda test fails with the following error

     ActiveRecord::InvalidForeignKey:
       PG::Foreig

[2016-12-21 17:05] mcmire commented on #984
Hey @jemagee. It looks like you're seeing this issue: https://github.com/thoughtbot/shoulda-matchers/issues/682#issuecomment-151715507. Some things have changed since then, so I'm curious as to why you are seeing this. You could try the suggestions mentioned in that issue and see if that fixes it for you. Just so I know, can you post a backtrace?

[2016-12-21 17:08] jemagee commented on #984
I suppose I could try that, but the thing is, my issue is a bit more

I’m dealing with two foreign keys though, and to make things more complicated the team actually belongs to another model (division) that is required.

So if I’m reading this right, I’d have to use FactoryGirl to create instances of all 3 models?

[2016-12-21 21:42] mcmire commented on #984
@jemagee Yup, that's right.

[2016-12-21 21:43] jemagee commented on #984
@mcmire Thanks.  I thought perhaps there was something else aside from that solution to do, no biggie...still learning the ins and outs of model testing and using shoulda-matchers.

[2016-12-21 21:43] #984 closed

[2016-12-21 22:05] mcmire commented on #984
Gotcha. To be fair, I think the bug mentioned in that issue still exists. Usually `validate_uniqueness_of` doesn't require you to create a model beforehand, because it tries to create one automatically. But in this case that step is failing, so you can help it out and work around the bug by creating one beforehand.

[2016-12-23 02:56] mcmire commented on #882
Just ran into a case in which this would be useful: custom validators.

For example, if you have a custom email validator, and you want to use that validator in multiple models, and you have multiple tests to test that validation, you *could* extract those tests to a shared example. *Or*, you could make a method that combines all those tests:

[code]

Of course, this would mean that we'd have to h

[2016-12-28 16:01] sbonami opened #985 "Add collection support for validates_length_of"
Rails allows the length matcher to work with any object that responds to `#length`, including reflections, collections, and enumerables.

Currently, the validates_length_of only validates string values. This breaks when verifying associations or serialized attributes.

I'd be happy to write the code for this if accepted as a feature.

Reference: https://github.com/rails/rails/blob/master/activemod

[2016-12-29 05:01] mcmire commented on #985
@sbonami Sure! I've personally never had a need for this, but if it's something you need, then I think it'd make sense that we support this.

[2017-01-04 01:30] zavan opened #986 "validate_numericality_of has problems with BigDecimal in Ruby 2.4"
[code]

This exception was not thrown when doing `BigDecimal('abcd')` in Ruby < 2.4.0.

Ruby 2.4.0p0
Rails 5.0.1

[2017-01-04 06:47] dsdshcym opened #987 "[Feature request] Support custom exception for strict validations"
According to http://guides.rubyonrails.org/active_record_validations.html#strict-validations,
we can define a strict validation like this:
[code]

But currently, the `validate_presence_of matcher` does not support custom exceptions.
When this test runs, it will not catch the TokenGenerationException and fail.

[2017-01-04 11:10] astony commented on #814
+1

[2017-01-05 23:48] BKSpurgeon commented on #684
@GabrielCabrera yes gotta go in rails_helper

[2017-01-06 12:29] pirj opened #988 "with_options on have_db_column_matcher should not ignore incorrect options"
E.g.

[code]

Have you spotted the error?
Idea is to fail the test when an option passed is not amongst available options.

[2017-01-06 17:11] mcmire commented on #988
@pirj Sure, that would make sense. Now that I look at this again, I'm actually thinking of deprecating this matcher. Honestly, I have never used it, and I don't see much of a need for it since columns are usually implicitly tested by other things such as feature tests, model tests, or things of that nature. Do you have any thoughts about this?

[2017-01-07 08:21] pirj commented on #988
@mcmire A single row (ok, few rows with `with_options`) is a concise way to describe model attribute expectations. Tests on default creation are factory tests and are prone to false positives if someone changes the factory to set column to default value (in the example above `status` to 0), even if DB default is `null`, and tests using factories will pass while it will be blowing up when creating

[2017-01-09 15:23] obahareth commented on #986
I've tried digging through the code but got lost going through the chain of files but I'm almost sure the culprit is [this line](https://github.com/thoughtbot/shoulda-matchers/blob/d1e9a41fca001b6d89455aff49f1f03ac272ee08/spec/unit/shoulda/matchers/active_model/validate_inclusion_of_matcher_spec.rb#L112).

Also if you look at the behavior of BigDecimal in Ruby 2.3

[code]

It gives back a value th

[2017-01-09 17:34] obahareth commented on #986
@mcmire In my case, I can run my specs just fine on Ruby 2.3 but not in Ruby 2.4. I'm also using a decimal on PostgreSQL just like in #976. I'll give `bundle install` another go and see how it works out.

[2017-01-09 18:13] obahareth commented on #986
I can run `bundle install` just fine now but `bundle exec rake` fails due to `json 1.8.3`, which apparently doesn't support Ruby 2.4.0. According to [this issue](https://github.com/flori/json/issues/303), version 2 supports it.

[2017-01-11 03:34] zw963 opened #990 "validate_uniqueness_of in rails 5 model test."
Following is a example

user.rb
[code]

user_test.rb
[code]

When I run test:

[code]

Version:

[code]

Rails version 5.0.0.1
Ruby version 2.2.4

Thanks

[2017-01-11 05:14] zw963 opened #991 "allow_values alias not worked in Rails 5.0.0.1 , but allow_value worked."
This worked.
[code]

This not worked.
[code]

Version:

[code]

Rails version 5.0.0.1
Ruby version 2.2.4

Thanks

[2017-01-11 06:31] mcmire commented on #988
@pirj But this information is already contained in your database, is it not? If you or other developers on your team want to know what columns a table has or what the default value is for a particular column, then everything is all laid in the schema. I guess I don't understand how a test could still pass if someone changes a value in the factories. Could you give an example?

[2017-01-11 06:33] mcmire commented on #991
You're probably seeing a bug in 2.8.0. I need to update shoulda so that it brings in shoulda-matchers 3 instead of 2.x, and I just haven't done that yet.

[2017-01-11 06:33] mcmire commented on #990
You're probably seeing a bug in 2.8.0. I need to update shoulda so that it brings in shoulda-matchers 3 instead of 2.x, and I just haven't done that yet.

[2017-01-11 07:53] pirj commented on #988
Information about program behavior is already in the code, isn't it? But people still write tests anyway.

[code]

[2017-01-11 08:02] zavan commented on #986
@obahareth Adding `gem 'json', '~> 2.0'` to my Gemfile fixes this specific problem.

[2017-01-11 15:49] Preen commented on #933
+1

[2017-01-13 14:44] oliverklee commented on #977
have_many also is affected.

[code]
  ActiveRecord::HasManyThroughSourceAssociationNotFoundError: Could not find the source association(s) "disliker" or :dislikers in model Registration::Dislike. Try 'has_many :dislikers, :through => :dislikes, :source => <name>'. Is it one of attendee or tag?

[2017-01-16 21:53] Xosmond commented on #784
I have the decimal issue. Any news?

[2017-01-16 21:55] Xosmond commented on #784
I have the decimal issue. Any news?

When assign "asb" decimal go "0.0" and also when assign "nil" decimal go "0.0" so i dont know how to validate or test this.

`After setting :total to ‹nil› -- which was read back as
         ‹#<BigDecimal:7fe9f2540658,'0.0',9(18)>› -- the matcher expected the
         Purchase to be invalid and to produce the validation error "no puede
         estar en blanco"

[2017-01-18 01:10] wintersolutions opened #993 "render_with_layout does not work without rails-controller-testing gem in Rails 5"
Getting the error message:
[code]
When trying to run a `render_with_layout` spec without the [rails-controller-testing](https://github.com/rails/rails-controller-testing ) gem in Rails 5.0.1.

[2017-01-18 02:56] vonchristian commented on #814
Just use the association_id
validates_uniqueness_of :a_field, scope: :association_id

[2017-01-18 03:51] ledestin opened #994 "Misleading message from RSpec on validate_length_of"
I'm trying to check that a length validation isn't present with:
[code]

And I get the message `Expected User not to validate that the length of :password, but it did.`. If I use `validate_length_of(:password).is_at_least(8)`, it works well, and the test passes.

It seems to me that the message is misleading, and it should instead say that the matcher can't be used without a qualifier like `is_at_

[2017-01-18 19:07] jasonperrone commented on #194
An easier thing to do is simply have a record in a fixtures file for this model. Then you won't have to do anything inside the test to create an instance first, you can just use validates_uniqueness_of as normal.

[2017-01-24 02:59] hiendinhngoc commented on #684
the @GabrielCabrera 's solution worked for me, thanks

[2017-01-25 19:01] edsonlima commented on #951
Although it is already closed, I came across this problem when I ran a spec for an ActiveModel::Model without define `type: :model` in `Rspec.describe`  block.

The code bellow code fails with `undefined_method` error...
[code]
...but this one works perfectly

[code]

[2017-01-30 11:08] troyanryller commented on #976
made temporary fix which disable assigning 'abcd' string if type is decimal
https://github.com/thoughtbot/shoulda-matchers/pull/996/commits/d1367a51a6586ce874b2a0ca63ef1947ae67b5b8

[2017-01-31 03:03] thaichor opened #997 "validate_uniqueness_of and enum"
My environment

[code]

My Class
[code]

My Spec
[code]

Failed Results
[code]

The problem here is that shoulda-matcher check for case_sensitive too.

[2017-02-01 03:38] mcmire commented on #997
Right, that's the default behavior of the uniqueness validation, that it is case-sensitive-aware.

You can tell the matcher not to test for this by adding `.ignore_case_sensitivity` to the end of the matcher.

Cheers!

[2017-02-01 03:38] #997 closed

[2017-02-01 07:23] thaichor commented on #997
@mcmire  Thanks.

[2017-02-02 04:39] zavan commented on #825
@gamov @olimart @samuelpismel
I'm successfully using shoulda-matchers with standard MiniTest tests thanks to the [minitest-matchers_vaccine gem](https://github.com/rmm5t/minitest-matchers_vaccine):

_Gemfile_:
[code]

_test_helper.rb_:
[code]

_user_test.rb_:
[code]

or using `@subject` and `must`:
[code]

[2017-02-02 04:51] zavan commented on #825
I have created a wiki page to help other with this problem: https://github.com/thoughtbot/shoulda-matchers/wiki/Usage-with-standard-MiniTest-tests

[2017-02-02 13:27] olimart commented on #825
Thanks @zavan

[2017-02-02 13:27] #825 closed

[2017-02-03 03:35] mcmire commented on #825
That is really great! I'm guessing that you can use this gem alongside `shoulda-context` if you like? Has anyone tried this?

[2017-02-03 03:41] zavan commented on #825
@mcmire I haven't tried it, but I think so. The gem is super simple:
https://github.com/rmm5t/minitest-matchers_vaccine/blob/master/lib/minitest/matchers_vaccine.rb

[2017-02-06 09:46] mcmire opened #998 "render_template requires rails-controller-testing gem"
For RSpec projects, we don't need to do anything since rspec-rails automatically requires this gem.

But for Minitest projects, that doesn't happen, so right now people will have to manually add rails-controller-testing to their Gemfile if they want to use this matcher. We should probably just add it to the gemspec.

[2017-02-06 09:52] mcmire opened #999 "delegate_method is not automatically mixed into ActiveSupport::TestCase test cases"
The ActiveSupportTestCase class under Shoulda::Matchers::Integrations has an `include` method which only `include`s the Shoulda::Matchers::Independent mixin into test cases, but doesn't `extend` them. Therefore, when using Shoulda, `delegate_method` won't be available outside of the context of a test, and you have to add `extend Shoulda::Matchers::Independent` at the top of the test case yourself.

[2017-02-06 09:54] mcmire commented on #994
Yup, this seems like a reasonable request to me 👍

[2017-02-10 13:27] jwillette-sh commented on #904
+1

  1) User attendee should not validate that :email cannot be empty/falsy
     Failure/Error: it { should_not validate_presence_of :email }

     NoMethodError:
       undefined method `attribute_setter' for nil:NilClass
     # ./spec/models/user_spec.rb:27:in `block (3 levels) in <top (required)>'

[2017-02-14 15:45] violentr commented on #890
Interesting thread, having same issue  @jipiboily's solution helped me.
I tried both ways with 'should' and with 'is_expected' was not working unless
put this line into rspec/spec_helper file.
[code]

[2017-02-15 14:40] jeroenj opened #1000 "validate_uniqueness_of seems to be messing with Rails serialized attributes"
Since this is not so easy to describe I've created a repository which reproduces the issue: https://github.com/jeroenj/rspec-or-shoulda-matchers-issue

Basically this is the issue:

Let's say you have a model `Project` which has a serialized array attribute:

[code]

and you have it defined with a default value and a null constraint for `groups`:

[code]

In a test uniqueness is validated for the

[2017-02-16 16:49] mcmire commented on #890
@violentr Do you have a `Shoulda::Matchers.configure` block in your `rails_helper`?

[2017-02-16 16:51] violentr commented on #890
@mcmire no i don't have it

[2017-02-16 16:54] mcmire commented on #890
@violentr Cool -- that's the issue then. Starting with 3.0 you must manually configure the gem in order to make those matchers available to your example groups. See the README for more: https://github.com/thoughtbot/shoulda-matchers#rspec

[2017-02-16 17:01] violentr commented on #890
@mcmire  i have shoulda-matchers version 3.1.1 and i have no ```Shoulda::Matchers.configure``` set in my rails_helper , instead   ```config.include(Shoulda::Matchers::ActiveRecord, type: :model)``` line set to my spec/spec_helper

[2017-02-16 18:26] mcmire commented on #890
@violentr Right. What I'm saying is that you don't have to manually include `Shoulda::Matchers::ActiveRecord` into `model` example groups. The gem will already do this for you as long as you have the `Shoulda::Matchers.configure` block in your `rails_helper` as indicated in the README. You should only need to do a manual include as a very last resort.

[2017-02-17 14:43] li-xinyang commented on #933
+1

[2017-02-20 02:20] brynmrk commented on #933
+1

[2017-02-21 23:43] thinh76 opened #1001 "warning: constant ::Fixnum is deprecated"
With ruby 2.4.0 release, tests with shoulda matchers are giving the above warnings.

Here is the details referring to deprecating Fixnum
https://bugs.ruby-lang.org/issues/12005

[2017-02-23 15:38] Dreamseeker92 opened #1002 "undefined method 'respond_with' for RSpec"
i have ths error message

[code]

my test_spec

[code]

my gemfile

i prefer bitbucket  to github., so here is
[my repo](https://bitbucket.org/gravity_slave/pro-ror-5-slim/src)

[2017-02-23 21:10] mcmire commented on #1002
It looks like you're using `respond_with` in a feature spec. `respond_with` is a controller matcher, so it can only be used in controller specs. (Same for `have_http_status`.)

[2017-02-24 09:10] domanhtien2011 commented on #684
@fake-or-dead , I appreciate your solutions. It helps me a lot. Have a great day.

[2017-02-25 07:51] Dreamseeker92 commented on #1002
it helped! Thnaks

[2017-02-25 07:51] #1002 closed

[2017-02-25 21:01] mcmire commented on #1002
Glad I could help! Cheers 😎

[2017-02-27 12:57] margOnline commented on #951
I had the same issue using rails 4.2.5 and fixed it using the suggestion by @edsonlima

[2017-02-28 12:56] Carlows commented on #814
+1

[2017-02-28 14:51] iwz commented on #986
Related: https://github.com/thoughtbot/shoulda-matchers/pull/996

[2017-02-28 17:15] esbanarango commented on #814
+1

[2017-02-28 20:59] dkniffin commented on #682
I also ran into this issue, and fixed it with @tarasmatsyk's solution:

[code]

[2017-03-05 21:29] eliaszica commented on #905
+1

[2017-03-06 15:08] Carlows commented on #904
+1

[2017-03-06 16:11] mcmire commented on #905
@nkiermaier @eliaszica We changed this behavior in 3.0 -- it used to be reversed, now it follows the logic as listed in the docs:

Which version of shoulda-matchers are you using?

[2017-03-06 18:33] eliaszica commented on #905
@mcmire I'm using minitest, so, according to documentation, I can't use  3.0. Any hint?

Thanks,

Elias

[2017-03-06 20:36] mcmire commented on #905
@eliaszica Ahh... ok. Yeah... shoulda (and really at this point shoulda-context) isn't quite compatible with 3.0 just yet. There's an issue tracking this here: https://github.com/thoughtbot/shoulda-context/issues/53. Hopefully I can get some time to work on this soon, although help is certainly appreciated.

[2017-03-10 06:26] rorykoehler opened #1003 "validate_uniqueness_of fails when using before_save callback"
Running into an issue where it seems the before_save callback is not being passed an object. Removing before_save callback makes the test pass. Other spec to ensure the callback is working is passing.

Model file:

     #Validations
     validates :name, presence: true, uniqueness: true

     #Callbacks
     before_save { self.name = self.name.titleize

Spec file:

      it {should validate_presen

[2017-03-10 16:14] mcmire commented on #1003
@rorykoehler shoulda-matchers does not actually save the record, it only runs the validation. Therefore, `before_save` will not be called. You'll need to use `before_validation` instead.

[2017-03-12 14:06] rorykoehler commented on #1003
@mcmire ah ok. Thanks for the tip

[2017-03-12 14:06] #1003 closed

[2017-03-13 16:09] huskynation commented on #684
Make sure to add outside of the Rspec.configure do block. Works like a charm!

[code]

[2017-03-18 15:28] ojab opened #1005 "delegate_method doesn't work with delegation to instance variables"
Looks like define_method matcher always checks delegation to method name, even if delegated method forwarded to instance variable
[code]
produces
[code]

[2017-03-18 16:02] ojab opened #1006 "delegate_method produces `forwarding to private method` warning on MRI-2.4"
Forwarding methods to private methods is deprecated and produces a warning in MRI-2.4 (see [MRI bug #12782](https://bugs.ruby-lang.org/issues/12782)
[code]
produces
[code]

Doublespeak uses private `method_missing` for catching calls, so we have an issue.
I've filled [MRI bug 13325](https://bugs.ruby-lang.org/issues/13326) for clarification about delegate+method_missing.

[2017-03-18 19:24] 1v commented on #611
I have this error with code like this one:
[code]

[2017-03-21 21:05] Thadeu commented on #512
I solved problem with like this code.

`it { should allow_value(%w(true false)).for(:done) }`

[2017-03-21 22:41] mcmire commented on #611
@1v You have a `subject_photo_assignment` association, but you don't have a `subject_photo_assignments` association (note the "s" at the end).

[2017-03-21 22:58] 1v commented on #611
@mcmire it's working with "s" too, but tests failing.

[2017-03-22 00:38] mcmire commented on #611
@1v Okay. Have you tried:

[code]

[2017-03-22 00:49] 1v commented on #611
@mcmire yeah that's how I do right now. But Rails accepts plural too. It took me time to figure out because error message not informative.

[2017-03-22 14:07] vizcay commented on #870
Hi! there is some progress on this?

I used to have ```validate association, presence: true``` back in Rails 4 to check that the referenced model exists and it was verified by a ***validate_presence_of***. Now, in Rails 5, this is the default behaviour but if I remove the validation in the model to dry it up, the spec now fails because the errors messages diffier ("must exist" vs "can't be blank")

[2017-03-23 02:24] mcmire commented on #611
@1v Okay, fair enough. I'll re-open this issue.

[2017-03-28 18:12] mcmire commented on #977
A related issue is that `has_one` doesn't raise an error if you attempt to test a has_one through a has_many:

[code]

I believe this should raise an error, because if you actually attempt to exercise the association, á la:

[code]

then you get this error:

[code]

[2017-04-04 15:15] xDAGRONx commented on #870
@vizcay for what it's worth, you can get the spec to pass by adding `with_message(:required)` like so:

[code]

[2017-04-06 17:14] kheppenstall commented on #973
Hello,

Just wanted to confirm this bug report as I ran into the same problem.

With the following test and validation I get the error message below:

Validation:
[code]

Test:
[code]

<img width="598" alt="screen shot 2017-04-06 at 11 12 37 am" src="https://cloud.githubusercontent.com/assets/16868275/24766836/15753fdc-1aba-11e7-92b7-ae28f50419cb.png">

However, with the following validation and t

[2017-04-06 17:24] kheppenstall commented on #970
Just wanted to note that I had a similar problem and replicated this bug as follows:

Validation:
[code]

Tests:
[code]

Error Message:
<img width="613" alt="screen shot 2017-04-06 at 11 24 07 am" src="https://cloud.githubusercontent.com/assets/16868275/24767245/99999afa-1abb-11e7-95f5-5c1f01f6cea8.png">

[2017-04-06 17:42] kheppenstall commented on #865
Confirmed this bug. No error with strings but had the following problem with integers:

Validation:
[code]
Test:
[code]

Error:
<img width="719" alt="screen shot 2017-04-06 at 11 40 50 am" src="https://cloud.githubusercontent.com/assets/16868275/24767929/13e62948-1abe-11e7-9a37-03077191732f.png">

[2017-04-06 22:36] mcmire commented on #970
@kheppenstall That's close, but the behavior you've run into isn't a bug. The `validate_length_of` matcher doesn't support integer columns, only string columns.

[2017-04-07 16:30] LukasBarry opened #1007 "validate_length_of does not work when used with associations"
I have been attempting to write a test on a validation for length, and I keep getting the same error. I created a small sample app, as simple as possible, to show the error: [Sample Project](https://github.com/LukasBarry/shoulda_failure/tree/master/ShouldaFailure)

Basically, I have a has_many association that must have at least 1, but when I run the test
`should validate_length_of(:books).is_at_l

[2017-04-07 22:47] mcmire commented on #1007
Hey @LukasBarry. When using `is_at_least`, the matcher will build a string with length of `<length> - 1` (which in this case is 0), set the attribute (`books`) to that string, and assert that this causes a failure. You can see that happening here: https://github.com/thoughtbot/shoulda-matchers/blob/master/lib/shoulda/matchers/active_model/validate_length_of_matcher.rb#L340

Regardless of how you a

[2017-04-08 00:56] LukasBarry commented on #1007
Absolutely, I will get one together and submit it. Thanks!

[2017-04-11 13:19] Jay-Plumb commented on #904
+1 `NoMethodError: undefined method `attribute_setter' for nil:NilClass`

[2017-04-14 09:30] Looooong opened #1010 "[Feature request] validate_inclusion_of(:attribute).in{ dynamic_array_or_range }"
In model, we can declare something like

[code]

Perhaps, we should have a same thing to test that validation?

[code]

[2017-04-14 09:53] Looooong opened #1011 "validate_inclusion_of: in_array does not accept a Relation"
I have the following models

[code]

When I test

[code]

It raises error:

[code]

It looks like Should Matcher is assigning `String` to `quiz.solution` which is an association.

[2017-04-14 10:15] Looooong commented on #1011
I can write something like

[code]

However, this wouldn't validate correctly upon object creation

[code]

[2017-04-14 20:27] mcmire commented on #1010
I didn't know this was something you could do. I don't see why this shouldn't be possible.

[2017-04-14 20:29] mcmire commented on #1010
This looks like the same thing as the issue you just posted after this, #1011. Can I close this?

[2017-04-17 10:50] Looooong commented on #1010
#1011 is about an error when you use `inclusion` with association. It's not related to this one.

[2017-04-18 02:04] mcmire commented on #1010
Ah, my bad. I was thrown off by your example.

[2017-04-19 01:40] wlffann commented on #1011
I can confirm this bug.

[code]

[code]

Returns
[code]

[2017-04-21 03:50] Drenmi commented on #814
+1

[2017-04-24 11:37] ehannes commented on #933
Was this fixed in 15fe03052f6cf3b525fec6e25ab3f4905a956068? Will this fix be released in a new version?

[2017-04-24 18:02] guialbuk commented on #933
Yes. The original PR was merged yesterday.
We are developing the Rails 5.0 support in the `rails-5` branch, so I recommend using this branch in your Gemfile.

[code]

[2017-04-24 18:06] guialbuk commented on #933
Fixed by #943

[2017-04-24 18:06] #933 closed

[2017-05-06 23:41] ChrisCPO opened #1017 "uniqueness failing but not expected behavior."
rails 5.0.02
project via tbot suspenders
using Faker for test data.
using rails 5 branch of shoulda-matchers `rails-5`

[code]

[code]
This spec passes. As this is the expected behavior.
[code]

case sensitive is defaulted to true, why is the uniqueness validator raising that error?

[2017-05-11 14:54] mcmire commented on #1017
@ChrisCPO Hmm. That's a good question!

Can you reproduce this in a fresh Rails 5 app and post a link to the repo if necessary?

[2017-05-17 12:25] Hareramrai opened #1018 "should permit failing after rails upgrade for rails 5.1.0"
Hi there,

I have below code for should permit spec.

[code]

Above code was working with rails 5.0.2 and now i am getting the below error.

[code]

Regards,
Hare

[2017-05-18 14:27] esbanarango commented on #611
I also have this error with this "setup":

[code]

[code]

[code]

[code]

[2017-05-18 16:20] mcmire commented on #1018
@Hareramrai Can you provide a backtrace?

[2017-05-19 22:54] hirowatari commented on #1018
I'm having the same issue.

[code]

[2017-05-24 17:33] n0nick commented on #1018
FWIW, updating `permit_matcher.rb` to wrap `request_params` with a `params` keyword fixes the issue.

i.e. in [line 253](https://github.com/thoughtbot/shoulda-matchers/blob/44c0198830921650af3b4a56f5d72aaae2168480/lib/shoulda/matchers/action_controller/permit_matcher.rb#L253):
[code]

[2017-05-28 01:56] jemagee opened #1019 "Proc on one attribute makes other attributes should fail?"

[2017-05-28 01:57] #1019 closed

[2017-06-02 23:01] Petercopter commented on #1018
This is throwing a deprecation warning in 5.0.3 as well.

[2017-06-07 08:33] TheTeaNerd commented on #986
Is there any progress on this issue? We're still blocked from moving to Ruby 2.4.0 without dropping the shoulda-matchers

[2017-06-09 09:00] JulienItard opened #1020 "publish 3.1.2"
Hello,

could you please publish version 3.1.2  ? Thanks !

[2017-06-09 20:18] s2t2 commented on #949
I'm getting a slightly different error:

    it { should validate_uniqueness_of(:first_attribute).scoped_to([:poly_type, :poly_id]) }

     NoMethodError:
       undefined method `superclass' for nil:NilClass

Wondering if there is a temporary work-around?

[2017-06-09 20:27] s2t2 commented on #830
FYI I'm getting a slightly different error:

    it { should validate_uniqueness_of(:first_attribute).scoped_to([:poly_type, :poly_id]) }

     NoMethodError:
        undefined method `superclass' for nil:NilClass

[2017-06-11 07:58] mcmire commented on #830
@s2t2 Can you provide a backtrace?

[2017-06-11 16:16] s2t2 commented on #830
Sure. See below. Hope this is helpful.

[code]

[2017-06-12 10:46] detj commented on #987
I am facing this exact same issue. Support for StrictValidation would be really really awesome.

[2017-06-12 21:17] MicahBrown opened #1021 "Add `validate_numericality_of(:attribute).is_less_than_or_equal_to(:another_attribute)` functionality"
I have this model and validation:

[code]
Rails will validate the `min` against the `max` attribute.

In my specs, I'd like to be able to test this behavior with (in RSpec):
[code]

However, I get the following error when trying to use that syntax:
[code]

[2017-06-12 21:34] MicahBrown commented on #1021
Nevermind.

This works

[code]

[2017-06-12 21:34] #1021 closed

[2017-06-14 02:24] stowersjoshua opened #1022 "Wording `allow_value` .. `with_message` does not read well"
The following usage of `allow_value` feels very strange to read:
[code]
Everything makes sense up until `.with_message`. That method's argument is not used as some accompanying input to the value ('Suzuki'), instead it represents an expected response.

Perhaps we can alias `#with_message` with a clearer name? Maybe something like `#and_return`?
ie.
[code]

It is important that one-liners be as rea

[2017-06-16 14:46] sauberia commented on #993
Add the rails-controller-testing gem to your Gemfile

[2017-06-16 21:46] mdeering commented on #1018
Monkey patch with https://github.com/thoughtbot/shoulda-matchers/issues/1018#issuecomment-303796064 for those who want it while waiting for a fix to get released.

[code]

[2017-06-16 21:53] mdeering commented on #1018
@mcmire Assume you would take a pull request against the https://github.com/thoughtbot/shoulda-matchers/tree/rails-5 branch for this fix?  I can do so if that is right place to submit this fix to.

[2017-06-16 22:03] guialbuk commented on #1018
@mdeering Yes, rails-5 is the right branch for Rails 5.x fixes.

[2017-06-19 15:13] mcmire commented on #1022
Hey @stowersjoshua - sorry for the delay in responding. In maintaining this gem I've tried to stick to one principle. The qualifiers that validation matchers support generally correspond to actual options that the corresponding validations take. In other words, if you have an option in mind, you should be able to translate that to a qualifier fairly easily. In this case, `with_message` is an analo

[2017-06-19 15:15] mcmire commented on #1021
Sorry for the late reply on this! Glad you found a solution, though -- that's what I would have recommended. 👍

[2017-06-19 15:15] mcmire commented on #993
Yeah, we should definitely add this to the gemspec, I think.

[2017-06-19 15:20] mcmire commented on #949
@s2t2 That does seem like a separate issue. Care to post a backtrace?

[2017-06-19 15:22] mcmire commented on #830
@s2t2 I think you're getting that error because the matcher is trying to set `poly_type` on the record in question to a value that doesn't represent a real class.

I'm curious -- how would you write a manual test for this?

[2017-06-19 15:56] stowersjoshua commented on #1022
I'm glad we're in agreement.

Your solution is great!

It looks like you've got a lot in your backlog already. I can write up a PR for this if it would speed things up.

[2017-06-20 00:02] mcmire commented on #1022
@stowersjoshua That would be awesome 👍

[2017-06-21 13:05] s2t2 commented on #949
@mcmire sure, see below:

[code]

[2017-06-21 13:21] s2t2 commented on #830
@mcmire something like this (model spec for `Thing`:

[code]

[2017-06-22 17:58] chrishough opened #1023 "should serialize not found"
I am getting a very odd issue when trying to validate a user model serialize method in rspec 3.6.
Thoughts on this bug?

[code]
Error
[code]

[2017-06-22 19:19] mcmire commented on #1023
That is a very odd issue indeed. Are you sure that's the error you're getting? It seems strange that the two attributes in your message don't match.

[2017-06-22 19:29] chrishough commented on #1023
Yes, I copied and pasted it. Very odd.

[2017-06-22 20:25] mcmire commented on #1023
Okay. Where is `social_media` coming from? Is that another attribute of your model?

[2017-06-24 17:37] s2t2 opened #1024 "Alternate method for testing PG array serialization"
Some [recent](https://github.com/rails/rails/issues/29498) [guidance](https://github.com/rails/rails/pull/29520) from the rails community about using PostgreSQL array attributes instructs removal of `serialize(:my_array_attribute, Array)` from the model. As you would imagine, after removing that model code, the corresponding test, `it { should serialize(:my_array_attribute).as(Array) }`, fails.

C

[2017-06-25 19:34] jademcgough commented on #933
@guialbuk is there anything we can do to contribute to the `rails-5` branch? I'd love to see it merged into master, but not sure what still needs to be done to get it ready for that.

[2017-06-25 20:31] mcmire commented on #1024
Support for Postgres array columns is built into ActiveRecord, as you know. In fact, it's so seamless that you wouldn't notice it. The reason I say this is because if you attempted to write a test for this, it might look something like:

[code]

Now, I would argue this is not a very meaningful test. And if you wanted to go lower than this, you'd be testing the same thing that Rails tests. So in my

[2017-06-25 23:38] guialbuk commented on #933
Hi, @jademcgough .
Sure! I'm adding the Rails 5 tag to some issues.
Another way to start contribution is taking a look at rails-5 branch failing tests.
Thanks!

[2017-06-30 09:16] onetakeone commented on #303
Check https://github.com/thoughtbot/shoulda-matchers for configuration block to place in rails_helper.rb

[2017-06-30 10:11] dougc84 commented on #303
@onetakeone Not only is this issue closed (and was closed 4 years ago), but the last comment was over 3 years ago.  Don't comment on dead threads.

[2017-07-03 11:40] HolyWalley opened #1026 "undefined method `alias_method_chain' for RSpec::Matchers::BuiltIn::Have:Class (NoMethodError)"
Hi, i'm a beginner in ruby and rails and i study rails with rails tutorial. I have a problem with shoulda-matchers i think. i tried to find answer, but i can't.

when i use:

`bundle exec rspec spec/requests/static_pages_spec.rb`

i get this error:

[code]
my Gemfile looks:
[code]
static_pages_spec.rb:
[code]
if i remove `require 'spec_helper'` i get this:

[code]

sorry if i wrote something bad

[2017-07-04 03:13] mcmire commented on #1026
Hi @HolyWalley,

This doesn't appear to be a shoulda-matchers issue, but I'll give you an answer anyway.

It looks like you're attempting to use Capybara in a request spec. Typically request specs are used to hit API endpoints that you may have created in your app. They are very similar to controller specs. If you want to use Capybara, I would suggest using a feature spec instead. This is as simpl

[2017-07-04 13:19] HolyWalley commented on #1026
Thank you so much. I did everything you advised and I succeeded. How can i thank you?

[2017-07-05 17:04] guialbuk commented on #1001
Fixed by #1009

[2017-07-05 17:04] #1001 closed

[2017-07-06 18:42] ybakos commented on #870
Given a Rails 5 model with the association,

    belongs_to :featured_plant, class_name: 'Plant', optional: true

I should be able to test the association with:

    it { is_expected.to belong_to(:featured_plant).class_name('Plant').optional(true) }

to verify that the presence of an associated model is not required.

[2017-07-07 04:22] lollar opened #1029 "Validations blow up when setting subject to described class"
I typically write my specs by setting the `subject` to the class I'm writing specs for, like so:
[code]

It's just a personal style preference for my specs, however, when I do this and try to use the shoulda_matchers I get an error because shoulda_matchers is trying to set the attributes on `Class`. Like so:
[code]

I'm not sure if this is expected behavior or if it is something that should work.

[2017-07-07 11:21] laertispappas commented on #913
When will this be fixed and released?

[2017-07-07 15:14] chrishough commented on #1023
It's very odd, but it must be coming from a gem.  I am going to close this for now until it can be researched further.  Also, the issue is no longer occurring as originally posted.

[2017-07-07 15:14] #1023 closed

[2017-07-07 15:47] mcmire commented on #1029
Hey @lollar. As you see, that's not a use case that we support. It turns out that this makes things a bit more difficult, because if we changed the matchers to support this, then they would have to know how to build instances of your model correctly. We can't just call `.new` on the class, though -- if your model has multiple validations on the same attribute, or custom validations, or something e

[2017-07-07 15:48] mcmire commented on #1023
Okay, sounds good @chrishough, thanks for the follow-up.

[2017-07-10 06:10] stowersjoshua commented on #1022
I haven't been able to set aside time for this yet.
Something's come up and it may be a few weeks before I can contribute.
Let me know if you end up starting on this before then.

[2017-07-10 06:29] chamnap commented on #870
@ybakos, I tested it doesn't work on `v3.1.1`.

[2017-07-12 19:55] lollar commented on #1029
@mcmire Thanks for the quick reply.  That makes sense and was kind of what I was suspecting.  I'd be happy to take a run at creating a draft of something like a Usage section if you would like? Let me know.

Thanks.

[2017-07-13 17:30] mcmire commented on #1029
@lollar That'd be great!

[2017-07-17 14:41] salmagomaa commented on #535
https://github.com/thoughtbot/shoulda-matchers/issues/814#issuecomment-219762796

[2017-07-17 20:40] Petercopter commented on #1018
Hey all! This appears to be... different in `3.1.2`. The deprecation warning is now being thrown from the spec itself, instead of deep inside the Shoulda gem.

I was able to get the deprecation warning to go away by adding another `params` key. This syntax looks odd, but it works. I can see it will maybe change at some point in the future.

[code]

Thanks to everyone for your hard work on this gem

[2017-07-18 11:43] bryszard opened #1035 "Deprecation warning for deprecated Fixnum in Ruby 2.4.0"
As we switched to Ruby 2.4.0 we're getting now quite a lot of deprecation warnings, including from should-matchers:

![image](https://user-images.githubusercontent.com/12682792/28315504-0381579c-6bbf-11e7-88ca-5452900711db.png)

Fixnum is deprecated, Integer should be used instead.

[2017-07-18 15:04] aaronmcadam commented on #1035
It's been fixed by #1009

[2017-07-18 19:07] bryszard commented on #1035
Thanks :).

[2017-07-18 19:07] #1035 closed

[2017-07-19 16:08] vasudhar commented on #974
How to fix that set_flash issue? any resolutions ?

[2017-07-21 07:21] voidviking opened #1036 "Getting NameError: uninitialized constant ActiveSupport::TestCase"
Hi

I am new newbie to ROR, I creating a Rails 5 API application and stuck with this problem.
This is my [git repository](http://learnenough.com/git-tutorial); I am following this [tutorial](https://scotch.io/tutorials/build-a-restful-json-api-with-rails-5-part-one) for same
At my latest stage whenever I run bundle exec rspec, I get loading errors; all are *NameError*. Once I fix one it moves to a

[2017-07-22 20:01] mcmire commented on #1036
Hey @voidviking. Two things here:

1. The first error indicates that you may not have added `shoulda-matchers` to your Gemfile. Have you done this?
2. The second error shouldn't be happening -- that indicates that you're using Minitest in addition to RSpec. Is it possible for you to share your `rails_helper.rb` so I can get a better look at what you're doing?

[2017-07-22 20:03] mcmire commented on #1020
📢  3.1.2 is published!

[2017-07-22 20:03] #1020 closed

[2017-07-24 21:50] mcmire commented on #955
I'm closing this due to lack of activity. If this is still an issue, please respond and I will take another look. Thanks!

[2017-07-24 21:50] #955 closed

[2017-07-24 21:50] #959 closed

[2017-07-24 21:51] mcmire commented on #953
I'm closing this due to lack of activity. If this is still an issue, please respond and I will take another look. Thanks!

[2017-07-24 21:51] #953 closed

[2017-07-24 21:52] #969 closed

[2017-07-24 21:52] #978 closed

[2017-07-24 21:53] mcmire commented on #979
I'm closing this due to lack of activity. If this is still an issue, please respond and I will take another look. Thanks!

[2017-07-24 21:53] #979 closed

[2017-07-25 08:20] Ana06 opened #1039 "validate_inclusion_of for enum field not working"
I have the following code in my model:

[code]

and in my model test:
[code]

When running the test I get:

[code]

Seems to be a bug, or maybe I am doing something wrong :thinking:

I am using _shoulda-matchers-3.1.1_.

[2017-07-25 16:39] glentregoning commented on #640
@untidy-hair I realize this isn't a fix but another work around here you could use in the short term is to stub your is_active method on all instances in your test scope?

[code]

[2017-07-25 16:46] mcmire commented on #958
I'm going to close this since you haven't responded in a while, but feel free to let me know if this is still a problem and I can reopen this.

[2017-07-25 16:46] #958 closed

[2017-07-25 16:55] mcmire commented on #1039
@Ana06 The way that the `validate_inclusion_of` matcher works is that it tries to set your attribute to something that's *not* in the list and asserts that you get a validation error. In this case, since you are using `enum`, ActiveRecord will reject values outside the list immediately as soon as they are set. So I don't really think you need a validation (and test) for this. What do you think?

[2017-07-25 16:57] mcmire commented on #972
@Shoroh This works in newer versions of shoulda-matchers, but unfortunately we haven't updated shoulda-context to be compatible with it yet. Sorry :( It's on our list, though.

[2017-07-25 17:02] mcmire commented on #1017
Hey @ChrisCPO. Do you have any more information that could help us debug this issue?

[2017-07-25 17:11] mcmire commented on #1018
It looks like #989 will address this issue. I'll merge it into the `rails-5` branch once we have the tests working, but in any case, I'm going to close this to reduce duplication.

[2017-07-25 17:11] #1018 closed

[2017-07-25 17:12] #1024 closed

[2017-07-25 17:13] mcmire commented on #1026
@HolyWalley Don't worry about it! I'm just happy that I was able to help you :)

[2017-07-25 17:13] #1026 closed

[2017-07-25 17:14] mcmire commented on #1036
@voidviking Were you able to get this to work?

[2017-07-25 17:34] mcmire commented on #867
This will be fixed by #964, so I'm going to go ahead and close this to clean things up.

[2017-07-25 17:34] #867 closed

[2017-07-25 17:38] mcmire commented on #913
I merged @bsodmike's fix into the `rails-5` branch in 28a43a3b6081deb65dc1a25a5cd6f9608728c467, so I'm going to close this to clean things up. We'll have a new pre-release out soon so people can use that instead of having to use a branch in their Gemfiles.

[2017-07-25 17:38] #913 closed

[2017-07-25 17:41] mcmire commented on #944
@wintersolutions Unfortunately, we don't officially JRuby and haven't in quite some time. I'm not sure when this will be addressed, but I will keep this here in the meantime.

[2017-07-25 18:42] betesh opened #1041 "Improve performance of determine_where_to_break_line"
I have the following line of code in my model:

[code]

and the following test:

[code]

The process hangs while it's generating the failure message.  Using a debugger, I traced it to this line:
https://github.com/thoughtbot/shoulda-matchers/blob/v3.1.2/lib/shoulda/matchers/util/word_wrap.rb#L194

When dealing with very long lines, we should limit how far we go trying to find some whitespace.

Wha

[2017-07-25 19:07] mcmire commented on #1041
Thanks for hunting this down, @betesh! It makes complete sense to limit the loop like that (I feel bad now that I didn't do this). We have tests for the word wrap code [here](https://github.com/thoughtbot/shoulda-matchers/blob/v3.1.2/spec/unit/shoulda/matchers/util/word_wrap_spec.rb). Would you implement the fix you described and write a test for it? I'll happily merge it in.

[2017-07-25 20:25] betesh commented on #1041
I took a different approach than I had originally expected.  It looks like rspec truncates the message, so the message being displayed is still incomplete.  I haven't tracked down the code that does that but I don't think it's in shoulda-matchers.

So I made just one change that addressed the performance issue here.  I think that's all we need to do here.

[2017-07-26 12:02] Ana06 commented on #1039
@mcmire

I think that you are completely right! :+1: And actually the `inclusion: { in: kiwi_types.keys }` in my model doesn't make any sense neither. I'll close the issue, thank you :wink:

[2017-07-26 12:02] #1039 closed

[2017-07-27 03:02] turgu1 opened #1044 "have_one(:my_table).through(:polymorphic_connexion) failed"
Hello,

In Rails 5.1.2, I have these tables defined:

[code]

I'm trying to define a test like this:

[code]

And I get the following error from running rspec:

[code]

Please advise if my expectations are too high ;-)

I've already several hundred tests using shoulda-matchers that are running well. This is a fantastic package!!!

Thanks for the help!

Guy T.

[2017-07-28 06:23] mcmire commented on #1044
Thanks for the report! This definitely seems like a bug. I'm not sure when we will get to it but I'll keep it here for now. :)

[2017-07-31 04:21] Blacksmoke16 opened #1045 "Belongs_to side of has_many through failure"
# Using
- Rails 5.0.2
- Ruby 2.3.3
- shoulda-matcher 2.8.0
- shoulda-context 1.2.2
- Minitest 5.10.1

# Models
[code]
[code]
[code]
[code]

# Test
[code]

# Bug
[code]

Because the has_many is through another model the belong_to should doesn't work as intended since it is expecting the Sovereignty table to have the column `region_id` for the association.

[2017-07-31 05:43] mcmire commented on #1045
I'm not sure I understand what the bug here is. If you have a `belongs_to` then shouldn't the foreign key exist in order for the association to work?

[2017-07-31 05:46] Blacksmoke16 commented on #1045
Nevermind, the issue was the association wasn't actually set up correctly.

[2017-07-31 05:46] #1045 closed

[2017-07-31 17:39] guialbuk commented on #993
``rails-controller-testing`` gem requires Rails 5, so we can't add it to gemspec while supporting Rails 4.2.
I will add a note about it to tREADME.md

[2017-07-31 17:42] #944 closed

[2017-07-31 17:46] guialbuk commented on #549
Shoulda-matchers 3.1.2 is the last that supports Rails 4.1, so future development will continue on #981 .

[2017-07-31 17:46] #549 closed

[2017-07-31 17:51] guialbuk opened #1046 "Update NEWS.md with changes from 3.1.2 to 4.0"

[2017-07-31 19:30] mcmire commented on #993
@guialbuk Ah, very good point. 👍

[2017-07-31 22:45] djones commented on #967
I was getting this error. You might have an example like this:

[code]

If you have `null: false` and no default value set on the name attribute, you will see an error like this:

[code]

To fix this, you would install FactoryGirl and make the following changes:

[code]

[2017-08-01 11:23] lloeki opened #1050 "Ensure Ruby warnings that the gem emits are removed"
When running tests on a project depending on shoulda-matchers some warnings are raised (see below).

This is because with a recent rake (>=11.0), ruby warnings are now on by default.

What do you think about fixing those warnings as well as running the test suite with ruby -w (which [seems to be the case](https://github.com/thoughtbot/shoulda-matchers/blob/2a5c312bcebf561d16577e3db57fbe111dae65df/

[2017-08-08 15:41] MDjavaheri commented on #937
@bucket-sven add `if :start_year?` to your first spec example and it'll work.
Just ran into the same issues you mentioned.

[2017-08-08 15:45] guialbuk commented on #1006
Fixed by #1038

[2017-08-08 15:45] #1006 closed

[2017-08-08 21:19] mcmire commented on #1050
Yup, good point. We do run the test suite with warnings turned on, but they aren't surfaced in a way that only prints warnings related to shoulda-matchers and not other gems. Regardless, thanks for pointing this out -- we'll fix this.

[2017-08-09 12:29] lekansogunle commented on #870
We are only testing for validation of the presence of the association ID, what if the given ID is false. And dont want to validate the existence of such association?

[2017-08-10 15:54] misham commented on #931
This looks like it's related to #904

Any progress on this?

[2017-08-16 11:18] horaciob commented on #986
@TheTeaNerd  Which version of rails you are using?

I've had same problem but seems not to be a shoulda error, BigDecimal has changed and this patch
 https://github.com/rails/rails/commit/3aa729c2121b1e5a813afda52b2435dfcf7d4a74 was added on rails 5.0 but not in 4.X version.

For more information
https://github.com/rails/rails/pull/27429

[2017-08-17 20:05] ChrisCPO commented on #1017
@mcmire, sorry notification slipped through let me check.

[2017-08-25 22:18] Wokoro commented on #803
i am still having this issue
$ bundle exec rspec

An error occurred while loading ./spec/models/item_spec.rb.
Failure/Error:
  Shoulda::Matchers.configure do |config|
    config.integrate do |with|
      with.test_framework :rspec
      with.library :rails
    end
  end

NameError:
  uninitialized constant Shoulda
# ./spec/rails_helper.rb:6:in `<top (required)>'
# ./spec/models/item_spec.rb:1:in `

[2017-08-29 03:51] mcmire commented on #803
@Wokoro Do you have `shoulda-matchers` in your Gemfile?

[2017-08-31 20:11] HeidiHansen commented on #1036
@mcmire, I am having this issue.
`shoulda-matchers` are included in my gemfile like this:
[code]

[2017-08-31 20:19] HeidiHansen commented on #803
@mcmire, I am having this issue.
I'm using Ruby 2.3.4p301 (2017-03-30 revision 58214) [x86_64-darwin16] and Rails 5.1.3
shoulda-matchers are included in my gemfile like this:

[code]

(I did have shoulda-matchers line in group :test do instead earlier, with the same error.

  Here are the errors:
[code]

Here is my rails_helper:
[code]

[2017-08-31 20:40] Alexxeey commented on #1026
I have same problem!I folloowing instructions in your README but don't fix this error
/home/aleksey/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/rspec-rails-2.13.1/lib/rspec/rails/matchers/have_extension.rb:27:in `block in <module:HaveExtensions>': undefined method `alias_method_chain' for RSpec::Matchers::BuiltIn::Have:Class
Did you mean?  alias_method (NoMethodError)

My Gemfile look like this

[2017-09-02 19:25] ChrisCPO commented on #1017
@mcmire  here ya go, commit has notes.
https://github.com/ChrisCPO/matcher-issue/commit/995a6a86ef51f4fe845d270a95c78a6cda5717ee

[2017-09-08 05:40] mcmire commented on #1036
@HeidiHansen Hmm. That's very odd. Are you loading your Rails environment file at the top of `rails_helper`?

[2017-09-08 05:42] mcmire commented on #1026
@Alexxeey I'm not exactly sure why you're getting that error, but try using RSpec 3 and shoulda-matchers 3.

[2017-09-08 06:05] mcmire commented on #1017
@ChrisCPO Thanks for that! That was really helpful.

This is indeed caused by Clearance. Clearance will actually downcase `email` when validations are run. Therefore, this interferes slightly with the uniqueness matcher. To get around this, you need to say:

[code]

[2017-09-09 02:11] garside opened #1052 "Fix uniqueness matcher when scope is a *_type attr in rails5"
It looks like the fix for #592 isn't included in the rails5 branch of shoulda-matchers. Is this something that could be easily copied over? Not sure how much things have diverged from the rails4 version till now, but the exact issue linked is again an issue.

[2017-09-09 02:34] mcmire commented on #1052
@garside The `rails5` branch was old (in fact I just deleted it). The new one is `rails-5`. Can you give that a shot and see if that changes anything?

[2017-09-09 13:06] Alexxeey commented on #1026
Thank you @mcmire i already fix this bug.
My rspec tests does not work but when i use feature spec sintax from source https://relishapp.com/rspec/rspec-rails/docs/feature-specs/feature-spec
 #and add require 'capybara/rails' on static_pages_spec.rb file i solve this problem
#also i add gem gem 'shoulda-matchers' , gem 'capybara' in :test group and gem 'factory_girl_rails' in :development, :test gr

[2017-09-09 17:23] garside commented on #1052
Ah sorry, that's a bit of a red herring title. I'm actually on the `rails-5` branch already sadly :(

[2017-09-09 18:47] mcmire commented on #1026
@Alexxeey Great, glad I could help!

[2017-09-09 18:56] mcmire commented on #1052
@garside Ah. So it used to be that the uniqueness matcher lived under the ActiveModel namespace. From a Rails point of view, that's incorrect, so at a certain point after that PR, we moved it under the ActiveRecord namespace.

Here's the change that was made to the matcher:

https://github.com/thoughtbot/shoulda-matchers/blob/rails-5/lib/shoulda/matchers/active_record/validate_uniqueness_of_matche

[2017-09-09 19:18] garside commented on #1052
Hmm okay. This is the rough sketch of my implementation. Are there any glaring errors you see?

`app/models/chronicle.rb`:

[code]

`spec/models/chronicles/record_created.rb`:

[code]

Running this gets me one failure:
[code]

[2017-09-11 00:06] mcmire commented on #1052
@garside I think your backtrace is incomplete, but even so, I have a guess as to what's happening. By default, the uniqueness matcher creates a new instance of your model and uses it for comparison. When it does this it will set default values for attributes that are involved in the test -- here `record_id` and `record_type`. When it is setting `record_type`, it is not smart enough to know that th

[2017-09-12 02:33] garside commented on #1052
Yep! I switched to just use the existing factory I had:

[code]

[code]

And this started working! Thanks for your help. :)

[2017-09-12 21:43] mcmire commented on #1052
Awesome, you're welcome! I'm going to leave this issue open since we probably need to add some kind of helpful error message here to point people in the right direction.

[2017-09-13 16:22] fxn opened #1053 "Bug in the delegate_method matcher"
## Description

I seem to have founded a bug in the `delegate_method` matcher (v3.1.1) that can be reproduced with this example (the name of things comes from a reduction to minimal example of the original situation):

[code]

When RSpec executes first the spec for `:country`, and then the one for `:to_s`, the suite passes. But when it takes first `:to_s`, and then `:country`, it fails:

[code]

#

[2017-09-13 19:39] mcmire commented on #1053
Hey @fxn,

Thanks for the bug report! That's super helpful. I can see how that would cause a problem, and I agree that the matcher should be getting rid of those doubles once it is finished. I will take a closer look at it when I get a chance.

[2017-09-14 09:29] fxn commented on #1053
After sleeping on it, I guessed that if the intuition is correct there must be a simpler way to reproduce the problem. Yes, this example has less stuff going on:

[code]

And it is stronger because the expectations go together. As you said, the matcher seems to be the one having to do some cleanup.

[2017-09-14 14:44] stevenspiel commented on #963
Any progress on this? It's been a year and I'm still getting it.

[2017-09-18 00:56] mcmire commented on #1046
I finished this!

P.S. -- I rebased the `rails-5` branch against `master`. You'll probably want to `git reset` your branch in order to bring in the new changes.

[2017-09-18 00:56] #1046 closed

[2017-09-18 01:25] seven1m opened #1055 "Did someone rewrite history on the rails-5 branch?"
I was pointing to edaf9cb926ee9c59c59729e7a4f8c206b44da8a1 but that commit just disappeared. 😢

[2017-09-18 05:22] consti commented on #1055
@seven1m we've ran into the same issue here - missing she for us is f800d62525a65f9bf001ea984ae4926a92ff5b82; 😢

[2017-09-18 05:50] guialbuk commented on #1055
Hi, guys!

`rails-5` branch has been rebased onto `master`.

Pointing shoulda-matchers to `master` branch in Gemfile will fix it.

[2017-09-18 07:00] mcmire commented on #1055
Ah... sorry folks, that was my bad. It slipped my mind that we've made this branch sort of public. You can keep using the `rails-5` branch for your projects -- I'll refrain from doing this in the future.

[2017-09-18 07:00] #1055 closed

[2017-09-18 15:00] aripollak opened #1056 "rails-5 branch got rebased?"
It looks like the rails-5 branch got rebased and force-pushed in the last few days. Could you please avoid doing that? The README recommends using the rails-5 branch, but projects' Gemfile.lock contains a specific commit hash, and rebasing invalidated a bunch of the previous commits on that branch, so `bundle install` no longer works on a fresh Ruby install without `bundle update shoulda-matchers`

[2017-09-18 15:33] cainlevy commented on #1056
This also seems to have stripped out the merge commits that connect changes back to pull requests.

[2017-09-18 15:38] guialbuk commented on #1056
Related #1055

[2017-09-18 20:55] Carlows commented on #1055
So, we should be pointing to master in Rails 5?

[2017-09-18 22:45] guialbuk commented on #1055
@Carlows Exactly. I will update the documentation about that.

And soon version 4.0 will be released.

[2017-09-19 00:32] mcmire commented on #1055
Well, `master` doesn't contain the fixes for Rails 5 -- those are all on the `rails-5` branch -- so using `master` won't get you those fixes.

That said, I do think we should merge `rails-5` into `master` and just remove the branch altogether. I'm generally not a fan of long-standing branches like this, and since we are focused on 4.0 there's no reason to keep two branches going. What do you think

[2017-09-19 05:53] mcmire commented on #1056
Again, sorry for this -- that was bad judgment on my part.

I've merged `rails-5` into the master branch, so going forward we won't have a long-running branch (which I'm not a fan of anyway). That should make creating new PRs easier for folks too. I won't delete the branch, but if you switch to `master` then you should be able to stay on that.

[2017-09-19 05:53] #1056 closed

[2017-09-19 05:54] mcmire commented on #1055
I've gone ahead and merged `rails-5` into the master branch, as I think it makes sense going forward. That should make creating new PRs easier for folks too. I won't delete the branch, but now you really can switch to `master` and get the same fixes.

[2017-09-20 00:03] cweems opened #1057 "shoulda-matchers bundle install fails with git error"
# Issue

When trying to do a fresh `bundle install` of shoulda-matchers from git we get the following failure:

[code]

The import in our gemfile is:

[code]

Our `Gemfile.lock` contains the following info for shoulda-matchers:

[code]

Was there a force-push that may have removed this commit recently?

We believe that we can solve this issue by running a bundle update, but just wanted to start th

[2017-09-20 00:53] mcmire commented on #1057
Yes, we rebased `rails-5` and then merged it into `master`. Sorry for the mess -- it won't happen again!

[2017-09-20 17:36] cweems commented on #1057
@mcmire thanks!

For anyone else who found this, we fixed this by deleting the revision sha from our `Gemfile.lock` and re-ran `bundle install`.

[2017-09-20 22:34] zachfeldman commented on #1057
Thank you for posting the solution @cweems !

[2017-09-21 05:14] mcmire commented on #1057
Be advised that we will remove `rails-5` at a certain point, so I would recommend switching to `master` now if you really want to continue being on the bleeding edge :)

[2017-09-21 15:18] zachfeldman commented on #1057
Oh ok @mcmire so `rails-5` has been merged with master already then? Has it been released too, or should we just point to master at this point?

[2017-09-22 20:07] mcmire commented on #1057
@zachfeldman We haven't released the next version yet, but we're not doing any more work for 3.x, so it made more sense to pull everything into `master` and use that from now on for future work. So you should be able to switch to that until we release 4.0.

[2017-09-22 20:07] #1057 closed

[2017-09-22 20:15] zachfeldman commented on #1057
Great thank you!

[2017-09-29 15:20] bilo-io commented on #1036
Check the link to the code (repo) at the top of the tutorial (pink button stating *</>Code*)
Here is a link to the full [rails_helper.rb](https://github.com/akabiru/todos-api/blob/master/spec/rails_helper.rb) file on github
You'll notice there is a lot more in the `spec/rails_helper.rb`

The tutorial only omits this content. So, yes, you need to specify the rails env at the top of the helper

[cod

[2017-09-29 17:43] mcmire commented on #1036
Cool. It sounds like you were able to spot the discrepancy here, so I'm going to close this :)

[2017-09-29 17:43] #1036 closed

[2017-10-03 05:31] mcmire commented on #986
Would someone mind testing the `master` branch and seeing if this is still an issue? We have tests for `float` and `decimal` columns (which use BigDecimal, right?) and they are passing:

https://github.com/thoughtbot/shoulda-matchers/blob/2bab9dca080a707c1cf4de7c1b8d03ddde4ce323/spec/unit/shoulda/matchers/active_model/validate_numericality_of_matcher_spec.rb#L169-L181

[2017-10-05 06:49] mcmire commented on #976
I've tried to replicate this in a fresh Rails app (4.2, 5.0 and 5.1) using shoulda-matchers 3.1.2 and I can't seem to do this.

I'm going to close this for now, but if you would, please fork https://github.com/mcmire/shoulda-matchers-test-apps, replicate this in a fresh Rails app there, and send me a link to your fork so I can take a closer look.

[2017-10-05 06:49] #976 closed

[2017-10-05 07:13] mcmire commented on #1017
I'm going to close this for now, but let me know if you are still seeing issues with this.

[2017-10-05 07:13] #1017 closed

[2017-10-05 07:31] mcmire commented on #993
If you're using `rspec-rails` 3.5.0+ then you'll get `rails-controller-testing` for free: https://github.com/rspec/rspec-rails/issues/1393. Otherwise, you'll have to add it yourself. I added a note about this here: 43f4d05a18a2c2c0f57bc4b231fc2ed59590bc6b.

[2017-10-05 07:31] #993 closed

[2017-10-10 17:48] johnpaulashenfelter opened #1059 "Bug? in uniqueness verification when pure number was generated"
Was surprised to suddenly see this on CI for a PR that only updated the rollbar gem...

[code]

The relevant code:

[code]

and the relevant spec

[code]

sidenote -- folks from the NYC Thoughtbot office wrote a lot of this code (Mike Wenger, looking at you!)

I really don't understand the details of how the test values are generated even after digging through the source and unit tests for the uni

[2017-10-10 22:30] mcmire commented on #1059
Hey John,

Sorry you got this error. So what's happening here? By default, the uniqueness matcher tests not only that there is a uniqueness validation present in your model, but that this validation works case-sensitively. It does this by asserting not only that two records that have the same exact value for an attribute fail validation, but that if you swap the case of one of the values, then bot

[2017-10-11 13:07] Techbrunch commented on #950
Implemented in #1025

[2017-10-13 11:55] Subomi commented on #1057
Sorry, am new to all of this,

At this point, a better fix would be to change
`gem 'shoulda-matchers', git: 'https://github.com/thoughtbot/shoulda-matchers.git', branch: 'rails-5'`
to
`gem 'shoulda-matchers', git: 'https://github.com/thoughtbot/shoulda-matchers.git', branch: 'master'`

How does this affect my Gemfile.lock which still has the revision sha

[2017-10-13 20:03] mcmire commented on #1057
@Subomi Yup, that's correct. You will get a new SHA when you make that change.

[2017-10-14 14:40] Subomi commented on #1057
Okay, thanks .. works now.

[2017-10-18 22:22] guialbuk commented on #998
We should not add rails-controller-testing to gemspec until Rails 4.2 support is dropped because rails-controller-testing requires Rails ~> 5.x

Source code: https://github.com/rails/rails-controller-testing/blob/37cb8e33fe55a30bac4f99232e83144ba19f4152/rails-controller-testing.gemspec#L21-L25

[2017-10-19 18:46] mcmire commented on #998
Ah, I didn't realize this issue was here. I ended up adding some instructions to the README for RSpec here: 43f4d05a18a2c2c0f57bc4b231fc2ed59590bc6b. But I didn't add anything for Minitest. I think we'll want to do that too.

[2017-10-21 06:16] aaronmallen commented on #1000
I am actually seeing a failure for `should serialize`more akin to #639

[code]

[code]

[code]

[code]

[2017-10-21 19:02] mcmire commented on #1000
@aaronmallen That looks like it's the same issue as #913. We've fixed this, but haven't put out a new release yet. You may wish to modify your Gemfile to point to the `master` branch.

[2017-10-26 20:32] amnesia7 commented on #574
@mcmire I think I'm hitting this issue as well.
I'm using ruby v2.4.1, rails v5.1.4 and shoulda-matchers v3.1.2
[code]
Rspec tests:
[code]
Error thrown:
[code]

[2017-10-26 21:12] mcmire commented on #574
@amnesia7 Cool, thanks for reporting this :) This is definitely something we need help fixing.

[2017-10-27 15:41] amnesia7 commented on #574
Let me know if you need any more info or need anything testing, or if there's anything straight forward that I can help with to get this resolved.

Col

--------------------------------------------
On Thu, 26/10/17, Elliot Winkler <notifications@github.com> wrote:

 Subject: Re: [thoughtbot/shoulda-matchers] ensure_inclusion_of does not work with polymorphic attributes (#574)
 To: "thoughtbot/shou

[2017-10-31 01:13] gazayas commented on #1057
@cweems deleting the SHA from 'Gemfile.lock' worked for me, thank you! :octocat:

[2017-10-31 22:30] mcmire commented on #904
This error will also occur when testing the presence of a validation that doesn't exist on the model.

[2017-11-01 17:44] fabianoalmeida commented on #348
Hi @mcmire! I'm facing exactly the same problem. I'm using `shoulda-matchers (3.1.2)` and Rails 5. I tried with this:
[code]
in `spec/rails_helper.rb` file and nothing.

Do you have any suggestion?

[2017-11-02 18:42] mcmire commented on #348
@fabianoalmeida What's the error you're getting and what's the backtrace?

[2017-11-06 18:12] emcooper commented on #973
Hi there! I’m a big fan of shoulda-matchers and was hoping to help out with this issue. I noticed nobody was assigned to it, but if there’s already a solution in progress I’m happy to try helping out elsewhere. Thanks!

[2017-11-08 18:45] mcmire commented on #973
Hey @emcooper! No one's started working on this yet and it's been sitting here for quite some time as you can see. We would sure love some help in fixing this if you'd like to take a crack at it!

[2017-11-08 18:59] #1059 closed

[2017-11-13 13:16] CristiRazvi commented on #946
i have made a gem for validating enums inclusion
https://github.com/CristiRazvi/enum_attributes_validation

[2017-11-14 07:06] zw963 commented on #809
Hi, I work on a new team, this team still use rails 4.1.16.

I got follow error:

[code]
Following spec is failed

[code]

Error logs:

[code]

I have to workaround this with change `routes.rb` to:
[code]

This is worked again.

so, this issue still exists, right?

following is version:
[code]

[2017-11-14 22:28] ysyyork commented on #1007
Hi, I just came across the same issue and was planning to make changes. But have you already started the change? And is there any update?

[2017-11-15 04:24] 00dav00 commented on #963
Same here, has anyone found the problem or a valid work around?

[2017-11-15 07:51] mcmire commented on #809
@zw963 You're using an older version of shoulda-matchers, it looks like. What happens if you upgrade to 3.1.2?

[2017-11-15 07:57] mcmire commented on #1007
Hey @ysyyork! As you can see here there is a PR here that was submitted. While it's a good start it does need some tests. Unfortunately this issue is low on our priority list at the moment but if you would like to pick it up and supply the tests (submitting a new PR of course) then that would be much appreciated!

[2017-11-15 09:17] zw963 commented on #809
@mcmire , hi, I have to development on a very old project (rails 4.1.16)

I only add
[code]
into Gemfile in recent days, those version seem like is the suitable version manage by bundler.

[2017-11-15 18:30] ysyyork commented on #1007
@mcmire Sure, I will give it a look if I have the time.

[2017-11-15 18:49] mcmire commented on #809
@zw963 We do still support Rails 4.1, but I guess upgrading wouldn't help in this case, so I'm not sure why I said that :) I thought I had fixed this problem somewhere along the way but I guess I haven't yet. Sorry about that. Your "fix" to routes.rb seems like the right move.

[2017-11-16 02:06] zw963 commented on #809
@mcmire , so, there is no plan to try fix this for Rails 4.1, right ?

[2017-11-16 06:05] mcmire commented on #809
@zw963 If it only shows up under Rails 4.1, then we won't be addressing it, but, I'm thinking that this problem may exist under other Rails versions, and if that's the case, then you would get this fix for free.

[2017-11-16 10:20] istana commented on #809
AFAIK it hasn't been fixed yet. And probably never will be as there is a ton of PRs and no activity in repository.

[2017-11-16 20:48] mcmire commented on #809
@istana Hey, I don't really appreciate your comments. Let's try to keep it civil around here. Thanks.

[2017-11-17 09:43] zw963 commented on #809
@mcmire , I tried in my another project, which is `rails 5.1.1`

Following is my route:
[code]

Following is my test: (minitest)

[code]

But I got following error:

[code]

Following is shoulda version.
[code]

[2017-11-18 07:13] mcmire commented on #809
@zw963 Sigh... I'm sorry. `shoulda` has a dependency on `shoulda-matchers` 2.8.0 right now so that's what version it will use. I really need to address this. Does your project really use Minitest or can you use RSpec?

[2017-11-18 07:22] zw963 commented on #809
@mcmire，I don't understood what you means，this new rails 5.1.1 i use minitest.

[2017-11-20 09:02] istana commented on #809
@mcmire I'm sorry for my reaction. I really appreciate the work you do here.

In my case it didn't work in Rails 4.2 either, but with shoulda matchers 2.8.0. I could try to trigger the bug with latest Rails 5.1 and shoulda matchers.

[2017-11-20 15:42] gonzalobustos opened #1064 "validate_length_of fails for PG array column"
Hi all,

I am experiencing the following when testing a PG array field with rails 5.1.3 and shoulda-matchers 3.1.2

Migration
`t.text :other_names, array: true, default: []
`

Model
[code]

Spec
[code]

bundle exec rspec output

[code]

[2017-11-26 03:38] mcmire commented on #1064
The error message you're getting is admittedly a little weird, however, `validate_length_of` matcher is designed to only work with string columns -- we don't support array columns. We would definitely appreciate a PR if this is something you would like.

In the meantime you can simulate this with `allow_value`:

[code]

[2017-11-26 12:57] gonzalobustos commented on #1064
Okay, I got it.
Thanks for sharing an alternative. I am closing this for now.

[2017-11-26 12:57] #1064 closed

[2017-11-27 15:41] zw963 opened #1065 "has_and_belongs_to_many not worked for Rails 4.1.13 rspec"
### spec

[code]

### model

[code]

I can ensure method `has_and_belongs_to_many` is exists in model context.

but, I got following error message:

[code]

[2017-11-27 17:43] mcmire commented on #1065
Ah. This is an English thing -- although the name of the association macro is `has_and_belongs_to_many` the name of the matcher is `have_and_belong_to_many` (not `have_and_belongS_to_many`).

Full example:

[code]

[2017-11-28 01:51] zw963 commented on #1065
It worked, thanks.

[2017-11-28 01:51] #1065 closed

[2017-11-28 23:02] TheTeaNerd commented on #986
Ruby 2.4.2, Rails 5.0.0, shoulda-matchers `master`, BigDecimal 1.3.2 and I get:
[code]

Same on Rails 5 branch.

[2017-11-29 03:35] mcmire commented on #986
@TheTeaNerd Hmm... okay. Thank you. I'll take another look and see if I can replicate this.

[2017-12-05 07:48] tinbka opened #1066 "Check for belongs_to asks for explicit "required: true" which is the default in Rails 5+"
For some reason I couldn't check out "rails-5" branch, then I looked it up among the issues here, found words about "rails-5" being merged into "master" and check out master.

After that, virtually all my regression tests was ruined with such message:

[code]

There is a mess with optional/required in this gem.

According to http://api.rubyonrails.org/classes/ActiveRecord/Associations/ClassMethods

[2017-12-05 16:52] tylerhunt opened #1067 "validate_uniqueness_of not using given record"
With an example like this:

[code]

I'm currently seeing failures, since my test suite is old and broken and sometimes database records linger. The `validate_uniqueness_of` matcher currently checks for an existing record in the database, even if a `@given_record` is specified as is the case here.

I can't say if this is really a bug or not, but I'm at least looking for some explanation on the reas

[2017-12-09 09:12] andreierdoss commented on #634
I am getting this error
`123456789 is out of range for ActiveRecord::ConnectionAdapters::PostgreSQL::OID::Integer with limit 2`
when I try to use
`it { is_expected.to validate_inclusion_of(:value).in_array([-1, 1]) }`.
I assume that this issue is related.

I'm not too clear on what I need to do to overcome it. I didn't see anything in the documentation to address it. Please advise.

[2017-12-17 13:57] hamzaaltaf commented on #803
any answer to this issue that @HeidiHansen  has mentioned, as I am having the same problem with ruby 2.3.4

[2017-12-21 17:36] rekliure commented on #803
Just insert these lines into spec/spec_helper.rb:

config.include(Shoulda::Matchers::ActiveModel, type: :model)
config.include(Shoulda::Matchers::ActiveRecord, type: :model)

Reference:

https://github.com/thoughtbot/shoulda-matchers#availability-of-matchers-in-various-example-groups

[2017-12-21 18:41] mcmire commented on #634
@andreierdoss Sorry for the delay on this. Which version of the gem are you using?

[2017-12-21 18:44] mcmire commented on #803
@HeidiHansen @hamzaaltaf @rekliure Sorry for the delay on this. You shouldn't have to do that -- the gem does that for you automatically. If you're getting an "uninitialized constant `Shoulda`" error, it means that the gem isn't loaded. Make sure that you are loading the Rails environment in your `rails_helper` (it should be at the top somewhere) and that you've placed the Shoulda configuration _b

[2017-12-21 18:49] mcmire commented on #1066
Hey @tinbka, sorry for the delay on this. Rails 5 made it so that `belong_to` associations have an implicit presence validation on them (that's what `required: true` does under the hood). The gem now follows suit, meaning that the `belongs_to` matcher checks for this validation to be present; if the association is allowed to be empty then the matcher will fail, as you've seen. I notice you didn't

[2017-12-21 20:32] mcmire commented on #1067
@tylerhunt Hey, sorry about the delay in responding. I don't have a great answer for why the current behavior is the way it is exactly. My best guess is: "for historical reasons". `shoulda-matchers` was originally designed in the days when Test::Unit (and fixtures) were king. Perhaps because these fixtures were loaded into the database before each test it was natural to rely on their presence for

[2017-12-22 09:46] tinbka commented on #1066
@mcmire hey there.

My model is defined like this
[code]
Then, I have a bunch of regression tests which I build/rebuild with `regressor` gem that produces shoulda-matchers friendly syntax based on the current model definitions:
[code]

Yeah, I've noticed there is a kind of a flow in the generated code, in that `belong_to` is always assumed to have the framework default for optional / required flag

[2017-12-23 17:29] wayne676 commented on #803
You need add those new contents to rails_helper.rb instead of replacing the original code
rails_helper should be like this (it works for me):
[code]

[2017-12-25 07:44] dgorodnichy opened #1069 "NoMethodError: undefined method `optional'"
[code]

[code]
=>
[code]

How to use optional matcher in my case?

[2017-12-25 17:45] mcmire commented on #1066
@tinbka Hmm, okay. Thanks for the report. I'll have to take a closer look at this.

[2017-12-25 17:48] mcmire commented on #1069
@dgorodnichy Hmm, that's definitely very strange. Are you sure you're using 3.1.2? Where is `describe` coming from if you're using Minitest -- are you using Minitest::Spec?

[2017-12-26 12:02] dgorodnichy commented on #1069
@mcmire, Yes, I use Minitest::Spec. I'm sure that shoulda-matchers  version is 3.1.2

[2017-12-29 14:20] Maychell commented on #1069
Same thing here.
My class:
[code]
Test:
[code]
Result:
[code]

[2017-12-31 07:29] mcmire commented on #1069
@dgorodnichy @Maychell Oh, derp -- this is only available on the master branch, this isn't in a release just yet.

[2018-01-03 14:36] valscion commented on #912
Seems like https://github.com/thoughtbot/shoulda-matchers/pull/1063 would fix this second-most :+1:-reactioned bug issue. Would there be any chance in getting it in at some point? Anything I could do to help with it?

[2018-01-08 23:22] robbl-as commented on #870
@mcmire @stephanngamedev Isn't that issue resolved by now?

[2018-01-08 23:23] robbl-as commented on #861
@mcmire @stephanngamedev Isn't that issue resolved by now?

[2018-01-10 15:54] majioa commented on #685
Now I have vise versa situation:

    -{"action"=>"create_appeal", "format"=>:json, "controller"=>"api/v1/cbf/requests"}
    +{"format"=>"json", "controller"=>"api/v1/cbf/requests", "action"=>"create_appeal"}

Please fix it back for both case.

[2018-01-10 21:13] Tresky commented on #1066
Just chiming in to say I have experienced the same issue. +1

[2018-01-11 19:05] Fornacula commented on #870
Doesn't seem to work in version 3.1.2 for I am getting:
` undefined method `optional' for #<Shoulda::Matchers::ActiveRecord::AssociationMatcher`
when I'm doing `it { is_expected.to belong_to(:user).optional(true) }`

[2018-01-15 11:26] iainbeeston opened #1071 "Primary key/primary key association options not validated?"
I think I've found a scenario where shoulda matchers' association matchers pass when they should actually be failing.

BACKGROUND
-----------

I have a passing activerecord spec like this:

[code]

Here's my model:

[code]

And here is a snippet from my schema.rb:

[code]

So the idea here is that my association will give me all the `Sierra` models whose `external_id` matches the `sierra_external_

[2018-01-18 04:22] jeremywadsack commented on #913
@mcmire Any progress on a pre-release? We're still using the branch.

[2018-01-19 23:02] StaverDmitry opened #1072 "Can't chain context and an option for numericality together"
Hi! I can't figure out if there's a way to test this kind of validation with rspec:
[code]
I tried this code:
[code]
I also tried switching #on and #is_greater_than_or_equal_to:
[code]

Is that possible or should I avoid using shoulda-matchers in this case?

[2018-01-19 23:13] #1072 closed

[2018-01-19 23:13] StaverDmitry commented on #1072
Sorry, seem's like my bad

[2018-01-20 19:58] mcmire commented on #913
@jeremywadsack Sigh. Somewhat. I've been (very slowly) working on improving some of the messages so I can debug some of the current issues better. But at this point it's completely backing things up. I'll take a look at what's left over and see if I can just finish up the remaining Rails 5 issues and put something out (even it's just an alpha) soon.

[2018-01-24 04:17] mcmire commented on #949
Sorry for the delay on this. I've just created #1073 to fix the OP's issue. (The second issue reported here, I haven't investigated yet, but I don't think it's related.)

[2018-01-24 04:29] mcmire commented on #1071
Hey @iainbeeston. Yeah, the `have_many` matcher doesn't do a whole lot when it comes to testing the primary and foreign key options. All it does it check the options that the association was defined with. It's a little hard to tell, but you can kinda see that here:

https://github.com/thoughtbot/shoulda-matchers/blob/2a61824ef941fe50cc50cec602f4a48797ca55ab/lib/shoulda/matchers/active_record/assoc

[2018-01-24 04:32] mcmire commented on #870
Not sure why this issue wasn't closed automatically, but yes, this is resolved by #1058. It'll be available in the next version, or you're feeling adventurous, you can point to the master branch.

[2018-01-24 04:32] #870 closed

[2018-01-24 04:48] mcmire commented on #1066
@Tresky Yes, you're right, but in this case it's more about which Rails versions default which options to true or false. In [Rails 4.2](http://api.rubyonrails.org/v4.2.9/classes/ActiveRecord/Associations/ClassMethods.html#method-i-belongs_to), `belongs_to` takes a `:required` option which is **false** by default (and allows you to flip it by setting `:required` to true). In [Rails 5](http://api.ru

[2018-01-24 04:51] mcmire commented on #1066
@tinbka Sorry for getting back to you so late on this. I still don't know what could be causing this. The `required` qualifier works by testing that there is a presence validation present, and it does simply by testing that if the attribute in question is set to `nil` then it should fail validation. I am working on some more messaging which should at least tell you that this test is happening, and

[2018-01-24 04:53] mcmire commented on #861
@robbl-as Yup! Sorry. Not sure why this issue wasn't closed automatically. This will be in the next release, or if you're feeling adventurous, you can point to master.

[2018-01-24 04:53] #861 closed

[2018-01-24 05:15] mcmire commented on #912
@valscion Yes! Sorry this took me so long. A fix for this is now in the master branch. To address @begedin's original problem, you'd be able to fix this by saying:

[code]

[2018-01-24 05:15] #912 closed

[2018-01-24 06:14] #949 closed

[2018-01-24 06:29] valscion commented on #912
Thank you! It's understandable that sometimes it takes a while to get time for open source projects, thank you for your work here!

[2018-01-25 07:02] #1069 closed

[2018-01-26 01:45] mcmire commented on #1066
@Tresky Same to you. Do you have any custom logic in your model that's preventing your attribute from being set to `nil`? Alternately, if you could reproduce this making a fresh Rails app (see [here](https://github.com/mcmire/shoulda-matchers-test-apps) for details) then that would be great.

[2018-01-26 01:54] mcmire commented on #1066
@tinbka @Tresky Can you check `config/initializers/new_framework_defaults`? What is `Rails.application.config.active_record.belongs_to_required_by_default` set to?

[2018-01-26 02:02] mcmire commented on #986
@TheTeaNerd Sorry for the delay on this. I'm still not able to replicate this bug. I tried creating a new Rails 5.0.0 app using Ruby 2.4.1 making a model with a `bigint` column and typing in the test you gave and the test passed.

Are you using Postgres or MySQL? Can you give me some kind of backtrace so I can verify where this is coming from? Alternatively, if you could fork [this repo](https://g

[2018-01-26 02:10] mcmire commented on #945
@dniman I know you posted this a while back. I'm just now getting to it.

Do you still need this feature? I'm struggling to understand the exact use case for this as I've never had this need. Shouldn't you be able to refer to an index by name?

[2018-01-26 04:13] #954 closed

[2018-01-26 04:21] aaronmallen opened #1075 "validate_uniqueness_of boolean column"
Getting the following error when trying to conditionally validate a boolean value:
[code]

Given an environment with:

[code]

given a class with a boolean column

[code]

and a spec
[code]

full trace:
[code]

[2018-01-26 04:42] mcmire commented on #1075
@aaronmallen Thanks for reminding me about this. A lot of people have reported this -- #904 contains a bunch of references -- so if you don't mind I'm going to close this in favor of that. I have a branch going that fixes this bug and provides more information in case of a failure, so I'll have that done soon.

[2018-01-26 04:42] #1075 closed

[2018-01-26 04:55] mcmire commented on #954
Okay, this has been added like so:

[code]

[2018-01-26 09:52] dniman commented on #945
Hi!Sorry for my late reply.
I worked on non-rails project and I used ActiveRecord and RSpec for tracking structure from version to version.

From your question I suppose it's not needed feature and if it's that I think it can be removed or stayed untouched.

[2018-01-26 10:58] dniman commented on #945
My version of db_index_matcher to fix this issue:
[code]

[2018-01-26 12:46] choosen commented on #986
I met this issue with postgres

[2018-01-26 16:41] zw963 commented on #954
Cool, will try it later.

Thanks

[2018-01-26 18:03] javierojeda94 commented on #913
For the people who are using the master branch, how can we fix this? Is there a workaround while we wait for the fix?

[2018-01-26 18:17] Tresky commented on #1066
@mcmire My project actually does not have a `new_framework_defaults` file in it. With this in mind, that setting is also not found in my project anywhere. Perhaps that might be part of my issue?

I'll try to find a bit of time to reproduce with a fresh application. Hopefully that will help find and resolve the issue.

[2018-01-26 20:08] mcmire commented on #945
@dniman Right, okay. I don't use the `have_db_index` matcher myself so I didn't realize that what it takes is not the name of an index, but the column(s) for which your index applies. I also didn't realize that `CREATE [UNIQUE] INDEX` doesn't *really* take a column, but it also takes an expression which it will use to build the index.

I'll include this in the next release, but let me take care of

[2018-01-26 20:11] mcmire commented on #913
@javierojeda94 It should be fixed already, in master.  Are you still experiencing issues?

[2018-01-26 20:17] mcmire commented on #1066
@Tresky Oh, it looks like `new_framework_defaults.rb` was added in Rails 5.1: https://github.com/rails/rails/commit/fc3fccc351f34c006010a389b6bb9b7f4c6985e9#diff-5566f4f2ea56cf8f20432a8b50aa9350. If you are using Rails 5.0 still, then look for an `active_record_belongs_to_required_by_default.rb` file in the `new_framework_defaults` folder. If *that's* not there... did you upgrade your Rails app fr

[2018-01-26 20:20] mcmire commented on #1066
Now that I'm looking at it again, the matcher can look at that option to know whether or not to default to `required`, can't it? That's not really something you should have to worry about. Yup... that's what I'll do.

[2018-01-26 21:13] javierojeda94 commented on #913
Yes. I'm using rspec to test a serialization field on my model but I'm facint some errors on those tests:

My model `make.rb`
[code]

When I run the example `it { is_expected.to serialize(:vehicle_types).as(Array) }`

I got this error:
[code]

In my `Gemfile.lock` I have `shoulda-matchers (3.1.2)`

[2018-01-26 21:56] Tresky commented on #1066
@mcmire I did upgrade from 4 to 5, but I didn't run any special Rails upgrade script. I bet I missed that step because the files you're mentioning sound like autogenerated files that the Rails guys would generate for the upgrade.

With respect to your final comment, I think that makes sense. It would be worth looking into if the setting (`Rails.application.config.active_record.belongs_to_required_

[2018-01-27 01:14] mcmire commented on #913
@javierojeda94 Hmm, you shouldn't be seeing that. You sure you're pointed to master? You may want to run `bundle update` to ensure that you're pointed to the latest commit.

[2018-01-27 23:18] guialbuk commented on #986
I think this issue has been solved by #1070 .

[2018-01-28 06:20] mcmire commented on #986
@guialbuk That's what I initially thought, but then the error says `invalid value for BigDecimal(): "abcd"` and I think the only way that can happen is through this bit of code:

https://github.com/thoughtbot/shoulda-matchers/blob/afa6a7b6661a0d4450d330922c2c930ea2f3ff68/lib/shoulda/matchers/active_model/validate_numericality_of_matcher.rb#L499-L506

When this submatcher gets run it will end up se

[2018-01-28 08:22] #961 closed

[2018-01-29 06:35] mcmire commented on #1066
@Tresky @tinbka Please run `bundle update shoulda-matchers` and let me know if the newest changes solve your issues!

[2018-01-29 14:16] tinbka commented on #1066
@mcmire thanks for the attention. With the current gem version all the tests pass.

[2018-01-29 15:30] Tresky commented on #1066
@mcmire Tests are passing now. Thanks for the work on this issue. I've got some new errors, but I can imagine that they are probably due to the new config setting you had me add that I just haven't updated my models to handle, yet.

Cheers!

[2018-01-29 18:45] mcmire commented on #1066
@Tresky. Cool. Just FYI, I made it so that you shouldn't have to add the config setting now, so if it's easier to take it back out for now, then you're free to do that. 🍺

[2018-01-29 18:47] mcmire commented on #986
@choosen Do you think you could replicate this in a fresh Rails app? https://github.com/mcmire/shoulda-matchers-test-apps

[2018-01-29 18:51] Tresky commented on #1066
@mcmire Thanks so much. Just to clarify, are you referring to reference **cd96089**? Or is there another one that hasn't been pushed yet?

[2018-01-29 19:00] mcmire commented on #1066
@Tresky Yup, that's the one.

[2018-01-29 19:15] Tresky commented on #1066
Hmmm mine seems to be requiring the config setting to be set. With the setting, I get errors like `Validation Failed: User must exist.`. Without the settings, I get the same sort of error that was mentioned when this issue was opened: `Expected Class to have a belongs_to association called user (the association should have been defined with `required: true`, but was not)`

[2018-01-29 20:20] mcmire commented on #1066
@Tresky Hmm, interesting. And are you on the latest version of Rails, or which version are you using?

[2018-01-29 20:26] Tresky commented on #1066
I'm currently on Rails 5.0.6.

[2018-01-29 23:17] mcmire commented on #1066
@Tresky Hmm... so I wasn't able to replicate this. I just tried:

* making a Rails 4.2 app,
* adding an Account model that `belongs_to` User
* writing a simple test for it (`it { should belong_to(:user) }`) -- this passed
* upgrading the app to 5.0.6
* re-running the test -- it still passed
* (I did not mess with `belongs_to_required_by_default` at all)

So I'm a bit stumped here why you're gettin

[2018-01-29 23:18] choosen commented on #986
I tested on 'my' app and the problem occurred only at rails `4.2.8`
(upgrade rails to `4.2.9` or `4.2.10` resolved issue)

`should validate_numericality_of(:price)`
[code]
@mcmire

[2018-01-30 14:22] Tresky commented on #1066
After investigating a bit more, I think the issue has nothing to do with a bug in shoulda-matchers, but rather to do with the application's implementation of FactoryBot. So, we're all good in terms of this library, I believe.

If I find any issues that I believe are related to shoulda, I'll reopen this issue or start another one.

[2018-01-30 16:26] ktopolski commented on #904
:+1: this is still happening on inclusion matcher on ActiveRecord object, shoulda 3.1.2, rails 5.1.4

[2018-01-30 16:36] ktopolski commented on #904
it can be workarounded with `allow_value` matcher tho:

[code]

[2018-01-31 05:33] mcmire commented on #1066
Cool! Thanks for checking into this, I appreciate it.

[2018-01-31 05:35] mcmire commented on #931
It is related to #904, yes. I'm going to close this issue in favor of that one. I'll have a fix for this soon.

[2018-01-31 05:36] mcmire commented on #931
Actually, I'll leave this open in the meantime, sorry - want to make sure I catch all instances of these.

[2018-01-31 09:26] samstickland commented on #931
Thanks for looking into this!

[2018-01-31 21:05] ellesense opened #1079 "Error when performing first test with todo and item"
Hi, first of all, thanks for the tutorial.

When I run bundle exec rspec after for the first time as per your tutorial, I get an error regarding RequestSpecHelper and ControllSpecHelpler.

By reading other issues, I noticed that support folder was created way after this step, to contain those two files.

The test ran successfully.

HOWEVER, why is it that, I need those two files in support directo

[2018-02-01 21:03] jasonperrone commented on #933
Hi guys. Question about this. I was originally including just the shoulda gem:
gem 'shoulda', require: false

Then I upgraded to Rails 5.0 and I got the deprecation warning from shoulda-matchers. So, since shoulda says it doesn't have any code of its own, it's just shoulda-context + shoulda-matchers, I thought I could just replace that one gem statement with two:

gem 'shoulda-context'
gem 'should

[2018-02-02 05:34] mcmire commented on #1079
Hey @ellesense,

I'm a bit confused. Which tutorial are you talking about? What was the error you got?

[2018-02-02 05:52] mcmire commented on #933
Hey @jasonperrone,

I'm assuming you're using Minitest, is that true? If that's true... `shoulda-context` is a little messed up right now. 😕  When I released `shoulda-matchers` 3.0, it broke support for `shoulda-context`. I documented the issue here: https://github.com/thoughtbot/shoulda-context/issues/53. I meant to address that then, but I haven't been able to in the past due to other priorities

[2018-02-02 13:08] jasonperrone commented on #933
Understood. For now I am going to just include the master branch of the shoulda gem. The only negative effect I see thus far are deprecation warnings, so I'll just keep my eye out for updates to the main branch.

Thanks!

[2018-02-05 08:10] Wei-LiangChew commented on #814
+1

[2018-02-05 20:33] mcmire commented on #830
I'm going to go ahead and close this issue since I think the original issue has been fixed and I can't quite understand the edge case I posted above. If there any more issues with the uniqueness matcher in the future I think it's better to start a new issue so I can keep track of it better.

[2018-02-05 20:33] #830 closed

[2018-02-05 22:05] guialbuk commented on #986
It seems this problem has been fixed in Rails 4.2.9 by that commit: rails/rails@3aa729c

[2018-02-06 21:01] mcmire commented on #986
Cool. I'm going to go ahead and close this issue for now, since I'm not able to replicate this under Rails 5.x, and also since there is a fix for Rails 4.2.x (we're not going to support older versions of 4.2.x for this release since it will be end-of-lifed soon anyway once Rails 6 is released).

If anyone continues to see this let me know - make sure to list which version of Ruby, Rails, and shoul

[2018-02-06 21:01] #986 closed

[2018-02-12 14:56] mkalygin commented on #1069
@mcmire so do you suggest to use `master` branch instead of stable `3.1.2` release? I also experience this issue.

[2018-02-12 16:00] jasonperrone commented on #1069
Upvote this too.

[2018-02-13 07:22] mcmire commented on #1069
@mkalygin @jasonperrone Yes, I'd advise using the `master` branch if you really need this.

[2018-02-13 22:43] monfresh commented on #1066
This seems to have regressed in the master branch, specifically when a model also has a validation for the presence of the parent, such as:

[code]
With the Rubygems version of `shoulda-matchers`(3.1.2), this test passes in Rails 5.1.4:
[code]
However, with the master branch of shoulda-matchers, it fails with this message:
[code]
Since Rails 5 will now automatically validate the presence of the pa

[2018-02-13 22:56] mcmire commented on #1066
@monfresh What's the value of `ActiveRecord::Base. belongs_to_required_by_default` for you?

[2018-02-14 01:42] monfresh commented on #1066
Aha! I totally missed the part where that needs to be set when upgrading from Rails 4 to 5. Never mind me! It works fine when it's set to `true`.

[2018-02-14 07:37] mcmire commented on #1066
Cool :)

[2018-02-16 15:44] tylerhunt commented on #1067
The app is already using `database_cleaner`, but there are some cases where data is created in `before :all` blocks and isn't being cleared out by the transactional strategy. I'm working towards doing away with both the `before :all` calls and the `database_cleaner` usage, though. This issue should resolve itself once I get to that point, but I wanted to report it here anyways since it was unexpec

[2018-02-16 18:56] bytewalls commented on #1066
I have a similar opposite issue, in the process of upgrading to Rails 5, I have optional set to true on my model, but I am still getting this error.

from build.rb
```  belongs_to :repo, optional: true```

after running build_spec.rb
[code]

[2018-02-23 00:27] edwardmp opened #1081 "validates_uniqueness_of doesn't work correctly on integer columns"
Hi,

I love this gem and recently needed something that isn't released yet, so I felt a bit adventurous and tried out what's in the master branch.

I encounter one specific issue. If you have a `validates_uniqueness_of` matcher on an Integer-backed column I receive an `undefined method length for 0:Integer` error.

Diving into the code a bit, I notice that in the [`arbitrary_non_blank_value`](http

[2018-02-23 21:17] zocoi commented on #1066
There seems to be a bug with `optional: true`. I have both `Rails.application.config.active_record.belongs_to_required_by_default` true and false and could not have the test passed, similar to @bytewalls
[code]
[code]

[2018-02-23 21:44] mcmire commented on #1081
Hey @edwardmp. Yes, it looks like that was an oversight on my part -- I didn't think about numeric columns having lengths, too. Good work tracking this down! Your fix makes sense. It looks like we're missing a test, too -- otherwise this wouldn't have slipped through! If you could try your hand at that when you submit the PR, it would be much appreciated. :)

[2018-02-23 21:45] edwardmp commented on #1081
Hi @mcmire, thanks for the quick reply. I'll try to create a PR for the fix and a test in the comings days.

[2018-02-23 21:46] mcmire commented on #1066
@bytewalls @zocoi Hmm. You two are both using the master branch, correct? (Just want to make sure.)

Is there anything non-standard about your model? I'm struggling to think of why you would be getting these issues.

[2018-02-24 02:54] rafaelbiriba commented on #1069
Upvote!

[2018-02-26 15:54] rubendinho commented on #1066
Using the `master` branch (SHA: `cd96089a56b97cd11f7502826636895253eca27d`) I'm also seeing my association tests fail.

[code]

[code]

I am on Rails 5.1 and `Rails.application.config.active_record.belongs_to_required_by_default` is set to `true`. Therefore, since `required: true` is the global default behaviour, I expect not to have to declare `required: true` on the matcher to get the test to pa

[2018-02-27 10:42] rmaspero opened #1083 "Validates uniqueness scoped on join table"
I have an accounts and a properties model, they are join via a join table called account_properties. The model for which I want to ensure am account can't create duplicate entires for themselves to a property. So I've got this validation in the model which appears to work from my testing.

[code]

but when I describe it in the specs:

[code]

I get the error

[code]

[2018-02-28 02:36] zw963 opened #1084 "After update shoulda-matchers in Rails 4.1, route not worked now."
After run `bundle update shoulda`, following change is applied:

[code]

When run following spec:

[code]
got following error:
[code]

Thanks.

(Why I update shoulda?? because i found old version not worked well with spring when run with `spring rspec`, it got error, after i update, it seem like everyelse worked now. expect route ...)

[2018-02-28 16:23] bytewalls commented on #1066
I am on the master branch, same sha as @rubendinho.

I have set `config.active_record.belongs_to_required_by_default` to `true` in order to try and get test working. However, I have also gone through and updated my optionals manually on all belongs_to so I should be able to reset. Even with both `optional: true` being manually set and `belongs_to_required_by_default` set to true I get this error.

[2018-02-28 21:12] PhilT commented on #951
Just hit this issue on Ruby 2.4.2, Rails 5.1.4. `gem 'shoulda-matchers', require: false` and adding `require 'shoulda/matchers'` in `spec/support/shoulda_matchers.rb` solved it for me.

[2018-03-01 15:07] edwardmp commented on #1081
Hey @mcmire, I submitted a PR fixing this. Please let me know if you have any feedback!

[2018-03-01 17:02] kashypat opened #1085 "validate_length_of longtext column type gives range error"
I have table called  "media_meta_data" and it has column "content" with "LONGTEXT" as datatype

I am trying to write specs for the media_meta_data model class
When this code executes
`  it { should validate_length_of(:content).is_at_most(4_294_967_295) }
`

It fails with following error
` Failure/Error: it { should validate_length_of(:content).is_at_most(4_294_967_295) }
     RangeError:
       in

[2018-03-04 00:06] michaelvasallo opened #1086 "validate_numericality_of on a derived value gives AttributeDoesNotExistError"
I have a many-to-many relationship with Cards and Decks and a quantity column on the CardsDecks join table. I have a validation set up on my Deck model to validate the card_count to equal 40.
[code]
I would expect `it { should validate_numericality_of(:card_count).is_equal_to(40) }` to pass but I get this error:
[code]
Is there a way to make this matcher work with derived values?

[2018-03-07 14:11] YarikST opened #1087 "Action Conditions"
[code]

It would be nice to have that ((((
_Is it possible to integrate it? Does anyone else need it?_

[2018-03-07 20:59] marcioJesus opened #1088 "Overriding text of description "should""
Hi,

I be using the 'validate_presence_of' as below:
``
it { is_expected.to validate_presence_of(:program) }
``

and when runed test  the return is:

I whould like modify the term 'should' to 'expect'

How do it?

Thanks,

[2018-03-12 10:29] YarikST commented on #1087
hello - I found the solution - and as always it's just when you need to flush the call of the flasks just by using

[code]

[2018-03-12 10:29] #1087 closed

[2018-03-13 14:28] #1088 closed

[2018-03-16 09:59] don-kakashi commented on #1069
Upvote, waiting for the stable release :) :+1:

[2018-03-17 18:31] Ana06 commented on #814
+1

[2018-03-18 10:23] AlexVPopov commented on #1066
So I had the following problem:

* rails 5.1.5

[code]

I know the validation for user is redundant after Rails 5, but I had forgotten to remove it. With revision 4d17faee7d6ba4cd577481d1910c1c6512e937b5 I had no failing tests. With revision e35f083b88c5fbccd319cd4fcfff57ceae6076f2 one test started failing:

[code]

However, after I removed the validation for user inside `Expense`, the test starte

[2018-03-18 13:34] nicholasshirley opened #1092 "Unexpected failure when using case_insensitive and scoped_to"
**Summary:**

When using `case_insensitive` with `scoped_to` Shoulda returns a false failure despite the test output indicating that the desired behavior correctly executed.

Here is a [minimal test repo](https://github.com/nicholasshirley/min-shoulda-repo) where you can run the test.

**Detail:**
This is copied from [my SO question here](https://stackoverflow.com/questions/49335196/how-to-correct

[2018-03-20 15:58] CaioBianchi commented on #784
I'm having the same issue simply testing for numericality and only_integer

Model:
`validates :size, numericality: { integer_only: true }`

Spec:
` it { should validate_numericality_of(:size).only_integer }`

Result:
[code]

[2018-03-23 02:02] dillionverma commented on #913
Any update on this? I recently experienced this issue.

[2018-03-26 14:42] zw963 commented on #953
Sorry, to long ago ... never remember why my this issue talk about ... : (

[2018-03-30 12:12] thesubr00t opened #1093 "Undefined method `with_values' for #<Shoulda::Matchers::ActiveRecord::DefineEnumForMatcher:xxxxx>"
Rails 5.1.6

Gemfile :
[code]
spec/rails_helper :
[code]

spec file :
[code]
Running `rspec` fails with the following message :
[code]

Thanks

[2018-04-01 17:21] bogdan8 opened #1094 "validate_length_of doesn't work with numeric columns"
Hi, i have this validations
[code]
And i have this rspec test
[code]
test for minimum, works correct but on maximum i got this error:

[code]

What am i doing wrong? Thanks

[2018-04-02 09:30] flyfy1 opened #1095 "validate_presence_of with belongs_to in Rails 5"
Rails 5 has marked `belongs_to` to be `optional: false` by default. Therefore, if we have:

[code]

then the test

[code]

should succeed for both cases. However, it would fail for the second case.

I've created a rails project to show the issue here: https://github.com/flyfy1/rspec-test-belongs-to

[2018-04-02 15:06] santiagodoldan commented on #1093
@thesubr00t I had the same issue, looks like they changed the API of the enum matcher, I'm using `3.1.2`, here you have the implementation https://github.com/thoughtbot/shoulda-matchers/blob/v3.1.2/lib/shoulda/matchers/active_record/define_enum_for_matcher.rb, there's no `with_values`, you should use `with`.

[2018-04-02 18:17] edwardmp commented on #1081
Hi @mcmire, did you have any chance to review my PR? Thanks!

[2018-04-03 01:54] blackst0ne commented on #913
@mcmire

Any news?

[2018-04-04 17:26] mcmire commented on #1094
Hi @bogdan8,

`validate_length_of` is not intended to be used with numeric columns, only strings (because strings have `length`s). Does the length validation itself work with numeric columns?

[2018-04-04 17:34] bogdan8 commented on #1094
Hi, @mcmire thanks for you response,
"Does the length validation itself work with numeric columns?", yes
[code]
How can I check to validate the numeric field?

[2018-04-04 17:34] mcmire commented on #1083
Hey @rmaspero. I feel like this has been reported before, but the matcher doesn't support using associated objects as scopes like that. If it's possible to use `account_id` rather than `account`, then that should work.

[2018-04-04 17:42] mcmire commented on #1084
The `route` matcher isn't available in `request` specs. Try using `type: :routing` (or take it off completely to make it a controller spec) instead.

[2018-04-04 17:43] mcmire commented on #1085
@kashypat Yeah that seems a bit weird. What's the backtrace?

[2018-04-04 17:45] mcmire commented on #1086
@michaelvasallo The matcher is giving you this error because it needs some way of setting the attribute that's been given to it (in order to check different test cases). In your case, you just have a reader, so there's no way to change the return value of `card_count`. You may need to simply write this test manually.

[2018-04-04 17:54] michaelvasallo commented on #1086
@mcmire Thanks for the response! I can close this issue.

It doesn't apply in this case, but theoretically if I did set up a writer method for a derived value, this matcher would work?

[2018-04-04 17:54] #1086 closed

[2018-04-04 18:58] mcmire commented on #1092
@nicholasshirley What happens if instead of `scoped_to(:user)` you try `scoped_to(:user_id)`?

[2018-04-04 19:00] mcmire commented on #1093
Correct -- `with_values` is new in `master`, but as of 3.1.2 it's still `with`.

[2018-04-04 19:01] mcmire commented on #1095
@flyfy1 This should have been fixed recently. Are you on `master`?

[2018-04-04 19:10] mcmire commented on #1088
This is built into RSpec and as such we have no way of changing this, sorry :)

[2018-04-04 19:14] mcmire commented on #1066
@rubendinho @bytewalls That's really strange. Is it possible for you to recreate this in a fresh app? You can use https://github.com/mcmire/shoulda-matchers-test-apps to create one.

[2018-04-04 19:24] mcmire commented on #1094
@bogdan8 Hmm, interesting -- the length validator must have been updated at some point to support numeric columns: https://github.com/rails/rails/blob/2d672ea8ed05aa0a435b0a38ce7e292938f8a89b/activemodel/lib/active_model/validations/length.rb#L41

So unfortunately there's not a way to test this using shoulda-matchers. You'll have to write your own tests, I'm afraid.

[2018-04-04 22:45] eugeneius commented on #1095
I'm seeing the same after upgrading to Rails 5, and can confirm that it's not fixed on the latest master.

[code]

This broke as a result of https://github.com/rails/rails/pull/18700: notice that the presence validation added by a `belongs_to` association [now uses a different message](https://github.com/rails/rails/pull/18700/files#diff-7fa393af724d84553e29a1ad109818eaR34) than the default one fr

[2018-04-05 08:48] nicholasshirley commented on #1092
@mcmire I had tried that before, but there was another mistake I didn't realize until playing with it again.

Both `scope` and `case_sensitive: false` need to be passed as part of the hash for `uniqueness` on the model:

[code]

Then it's possible to write the test as:

[code]

This will pass and testing in the console shows that it blocks records with the same name. The previous code will work ev

[2018-04-05 08:48] #1092 closed

[2018-04-05 12:06] marcioJesus commented on #1088
Ok, that's why I closed this question.

But, thanks for answer =]

[2018-04-05 17:14] #1081 closed

[2018-04-05 17:19] mcmire commented on #1095
Right, I gotcha.

You shouldn't need to manually test `belongs_to`, you should be able to use the `belong_to` matcher, which handles testing for the presence validation automatically (using the "must exist" validation message and not the other one). If that's not working, then raise an issue (although I believe one may already exist).

[2018-04-05 17:25] mcmire commented on #1092
@nicholasshirley I gotcha, I didn't catch that in your original example. In reality `validates` has been around for a long time now and so it's probably true that people tend to use it vs. the `validates_*` methods (e.g. `validates_uniqueness_of`). So this makes me think that it would be worth it to go through the docs for _all_ of the validation matchers and update them en masse to use the curren

[2018-04-05 17:31] flyfy1 commented on #1095
could u give a sample code? thx 😁

On Fri, Apr 6, 2018, 1:20 AM Elliot Winkler <notifications@github.com>
wrote:

[2018-04-05 23:13] mcmire commented on #1095
@flyfy1

If you have

[code]

as a model, you should be able to simply write:

[code]

The `belong_to` matcher will test the presence validation for you automatically.

[2018-04-06 01:58] flyfy1 commented on #1095
what if in the code, i have  belongs_to optional:true ?

On Fri, Apr 6, 2018, 7:13 AM Elliot Winkler <notifications@github.com>
wrote:

[2018-04-06 20:15] mcmire commented on #1095
@flyfy1 Then you can say:

[code]

[2018-04-07 03:33] flyfy1 commented on #1095
OK IC.. thx 👍

[2018-04-07 11:49] zw963 commented on #1084
Got it. thanks

[2018-04-07 11:49] #1084 closed

[2018-04-11 07:42] nicholasshirley commented on #1092
@mcmire Yes, I will take a look and gather them all into a PR.

[2018-04-12 15:55] cjmao opened #1097 "Add `allow_nil` qualifier to `validate_presence_of`"
Rails supports `validates :some_attribute, presence: { allow_nil: true }` on models, but currently the `validate_presence_of` matcher doesn't have the `allow_nil` qualifier.

It will be much simpler to write specs with this added.
Please let me know if it is not added for some reasons.

[2018-04-13 09:56] agrohmann commented on #814
i think the problem comes from these functions:
`
 # /lib/shoulda/matchers/active_record/validate_uniqueness_of_matcher.rb
        def dummy_value_for(scope)
          column = column_for(scope)

          if column.respond_to?(:array) && column.array
            [ dummy_scalar_value_for(column) ]
          else
            dummy_scalar_value_for(column)
          end
        end

        def dumm

[2018-04-13 10:40] agrohmann commented on #814
if someone needs a temporary workaround for that:
- using rspec, factory_bot
- parent is the referenced model
- referenced model and name have to be unique

[code]

[2018-04-13 18:32] mcmire commented on #1097
Hey @cjmao,

There is an existing issue for this in #683. We have not seen much of a need for this -- after all, usually when you are using `validates_presence_of` you want to _prevent_ an attribute from being nil or an empty string. So that's why it hasn't been added, but if there is a legitimate use case, then we would gladly take a PR. There was a PR that someone started in #695 which you may u

[2018-04-13 20:05] cjmao commented on #1097
Thanks @mcmire , I've read the comments under the issue and the PR you mentioned. Seems this is a duplicate issue, and my use case is mostly the same with those in the comments.

Currently i'm having a model which has a `description` attribute. A user can optionally choose to write some description in the `description ` field of a form, or leave the field blank. When the form is posted, and the us

[2018-04-13 20:27] mcmire commented on #1097
@cjmao Okay, thanks for that. Well, like I said, if you want to start a new PR based on the one that exists that would be great, and we can slip it into the next release.

[2018-04-13 21:57] cjmao commented on #1097
@mcmire thanks for the advice!
I don't have much experience with Ruby though, I'll see what i can do. 😂

[2018-04-15 18:12] wilianto commented on #904
My investigation result for this issue:

When using `should_not` in RSpec it starts with `NegativeExpectationHandler`.
Here is the flow:
[code]

`AllowValueMatcher#does_not_match?` should call `AllowValueMatcher#failure_message_when_negated` instead of `AllowValueMatcher#failure_message`.

So my suggestion flow is:
[code]

Any feedback for a new flow? Or I will try to create a PR to implement `doe

[2018-04-16 09:41] khiav223577 opened #1099 "undefined method `_process_action_callbacks' for NilClass:Class"
`shoulda-matchers` (latest version 3.1.1) doesn't work in the following example:

### Example
[code]

### Error Messages
[code]

I find a workaround by using `let` instead of `subject` or adding `subject{ described_class.new }` below other subjects, but I think this doesn't solve the real problem.

[2018-04-16 20:50] mcmire commented on #904
@wilianto

That's not a bad idea, but we would probably have to make the same change across the board, so I would hesitate to do that.

I'm (slowly) working on a branch that will change how "submatchers" (those are matchers that are used internally by other matches) are processed and should address this issue here and anywhere else it appears.

[2018-04-16 20:53] mcmire commented on #1099
The controller matchers work best when your subject is a controller instance. By default, this is the case, and I would advise against changing the subject. But if you really, really want to do that, then write your test this way:

[code]

[2018-04-16 23:58] steobrien commented on #913
I can confirm this works perfectly on master.

A quick note to others, ensure you're following the master branch of this repository:
[code]

@mcmire thanks again for the patch! It would be great to get this into an official release soon.

[2018-04-18 14:55] aried3r commented on #913
Even a .beta or .rc1 version would be very much appreciated. :)

[2018-04-19 17:28] Petercopter commented on #771
Hello from the future! Thanks for the hint about logging in before using the permit matcher. I was switching to request specs, and wanted to leave the strong params spec. I couldn't figure out why it wasn't working, and it was because I still need to login the user before testing.

[2018-04-27 12:33] santiagodoldan opened #1101 "`to_not validate_uniqueness_of` of an association fails because of foreign_key constraint"
Here is what I'm trying to do:

[code]

And here my specs

[code]

And finally the error

[code]

I guess because of how it works this matcher, as there is no office assigned (office_id is nil), is trying to update the `office_id` column with a `0` which fails because of a foreign key constraint I have in my DB.

I'd like to know if there's a workaround to fix it, if not I'm planning to see how to

[2018-04-27 12:42] santiagodoldan commented on #1101
I tried different ways of using `allow_nil` and `allow_blank`, but always having the `if: office_id?` condition, now I figure out that condition isn't needed when using `allow_nil: true`, so here is what I did to fix the above error.

[code]

And then just

[code]

[2018-04-27 12:42] #1101 closed

[2018-04-27 17:55] mcmire commented on #1101
Nice, glad you were able to figure out the solution!

[2018-05-01 07:47] leomao10 commented on #1001
Do we have a plan to release `v4.0` or backport it to `3.1.x`, looks like this issue still existed for the latest shoulda-matcher

[2018-05-01 12:44] guialbuk commented on #1001
Hi @leomao10
You don't need to wait for a new release to have this issue fixed. You can use the master branch.

[2018-05-09 15:18] a14m opened #1102 "ActiveStorage matchers"
What is the consensus about adding macro matchers for the following?
- `has_one_attached` (from ActiveStorage Rails 5.1)
- `has_many_attached` (from ActiveStorage Rails 5.1)

[2018-05-10 17:45] mcmire commented on #1102
I can't speak for the rest of the team, but I personally haven't used ActiveStorage yet. But if you're finding that you're using it a lot and you've worked out some matchers locally for them, and you'd be willing to be a sort of "champion" for this down the road, then we'd totally welcome the new matchers into this gem.

[2018-05-10 17:49] #1099 closed

[2018-05-10 21:06] mad-raz commented on #1102
Great, it's a new project and we opted in for using `ActiveStorage`, I'll try to work on the matcher later and keep this issue up to date with the progress (and reference to the commits)...
Still not quite familiar with ActiveStorage and it's moving parts, so it'll be good to have input here from other people who are interested.

[2018-05-11 20:16] chagar commented on #1001
Are there not going to be any more releases? Use master from now on?

[2018-05-11 21:40] guialbuk commented on #1001
Hi @chagar
 I recommend you to use the `master` branch. It is pretty stable.

[2018-05-13 13:14] ahmgeek opened #1104 "undefined method `reflect_on_association' for Class:Class"
[code]

[code]

[code]

`Rails 5.1.6`
`shoulda-matchers (3.1.2)`

[2018-05-14 20:12] mcmire commented on #1104
No problem!

[2018-05-30 15:08] vatsan28 commented on #1069
When do you expect to release a stable version with the optional method? 🙏

[2018-05-31 06:16] aliuk2012 opened #1105 "Proper release versions"
Please could someone update the releases for this project?
Rubygems and github releases are still only reporting 3.1.2 (https://github.com/thoughtbot/shoulda-matchers/releases) as of 12 July 2017 and master has 113 commits since that release.

I realise that you are working on v.4 but could you perhaps do a v.4 alpha/beta release?

[2018-05-31 22:35] guialbuk commented on #1105
Hi @aliuk2012 .
Nice to know that you are are actively using the gem. Version 4.0 will be released very soon.
I kindly suggest you point your Gemfile to the master branch in order to benefit from the new features and improvements.
Cheers!

[2018-05-31 22:36] #1105 closed

[2018-06-01 06:10] aliuk2012 commented on #1105
Hi @guialbuk,

Thanks for the quick response and for the update. I have for the time being pointed my Gemfile to the master branch.

👍

[2018-06-07 14:21] aya-soft opened #1107 "Gem "normalizr" cause CouldNotSetAttributeError on downcased email attribute"
Hi, guys!

Given: [https://github.com/dimko/normalizr](https://github.com/dimko/normalizr)
[code]
Spec:
`it { is_expected.to validate_uniqueness_of(:email).with_message('an account with this email address already exists').case_insensitive }`
Error:
[code]
Guys, what is the right way to test attributes which values can be changed on the fly?
With this line commented all works fine (allow_value_matc

[2018-06-07 16:05] mcmire commented on #1107
@aya-soft Try tacking `.ignoring_case_insensitivity` onto the end of the matcher instead of `.case_insensitive`. See: http://matchers.shoulda.io/docs/v3.1.1/Shoulda/Matchers/ActiveRecord.html#validate_uniqueness_of-instance_method (you might have to scroll down a bit).

[2018-06-11 11:22] Looooong opened #1108 "Suggestion on implicit behaviour of belong_to matcher"
Currently, in Rails 5, the `belong_to` matcher will implicitly add a submatcher depends on the value of `ActiveRecord::Base.belongs_to_required_by_default`.

https://github.com/thoughtbot/shoulda-matchers/blob/c0960bd72dd41c4e9bd8b4375254f539776bfe95/lib/shoulda/matchers/active_record/association_matcher.rb#L971-L977

Take a look at this example:
[code]

The test will fail because of `optional` qu

[2018-06-12 03:30] Looooong commented on #1108
I will explain it further more. These are the cases:
+ If `required` is true or `optional` is false, there will always be a presence validator for that association.
+ If `required` is false or `optional` is true, Rails will not add a presence validator to that association, so basically, Rails does nothing. One of the following can happen:
  + We do nothing further more.
  + We add a presence valid

[2018-06-12 19:51] aya-soft commented on #1107
Works with .ignoring_case_sensitivity, thank you! Please correct the typo.

[2018-06-12 21:09] mcmire commented on #1107
@aya-soft Oops, that's what I meant :)

[2018-06-12 21:09] #1107 closed

[2018-06-14 12:32] edwardmp opened #1110 "New release"
Dear maintainers,

can you please ship a new release, since the last release has been a while? Thanks.

[2018-06-14 14:22] guialbuk commented on #1110
Hi @edwardmp .
Nice to know that you are are actively using the gem. Version 4.0 will be released very soon.
I kindly suggest you point your Gemfile to the master branch in order to benefit from the new features and improvements.
Regards,
Gui Vieira

[2018-06-14 14:22] #1110 closed

[2018-06-14 14:36] shartep commented on #1069
also waiting for this

[2018-06-14 14:38] guialbuk commented on #1069
Hi!
The `master` branch is pretty stable. Just point the Gemfile to it :)
Cheers!

[2018-06-19 16:10] mcgoooo commented on #1001
hi @guialbuk we are not very comfortable with the solution to use the master branch, is there any way a prerelease gem could be cut? looking at the milestone, there hasn't been any movement on them in a couple of years?

[2018-06-20 02:17] guialbuk commented on #1001
@mcgoooo Not sure what you mean about not having movement in a couple of years. 😕
Anyway, the 4.0 will be released very soon and It will be, besides documentation, exactly the current master branch.
Cheers!

[2018-06-20 02:25] guialbuk opened #1111 "4.0.0.rc1 Release Tasks"
- [x] Generate documentation 6bd9118b568c4ebdc6430e74d70a800fb00ac7b0

- [x] Update NEWS.md with latest commits

- [x] Update README.md #1125

[2018-06-20 08:51] mcgoooo commented on #1001
@guialbuk sorry, i was just looking at the milestone flag from the readme
https://github.com/thoughtbot/shoulda-matchers/milestone/13

Great work on the library btw!

[2018-06-21 05:15] mcmire commented on #904
@guialbuk I just noticed your new 4.0 issue and I just want to bring up this issue because it probably needs to be fixed before 4.0 proper goes out. If people who aren't aware of this new release upgraded cold from what's in master, a bunch of their tests would break I think. I have a branch to fix this but it's basically just exploded at this point and I have no hope of ever finishing it :( I don

[2018-06-21 05:20] mcmire commented on #1111
Hey! Thanks for doing this. I left a comment on #904 but in case you didn't see it, I just wanted to make you aware of that before you pull the trigger on a proper release.

Also just an FYI since I didn't put this in the README: if you change the version in `version.rb`, you can run `rake docs:publish_latest` to generate and publish the docs to GitHub Pages using the new version. The `rake releas

[2018-06-21 05:21] mcmire commented on #1111
There's also #1108 as well. I guess apparently that's still broken.

[2018-06-21 19:59] nickqw12 commented on #963
I'm also having this problem.

[2018-06-22 15:10] joshuasager opened #1112 "Slow specs when using validates_presence_of"
Class:
[code]

Spec:
[code]

rails_helper:
[code]

Spec is taking ~600ms to run.

Has anyone experienced an issue similar to this ?

[2018-06-22 16:16] mcmire commented on #1112
Hmm. What gems do you have in your Gemfile? Anything significant?

[2018-06-25 18:48] abhinavramesh8 opened #1113 "NoMethodError: undefined method `response_code' for nil:NilClass"
I am using shoulda-matchers 3.1.2 and shoulda-context 1.2.2 along with Rails 5.2 and Minitest 5.11.3 . Ruby version is 2.5.0 . The following is the code corresponding to the controller test for the posts controller:

`class PostsControllerTest < ActionDispatch::IntegrationTest`

    context "GET #index" do
      setup do
        get posts_url
      end

      # this works
      should "respond wit

[2018-06-25 20:07] mcmire commented on #1113
Hmm... my gut response is no, because that's not what it was designed to work with, but I'm not immediately sure how these controller matchers work anyway, so I'll look into that for you when I get a chance.

[2018-06-25 20:13] joshuasager commented on #1112
Nothing significant. Standard rails 5 gems that come pre-packaged when installing in API-mode.

Some additions include:

[code]

[2018-06-25 20:39] mcmire commented on #1112
Hmm, okay. Some other questions I would ask:

* Are there are other matchers that exhibit this same problem?
* I don't see the environment loaded in your rails_helper, but did you exclude that for brevity?
* What happens if you remove all of the gems?
* The gem relies `activesupport`, and obviously this is a big library, so perhaps that's all this is?

[2018-06-26 13:22] joshuasager commented on #1112
1. Havent tried that yet. Most of these gems do not interact with rspec - I do not foresee negative impact on the speed of these tests. Ill test to confirm.
2. Excluded for brevity
3. Will try and report back.

[2018-06-26 13:28] joshuasager commented on #1112
Note: Only the first spec with:
[code]

is slow. Sequential shoulda-matchers are quite fast.

[2018-07-02 18:32] mikeduynguyen opened #1114 "validate_uniqueness_of with scoped_to fails when the scope is of data type time"
The validation fails but it should pass when the scope has data type `time`.

Example: model `Schedule` with the following attributes and their data types:
`day_of_week`: `integer`
`start_time`: `time`

[code]

Spec:
[code]

This bug is caused by the method that calculates the next value to test for the uniqueness of the scope:
[`lib/shoulda/matchers/active_record/validate_uniqueness_of_matcher.rb

[2018-07-02 19:54] mcmire commented on #1114
Ah... yes that makes sense! We would definitely appreciate a PR. 👍

[2018-07-05 09:16] Drenmi opened #1115 "Failure of uniqueness matcher due to mismatched message is a bit wordy"
This seems like an unnecessary amount of text, and readily hides the problem, which is trivial. 🙂

**Given:**

[code]

**Expected behaviour:**

Illustrative:

[code]

**Actual behaviour:**

[code]

[2018-07-05 18:21] mcmire commented on #1115
So a bit of background behind this wall of text. We have had various situations where people were trying to use the uniqueness matcher and were very confused as to why their test failed. It is obvious based on these interactions that they generally do not understand how the uniqueness matcher works, so the messaging here is intended to prove that the matcher is not magical and to pull back the cur

[2018-07-06 01:53] edudepetris commented on #814
+1

[2018-07-06 05:04] mcmire commented on #1115
Okay, cool, I'll close this, then. I definitely appreciate the feedback though!

[2018-07-06 05:04] #1115 closed

[2018-07-06 13:58] Akhilesh05 commented on #870
@mcmire When will this version be released?
The new code was merged 19th Oct 2017 but is still not present in the latest version!

[2018-07-17 19:12] rlgreen91 opened #1116 "validates_uniqueness_of fails even with case sensitivity"
My shoulda match for validating uniqueness for emails randomly started failing today.  The model containing the attribute, `driver`, also contains a callback to downcase the email before saving, so case sensitivity shouldn't be an issue.  However, it still fails, so I add code in the model and spec to account for case sensitivity.  That doesn't work.  I also made sure that in the spec, I'm calling

[2018-07-17 20:04] mcmire commented on #1116
You're downcasing the email. That messes with the matcher because it verifies that the uniqueness validation runs case-insensitively, i.e., that uppercase and lowercase input both cause the record to pass validation. Unfortunately if uppercase input gets converted into lowercase then this check cannot take place effectively. To get around this, use `ignoring_case_sensitivity` on your matcher inste

[2018-07-17 20:10] rlgreen91 commented on #1116
Hmm, that doesn't work - I actually went back and commented out the downcase method, but it was still running into the error.  And even after making the changes to the validation options, it still fails with the same error, regardless of whether I'm downcasing the email or not.

[2018-07-17 20:25] mcmire commented on #1116
Oh sorry, well it really should be:

[code]

Does that work?

[2018-07-18 06:47] lucascaton commented on #870
Any news on this? Thanks :)

[2018-07-19 16:12] rlgreen91 commented on #1116
Hmm, I'll try to make that change later.  It's really only failing on that one branch, not master or another branch.

[2018-07-19 20:17] rlgreen91 commented on #1116
Close - last line should be `it { should validate_uniqueness_of(:email).ignoring_case_sensitivity }`.  `ignoring_case_insensitivity` leads to a NoMethodError.

This doesn't match the examples listed on the website - is it possible to submit a PR to change that?  If so, I'd be happy to make the PR this weekend.

[2018-07-20 00:10] mcmire commented on #1116
Ugh, sorry - that's really what I meant :)

Which examples do you mean? I'm not sure if you saw this, but we do have the qualifier documented here: http://matchers.shoulda.io/docs/v3.1.1/Shoulda/Matchers/ActiveRecord.html#validate_uniqueness_of-instance_method.

[2018-07-24 21:30] epbarger commented on #814
Just experienced this, bit of a bummer 👍

[2018-07-25 10:18] aried3r commented on #1111
Awesome to see this! Is there anything I can do to help?

I'd like to propose to release a 4.0.0.beta1 or alpha, although I think it's at least beta quality, since I've been using the `master` branch for quite some time now.
That way people who want to update don't have to point to GitHub anymore and we have somewhat of a baseline people can report bugs on. Right now people might be pointing to di

[2018-07-26 13:40] ddavisgraphics commented on #1116
I'm also having this issue.
 - Shoulda Matcher version 3.1.2
 - Rails 5.2
 - Rspec Rails 3.7.2

       Building did not properly validate that :name is case-insensitively
       unique.
         Given an existing Building whose :name is ‹" ;\u{4891C}K
         Z=\u0001\u{C03D4}厗 `\u{96B46}\u{723BE}\u{45623}d 8*Ⱪ& \n
         \u{320A0}荟$\u{69086}` 돳𪖃㔷# "›, after making a new Building and setting

[2018-07-31 09:35] TorvaldsDB commented on #951
Install the gem `shoulda-matchers`
[code]
Write following code in the `rails_helper.rb`
[code]

[2018-07-31 15:52] mcmire commented on #951
@TorvaldsDB Are you using the `Shoulda::Matchers.configure` block as listed in the [README](https://github.com/thoughtbot/shoulda-matchers#rspec)? That should take care of incorporating the matchers into the proper example groups for you without having to do it explicitly.

[2018-08-03 15:16] composerinteralia commented on #1111
@guialbuk Let me know if there anything you would like me to help with.

[2018-08-06 02:16] yihyang commented on #1111
Hi may I know what's the status of the release? Kinda hoped that this will get rolled up as soon as possible. Thanks.

[2018-08-10 06:54] bitcoiners opened #1120 "undefined method `required' for <Shoulda::Matchers::ActiveRecord::AssociationMatcher"
Using Rails 5.2
My spec has:
[code]
getting an error:
```undefined method `required' for #<Shoulda::Matchers::ActiveRecord::AssociationMatcher:0x000055813378e830>```

but I found these instrucions inside AssociationMatcher source code:
[code]

What is the problem?

[2018-08-10 15:39] mcmire commented on #1120
@bitcoiners This is only available on the `master` branch -- it's not present in the latest released version.

[2018-08-10 15:59] bitcoiners commented on #1120
thanks.

[2018-08-10 15:59] #1120 closed

[2018-08-14 16:29] BuonOmo opened #1121 "Handling of ActiveRecord enum in validate_inclusion_of matcher"
The next portion of code:

[code]

Throws this issue:

My guess would be that the error thrown by ActiveRecord enum when string is set is not catched.

[2018-08-14 17:54] guialbuk commented on #1121
The error displays `validate_inclusion_of(:light)` but the code is ` validate_inclusion_of(:direction)`

Could you check if the code that you are running is checking for inclusion_on `:direction` or `:light`?

[2018-08-14 19:44] vnbrs opened #1122 "active_model/validate_inclusion_of_matcher.rb warns about deprecation of ::Fixnum"
Using the `validate_inclusion_of` Active Model matcher, it works, but outputs:

[code]

I'm using shoulda_matchers 3.1.2.

[2018-08-14 22:05] guialbuk commented on #1122
Hi @vnbrs,

For support for ruby 2.4, use the `master` branch.

[2018-08-14 22:06] #1122 closed

[2018-08-16 10:11] BuonOmo commented on #1121
It is a typo in writing, I simplified the example. There is no typo in the original 🙂

[2018-08-16 11:19] guialbuk commented on #1121
Hi @BuonOmo

The is a specific matcher for enums:

`it { should define_enum_for(:light).with(%w(on off)) }`

http://matchers.shoulda.io/docs/v3.1.1/Shoulda/Matchers/ActiveRecord.html#define_enum_for-instance_method

[2018-08-16 22:14] BuonOmo commented on #1121
Of course there is… Thank you!

[2018-08-16 22:16] #1121 closed

[2018-08-20 13:11] PeterMozesMerl commented on #945
The issue is the Array.wrap.

ActiveRecord::Base.connection.indexes returns an Array most of the time.  Array.wrap always returns an array. Most of the time != Always.

[code]

As for whether the issue is urgent or not. I’ve been having a dozens of
[code]

lines in my project for at least five years waiting for the fix. A little bit more waiting won’t hurt.

Although, I consider it an upstream iss

[2018-08-20 13:27] PeterMozesMerl commented on #945
I believe this is a fix:

[code]

Now they all pass (multiple models):

[code]

[2018-08-20 20:46] cgriego commented on #1108
The default requirement added when the matcher is initialized also breaks compatibility with Rails 4.2, because a Rails 4.2 association cannot be optional nor required, but an optional condition is added regardless.

[2018-08-21 02:30] mcmire commented on #1108
Hey guys, sorry for not replying sooner.

@Looooong, in response to what you said:

I see what you're saying, but this isn't quite accurate. If an association is not required, it _is_ by definition allowed to be nil. This is exactly the distinction that Rails 5 introduced by deprecating the `required` option and making `optional: false` the default. Associations have always been allowed to be nil

[2018-08-21 02:42] mcmire commented on #1108
@cgriego So I haven't tested out shoulda-matchers master on a Rails 4.2 app, so if you say that this is broken there, then I believe you, but my gut says this may be more of a messaging issue as well. Now that I look at this again, it probably doesn't make sense to default to `optional` on Rails 4.2 since associations don't have an `optional` option; it would probably make more sense to default to

[2018-08-21 04:11] Looooong commented on #1108
@mcmire The first thing in my mind when I posted this issue is that it will breaks a lot of tests that used to pass in version 3. Therefore, I suggest one of the following:
- Keep backward-compatibility with the previous version, but raise deprecation warning.
- Notify others about this breaking change in behaviour of the matchers.

Expand the message with suggestions will be good in both case.

A

[2018-08-21 17:35] kofiasare commented on #625
@pcragone  please were you able to resolve this issue in your app, I have run into the same problem,
I' having a similar setup where am using apartment gem
[code]
Error

[code]

[2018-08-22 03:02] Looooong commented on #1108
@mcmire You should keep my first example as a reference, because that piece of code is what the test look like before `belongs_to_required_by_default` is a thing.

[2018-08-23 20:03] yagudaev commented on #913
Yep it would be nice to get a new version of shoulda-matchers out, last update was over a year ago.

https://rubygems.org/gems/shoulda-matchers/versions/3.1.2

[2018-08-29 11:01] dgilperez commented on #963
Same here - any news or workaround?

[2018-08-29 17:44] mcmire commented on #963
There's no workaround for this, unfortunately -- it's a fatal flaw in how I ended up designing matchers-within-matchers. I had started work on this last year but put it on hold because it ended up ballooning into a pretty substantial change. Now that I've had some time to focus on other things, I've started to really dig into this again. There's light at the end of the tunnel but it will be some m

[2018-08-29 17:52] dgilperez commented on #963
Thanks a lot for the update. 💪 and 🍺

[2018-09-02 03:04] #1116 closed

[2018-09-05 13:45] mcmire commented on #814
Unfortunately, there's so much stuff that we are including in the next release that we've decided to hold off on fixing this for now. I'll keep this open for now but we'll have to swing back around and include a fix for this in a future release.

[2018-09-05 13:48] mcmire commented on #945
Unfortunately we have so much stuff planned for the next release that we won't be able to fit this. We'll include it in a future release, though.

[2018-09-05 14:08] mcmire commented on #1111
@guialbuk Hey! Thank you for continuing to be involved in this. I definitely don't want to include any more bugfixes in 4.0.0 than we already have planned. However, I am still concerned about two issues: #904 and, now, #1108. If we ship 4.0.0 with these issues still outstanding, I feel like a lot of people will be frustrated that we've released a broken version. If it was a minor point version the

[2018-09-05 18:33] PeterMozesMerl commented on #945
Thank you. That’s fine.

[2018-09-07 02:56] TorvaldsDB commented on #716
My model `follow.rb` looks like this:
[code]
and my `staff.rb` looks like this:
[code]
how should I write the test-file to test the`-> {actual}`
[code]
Anyway, Thank you very much.

[2018-09-07 04:19] mcmire commented on #716
@TorvaldsDB Since you have a custom query, I would honestly test it manually -- call `staff.direct_follows` and then assert the return value.

[2018-09-10 07:44] TorvaldsDB commented on #716
@mcmire I am sorry to reply to you now.`staff.direct_follows` will return a relation of `Follow`. Ignore it.  May I return to the problem itself. I wanna to test the `-> { actual }`. This represents a similar problem of this kind about a block which is not `where()` or `order`. I had already skipped this test in my project. so I wanna the solution about it.

[2018-09-10 23:43] georgecheng opened #1131 "have_secure_token matcher not working"
**Rspec 3.7.1
Rails 5.2.1
Ruby 2.5.1
Shoulda-matcher 3.1.2**

When using the `have_secure_token` matcher, e.g. `it { should have_secure_token }`, I'm getting the error `expected #<Model:0x0000...> to respond to 'has_secure_token?'`. I've been unable to determine the source of this error. Other matchers seem to work fine.

[2018-09-11 03:15] mcmire commented on #1131
It sounds like the ActiveRecord matchers aren't getting mixed into your example group properly. Can you provide a more complete example? Also, are you configuring the gem using `Shoulda::Matchers.configure`?

[2018-09-11 05:47] georgecheng commented on #1131
In my `rails_helper.rb`, I have

[code]

And in my spec I just have

[code]

and getting this error

[code]

The other specs are passing... 😕

[2018-09-11 07:11] mcmire commented on #1131
Ah. I forgot -- this doesn't exist in 3.1.2, it exists in `master` only right now. (We're working on issuing a new release very soon.)

[2018-09-11 17:36] georgecheng commented on #1131
Ah... okay, got it. That explains it then. I made the mistake of not looking at the 3.1.2 repo to see if the matcher was there. I only saw that a PR was made last year for this.

Thanks for looking into it.

[2018-09-11 17:36] #1131 closed

[2018-09-13 04:29] mcmire commented on #1108
@Looooong I thought about this some more and realized that I didn't quite understand what you were getting at and I completely agree with what you were saying. I came up with a PR that should hopefully solve this problem. Thank you for your examples -- I made sure to include them in the test suite.

[2018-09-13 05:17] mcmire opened #1139 "The generated docs don't work"
Due to changes in browsers, it seems like the generated docs at http://matchers.shoulda.io/docs don't seem to work. I don't think this should block the release for 4.0.0, but it's something that probably should be fixed so people have something nice to look at. I briefly looked into it just now and it seems like this isn't as easy to fix as I thought. YARD has made some updates to their [`default`

[2018-09-13 05:38] mcmire commented on #1097
Just looking over old issues. I'm going to close this since we have a PR for this.

[2018-09-13 05:38] #1097 closed

[2018-09-13 05:39] mcmire commented on #1112
Hey @joshuasager -- I'm going to close this as I've never had issues with specs running slowly and I'm not really sure how to solve this problem. If you figure out a solution though I'm all ears!

[2018-09-13 05:39] #1112 closed

[2018-09-13 05:39] mcmire commented on #1093
I'm going to close this since we'll be releasing 4.0.0 soon.

[2018-09-13 05:39] #1093 closed

[2018-09-13 06:03] mcmire commented on #1102
@guialbuk What do you think if we closed this for now? I'm not sure how this would work, and considering there's still a bunch of bugfixes in the backlog to merge in first, I'm not sure if we'd be able to get to this any time soon.

[2018-09-13 09:14] TorvaldsDB commented on #716
@mcmire oha, I seeeee. Thank you a lot.

[2018-09-13 09:56] Looooong commented on #1108
@mcmire After reviewing the PR, I think that you got the right idea. Good job :smile:

[2018-09-15 00:49] mcmire commented on #1094
@Nimble-Momonga Can you create a separate issue for this? Thanks!

[2018-09-15 16:43] #931 closed

[2018-09-15 16:43] #963 closed

[2018-09-16 22:05] #1108 closed

[2018-09-16 22:07] mcmire commented on #904
This should be fixed in master now. We're cooking up an RC so that y'all can try out the fix. We'll post again when we have that.

[2018-09-16 22:07] #904 closed

[2018-09-20 15:47] glm4 commented on #814
+1

[2018-09-25 18:05] indocomsoft commented on #1111
Yay, both #1108 and #904 are fixed now! :)

Does this mean that the release of 4.0.0 is imminent? 🎉

[2018-09-25 18:17] guialbuk commented on #1111
Hi @indocomsoft
Yes! 😄
We will release an RC version so everyone will have a chance to test some big changes made during the past weeks.
So 4.0 is coming very soon 🎉

[2018-09-25 18:33] jasonperrone commented on #930
So why am I getting this same error with just rails ActiveSupport:TestCase:
/home/jason/Workspace/actioncue/test/models/accused_test.rb:5:in `<class:AccusedTest>': undefined method `belong_to' for AccusedTest:Class (NoMethodError)

class AccusedTest < ActiveSupport::TestCase

  should belong_to :event

.
..

[2018-09-25 18:42] jasonperrone commented on #930
Interesting. This config block seemed to fix it:
houlda::Matchers.configure do |config|
  config.integrate do |with|
    # Choose a test framework:
    with.test_framework :rspec
    with.test_framework :minitest
    with.test_framework :minitest_4
    with.test_framework :test_unit

    # Choose one or more libraries:
    with.library :active_record
    with.library :active_model
    with.library

[2018-09-25 18:58] mcmire commented on #930
@jasonperrone This was introduced in 3.0.0: https://github.com/thoughtbot/shoulda-matchers/blob/master/NEWS.md#300

[2018-09-25 19:07] jasonperrone commented on #930
Thank you!! How the heck did I miss this page?! :/

[2018-09-26 04:18] geoffharcourt commented on #1139
@mcmire the current docs show some things in master from January, but that haven't been released yet (`allow_nil` on `validates_length_of` is an example). Could a minor release get cut before 4.0.0 so that the current docs would reflect what's already available?

[2018-09-26 15:34] mcmire commented on #1139
Yup! We do plan on releasing an RC soon. This PR, by the way, will be actually fixed by #1143, I just didn't link it. But that's a good point about removing the 4.0.0 docs. I've fixed this for now, although now that I look at it, it seems that the docs for 3.1.2 never got generated. I'll fix this shortly.

[2018-09-30 13:04] Anyoks commented on #480
I had the same issue `uninitialized constant Shoulda` while running on circle CI. My problem was the `Gemfile`. I had the shoulda gem in the development environment on my local machine and test on circle and so the  `shoulda-matchers` gem was not loading in cirlcle ci. If you run in to this, make sure you have the gem in the right environment.

[code]

[2018-10-01 03:55] indocomsoft commented on #1111
Any way I can help?

[2018-10-01 17:27] guialbuk commented on #1111
Hi @indocomsoft !

You can help in reviewing the documentation PRS, looking for typos or improvements:
https://github.com/thoughtbot/shoulda-matchers/milestone/13

Also using the gem in the current `master` branch helps a lot, as we had big code changes lately.

Thanks 😄

[2018-10-02 16:35] guialbuk commented on #1111
Fixed by #1125

[2018-10-02 16:35] #1111 closed

[2018-10-04 09:59] matthewrudy opened #1146 "4.0.0 rc1 breaks inclusion_of matchers with custom message"
Here's the test which breaks

[code]

and here's the form code:

[code]

And heres the test failure:

[code]

importantly it is looking for the error message `^Answer Gender`
But we have a localised error message `^Choose a gender`

So I believe the issue is that it no longer asserts against the correct localised error message.

Relevant bits of our locale file:

[code]

I can fix the test by expl

[2018-10-05 21:29] cesc1989 commented on #970
@mcmire you're right. Although the docs for length validation don't leave that clear(I wasn't aware of this), the ones for numericality does let us infer something:

Emphasis mine.

Thanks for pointing it out :+1:

[2018-10-06 01:01] aaronmallen opened #1147 "NoMethodError allow_nil for validate_length_of"
I am receiving the following error:

[code]

I am testing the following validation on a model having `has_secure_password validations: false`:

[code]

The following spec produces the failure:

[code]

[code]

[2018-10-06 01:02] aaronmallen commented on #1147
this is documented as being supported here: https://github.com/thoughtbot/shoulda-matchers/blob/master/lib/shoulda/matchers/active_model/validate_length_of_matcher.rb#L219

[2018-10-06 01:14] guialbuk commented on #1147
Hi @aaronmallen

You are using version `3.1.2` but you're reading the documentation from the `master` branch for version `4.0.0.rc1` 🙂

[2018-10-06 01:16] aaronmallen commented on #1147
@guialbuk confirmed upgrading to `4.0.0.rc1` fixes the issue. TYVM